[2020-06-15 16:52] matthiasrohmer commented on #4035
Will be fixed by #4044.

[2020-06-16 19:43] sebastianbenz opened #4084 "Optimize remote images"
Currently, images not hosted on amp.dev are not optimized (most notably the blog post thumbnails). We should come up with a way to mirror these.

//cc @matthiasrohmer

[2020-06-16 20:23] morsssss opened #4085 "Sublists in blog posts have too much right padding on mobile devices"
I think this only applies to blog posts, since it involves rules scoped to `.entry-content`. But I could be wrong.

[This recent blog post](https://blog.amp.dev/2020/06/16/amp-camp-cross-origin-user-state-in-amp/) happens to contain a three-level list. Maybe that's not the best idea. But each `<ol>` comes with both `padding-left` and `padding-right`.  By the time you get to the third level, there'

[2020-06-17 17:31] DerekNonGeneric opened #4092 "Trouble importing all of the documents"
I will have to separate these commits out a little better. I had trouble importing all of the documents. Not all of them came in when running `npm run bootstrap` or even by simply running `npx gulp importAll`. I think the flaky GitHub downloads leads to winding up w/ documents missing — a bit of a hassle. :/ Anyways, I'll get back to this in a short while. Thank you for your patience.

_Originally

[2020-06-17 17:38] DerekNonGeneric commented on #4092
To reproduce this bug:

1. `nvm install --lts`
2. `npm install`
3. `npm run lint` (be sure it passes)
4. `npm run bootstrap`
5. `npm run lint` (this fails)

Actual:

[code]

Expected (some similar):

[code]

[2020-06-18 07:41] #3858 closed

[2020-06-18 08:16] #4035 closed

[2020-06-20 09:34] amanintech opened #4108 "Stories Documentation page has a validation issue"
Validation issue on the URL https://amp.dev/documentation/examples/multimedia-animations/supported_media_types_in_amp_stories/?format=stories

![image](https://user-images.githubusercontent.com/28403318/85198576-4b701100-b307-11ea-9de5-be9e5122b662.png)

[2020-06-20 16:32] visualstories opened #4109 "Visual Stories"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

Visual Stories

### Type

Use [x] to mark a selection:

- [x] Story Creation Tool
- [ ] CMS
- [x] Platform
- [ ] Other

### URL

[https://visualstories.com](https://visualstories.com/)

### Image

![visualstories](https://user-images.githubusercontent.com/64431239/85206637-0ec10b80-b341-11ea-92c5-

[2020-06-22 08:39] sebastianbenz commented on #4109
@shishirm PTAL

[2020-06-22 12:11] matthiasrohmer commented on #4108
Thanks for the report, but that's actually known and intended as the example uses experimental features with `amp-google-vr-view-image`.

[2020-06-22 12:11] #4108 closed

[2020-06-22 14:15] #4061 closed

[2020-06-23 09:15] horhay72 opened #4116 "georgehathaway72@gmail.com"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

< Insert name here >

### Type

Use [x] to mark a selection:

- [ ] Story Creation Tool
- [ ] CMS
- [ ] Platform
- [ ] Other

### URL

< Insert URL to Tool/CMS/Platform here >

### Image

< Please provide a screenshot of your resource’s editor window (min. 800x400 pixels) to appear on the [Tools](

[2020-06-23 09:32] #4116 closed

[2020-06-23 10:20] #4036 closed

[2020-06-23 10:20] #4038 closed

[2020-06-23 12:43] matthiasrohmer commented on #4058
Let us know if you need further support with this.

[2020-06-23 12:43] #4058 closed

[2020-06-23 16:22] shishirm commented on #4109
Hello,

We're currently reviewing your submission and hope to complete the process before the end of the week. We'll add comments here if there is anything additional that is needed. Thanks for your patience!

[2020-06-25 18:59] visualstories commented on #4109
Thank you. If you like we can arrange a demo of our tool at your convenient time.

[2020-06-26 17:34] #4109 closed

[2020-06-26 19:56] westonruter commented on #3152
@matthiasrohmer It appears that the fragments are getting optimized again:

![image](https://user-images.githubusercontent.com/134745/85895934-6bdb1800-b7ac-11ea-956a-90cafbe540ff.png)

[2020-06-29 08:16] #4092 closed

[2020-06-29 16:30] sebastianbenz opened #4128 "Success story overview page misses images"
Case study images are 404ing: https://amp.dev/success-stories/

[2020-06-29 16:30] sebastianbenz commented on #4128
@matthiasrohmer did we change anything related to images recently?

[2020-06-29 20:54] morsssss opened #4129 "Images not generated for smaller screen widths"
I noticed this on the [amp-script tutorial page](https://amp.dev/documentation/guides-and-tutorials/develop/custom-javascript-tutorial/) on Chrome 83 on my MacBook, but I imagine it will appear elsewhere as well.

Looks like we now successfully generate images for various screen sizes - hooray! And we use `srcset` to choose the right one for the screen - also hooray! Unfortunately I don't think im

[2020-06-29 21:09] caroqliu commented on #4060
As another note, it looks like the [amp-autocomplete documentation page for the web format](https://amp.dev/documentation/components/amp-autocomplete/?format=websites) has an "Examples" section that links to [this page.](https://amp.dev/documentation/examples/components/amp-autocomplete/?format=websites) However the [amp-autocomplete documentation page for the email format](https://amp.dev/documen

[2020-06-29 21:33] CrystalOnScript opened #4131 "Broken Images on Example Page"
The [internationalization example](https://amp.dev/documentation/examples/guides/internationalization/) is not rending images.

[2020-06-30 09:47] sebastianbenz commented on #4128
Seems like our thumbor instance got stuck. I couldn't log in via SSH even after restarting the instance. Re-deploying a new instance seems to have fixed the problem. We need to investigate what caused this.

[2020-06-30 13:00] sebastianbenz commented on #4129
Duplicate of #4128

[2020-06-30 13:00] #4129 closed

[2020-06-30 13:01] sebastianbenz commented on #4131
Duplicate of #4128

[2020-06-30 13:01] #4131 closed

[2020-07-02 11:35] matthiasrohmer commented on #4045
At least we had a banner 😁

[2020-07-02 13:35] #4060 closed

[2020-07-03 16:15] kkonline opened #4144 "Test"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

< Insert name here >

### Type

Use [x] to mark a selection:

- [x] Story Creation Tool
- [ ] CMS
- [ ] Platform
- [ ] Other

### URL

< Insert URL to Tool/CMS/Platform here >

### Image

< Please provide a screenshot of your resource’s editor window (min. 800x400 pixels) to appear on the [Tools](

[2020-07-03 16:39] #4144 closed

[2020-07-07 12:14] sebastianbenz opened #4157 "Playground error list: fly-in hides code"
The current fly in implementation hides the code area as part of the generic fly in lightbox behavior. In the case of the error list, this should not happen as users need to be able to see the code when looking at errors.

//cc @matthiasrohmer @robinvanopstal

[2020-07-07 13:29] #4157 closed

[2020-07-07 17:27] morsssss commented on #4045
Reopening so that we remember to do the other things in this issue!

[2020-07-08 15:41] jaygray0919 opened #4163 "problem with installing amp.dev"
Am trying to install following these instructions:
  https://github.com/ampproject/amp.dev

Most of the install is complete (the installation is Windows Subsystem for Linux (WSL 2) Ubuntu-18.04 running under Win10)

Have successfully installed all prereqs (python2.7, grow, amp.dev from a cloned repo) and
  export AMP_DOC_TOKEN="c59f6..."

But have two problems completing the install
first, missing

[2020-07-08 20:17] morsssss commented on #3295
I noticed this today while prepping for a workshop. It's hard to discover the events and actions linked to any component when they're only listed on the [Actions and Events page](https://amp.dev/documentation/guides-and-tutorials/learn/amp-actions-and-events/).

+1 to this idea!

[2020-07-08 20:26] morsssss opened #4165 "Events and Actions page: some entries in Element-specific events table look broken"
Here, we're referring to the **Element-specific events** table on the [Events and Actions page](https://amp.dev/documentation/guides-and-tutorials/learn/amp-actions-and-events/). And we're looking at things in the **Data** column.

Looking at this page today, I assumed it had broken at some point... but, looking at past commits, I wonder if it's just simply never been finished.

Here's a milder ca

[2020-07-09 06:21] sebastianbenz commented on #4163
`package.json` missing is a strong indicator for your local clone being broken - it should be there. Maybe try a fresh clone.

Once you've cloned the repo you need to run ` npm install` which will create the `node_modules` folder for you.

[2020-07-09 10:50] jaygray0919 commented on #4163
Thank you Sebastian - will retrace my steps.

[2020-07-09 23:45] alexandr-kazakov opened #4166 "The Russian version of the component documentation doesn't work well"
![chrome_fZf2yPKf5F](https://user-images.githubusercontent.com/20513262/87100413-00d21c80-c255-11ea-9b02-4161b971f3f5.png)

Guys, you probably already know about the problems with translation, but I'll say it again.

The Russian version of the component documentation cannot be used. I don't use it, but sometimes it opens automatically and that's why I make mistakes, because there are a lot of erro

[2020-07-10 02:32] pbakaus opened #4167 "Link anchors don't jump to the right heading"
Helloooooo!

Just found this bug:

1. Open this link: https://amp.dev/documentation/components/amp-story/#live-story
2. Note how it does not jump to the "Live Story" heading.

That's it :)

[2020-07-10 22:45] manisaiprasad commented on #4167
Hey @pbakaus

I just found that there is also a #live-story id at this tr tag.

<img width="341" alt="Screen Shot 2020-07-11 at 4 05 30 AM" src="https://user-images.githubusercontent.com/18515609/87208285-cf785000-c32b-11ea-99a6-54e87d6104bd.png">

<img width="1221" alt="Screen Shot 2020-07-11 at 4 07 09 AM" src="https://user-images.githubusercontent.com/18515609/87208360-0f3f3780-c32c-11ea-9b27-e

[2020-07-10 23:04] pbakaus commented on #4167
ah interesting! Hopefully pretty straight forward fix then.

[2020-07-10 23:21] manisaiprasad commented on #4167
Yeah

can I fix it with #live-story-optional ?

[2020-07-12 14:36] mnjit20 opened #4171 "typo correction to the repo urls"
## 📖 Missing or Out-of-Date Documentation

### Problem
Below mentioned 2  documents have urls of worker-dom repo which are pointing to wrong branch url and due to that its getting redirected to 404 page.

### reference 1:
https://github.com/ampproject/amp.dev/blob/future/pages/content/amp-dev/documentation/guides-and-tutorials/develop/custom-javascript-tutorial.md
#### expired link :
https://githu

[2020-07-12 14:50] mnjit20 commented on #4171
A PR is created for this; waiting for it to be reviewed and merged.

[2020-07-13 10:40] matthiasrohmer commented on #4171
Fixed by #4172, thanks Manjeet!

[2020-07-13 10:40] #4171 closed

[2020-07-13 10:43] matthiasrohmer commented on #4167
@manisaiprasad, this should fix it. You can easily use GitHub's UI to edit the file [in the browser](https://github.com/ampproject/amphtml/edit/master/extensions/amp-story/amp-story.md). Looking forward to your PR 🙂

[2020-07-13 10:46] matthiasrohmer opened #4173 "Explain and list experiment IDs and the related behaviour"
[Enable experimental features](https://amp.dev/documentation/guides-and-tutorials/learn/experimental/?format=websites) at least lists experimental components, but I think non-component-related experiments should also be listed there with their description just as on the CDN experiment pages like https://amp-dev.cdn.ampproject.org/experiments.html

Related to #4155.

[2020-07-13 12:07] manisaiprasad commented on #4167
Thanks @matthiasrohmer the PR is submitted 😇

[2020-07-13 16:55] gmajoulet commented on #4167
Closed by https://github.com/ampproject/amphtml/pull/29242

Thank you @manisaiprasad!

[2020-07-13 16:55] #4167 closed

[2020-07-14 16:02] sebastianbenz opened #4176 "Filter button styles broken"
https://amp.dev/documentation/templates/?format=websites

<img width="737" alt="Screen Shot 2020-07-14 at 17 59 35" src="https://user-images.githubusercontent.com/380472/87448367-084e4880-c5fc-11ea-9f44-67bf3bf651bd.png">

https://amp.dev/documentation/tools/

<img width="757" alt="Screen Shot 2020-07-14 at 17 59 28" src="https://user-images.githubusercontent.com/380472/87448372-097f7580-c5fc-11ea

[2020-07-15 08:00] jaygray0919 commented on #4163
@sebastianbenz , I backed-up, cleaned-up, and re-started. Here's where I am now. Any obvious mistakes or omissions on my side?

`tl;dr`
problem with `AMPProject.org@ preinstall`

1) Install the LTS version of Node.js.
`nvm install --lts`

2) Install Python 2.7
*Currently running:* `Python 2.7.6`

[code]

3) Install Grow
`pip install --user grow`
*successful*

4) Installed yarn
`curl -o- -L https:/

[2020-07-15 08:20] matthiasrohmer commented on #4163
This looks like you are trying to install and build the deprecated ampproject.org which still lives in this repository on the `master` branch. In the log you provided there are some hints to its [package.json](https://github.com/ampproject/amp.dev/blob/master/package.json) - the problem is you are trying to do so with amp.dev's read-me from the `future` branch. We know that can cause confusion.

B

[2020-07-15 08:30] jaygray0919 commented on #4163
Thanks for the hints @matthiasrohmer . I'll delete the current repo, pull the `future` and retry.

[2020-07-15 09:12] jaygray0919 commented on #4163
@mathiasbynens Let me verify that I'm doing this correctly. I toggle the repo to: `https://github.com/jaygray0919/amp.dev/tree/future` (my HTTPS checkout was 8 days ago, but am thinking that's OK).

then, in the terminal, run: `git clone https://github.com/jaygray0919/amp.dev/tree/future`.

Is that correct?

[2020-07-15 09:19] matthiasrohmer commented on #4163
Yes this should work.

[2020-07-15 09:20] #4176 closed

[2020-07-15 09:40] jaygray0919 commented on #4163
from terminal, am seeing `fatal: repository 'https://github.com/jaygray0919/amp.dev/tree/future' not found`

but from the browser, this looks to be available for cloning: https://github.com/jaygray0919/amp.dev/tree/future

Is there a GitHub setting that makes `future` the default repo? Am I making some other mistake?

[2020-07-15 09:49] matthiasrohmer commented on #4163
Sorry, didn't pay attention. To clone a specific branch it's: `git clone --branch future https://github.com/jaygray0919/amp.dev.git`.

`future` is set as default branch for the amp.dev repository - I think this will also apply to forks. Not quite sure why your fork has `master` as default.

[2020-07-15 09:51] jaygray0919 commented on #4163
Thanks - will try that next

[2020-07-15 10:05] jaygray0919 commented on #4163
@matthiasrohmer Look like the install is 99+% complete. Have this one error message (which may not be fatal)
error amp-dev@1.0.5 postinstall: `gulp downloadTestResources`

[code]
Can I ignore this error, or is there a one-liner that will `gulp downloadTestResources`
Am thinking I won't need TestResources

[2020-07-15 10:32] matthiasrohmer commented on #4163
No you should do fine without the test resources (i.e. the validator) actually. Ultimately I think everything that fails now are Ubuntu (or WSL) problems for which I can only offer limited support. But let's try...

`gulp bootstrap` is actually just an aggregation task for steps that could also be done one by one. Try these one after another and see which one fails:

[code]

My guess is `buildBoil

[2020-07-15 10:33] jaygray0919 commented on #4163
Thanks. Will wrangle this now.

[2020-07-15 10:39] jaygray0919 commented on #4163
OK, am seeing: `No command 'gulp' found`. Does that mean the clone did not successfully install `gulp` as part of the amp.dev toolchain, or should I have installed `gulp` as part of the WSL environment (a /usr/bin utility)?

[2020-07-15 10:45] jaygray0919 commented on #4163
I also have access to an AWS/Nginx/Linux server. If this WSL process fails, I'll move over to our Linux server. Will check the flavor with you to make sure there is no server-flavor issues.

[2020-07-15 10:52] jaygray0919 commented on #4163
Will be away from my desk for 30 minutes

[2020-07-15 11:31] matthiasrohmer commented on #4163
Assumed you had a global installation of gulp. Then prefix with `npx` like `npx gulp buildComponentVersions` and so on.

[2020-07-15 11:44] matthiasrohmer commented on #4166
/cc @CrystalOnScript @patrickkettner

[2020-07-15 11:48] jaygray0919 commented on #4163
OK, they all fail with this (or similar) error message:
[code]
or
[code]

we probably are not seeing yet-to-be-encountered issues.
i'm checking with one of my mates about using our AWS server.
when i know flavor details, i'll chech back with you to verify.
thanks for your help here Matthias

[2020-07-15 11:56] jaygray0919 commented on #4163
@matthiasrohmer OK, here are server details:
[code]
Is that an acceptable platform for the amp.dev work? Do you need additional details?

[2020-07-15 12:05] matthiasrohmer commented on #4163
The git error can be solved by configuring your user details like described [https://stackoverflow.com/questions/25593043/git-configuration-user-name-doesnt-work](here).

Can you tell what your plan is? I fear providing support with getting a hosted instance of amp.dev running on a third-party server is out of scope for me. Closing for now as there doesn't seem to be an actual issue that needs to

[2020-07-15 12:05] #4163 closed

[2020-07-15 12:14] jaygray0919 commented on #4163
If we can't wrangle a solution on WSL, our plan is to use our AWS Linux box. Thanks for your help-to-date.

[2020-07-15 12:20] matthiasrohmer commented on #4163
Did you try configuring git? This seems to be the last step that's missing.

[2020-07-15 16:46] Joelsz commented on #3090
Is this going to happen anytime soon?

With regards to Bento AMP, is AMP Shadow planned to be supported in the future?

[2020-07-16 15:06] Vathana252 opened #4191 "Android"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

< Insert name here >

### Type

Use [x] to mark a selection:

- [x] Story Creation Tool
- [ ] CMS
- [ ] Platform
- [x] Other

### URL

< Insert URL to Tool/CMS/Platform here >

### Image

< Please provide a screenshot of your resource’s editor window (min. 800x400 pixels) to appear on the [Tools](

[2020-07-16 15:27] #4191 closed

[2020-07-16 21:18] gpalz opened #4192 "Star Rating and Gmail inbox"
## 🐛 Bug Report

### Current behavior
Star Rating passed validation in Amp for Email Playground but when sent to my Gmail.com inbox account, hover effect does not work and Star size is much smaller

Please also provide:
Gmail:

![gmail](https://user-images.githubusercontent.com/22349338/87723514-ebdf1700-c787-11ea-8c1f-c9ae31e1aee1.jpg)

Amp for Email Playground:

![playground](https://user-images

[2020-07-16 21:25] mnjit20 commented on #4165
@morsssss how does it looks now
![image](https://user-images.githubusercontent.com/6074872/87724300-7e4cde00-c7bb-11ea-81af-6c2c2265b7d2.png)

and input elements
![image](https://user-images.githubusercontent.com/6074872/87724344-991f5280-c7bb-11ea-8d71-ab0218cdcf13.png)

I am going to make a PR with these changes

[2020-07-16 21:39] mnjit20 commented on #4165
https://github.com/ampproject/amp.dev/pull/4193

[2020-07-16 22:30] mnjit20 commented on #4032
i can see carousel library is hardcoded with this url :  amp-carousel-0.1.js
it will require some work to make it dynamic.

[2020-07-16 22:58] morsssss commented on #4165
Thanks for formatting it! :) But we still need to make more sense out of the content in the right column. It shouldn't just be faux comments followed by object properties in code font.

I'm actually not sure what the best format would be here. Wonder if @CrystalOnScript could make a suggestion?

[2020-07-17 03:10] noodles opened #4195 "Missing definition of 'supported browsers' for amp-video autoplay feature"
## 📖 Missing or Out-of-Date Documentation

### Problem
In the [Autoplay section](https://amp-dev.cdn.ampproject.org/c/s/amp.dev/documentation/examples/components/amp-video/#autoplay) of the amp-video component example page, it says:

`"Setting autoplay will automatically play/pause the video as it is scrolled into/out of view on supported browsers."`

There is no definition of what the 'supported

[2020-07-17 08:47] mnjit20 commented on #4165
Sure if you @CrystalOnScript  could suggest then i will do the changes and maybe raise a new PR.

thanks

[2020-07-17 08:49] mnjit20 commented on #4020
its fixed, good to close this.

[2020-07-17 08:59] #4020 closed

[2020-07-17 09:23] sebastianbenz opened #4196 "Component landing page shows filter syntax"
<img width="1023" alt="Screen Shot 2020-07-17 at 11 22 35" src="https://user-images.githubusercontent.com/380472/87770926-ec2af100-c81f-11ea-8099-3b7b23da037f.png">

https://amp.dev/documentation/components/?format=websites

[2020-07-17 13:46] sibmius opened #4197 "Ukrainian language (uk or uk_ua)"
Hi,

I would like to contribute and help with the translation for Ukrainian language language.

I already forked amp.dev.

Thank you for your time.

Andi

@CrystalOnScript

[2020-07-22 10:54] kframesa opened #4209 "Outdated Italian amp-list documentation"
In the [Italian amp-list documentation](https://amp.dev/it/documentation/components/amp-list/) there are some outdated contents as the `load-more` section that is tagged as experimental while it isn't.

[2020-07-22 10:55] #4209 closed

[2020-07-22 10:56] valse opened #4210 "Outdated Italian amp-list documentation"
In the [Italian amp-list documentation](https://amp.dev/it/documentation/components/amp-list/) there are some outdated contents as the `load-more` section that is tagged as experimental while it isn't.

[2020-07-22 17:34] sebastianbenz opened #4211 "`embed` sample listed under components (which is not a sample)"
<img width="253" alt="Screen Shot 2020-07-22 at 19 33 41" src="https://user-images.githubusercontent.com/380472/88208968-4a0d6d80-cc52-11ea-8187-bc9184d4f827.png">

https://amp.dev/documentation/examples/components/embed/?format=websites

[2020-07-22 17:58] sebastianbenz opened #4212 "Show latest videos on doc landing page"
These are not the latest videos:

<img width="1310" alt="Screen Shot 2020-07-22 at 19 58 11" src="https://user-images.githubusercontent.com/380472/88211267-bfc70880-cc55-11ea-96be-b3825772afb5.png">

https://amp.dev/documentation/

[2020-07-22 20:36] sebastianbenz commented on #4212
This should use https://www.youtube.com/c/TheAMPProject/videos?view=0&sort=dd&flow=grid as input.

[2020-07-23 17:30] morsssss opened #4215 "Document data-ampdevmode"
As far as I can tell, this attribute is only mentioned in the [<amp-script>](https://amp.dev/documentation/components/amp-script) documentation page, even though it can also be used on the root html node to suppress validation errors.

I'm happy to add documentation for this. I just don't really know where it should go! @CrystalOnScript , perhaps you can advise me here?

[2020-07-24 20:42] morsssss commented on #3567
I just ran across this too on https://amp.dev/documentation/examples/components/amp-analytics/?format=websites. A bunch of tags are duplicated in the HTML... the build seems to be broken... but I see that this bug's already filed.

[2020-07-24 21:09] CrystalOnScript opened #4223 "amp.dev is throwing errors with sample code"
One of the examples under [Customized load-more elements in amp-list](https://github.com/ampproject/amphtml/blob/master/extensions/amp-list/amp-list.md#customizing-load-more-elements) contains a `#` - amp.dev is throwing an error although it is correctly wrapped in backticks.

[code]

[2020-07-27 08:36] patrickkettner commented on #3992
@jaboc83 ping

[2020-07-27 09:06] sebastianbenz opened #4225 "AMP Blog: provide an overview page listing all blog posts"
Currently, the blog shows the last X articles. There are several problems with this approach:

* The reading experience is very bad as it's hard to see where one article stops and the next starts.
* It's impossible to discover previous articles.

Suggestions:

* Redesign the blog landing page to highlight the last X blog posts (where X <=3). These shouldn't not be shown in full. Show a list of all

[2020-07-27 12:28] jaboc83 commented on #3992
??? I think you pinged the wrong person.

[2020-07-27 15:48] #2382 closed

[2020-07-27 16:40] #2387 closed

[2020-07-27 16:50] patrickkettner commented on #2441
no longer an issue

[2020-07-27 16:50] #2441 closed

[2020-07-27 17:21] patrickkettner commented on #2574
@sebastianbenz this seems to be fixed - can you confirm?

[2020-07-27 17:25] patrickkettner commented on #2577
@sebastianbenz could you elaborate?

[2020-07-27 17:27] patrickkettner commented on #2546
@sebastianbenz could this be done during site publication? like a smoke test before the changes go live?

[2020-07-27 17:28] #2628 closed

[2020-07-27 17:32] patrickkettner commented on #2681
resolved via 9e043f7bff68e731b46278461f6eaa809925d53d

[2020-07-27 17:32] #2681 closed

[2020-07-27 17:34] patrickkettner commented on #2734
@matthiasrohmer woudl you be able to confirm if this is still an issue?

[2020-07-27 18:46] #2574 closed

[2020-07-27 18:53] westonruter commented on #2454
@sebastianbenz I've added:

[code]

Does that work for you?

[2020-07-27 18:57] amedina commented on #2454
cc @patrickkettner

[2020-07-27 19:03] patrickkettner commented on #2454
certainly solves the problem,  I am mildly concerned about other elements overflowing and not being scrollable, but have no justification for that.

[2020-07-27 19:17] westonruter commented on #2454
Which other elements do you see overflowing?

[2020-07-27 19:20] patrickkettner commented on #2454
sorry, I am being obtuse.
I meant "it seems like the overflow could happen on other elements, not just <table>s, but I don't have any example to back up that concern"

[2020-07-27 19:55] westonruter commented on #4225
For a quick fix, how about using the title with image and excerpt and a read more link:

cc @patrickkettner

[2020-07-27 20:42] westonruter commented on #4225
@sebastianbenz I've deployed this change to the dev environment. Please take a look: https://dev-amphtml-blog.pantheonsite.io/

If good, I'll deploy that to the live environment.

[2020-07-27 20:57] westonruter commented on #2451
I've implemented this, now can be seen on dev: https://dev-amphtml-blog.pantheonsite.io/2020/07/21/the-value-of-amp-list-initialization-from-state/

Note that WordPress _does_ allow for heading so have anchors but they aren't supplied by default. Manually-crafted anchor IDs can be added via the Advanced panel:

![image](https://user-images.githubusercontent.com/134745/88591290-fcf21880-d010-11ea-9

[2020-07-27 22:38] #2629 closed

[2020-07-28 06:03] sebastianbenz commented on #2451
Awesome!

[2020-07-28 06:04] sebastianbenz commented on #4225
Much better! Thanks!

[2020-07-28 06:07] sebastianbenz commented on #2546
We're [already doing this for a few selected pages](https://github.com/ampproject/amp.dev/blob/future/smoke-tests/platform/Routes.test.js#L70). It might make sense to set up a nightly build that validates all pages.

[2020-07-28 06:08] sebastianbenz commented on #2577
<img width="1105" alt="Screen Shot 2020-07-28 at 08 08 12" src="https://user-images.githubusercontent.com/380472/88625696-8ce3a100-d0a9-11ea-9a9e-28581355082e.png">

[2020-07-28 14:48] matthiasrohmer opened #4232 "Add sharing information to playground"
Now that playground snippets are shareable we should add `twitter:card` and `og:*` tags to the playground templates.

[2020-07-28 14:58] alexduran4 commented on #2451
Amazing! Thanks for sharing, Weston 👍

On Tue, Jul 28, 2020 at 2:03 AM Sebastian Benz <notifications@github.com>
wrote:

--

*  •  **Alex Durán*
*  •  *APMM, Search Ecosystem & AMP
  *•*  *alexduran@google.com <alexduran@google.com>*

[2020-07-28 15:01] sebastianbenz commented on #4232
Good idea!

[2020-07-28 15:36] patrickkettner commented on #3992
terribly sorry !

[2020-07-28 15:36] patrickkettner commented on #3992
@jaccos ping

[2020-07-28 16:07] westonruter commented on #2451
This is now deployed to blog.amp.dev

[2020-07-28 16:07] westonruter commented on #4225
This is now deployed to blog.amp.dev

[2020-07-28 18:36] patrickkettner commented on #2891
thanks for the work!

[2020-07-28 18:36] #2891 closed

[2020-07-28 20:14] #2451 closed

[2020-07-28 20:14] sebastianbenz commented on #2451
Thanks Weston!

[2020-07-28 21:52] BogdanCerovac opened #4237 "I suggest we add the lang attribute to html and set it to "en-US", otherwise assistive technologies could have problems with interpreting the page"
https://github.com/ampproject/amp.dev/blob/6fde29bd6a6d6cee066a17a8e67f939b9ee0d9bb/tutorial_source/amp-pets-story/pets-completed.html#L2

Probably not an issue for real as this is being generated etc., but if somebody wants to copy from here the language must be set.

[2020-07-28 22:26] homsii opened #4238 "when i test my site show me not an amp page"
hello,

when I test my website on google console amp test it shows me this message https://ibb.co/XJNcqdV

I install and active web story plugins

[2020-07-28 22:27] patrickkettner commented on #4238
hello!
what is the url?

[2020-07-28 22:29] homsii commented on #4238
https://tasueq.com/

[2020-07-28 22:54] patrickkettner commented on #4238
that url does not appear to have any amp code in it, which would explain the error you are seeing.

[2020-07-29 08:26] #4238 closed

[2020-07-29 08:27] #3959 closed

[2020-07-29 08:28] #3958 closed

[2020-07-29 10:40] Cutnut opened #4242 "Cutnut Story Editor"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

Cutnut

### Type

Use [x] to mark a selection:

- [x] Story Creation Tool
- [ ] CMS
- [ ] Platform
- [ ] Other

### URL

https://cutnut.net/

### Image

![Bildschirmfoto 2020-07-29 um 11 29 43](https://user-images.githubusercontent.com/46722483/88790502-8f70f400-d198-11ea-8742-0126d22e354e.png)

#

[2020-07-29 11:40] sebastianbenz opened #4243 "Validator UI: improve responsiveness"
https://playground.amp.dev/validator.html?url=https%3A%2F%2Famp.dev

Two small things we should fix with the new validator UI:

Background makes text hard to read:

<img width="75" alt="Screen Shot 2020-07-29 at 13 38 40" src="https://user-images.githubusercontent.com/380472/88795877-04e0c280-d1a1-11ea-9259-add7836e0d13.png">

The input/result page should have a max width on large displays.

<img

[2020-07-30 16:35] CrystalOnScript opened #4250 "Sidebar missing on example pages"
## 🐛 Bug Report

### Current behavior
The Live Blog example page is missing the sidebar and the image is missing
https://amp.dev/documentation/examples/news-publishing/live_blog/?format=websites

[2020-07-30 19:23] morsssss opened #4251 "Spacing issues in examples"
Working on [the `<amp-script>` examples page](https://amp.dev/documentation/examples/components/amp-script), I've hit a couple of snags:

### 1. Pretty-printing ###
I find it confusing that HTML attributes for `<script>` tags get automatically pretty-printed so that each is on a separate line - as that tends to mush into the JavaScript that people will need to focus on. @sebastianbenz showed me th

[2020-07-30 19:32] jaygray0919 opened #4252 "amp.dev on 20-07-30"
is https://amp.dev/ behaving as you intended?
$home seems to be missing images and some placements seem to be 'off'
Also note that $home behaves differently in Chrome and Mozilla (each has it's uniq unexpected variation)
Desktop (Chrome) seems to render different results from mobile (Chrome)
/j

[2020-07-30 19:44] sebastianbenz commented on #4252
Hm. I'm not aware of any problems. Can you post a few screenshots? Is this new?

[2020-07-30 19:56] jaygray0919 commented on #4252
mozilla and chrome (from my desktop)

![2020-07-30_14-52-22](https://user-images.githubusercontent.com/11330577/88968244-b0a71280-d274-11ea-9407-7d215c10d4c0.png)
![2020-07-30_14-51-31](https://user-images.githubusercontent.com/11330577/88968255-b3096c80-d274-11ea-9e24-7e50ae30598a.png)

is this different than your view?

[2020-07-30 20:03] sebastianbenz commented on #4252
I can reproduce now. Looks like https://github.com/ampproject/amp.dev/issues/4128 happened again.

[2020-07-30 20:04] sebastianbenz commented on #4128
@matthiasrohmer could you please investigate this? My suspicion would be a disk space / memory issue.

[2020-07-30 20:05] jaygray0919 commented on #4252
Good to know - thought we were having bandwidth problems :->

[2020-07-30 20:08] sebastianbenz commented on #4252
Will close this issue and continue in the other one. Thanks for reporting!

[2020-07-30 20:08] #4252 closed

[2020-07-30 20:10] sebastianbenz commented on #4252
Should be working again. Could you verify?

[2020-07-30 20:11] jaygray0919 commented on #4252
FYI, we have eliminated almost all images on our planned $home site - all symbols are SVG; all images are SVG except for PNGs for customer testimonials (9 small PNGs at bottom-of-page)
/j

[2020-07-30 20:11] jaygray0919 commented on #4252
lemme clear cache

[2020-07-30 20:12] jaygray0919 commented on #4252
yup - back to normal.

[2020-07-30 20:25] sebastianbenz commented on #4252
Thanks!

[2020-07-31 09:44] matthiasrohmer commented on #4128
Will do! Hoped for it to not happen again...

[2020-07-31 15:00] patrickkettner opened #4258 "ampbyexample.com not forwarding"
https://ampbyexample.com/ is giving a Go 1.9 deprecation notice, rather than forwarding to amp.dev (I assume?). Where should this be pointing to?

[2020-07-31 15:08] patrickkettner commented on #2454
closing as the reported issue is solved, will open a new one if other examples are found

[2020-07-31 15:08] #2454 closed

[2020-07-31 15:24] patrickkettner commented on #2707
closing as completed

[2020-07-31 15:24] #2707 closed

[2020-07-31 15:24] patrickkettner commented on #2717
closing as completed

[2020-07-31 15:24] #2717 closed

[2020-07-31 15:52] patrickkettner commented on #2825
closing as this feature is [no longer being pursued](https://www.chromestatus.com/feature/4588736224428032)

[2020-07-31 15:52] #2825 closed

[2020-07-31 15:55] patrickkettner commented on #2937
ping @RussianTranslator

[2020-07-31 16:12] patrickkettner commented on #3107
fixed in #3107

[2020-07-31 16:12] #3107 closed

[2020-07-31 16:17] patrickkettner commented on #3152
@westonruter are the blockers for this up to date on this thread?

[2020-07-31 16:24] patrickkettner commented on #3496
completed in #3606

[2020-07-31 16:24] #3496 closed

[2020-07-31 16:26] patrickkettner commented on #3590
@westonruter can we disable the comment form from showing up?

[2020-07-31 16:27] patrickkettner commented on #3604
@CrystalOnScript what is the limit for Ads and Stories?

[2020-07-31 16:30] patrickkettner commented on #3643
@morsssss what do you think is the best path forward on this one?

[2020-07-31 16:50] morsssss commented on #3643
Thanks for bringing this up again! I'd forgotten your explanation. I've actually just changed our docs to say this happens because AMP always requires absolute URLs and HTTPS.

When I develop locally, I just ignore the warnings. Of course this could be a problem for people who run the validator as part of their pre-commit hooks.

I imagine this problem is identical for anyone using URLs anywhere i

[2020-07-31 16:59] patrickkettner commented on #3643
sortof seems like this should be documented for workerdom, and we link out to it. But if we want it to be self contained, easy path would probably be adding a line about it being inside of a blob and further than to explain why that requires absolute urls.
I think an amp optimizer transform would be a great addition, but I am not sure if it is worth the effort (cc @sebastianbenz, if he wanted to c

[2020-07-31 18:22] morsssss opened #4264 "Problem with consecutive lists"
## 🐛 Bug Report

I hit this issue while updating [the documentation for `<amp-script>`](https://amp.dev/documentation/components/amp-script/):

If you put two numbered or bulleted lists in a row, they get mushed into a single list, even if one of them is indented, with the intention of making it into a sublist.

So, let's say you do this:

\- item 1
\- item 2

\1. new list item 1
\1. new list item

[2020-07-31 19:50] westonruter commented on #3590
Done!

[2020-08-03 12:11] #3168 closed

[2020-08-03 12:12] #3594 closed

[2020-08-03 18:30] seanthepottingshed opened #4269 "Custom Style Tag Removed from page when in AMP Cache"
Ignore

[2020-08-03 21:23] dvoytenko opened #4270 "amp-base-carousel snap-by looks broken"
![image](https://user-images.githubusercontent.com/726049/89228637-da25ae00-d594-11ea-8e5c-770269c9a3e8.png)

Seems like something should be there after ". This ..."

[2020-08-04 13:10] #2497 closed

[2020-08-04 13:30] #4269 closed

[2020-08-04 13:40] matthiasrohmer commented on #4264
Indenting with four spaces does the trick for me:

[code]

results in

![Bildschirmfoto 2020-08-04 um 15 39 12](https://user-images.githubusercontent.com/12857772/89300617-c8153f80-d668-11ea-95eb-8ecb3e00a69c.png)

Can you do me a favor and try this? 🙂  Feel free to reopen if this doesn't work for you.

[2020-08-04 13:44] matthiasrohmer commented on #4212
@robinvanopstal, importer-time! 🥳  I imagine this to work similar to the blog importer.

[2020-08-04 13:47] matthiasrohmer commented on #4210
We are currently working on updating all of amp.dev's translated contents. There is no exact timeline when all translations will be updated but we'll keep you posted 🙂

[2020-08-04 13:49] matthiasrohmer commented on #4192
That sounds like a provider-specific issue but to make sure can you provide a EML file of your mail to reproduce?

[2020-08-04 13:53] matthiasrohmer commented on #4197
Thank you for your interest in contributing to the AMP project! @CrystalOnScript is coordinating all of our internationalization efforts and may provide some guidance on this 🙂

[2020-08-04 16:45] morsssss commented on #4264
Four spaces does work! Ha. I never thought to try that. Thanks :)

Can we fix this so that two spaces is sufficient? That's usually enough in markdown - and I'm sure someone else will hit this issue later on.

Also, the other issue still remains: two lists in a row, even separated by a newline, even if one is unordered and one is ordered, still get combined into a single list.

[2020-08-04 18:08] matthiasrohmer commented on #4264
My pleasure! The only chance to enable 2-spaces nested lists would be to add another monkey patch to amp.dev. Something Sebastian and I now strongly try to avoid as everything related to page building adds to our Python codebase which we would like to keep as small as possible. The upstream markdown implementation Grow is using (python-markdown) has been refraining to add support in https://github

[2020-08-04 22:00] morsssss commented on #4264
Thanks!

I know it's not great to make this project even more complex. Alternately we could just document this in the contributors' guide... but of course most people won't notice that 🙄

[2020-08-05 07:41] mnjit20 commented on #4165
#4165 closed as the PR is merged

[2020-08-07 09:58] #4264 closed

[2020-08-10 07:35] #3659 closed

[2020-08-10 09:46] matthiasrohmer commented on #4243
Fixed by https://github.com/ampproject/amp.dev/pull/4276

[2020-08-10 09:46] #4243 closed

[2020-08-10 10:22] #4212 closed

[2020-08-10 19:19] caroqliu commented on #4270
From https://github.com/ampproject/amphtml/issues/20595:

[2020-08-10 22:02] westonruter commented on #3152
@patrickkettner yes. One is the previous comment, where the fragments are getting optimized. No optimization should be done since it will be done by WP, and WP expects non-transformed markup.

[2020-08-11 04:57] amedina opened #4286 "Update the image used for the AMP plugin card"
Update the image used for the AMP plugin card in [amp.dev/documentation/tools/](https://amp.dev/documentation/tools/).

<img width="375" alt="Screen Shot 2020-08-10 at 9 30 53 PM" src="https://user-images.githubusercontent.com/506089/89857381-c825ab80-db50-11ea-8858-406ddc778624.png">

<img width="667" alt="Asset 2@2x" src="https://user-images.githubusercontent.com/506089/89858820-66674080-db54-11

[2020-08-12 20:51] westonruter opened #4292 "Navigating from amp.dev to blog leaves _gl query param in the URL"
When navigating from amp.dev to the blog via the nav menu, the resulting URL has a `_gl` query parameter left in it. For example:

![image](https://user-images.githubusercontent.com/134745/90066476-a3d9e400-dca2-11ea-97ea-90389f6a1b76.png)

This parameter should not persist.

I believe the only thing needed here is to install the Site Kit plugin on the blog rather than use the existing hard-coded

[2020-08-13 13:51] matthiasrohmer opened #4296 "Make src for amp-script in pixie.j2 partial absolute"
... otherwise it fails on hosted environments.

[2020-08-13 15:51] cpauwels opened #4297 "Story Creation Tool: Tappable"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

Tappable

### Type

Use [x] to mark a selection:

- [x] Story Creation Tool
- [ ] CMS
- [ ] Platform
- [ ] Other

### URL

https://tappable.co

### Image

[tappable-amp-dev-logo.svg.zip](https://github.com/ampproject/amp.dev/files/5069911/tappable-amp-dev-logo.svg.zip)
(Used a zip since GH doesn't

[2020-08-14 12:27] #4296 closed

[2020-08-16 14:56] arif90-bit opened #4309 "ca-pub-8459514703966253"
<script data-ad-client="ca-pub-8459514703966253" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

[2020-08-17 11:03] #4309 closed

[2020-08-17 13:35] matthiasrohmer opened #4310 "Insert PX API key during build time and invalidate development key"
See https://github.com/ampproject/amp.dev/pull/4299#discussion_r471428986.

Also make API Endpoints configurable per target.

[2020-08-19 00:30] CrystalOnScript opened #4319 "amp-next-page example is broken"
Next page urls are served from `preview.amp.dev` when amp-next-page requires the url to come from the same origin as the current document.

[2020-08-20 13:57] caroqliu opened #4334 "`Enter` should submit the form"
1. Go to https://amp-dev-staging.appspot.com/page-experience/
2. Type `https://amp.dev`
3. Press Enter

Observation: Nothing happens
Expected: Tests should run, as if user clicked "Analyze"

[2020-08-20 14:00] caroqliu opened #4335 "Surface URL validation status on page"
1. Go to https://amp-dev-staging.appspot.com/page-experience/
2. Type in "asd"
3. Click "Analyze"

Observation: Nothing happens (note in console there is the error: `Please enter a valid URL`
Expected: User should be notified that the URL is invalid. One option is to mimic validator.amp.dev:
![image](https://user-images.githubusercontent.com/10456171/90779615-07c86200-e2cc-11ea-96aa-3a86ab2b8e53.p

[2020-08-20 14:14] matthiasrohmer opened #4337 "Remove font preloads as amp.dev is using font-display: swap;"
via @sebastianbenz

[2020-08-20 17:11] caroqliu opened #4343 "Indicate loading UI on nth "Analyze""
1. Go to https://amp-dev-staging.appspot.com/page-experience/
2. Type in "https://amp.dev"
3. Click "Analyze"
4. Note the loading state of all elements.
5. Now press "Analyze" again.

Observation: The "Analyze" button turns into the loading indicator UI but the other test states persist from the first URL.
Expectation: All states are reset to loading/`Analyzing...`/etc.

[2020-08-20 17:50] nainar opened #4345 "Pixi: Metric values don't correspond to position on plot"
![Screen Shot 2020-08-20 at 10 45 37 AM](https://user-images.githubusercontent.com/7919520/90807124-dbfcaa80-e2d2-11ea-9c2c-457b298a1ca1.png)
In the above screenshot you can see that while LCP is 2.141 seconds it is being plotted as >2.5s

[2020-08-20 17:51] matthiasrohmer commented on #4345
Thanks for reporting, that's something I am currently on 🙂

[2020-08-20 18:37] nainar opened #4347 "Pixi: amp-script in Pixi fails on relative URLs"
Pixi fails to run on amp.dev but does on https://amp.dev

amp-script shows the following error:
![Screen Shot 2020-08-20 at 11 37 09 AM](https://user-images.githubusercontent.com/7919520/90811457-7fe95480-e2d9-11ea-92b6-06a0faa6ffe5.png)

[2020-08-20 18:37] nainar commented on #4347
Note that PSI redirects amp.dev to https://amp,dev

[2020-08-20 18:40] caroqliu commented on #4347
So does validator.amp.dev.

[2020-08-20 19:42] matthiasrohmer opened #4351 "Pixi: create more fine-grained user feedback from API response"
via @caroqliu in https://github.com/ampproject/amp.dev/pull/4333#discussion_r474228492.

[2020-08-20 20:48] matthiasrohmer opened #4352 "Pixi: Localize PSI API response based on current locale"
via @caroqliu:

Also see https://developers.google.com/speed/docs/insights/languages

[2020-08-21 12:27] sebastianbenz opened #4353 "amp-live-list broken anchor links"
A bunch of broken anchors links is causing the build to fail after the latest component doc update:

[code]

[2020-08-24 08:00] matthiasrohmer opened #4358 "Pixi: Finalize progress bars for Core Web Vitals"
via @caroqliu. https://github.com/ampproject/amp.dev/pull/4354#issuecomment-678298594.

@nainar, @sebastianbenz: what do you think about visualizing the proportions?

[2020-08-24 08:03] sebastianbenz commented on #4358
Can you explain?

[2020-08-24 08:18] matthiasrohmer commented on #4358
Sure! I think what @caroqliu meant is that Page Speed Insights shows fast, average, slow as proportions like so:

![Bildschirmfoto 2020-08-24 um 10 06 59](https://user-images.githubusercontent.com/12857772/91019620-90f3d780-e5f1-11ea-8110-3445168d1027.png)

I adapted this behaviour for the Pixi scales:

![Bildschirmfoto 2020-08-24 um 10 13 10](https://user-images.githubusercontent.com/12857772/910

[2020-08-24 08:31] #4345 closed

[2020-08-24 08:48] sebastianbenz commented on #4358
I like the scales and percentages from PSI, having only a visual indicator as in our mocks is less clear. However, marking the actual value on the same scale is a bit confusing.

One note: what I don't like about PSI is that it uses three colors (orange, green, yellow) to encode a binary result (fail / pass). What does orange mean?

[2020-08-24 08:52] matthiasrohmer commented on #4358
Right! That's what I am stumbling over.

Is the PSI result really binary? Actually it puts each vital in a category of "slow", "average" and "fast" - these categories are also what the three colors map to.

[2020-08-24 13:55] caroqliu commented on #4358
One option could be to remove the separation markers and thresholds — i.e. 2.5s, 4s for LCP — that are plotted so there is not as much clutter. We still want to make this information available, possibly in the `?` icon next to the test title.

To @sebastianbenz's point, if we want to shift to a pass/fail model we could also calculate based on [this information](https://web.dev/vitals/):

[2020-08-24 20:30] caroqliu commented on #4343
This appears to have been fixed, though I can't quite keep track of which PR. 😅

[2020-08-24 20:30] #4343 closed

[2020-08-24 21:08] nainar opened #4368 "Pixi: Loading and analyzing indicators don't stop after results."
![Screen Shot 2020-08-24 at 12 44 41 PM](https://user-images.githubusercontent.com/7919520/91096707-5307ab00-e613-11ea-96b5-cfcf376a61eb.png)

[2020-08-24 21:10] nainar opened #4369 "Pixi: Lab data isn't laid our properly"
Issues:
Scales are off
Numbers aren't showing up on the scales correctly

![Screen Shot 2020-08-24 at 12 43 28 PM](https://user-images.githubusercontent.com/7919520/91096812-7e8a9580-e613-11ea-937a-70f27cee32c0.png)

[2020-08-24 21:15] nainar opened #4370 "Pixi: Colors on the scale are gradients not discrete"
The colors on the scale are supposed to be discrete, red, orange and green. There is a gradient between orange and red.
![Screen Shot 2020-08-24 at 12 44 26 PM](https://user-images.githubusercontent.com/7919520/91097261-36b83e00-e614-11ea-9636-5d061b7f5c07.png)

[2020-08-25 08:52] edoudou opened #4373 "Poster Position for amp-video"
## 🚀 Feature Request
Poster Position for amp-video
### Problem
Right now, poster position is set to 0% 0% but there is no way to change it.

### Solution
Expose an API to change the poster position through css or through a property for the amp-video tag

[2020-08-25 12:42] #4334 closed

[2020-08-25 12:42] #4335 closed

[2020-08-25 17:25] sebastianbenz opened #4378 "[pixi] Make sure input bar is visible in first viewport on most common screen sizes"
The input bar is the most important part of the page, it should be instantly visible. Currently it looks like this:

<img width="520" alt="Screen Shot 2020-08-25 at 19 24 57" src="https://user-images.githubusercontent.com/380472/91207269-c63f1900-e708-11ea-9fe3-2b3d576101a8.png">

[2020-08-25 17:27] nainar opened #4379 "[Pixi] Internationalization: Support right to left languages"
UI: Add support for RTL languages
Page layout: Add support for RTL languages.

[2020-08-25 21:15] morsssss opened #4382 "Playground: when you import from a URL, relative URLs break"
For example, if I import https://camp.samples.amp.dev into the playground, images break, because they're expressed as relative URLs, not absolute URLs.

I assume that, to fix this, you'd have to inject a `<base>` tag into the `<iframe>`, rewrite URLs, or do something else that might break some pages... but if a clever fix is possible, it could open up new possibilities for the playground as a debu

[2020-08-25 21:20] morsssss commented on #4382
Um... this time, when I tried this, it worked. And now I can't reproduce the issue, even though I've seen this issue a couple of times before.

Why?

[2020-08-26 00:56] nainar opened #4383 "Pixi: Teaser page should link to Page experience as well"
The current Pixi teaser page only directs to Web Vitals.
It should also direct to page experience.
Link to be used: https://developers.google.com/search/docs/guides/page-experience

[2020-08-26 00:57] nainar commented on #4383
@caroqliu can we make this change so that it lands by Aug 31?

[2020-08-26 07:54] sebastianbenz commented on #4382
The amp.dev backend does a redirect thing when loading pages from *.amp.dev which works most times (but not always). This definitely doesn't work for pages loaded from other domains. This would be nice to fix, but is imho not a super high priority.

[2020-08-26 08:45] robinvanopstal commented on #4378
Handed this over to Ferdi - will be solved in a separate PR. :)

[2020-08-26 13:34] caroqliu commented on #4383
To clarify you want both links? If so, both as buttons or one inline with text?

[2020-08-26 14:39] demianrenzulli commented on #1360
@morsssss closing this one, since we have released the AMP Camp post series which covers the topics mentioned here.

[2020-08-26 14:39] #1360 closed

[2020-08-26 19:00] #4383 closed

[2020-08-27 14:25] matthiasrohmer commented on #4379
via @patrickkettner: especially consider this for the PSI scales.

[2020-08-27 14:45] patrickkettner commented on #4379
After checking with some speakers, Arabic would be RTL for numbers, Hebrew should be LTR

[2020-08-27 18:40] CrystalOnScript opened #4390 "Update use of "Dev Channel" to "Beta Channel""
## 📖 Missing or Out-of-Date Documentation

### Problem
Several pieces of documentation, such as [Enable experimental features](https://amp.dev/documentation/guides-and-tutorials/learn/experimental/) and [Geolocation-based consent flow](https://amp.dev/documentation/examples/user-consent/geolocation-based_consent_flow/?format=websites) say `dev-channel`/`Dev Channel`. But it is not an option at [ht

[2020-09-01 13:12] caroqliu commented on #4378
This is fixed

[2020-09-01 13:12] #4378 closed

[2020-09-01 13:14] caroqliu commented on #4368
This is fixed

[2020-09-01 13:14] #4368 closed

[2020-09-01 13:18] caroqliu commented on #4310
Is this fixed @matthiasrohmer?

[2020-09-01 13:19] caroqliu commented on #4347
This is fixed

[2020-09-01 13:19] #4347 closed

[2020-09-01 13:31] caroqliu opened #4414 "Pixi: Invalid URLs still scroll the page on submit"
![e321d1bf-7112-4651-b8c1-931ac8d06a5c](https://user-images.githubusercontent.com/10456171/91857461-ef463900-ec35-11ea-9c91-465935aa487e.gif)

[2020-09-01 16:45] patrickkettner opened #4417 "Pixi: graph values rendering incorrectly in edge cases"
small screen values overlapping
![image](https://user-images.githubusercontent.com/465414/91882309-c4b5a980-ec50-11ea-8c19-024a0b15f664.png)

long value being clipped
![image](https://user-images.githubusercontent.com/465414/91882428-ef9ffd80-ec50-11ea-9b3a-8314a8534ac9.png)

[2020-09-01 19:45] caroqliu opened #4420 "Pixi: Recommendation loading UI is missing"
Expected:
![Screen Shot 2020-09-01 at 3 44 30 PM](https://user-images.githubusercontent.com/10456171/91898659-0c94fa80-ec6a-11ea-809a-21b04e6bcb4e.png)

Actual:
![Screen Shot 2020-09-01 at 3 44 26 PM](https://user-images.githubusercontent.com/10456171/91898668-10288180-ec6a-11ea-9bde-6b559a07fced.png)

I recall seeing this at one point last week, what happened? cc @robinvanopstal @matthiasrohmer

[2020-09-01 19:45] caroqliu commented on #4420
Also @nainar Is the loading copy in the mock finalized?

[2020-09-01 19:47] nainar commented on #4420
It should be "Improve your AMP page"

Let's remove `Wait a moment` from that copy

[2020-09-01 20:04] caroqliu commented on #4420
Related: Loading UI does not reset between multiple "Analyze".
Actual:
![2e366f2d-54ac-4456-aae8-df4cfcb28073](https://user-images.githubusercontent.com/10456171/91900481-c0978500-ec6c-11ea-87c0-2023b2671967.gif)

Note the duplicated recommendations on the 2nd run:
![Screen Shot 2020-09-01 at 4 03 52 PM](https://user-images.githubusercontent.com/10456171/91900493-c4c3a280-ec6c-11ea-8151-4685b6ed02

[2020-09-02 13:52] caroqliu opened #4424 "Pixi: UI for no field data"
Let's show the message in the mocks instead of this
![Screen Shot 2020-09-02 at 9 51 50 AM](https://user-images.githubusercontent.com/10456171/91992274-f33f8d00-ed01-11ea-8bd2-bb762e9bb7b9.png)

[2020-09-02 14:27] caroqliu commented on #4417
Related to #4358

[2020-09-02 15:04] #4370 closed

[2020-09-02 16:07] patrickkettner opened #4428 "[pixi] add version to API response"
We should add a version to the API response, so that any consumer could be aware of breaking changes

[2020-09-02 19:19] caroqliu opened #4431 "Accessibility: "Follow us" header tag in footer breaks Lighthouse audits."
## 🐛 Bug Report
"Follow us" header tag in site-level footer breaks Lighthouse audits.
![image](https://user-images.githubusercontent.com/10456171/92026493-1d5b7400-ed2f-11ea-986b-4f18b0b5c105.png)

### Current behavior
Failing lighthouse accessibility audit: `Heading elements are not in a sequentially-descending order`
[Relevant resource](http://web.dev/heading-order/?utm_source=lighthouse)

### E

[2020-09-02 19:27] caroqliu commented on #4351
This is fixed

[2020-09-02 19:27] #4351 closed

[2020-09-03 12:37] cpauwels commented on #4297
Hi @shishirm, are there any updates on this issue? Anything else we should do to get the PR #4298 merged?

[2020-09-04 08:22] #4286 closed

[2020-09-04 10:09] #4417 closed

[2020-09-04 14:01] matthiasrohmer opened #4438 "Pixi: do not allow cache URLs for testing"
When validating the input URL it should throw a validation error for cache URLs as we are checking the cache via "Opportunity to improve"

[2020-09-07 15:18] matthiasrohmer opened #4445 "Pixi: Intro copy should be one chunk, not three"
<img width="476" alt="Bildschirmfoto 2020-09-07 um 17 17 19" src="https://user-images.githubusercontent.com/12857772/92401501-187f3180-f12e-11ea-8ee0-f1847cc7eca3.png">

[2020-09-08 13:01] caroqliu opened #4450 "Pixi: Lab data bugs"
Actual:
![image](https://user-images.githubusercontent.com/10456171/92479452-8de01600-f1b1-11ea-8d87-b137aa759c8c.png)

Expected:
- LCP of 2.9 should have a summary status of "Needs improvement"
- TBT should not report a negative number -- in this case it says `-62ms`. Is this saying TBT can go down by 62ms or that it is already better by 62ms? In the former it should remove `-` and in the latter

[2020-09-08 13:03] caroqliu commented on #4369
Dedup with #4450 which has an updated screenshot

[2020-09-08 13:03] #4369 closed

[2020-09-08 13:04] caroqliu commented on #4358
This is fixed by #4434

[2020-09-08 13:04] #4358 closed

[2020-09-08 13:21] caroqliu opened #4451 "Pixi: Analyze button disabled when going to specific URL"
1. Go to https://amp-dev-staging.appspot.com/page-experience/?url=https://amp.dev
2. See the button is not clickable even though the field is filled out with valid URL:
![image](https://user-images.githubusercontent.com/10456171/92481672-aef63600-f1b4-11ea-82cd-4a7f283b16da.png)

cc @robinvanopstal

[2020-09-08 13:25] #4414 closed

[2020-09-08 13:28] caroqliu commented on #4451
Also note that invalid URLs disable the button. Because it cannot be clicked, the user is not notified with the "invalid URL" error message, as was present before:
![image](https://user-images.githubusercontent.com/10456171/92482411-989caa00-f1b5-11ea-8384-d5df0f35016a.png)

[2020-09-08 20:15] morsssss opened #4457 "amp-script sockets failing because we didn't use wss://"
Yes, [my WebSocket example](https://amp.dev/documentation/examples/components/amp-script/?format=websites#using-a-websocket-for-live-updates) is failing because I used an insecure WebSocket endpoint:

`ws://amp.dev/documentation/examples/api/socket/live-blog`

It should use `wss`.

My only question is, does amp.dev support this as part of our general SSL support? I'd guess so... don't know though.

[2020-09-08 20:17] caroqliu opened #4458 "Pixi: Flaky Share URL construction"
Haven't dug into this further, but occasionally all tests are complete with a final status banner update:
![image](https://user-images.githubusercontent.com/10456171/92523565-93a81c80-f1ee-11ea-8f0e-29184eadcb45.png)

Note this does not happen consistently.

[2020-09-08 20:19] nainar opened #4459 "Remove survey prompt"
It's end of quarter. Let's remove this!

[2020-09-09 18:54] nainar opened #4466 "Make sure survey banner doesn't violate CLS scores"
The current survey banner causes CLS issues.

We should fix this.

[2020-09-09 20:51] caroqliu opened #4470 "Pixi: Tablet view too narrow"
![image](https://user-images.githubusercontent.com/10456171/92653593-96714300-f2bc-11ea-9d05-5fc245b23ab4.png)

[2020-09-09 20:55] caroqliu commented on #4458
Closing as this appears fixed

[2020-09-09 23:41] #4457 closed

[2020-09-09 23:58] #4459 closed

[2020-09-10 00:00] patrickkettner opened #4473 "Pixi: how should API failures be handled?"
as of right now, SafeBrowsing is failing due to quota exhaustion. I have applied for an increase in quota, but I am not aware of a discussion about how to handle this scenario

[2020-09-10 11:37] g00dv1n opened #4474 "Add Product Stories as story creation tool"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

Product Stories

### Type

Use [x] to mark a selection:

- [x] Story Creation Tool
- [x] CMS
- [ ] Platform
- [ ] Other

### URL

https://productstories.pro/

### Image
![image](https://user-images.githubusercontent.com/4170706/92724194-e1e62880-f372-11ea-9906-cf3b78d103f2.png)

### Description

e

[2020-09-10 13:02] caroqliu commented on #4473
They result in `Analysis Failed` with overall status "Oops! Looks like something went wrong. We weren't able to get reliable results for all required criteria. Please rerun the test."

This should surface now with #4471

[2020-09-10 13:08] patrickkettner commented on #4473
do we want to encourage people to reuse the API when we know it will fail? it isn't currently clear that it is an understood issue (rather than a ghost in the machine or problem with their site)

[2020-09-10 13:19] caroqliu commented on #4473
For SafeBrowsing, Mobile-friendliness, and CWV we can surface unique recommendations saying "Please go to <link> to rerun the test." I'm torn on what the overall status should say. It's true that we are not able to get results for all required criteria. It could be frustrating to encourage users to rerun the test without assurance it will work on subsequent times.

A good post-launch feature could

[2020-09-10 13:20] #4450 closed

[2020-09-10 13:25] caroqliu opened #4477 "Pixi: Reporting valid URL as invalid"
Repro URL:
https://www-washingtonpost-com.cdn.ampproject.org/c/s/www.washingtonpost.com/graphics/2019/national/amp-stories/2019-state-of-the-union-reactions/
![image](https://user-images.githubusercontent.com/10456171/92735652-9407fb00-f347-11ea-8bd9-1856b8175c4e.png)

[2020-09-10 13:38] caroqliu commented on #4458
Reopening, seeing this again with https://amp.reddit.com/t/coronavirus/
This also appears in the console:
![image](https://user-images.githubusercontent.com/10456171/92737792-6de35a80-f349-11ea-8d1c-e4868d87cd3b.png)

cc @tharders any ideas?

[2020-09-10 13:42] caroqliu commented on #4473
Yeah it's not ideal to be linking away from the tool but at least it will bring them to the source of truth?

[2020-09-10 13:51] patrickkettner opened #4478 "Pixi: status colors should be reset between runs"
if you scan a failing url, then scan a good one, the visual results are confusing

![image](https://user-images.githubusercontent.com/465414/92739713-2bbb1880-f34b-11ea-87cf-c3b02bf4282d.png)

[2020-09-10 13:54] caroqliu commented on #4420
The recommendations are being reset correctly between runs of the same instance now. All that remains is the need to reset text coloring, which is somewhat buried in this issue. Closing this issue in favor #4478.

[2020-09-10 13:54] #4420 closed

[2020-09-10 14:46] caroqliu commented on #4438
The cache URLs should have their own invalid status banner, I'll add the `md` for this shortly.

[2020-09-10 14:47] matthiasrohmer commented on #4310
Yep, this has been fixed :)

[2020-09-10 14:47] #4310 closed

[2020-09-10 19:31] morsssss opened #4483 "Menu button misaligned on mobile devices"
The menu is about 30px below the rest of the header on mobile devices. I see this on my Pixel 2, and I see it in Chrome's emulator:

![amp dev_(iPhone 6_7_8)](https://user-images.githubusercontent.com/29419498/92791169-743dfa80-f37a-11ea-902c-522a8c71e2ee.png)

I don't know this CSS that well, but I do wonder why the `31px` is in this rule:

[code]

[2020-09-10 19:32] morsssss commented on #4483
/cc @matthiasrohmer , @patrickkettner, @caroqliu

[2020-09-10 19:50] patrickkettner commented on #4483
thats probably from hiding the banner yesterday. ill dig into it

[2020-09-10 20:02] morsssss commented on #4483
This is an excellent theory... thanks!

[2020-09-10 20:41] patrickkettner commented on #4477
[technically WAI](https://github.com/ampproject/amp.dev/blob/37c1a3cd927de0cc40d63182ca7d901447ca5301/pixi/src/ui/InputBar.js#L57), as it is a cache URL. Maybe a better string is needed?

[2020-09-10 21:06] PeterSaathoff-Harshfield opened #4486 "[Accessibility] Not possible to activate Analyze button with keyboard or screen reader"
Environment:
Any desktop OS/browser (Mac OS, Windows, Linux, Chrome OS)

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. Press tab to move keyboard focus to the "Enter a valid URL" field
3. Paste in a valid URL
4. Press tab to move keyboard focus to the Analyze button
5. Press enter

Expected result:
The button is activated

Actual result:
The Analyze button is

[2020-09-10 21:20] #4483 closed

[2020-09-10 21:32] PeterSaathoff-Harshfield opened #4487 "[Accessibility] Analyze button is very low contrast when disabled"
Environment:
Any OS/browser

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. before entering a URL, observe Analyze button

The current contrast ratio of the text on this button is 1.23:1

The text/contrast ratio should be at least 4.5:1 for most elements. See [WCAG 1.4.3](https://www.w3.org/TR/WCAG21/#contrast-minimum) and [Understanding Success Criterion 1.4.3

[2020-09-10 21:47] PeterSaathoff-Harshfield opened #4488 "[Accessibility] "Please wait a moment..." is low contrast"
Environment:
Any OS/browser

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. Enter a valid URL and press Analyze
3. Observe the text that says:

The current contrast ratio of this text against the background is 1.61:1
Text color: #CCCCCC
Background color: #FFFFFF

The text/contrast ratio should be at least 4.5:1 for most elements. See [WCAG 1.4.3](https://www.w3

[2020-09-10 22:07] caroqliu opened #4489 "Pixi: Reset filters on nth run"
Repro:
1. Run [amp.dev](https://amp-dev-staging.appspot.com/page-experience/?url=https://amp.dev)
2. See results:
![image](https://user-images.githubusercontent.com/10456171/92813939-42d02980-f390-11ea-97f5-2b9a301e003f.png)

3. Change URL input with another URL, say https://amp.dev/about/stories/
4. Observe filter pills duplicate some tags:
![image](https://user-images.githubusercontent.com/10456

[2020-09-10 22:08] PeterSaathoff-Harshfield opened #4490 "[Accessibility] Screen readers are able to navigate to "Please wait a moment..." text before it is visible"
Environment:
Any OS/browser and screen reader (such as VoiceOver, NVDA, or ChromeVox)

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. Turn on a screen reader
3. Linear navigate through the page, past the URL field and "Why is it important?" and related sections
4. Notice that the following text is accessible with the screen reader:

This text is supposed to app

[2020-09-10 22:13] caroqliu commented on #4477
How about https://u.today/guides/crypto-mining/top-10-best-cloud-mining-sites-in-2020 ?

[2020-09-10 22:25] patrickkettner commented on #4477
That appears to be as a result (or side effect?) of the sole unescaped / in
the regex

That being said, I hate URL validation via regex. Is there any objection to
switch to a try {new URL(SUBMITTED_URL)} approach? It feels more robust
given that we’ve already had several issues

On Thu, Sep 10, 2020 at 6:13 PM Caroline Liu <notifications@github.com>
wrote:

patrick

[2020-09-10 22:28] nainar commented on #4473
Per @caroqliu point - we don't have the space in the `additional check` to show this message. And just showing Error is not sufficient of a CTA.

[2020-09-10 22:29] PeterSaathoff-Harshfield opened #4492 "[Accessibility] Screen readers are able to navigate to "Why is it important..." text before it is visible"
Environment:
Any OS/browser and screen reader (such as VoiceOver, NVDA, or ChromeVox)

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. Turn on a screen reader
3. Linear navigate with the screen reader to the URL field, enter a URL, and press Analyze
4. Continue linear navigating down the page
5. Notice that the following text is still accessible to the screen re

[2020-09-10 23:14] PeterSaathoff-Harshfield opened #4493 "[Accessibility] "Fix it now" button has unclear behavior for keyboard/screen reader users"
Environment:
Any OS/browser and screen reader (such as VoiceOver, NVDA, or ChromeVox)

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. Enter a valid URL and press Analyze
3. Wait for the analysis to finish
4. Press tab to move keyboard focus to the "Fix it now" button, or navigate there with a screen reader
5. Press enter to activate the "Fix it now" button

Wha

[2020-09-10 23:22] nainar commented on #4466
Reopening because this is a fundamental issue with the way the banner is implemented. This issue will persist next quarter when we bring the survey back.

[2020-09-11 09:23] tharders commented on #4477
I have removed the check for the cache URL and implemented that as a linter api result in this PR: https://github.com/ampproject/amp.dev/pull/4495.
Using the URL class would be nice if we can ignore Internet Explorer (which does not support it).
But the current regex seems to work with the URL mentioned by caroline ('https://u.today/....').
So unless we find an example where a valid URL is still r

[2020-09-11 13:45] caroqliu commented on #4477
That's a great point about the URL class @tharders. We already use it in some places, do you think it would be reasonable to polyfill it?

[2020-09-11 15:09] #4438 closed

[2020-09-11 16:11] caroqliu commented on #4477
More failing examples from @patrickkettner:
https://gist.github.com/patrickkettner/b1f36f98db16702ba41ef39ea6dd353b

[2020-09-11 18:15] #4478 closed

[2020-09-11 18:24] caroqliu commented on #4489
Fixed by #4497

[2020-09-11 18:24] #4489 closed

[2020-09-11 19:21] PeterSaathoff-Harshfield opened #4498 "[Accessibility] Focus issues with Share dialog"
Environment:
Any OS/browser and screen reader (such as VoiceOver, NVDA, or ChromeVox)

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. Enter a valid URL and press Analyze
3. Turn on a screen reader
4. Navigate with the screen reader to the Share button
5. Activate the Share button
6. Attempt to navigate with the screen reader to the dialog

In my testing, NVDA,

[2020-09-11 19:24] PeterSaathoff-Harshfield opened #4499 "[Accessibility] Field data/Lab data tab selection state is not communicated to screen readers"
Environment:
Any OS/browser and screen reader (such as VoiceOver, NVDA, or ChromeVox)

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. Enter a valid URL and press Analyze
3. Wait for the analysis to finish
4. Turn on a screen reader
5. Navigate with the screen reader to the tabs "Field data" and "Lab Data"

These are announced by screen readers as just buttons.

[2020-09-11 19:42] PeterSaathoff-Harshfield opened #4500 "[Accessibility] Focus and label issues with help popups"
Environment:
Any OS/browser and screen reader (such as VoiceOver, NVDA, or ChromeVox)

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. Enter a valid URL and press Analyze
3. Press tab repeatedly to move keyboard focus to the question mark/help buttons
4. Press enter to open a popup
5. Continue to press tab to move keyboard focus past the popup

Expected:
The clo

[2020-09-11 19:48] PeterSaathoff-Harshfield opened #4501 "[Accessibility] Green and yellow score text is low contrast"
Environment:
Any OS/browser

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. Enter a valid URL, that will produce a range of scores, and press Analyze

Observe the green and yellow score text

"Good" and accompanying time in green
#00CD3C
Contrast ratio: 2.14:1

"Needs improvement" and accompanying time in yellow
#F39C12
Contrast ratio: 2.19:1

Both of these con

[2020-09-11 20:53] PeterSaathoff-Harshfield opened #4502 "[Accessibility] Horizontal diagrams don't convey meaningful information to screen reader users"
Environment:
Any OS/browser and screen reader (such as VoiceOver, NVDA, or ChromeVox)

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. Turn on a screen reader
3. Linear navigate with the screen reader to the URL field, enter a URL, and press Analyze
4. Navigate with the screen reader to the horizontal diagrams under the "Core Web Vitals" heading, in both the Fie

[2020-09-11 21:20] PeterSaathoff-Harshfield opened #4505 "[Accessibility] Multiple issues with "Take action: N recommendations" buttons"
Environment:
Any OS/browser and screen reader (such as VoiceOver, NVDA, or ChromeVox)

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. Enter a valid URL and press Analyze
3. Wait for the analysis to finish
4. Press tab repeatedly to move keyboard focus through controls
5. Attempt to move keyboard focus to the "Take action: N recommendations" button

Expected:
It

[2020-09-11 22:19] PeterSaathoff-Harshfield opened #4506 "[Accessibility] Contrast issues with text in Additional checks"
Environment:
Any OS/browser

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. Enter a valid URL and press Analyze

Under the "Additional checks" heading, observe the text

"Passed"
Text color: #00CD3C
Contrast ratio: 2.14:1

"Check manually"
Text color: #CCCCCC
Contrast ratio: 1.61:1

The color contrast ratio should be at least 4.5:1. See [WCAG 1.4.3](https://www

[2020-09-11 22:36] PeterSaathoff-Harshfield opened #4507 "[Accessibility] Selected state of filter pills is not communicated to screen reader users"
Environment:
Any OS/browser and screen reader (such as VoiceOver, NVDA, or ChromeVox)

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. Turn on a screen reader
3. Linear navigate with the screen reader to the URL field, enter a URL, and press Analyze
4. Navigate with the screen reader to the filter pills under the "Take action. Improve your AMP site" heading
5. R

[2020-09-11 23:00] PeterSaathoff-Harshfield opened #4508 "[Accessibility] Expandable sections are not keyboard focusable and do not communicate expansion state"
Environment:
Any OS/browser and screen reader (such as VoiceOver, NVDA, or ChromeVox)

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. Enter a valid URL and press Analyze
3. Press tab to move keyboard focus to the expandable sections under the "Take action. Improve your AMP site" heading

Expected:
It should be possible to operate the expandable sections with th

[2020-09-11 23:04] PeterSaathoff-Harshfield opened #4509 "[Accessibility] Filter pills are low contrast"
Environment:
Any OS/browser

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. Enter a valid URL and press Analyze

Under the "Take action. Improve your AMP site" heading, observe the grey filter pills at the bottom of each section.

Text color: #CCCCCC
Contrast ratio: 1.61:1

The color contrast ratio should be at least 4.5:1. See [WCAG 1.4.3](https://www.w3.org/T

[2020-09-14 00:55] shishirm commented on #4297
Hello @cpauwels, thank you so much for filing this. We've reviewed the various Stories and before we list on amp.dev, some fixes are requested,

**Must-Fix**

The Stories are currently not self-canonical i.e. the link rel canonical tag currently points to the non-Story version. For example, https://stories.tappable.co/bbc-micro?story=true points to https://stories.tappable.co/bbc-micro as canonica

[2020-09-14 01:38] shishirm commented on #4297
Some additional feedback,

* We suggest adding descriptive alt attributes for every image. At the moment these are only image names.
* We suggest providing subtitles for videos via track elements as part of the tool.
* In lieu of track elements for subtitles, for videos with text burned in, we suggest providing alt text attributes on videos.

[2020-09-14 04:09] shishirm commented on #4242
Hello @Cutnut , thank you so much for filing this. We've reviewed the various Stories and before we list on amp.dev, some fixes are requested,

**Must-Fix**

- The Stories are currently not self-canonical i.e. the link rel canonical tag currently points to the AMP cache URL. For example, https://stories.cutnut.tv/amp/ec0db31f-fb37-4672-b11e-f755e4b24e46.html points to https://stories-cutnut-tv.cdn

[2020-09-14 09:00] matthiasrohmer commented on #4466
Thanks for bringing this up! When Sebastian and I were implementing the banner we thought that having the banner dismissible is bigger UX win than what we lose by the CLS... but we both weren't really happy how it's built since we are abusing the `.amp-active` CSS class.

Any advise on how to proceed would be much appreciated 🙂

[2020-09-14 13:25] caroqliu opened #4514 "Pixi: Lab data indicator polish"
- CLS score of `0.0` incorrectly shows status of "Needs Improvement" for amp.dev lab data
![image](https://user-images.githubusercontent.com/10456171/93091363-f88ac900-f66b-11ea-9ec1-70a67dbcca2f.png)

- Score of > max should show a `>` indicator instead of a `V` indicator. Also the text should be on the other side so it does not run over the edge.
![image](https://user-images.githubusercontent.co

[2020-09-14 13:31] caroqliu commented on #4486
I was able to reproduce this, it looks like the logic conducted by the amp-script src is disabled due to "lack of user action" -- is Tab `focus` able to be construed as user action? @kristoferbaxter @samouri

![image](https://user-images.githubusercontent.com/10456171/93092075-f83efd80-f66c-11ea-930a-d72bcc921c8d.png)

[2020-09-14 14:25] tharders commented on #4352
Closed with https://github.com/ampproject/amp.dev/pull/4513

[2020-09-14 14:25] #4352 closed

[2020-09-14 14:27] caroqliu commented on #4424
Fixed by #4515

[2020-09-14 14:27] #4424 closed

[2020-09-14 14:37] samouri commented on #4486
@caroqliu, I don't see why not. We just need to add "focus" to this list:

https://github.com/ampproject/amphtml/blob/7910e6c254b61301a81badbcf3f1e1de0925066a/extensions/amp-script/0.1/user-activation-tracker.js#L19-L26

[2020-09-14 14:43] samouri commented on #4486
Hmm. Something is fishy here. Is the goal to enable the analyze button on input focus?
Why not wait for validation of the input text value before enabling the Analyze button?

[2020-09-14 14:58] caroqliu commented on #4486
The input checks if its value is a valid URL before enabling the "Analyze" button here:
https://github.com/ampproject/amp.dev/blob/6b3a080f199f8ee0236242524046179cc649cf6f/pixi/src/ui/InputBar.js#L26-L32

It looks like the logic that validates the input as a requirement to enabling the button is what is not able to run here.

[2020-09-14 16:48] caroqliu commented on #4505
@PeterSaathoff-Harshfield To clarify, the "1 recommendation" `span` element does not need an `aria-label` because the text read by the focus should be the same as the text that is present in the tag?

[2020-09-14 16:57] samouri commented on #4486
Right. And there's no reason to check for a valid url on the initial TAB `keyup` event right? Its probably safe to completely ignore TAB within this event handler

[2020-09-14 17:04] nainar commented on #4501
Suggested colour replacement:
Good - #178739 (4.6:1 contrast)

[2020-09-14 17:31] caroqliu commented on #4501
@PeterSaathoff-Harshfield Would 3:1 contrast for the orange be acceptable? The darker version of yellow moves towards brown (undesirable) and if we warm it up to make it more reasonable, it becomes too red and therefore easier to confuse with the "Poor" result.

[2020-09-14 17:35] nainar commented on #4501
The closest I can get for Needs Improvement is #E26E08 - 3.24:1

[2020-09-14 17:42] caroqliu commented on #4486
Let me clarify, this is currently the keyboard-only user flow:
1. `Tab` until input field is focused. amp-script fires error: `Blocked 1 attempts to modify DOM element attributes or styles. For variable-sized <amp-script> containers, a user action has to happen first.` Followed by message that amp-script was terminated `due to illegal mutation.`
2. All other attempts to type in the input have no r

[2020-09-14 19:12] caroqliu commented on #4501
I noticed the headline is 28pt and the score text (3.3s and 68ms in the above examples) is 16pt bold. It looks like this is considered [large scale text](https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum.html#dfn-large-scale), so we will instead update the contrast to 3:1 instead of 4.5:1 as recommended in the original issue.

[2020-09-14 19:12] nainar opened #4522 "[pixi] String escaping doesn't work correctly"
See below screenshot

![Screen Shot 2020-09-14 at 12 11 58 PM](https://user-images.githubusercontent.com/7919520/93127930-99d14980-f683-11ea-8c73-8a5699ff486d.png)

[2020-09-14 19:13] nainar commented on #4522
cc @kristoferbaxter @caroqliu

[2020-09-14 19:17] nainar opened #4523 "[pixi] Add support for the same languages supported by amp.dev"
Add translation support

[2020-09-14 19:23] nainar opened #4524 "[pixi] Shared URL doesn't allow user to run Pixi"
Pasting this URL into the URL bar doesn't run Pixi (the button is greyed out by default):

https://amp-dev-staging.appspot.com/page-experience/?url=https%3A%2F%2Fwww.axios.com%2Fjoe-biden-kamala-harris-vice-president-e2109284-944c-4053-b506-9735e261e3ff.html

This was generated from the share bar.

[2020-09-14 19:34] #4524 closed

[2020-09-14 19:36] nainar opened #4525 "[Pixi] The first recommendation should always be expanded so that the user knows what to do"
Current:
![Screen Shot 2020-09-14 at 12 35 25 PM](https://user-images.githubusercontent.com/7919520/93130045-cb97df80-f686-11ea-95df-55577cf73976.png)

Expected:
![Screen Shot 2020-09-14 at 12 35 29 PM](https://user-images.githubusercontent.com/7919520/93130048-ccc90c80-f686-11ea-84e4-47d4685c1381.png)

[2020-09-14 19:54] #4487 closed

[2020-09-14 19:54] #4488 closed

[2020-09-14 19:54] #4506 closed

[2020-09-14 19:54] #4509 closed

[2020-09-14 20:06] #4505 closed

[2020-09-14 20:11] nainar opened #4527 "Pixi: Placeholder text for URL bar should be Enter URL"
The current placeholder text says "Enter valid URL", but we already check for URL validity - both that the URL is well formed and that it's AMP.

Change placeholder text to `Enter URL`

[2020-09-14 20:12] nainar commented on #4527
cc @cramforce who brought this up.

[2020-09-14 20:39] nainar opened #4528 "Pixi: `FID` labels and advice should say `FID and TBT` instead"
Since the recommendations will impact both FID and TBT the labels should call it out as such.

[2020-09-14 20:50] nainar opened #4529 "Pixi: We should cache successful results"
We should cache results if all the tests finished. This allows users to rerun if a test failed.

[2020-09-14 21:52] #4486 closed

[2020-09-15 02:10] PeterSaathoff-Harshfield commented on #4501
Looks good to me

[2020-09-15 02:20] PeterSaathoff-Harshfield commented on #4505
That's right, there should not be a label that differs from text on a button.

[2020-09-15 08:16] #4499 closed

[2020-09-15 08:16] #4507 closed

[2020-09-15 08:16] #4508 closed

[2020-09-15 08:22] matthiasrohmer commented on #4474
@shishirm, could you please review this?

[2020-09-15 09:04] matthiasrohmer commented on #4529
A few questions on this: what exactly do we want to cache and where? As an example: I am testing a page, all tests finish successfully except for Mobile Friendliness (might be due to a page being indeed unfriendly or because of technical API problems) for example. When I now press "Analyze" again what should happen? Should only the Mobile Friendliness check be rerun?

[2020-09-15 09:17] matthiasrohmer commented on #4529
I think this is related: https://github.com/ampproject/amp.dev/issues/4473#issuecomment-690282787

[2020-09-15 09:18] matthiasrohmer commented on #4445
The texts are now vertical paragraphs, hence closing.

[2020-09-15 11:33] slevy85 opened #4535 "With amp-form, verify-xhr is not sending requests when using encType application/x-www-form-urlencoded"
## 🐛 Bug Report

### Current behavior
I am trying to validate my form using verify-xhr, but I noticed that no requests are sent to the server when I use `encType="application/x-www-form-urlencoded"`, when I send data as multipart I can see the requests coming to the server.

But I would like to still be able to use `x-www-form-urlencoded` for my form.

Relevant code :

This form will not send any

[2020-09-15 13:28] caroqliu commented on #4501
Thank you!

[2020-09-15 13:28] #4501 closed

[2020-09-15 13:35] cpauwels commented on #4297
Hi @shishirm,

regarding the first issue, our backend detects wether it needs to return a web story or wether it needs to return the player experience you see.

So running `https://stories.tappable.co/bbc-micro` through the AMP Test tool produces valid results which you can [see here](https://search.google.com/test/amp?url=https%3A%2F%2Fstories.tappable.co%2Fbbc-micro). The `?story=true` query par

[2020-09-15 13:47] caroqliu opened #4536 "Pixi: Failed to construct 'URL' and no status"
Error in console:
![image](https://user-images.githubusercontent.com/10456171/93218456-3d7c3180-f738-11ea-86d5-d254b87ecd81.png)

We should not ever see 28/28 -- at that point it should be status instead -- is the uncaught error above related?
![image](https://user-images.githubusercontent.com/10456171/93218523-5389f200-f738-11ea-9f24-38c5bf4ec2d6.png)

[2020-09-15 14:37] caroqliu commented on #4536
Oops, already filed this #4458

[2020-09-15 14:37] #4536 closed

[2020-09-15 14:52] caroqliu commented on #4523
Supported in #4532, now we just need translated files. :)

[2020-09-15 14:56] caroqliu commented on #4477
Original issue fixed in #4518, leaving this issue open as suggested by @tharders to continue conversation about using the URL class.

[2020-09-15 15:00] caroqliu commented on #4445
Reopening due to #4532

[2020-09-15 15:31] nainar commented on #4529
Oh yeah I should have been clearer - we should only cache a successful test result - where everything passes.

And if we do that, we can prevent us going over our query limit for services we are using.

[2020-09-15 15:37] matthiasrohmer commented on #4529
Thanks for the clarification! I think we need to add a hint then to the lab results though to avoid having someone developing against Pixi and not seeing any improvements.

[2020-09-15 16:57] nainar commented on #4529
Oh yeah I guess we should cache the additional checks and field data only - not the lab results.

[2020-09-15 17:10] nainar opened #4540 "Pixi: The loading checks status bar will non deterministically not go away"
See screenshot here:
![Screen Shot 2020-09-15 at 10 08 57 AM](https://user-images.githubusercontent.com/7919520/93242365-93060d80-f73b-11ea-9887-54b6e788c086.png)

Most commonly happens on WaPo templates.
Test URL: https://www.washingtonpost.com/sports/2020/08/07/derrius-guice-arrested/?outputType=amp

Experienced by Malte and me

[2020-09-15 18:05] caroqliu commented on #4473
Update:
- Overall status banner should be updated to describe which test has failed, as well as anchor jump to that section.
- Failed test should link to relevant dashboard to run the API directly -- can we put this in the info tip?

[2020-09-15 19:25] caroqliu commented on #4540
Dedup with #4458

[2020-09-15 19:25] #4540 closed

[2020-09-15 19:30] caroqliu opened #4542 "Pixi: Disable "Analyze" on load"
1. Input any link and click "Analyze"
2. Hit `Tab` to focus on the "Analyze" button
3. Spam `Enter` -- notice this leads to endless fetches / reloading for the same input.

[2020-09-15 19:30] nainar commented on #4470
Can we make the URL bar smaller on tablet?

[2020-09-15 19:43] nainar opened #4543 "Pixi: Clarify Field test and Lab test more"
- [x] Information tips for Field and Lab data - See here: https://docs.google.com/document/d/15KTgFoQnmPEDhHyfANe-Ln5_qG20rTK1QOe4F6IfejQ/edit
- [ ] Field data should have a info banner inline explaining that this is 28 days aggregated data hence data will lag.

[2020-09-15 19:44] nainar opened #4544 "Pixi: Reporting origin summary accidentallly"
For the following page: https://www.axios.com/joe-biden-kamala-harris-vice-president-e2109284-944c-4053-b506-9735e261e3ff.html

PSI doesn't have field data:
![Screen Shot 2020-09-15 at 12 44 10 PM](https://user-images.githubusercontent.com/7919520/93257075-2b5abd00-f751-11ea-9bca-41d9f3f13f39.png)

However, Pixi is taking the origin summary and applying it here:
![Screen Shot 2020-09-15 at 12 44 3

[2020-09-15 19:46] #4525 closed

[2020-09-15 19:49] nainar opened #4545 "Pixi: Make sure that the entire CWV report fits in one viewport on laptop dimensions"
Check against Macbook pro 13 and 15

[2020-09-15 20:25] patrickkettner commented on #4545
Here are resolutions, ranked by traffic.
![image](https://user-images.githubusercontent.com/465414/93260889-fdd13c00-f76f-11ea-9539-4fedeba143f3.png)

[2020-09-16 07:03] #4527 closed

[2020-09-16 07:24] matthiasrohmer opened #4550 "Migrate from travis-ci.org to travis-ci.com"
Travis will close down the travis-ci.org domain by 31st of December. Fore more context see [this support article](https://docs.travis-ci.com/user/migrate/open-source-repository-migration).

[2020-09-16 07:24] matthiasrohmer commented on #4550
Tentatively assigning to you, @patrickkettner. I guess this also impacts other @ampproject repositories.

[2020-09-16 07:59] tharders commented on #4522
The problem with the escaped html entities in the recommendation text and status banner are related to this bug: https://github.com/ampproject/amphtml/issues/27153

[2020-09-16 08:07] tharders opened #4551 "pixi loading indicator hidden to early for "Take action" status"
When the core web vitals data is filled all the loading indicators inside are hidden.
But the "Take action" is still in status "Analyzing" (now without the needed loading indicator dots) because the recommendations are not available yet.

[2020-09-16 11:12] #4451 closed

[2020-09-16 11:12] #4542 closed

[2020-09-16 11:13] #4514 closed

[2020-09-16 12:26] #4544 closed

[2020-09-16 13:45] #4528 closed

[2020-09-16 13:50] #4529 closed

[2020-09-16 13:53] matthiasrohmer opened #4558 "Initializing playground with URL throws an error"
![Bildschirmfoto 2020-09-16 um 15 52 55](https://user-images.githubusercontent.com/12857772/93346907-c5476600-f834-11ea-899d-cfe8566d074e.png)

[2020-09-16 16:18] caroqliu opened #4561 "Pixi: Share dialog page is not localized"
It looks like it doesn't have access to the {{ pixi.staticText }} state, but we need it for "Success" and "Copy to clipboard":
https://github.com/ampproject/amp.dev/blob/8de73e5e99fce7b906fdcbc8b42ba36dbcdb333e/pages/content/shared/copy-pixi-url.html#L45-L67

cc @tharders

[2020-09-16 16:24] #4490 closed

[2020-09-16 16:24] #4492 closed

[2020-09-16 16:29] caroqliu commented on #4470
@nainar Do you mean smaller in width?

[2020-09-16 17:08] morsssss opened #4564 "Document "low-trust" events"
I discovered that we have this "trust" concept when, for the first time, I saw an error message that referred to it. Hunting around the amphtml repo, I found a few issues and [this file](https://github.com/ampproject/amphtml/blob/master/src/action-constants.js) that refer to it.

So far, I only see the idea referred to obliquely in the [Actions and events page](https://amp.dev/documentation/guides

[2020-09-16 17:32] morsssss opened #4565 "Playground: <amp-bind> not autoimported"
It's pretty awesome that the AMP playground auto-imports the scripts needed to run AMP components!

But as far as I can tell it doesn't do so for `<amp-bind>`. You can see this, for example, in [this `<amp-script>` example](https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fcomponents%2Famp-script%2F20&format=websites&_gl=1*7i9rvn*_ga*YW1wLW5JWnZlT09hRlFLaGx

[2020-09-16 17:34] morsssss opened #4566 "Playground: "Cannot read property '0' of null""
I'm not sure what's causing this error to be emitted. I don't see missing functionality!

But whenever I open the AMP playground, I see this error in the Console. It finally concerned me enough to report it.

![Screen Shot 2020-09-16 at 1 34 24 PM](https://user-images.githubusercontent.com/29419498/93372079-61677200-f821-11ea-9135-73a17fbcdabd.png)

[2020-09-16 17:35] matthiasrohmer commented on #4565
I know, that's a shame: https://github.com/ampproject/amp.dev/issues/3911 ... 😅

[2020-09-16 17:35] #4565 closed

[2020-09-16 17:36] matthiasrohmer commented on #3911
@morsssss brought this up again in https://github.com/ampproject/amp.dev/issues/4565 - Ben, the only option seems be to extend the parser and look for bindable attributes just as the amp-optimizer does.

I'll prioritize this for after Pixi. 🙂

[2020-09-16 18:22] matthiasrohmer commented on #4566
Duplicate of #4558, planned to look into this tomorrow 🙂

[2020-09-16 18:22] #4566 closed

[2020-09-16 18:58] morsssss commented on #3911
thanks @matthiasrohmer !

[2020-09-16 19:01] morsssss commented on #4251
@matthiasrohmer , I wonder if this is something else we can look at after Pixi?

[2020-09-16 19:16] #4493 closed

[2020-09-16 19:16] #4498 closed

[2020-09-16 19:28] caroqliu commented on #4445
Updated issue name to resolve both the original issue (scrollbar) and a related issue (need to update intro text layout)

[2020-09-16 19:32] caroqliu opened #4567 "Pixi: Recommendation item titles should be in a header"
Actual:
![image](https://user-images.githubusercontent.com/10456171/93383469-aeebdb00-f831-11ea-9811-6e0961807ba7.png)

Appears related to #4563

[2020-09-16 21:07] caroqliu commented on #4502
@nainar What do you think about for SRs to hide the visual purely as decorative with the following additional points of reference:
- `Your score: ` is updated to `Your score at the 75th percentile: `
- `Opportunity to improve: ` for field data is updated to `Passing pages: X%`
- Make the Good and Needs Improvement thresholds available in the info text, i.e. "Page scores of <= 2.5s are Good, 2.5–4s

[2020-09-16 21:20] shishirm commented on #4297
Thanks for the details @cpauwels. Running this up the flagpole to confirm nothing untoward and will then create a PR to update amp.dev.

[2020-09-16 21:20] morsssss opened #4570 "Staging server not up to date"
I got this while trying to run tests on camp.samples.amp.dev. This worked the last time I did it - so I'm not sure why it failed this time!

However, I do see two errors in the console:

![image](https://user-images.githubusercontent.com/29419498/93393580-c3839f80-f840-11ea-8c0e-08b51129e886.png)

Sadly the JS there is minified. Here's what it looks like to me:

![image](https://user-images.github

[2020-09-16 21:23] morsssss opened #4571 "Pixi: unsightly blue border around accordion headers"
This should be an easy fix, at least!

I see this on Chrome on my Mac.

![image](https://user-images.githubusercontent.com/29419498/93393887-49074f80-f841-11ea-8670-8c3b27ec01da.png)

[2020-09-16 21:23] patrickkettner commented on #4570
you may be hitting after [this change](https://github.com/ampproject/amp.dev/pull/4563). Are you up to date on the repo and node modules?

[2020-09-16 21:26] morsssss opened #4572 "Pixi: "Take action" stuck at "Analyzing""
I saw this while analyzing camp.samples.amp.dev on my Mac on ChromeOS:

![image](https://user-images.githubusercontent.com/29419498/93394059-9388cc00-f841-11ea-8f46-2a9c2c98c912.png)

I also see this error in the Console:

![image](https://user-images.githubusercontent.com/29419498/93394085-9f748e00-f841-11ea-8273-cd87ef5012ed.png)

Here's the minified JS that threw the error:

![image](https://us

[2020-09-16 21:27] patrickkettner commented on #4572
dupe of #4570

[2020-09-16 21:28] #4572 closed

[2020-09-16 21:28] shishirm commented on #4474
Thank you for filing this. We will start the review process and provide any feedback by the end of the week.

[2020-09-16 21:29] morsssss opened #4573 "Pixi: open link in recommendation in a new tab"
If I get excited and click on a link in one of the recommendations, it opens in the same tab. I think this is not desirable - because if I then want to go back and see more recommendations, and I use the browser "back" button to do so, I have to analyze the site all over again.

Contrast this with [PageSpeed Insights](https://developers.google.com/speed/pagespeed/insights), which opens links in a

[2020-09-16 21:32] morsssss opened #4574 "Pixi: when returning to page, "Analyze" button is disabled"
Steps to reproduce:

1. Use Pixi to analyze a URL. Yay!
1. Get excited about a recommendation and click on a link therein. Browser navigates to new page.
1. Use browser's "back" button to return to Pixi to see more recommendations.
1. You have to analyze the page all over again, unfortunately. But, worse still, the "Analyze" button is disabled even though there's a valid URL in the input. The inpu

[2020-09-16 21:33] morsssss commented on #4570
That was a quick response!

I'm using the staging link, so, probably not :)

[2020-09-16 21:36] patrickkettner commented on #4570
how do you mean?

[2020-09-16 21:41] morsssss commented on #4570
I mean, I didn't build this on my machine. I'm accessing Pixi here:

https://amp-dev-staging.appspot.com/page-experience/

[2020-09-16 22:08] patrickkettner commented on #4571
@PeterSaathoff-Harshfield is this ok to hide?

[2020-09-16 22:36] patrickkettner commented on #4466
@kevinkimball would you be able to weigh in on a better pattern to use for a dismiss-able banner?

[2020-09-16 22:48] patrickkettner commented on #4570
ah! looks like deploys were broken, ill check it out

[2020-09-16 23:19] patrickkettner commented on #4570
fixed! closing

[2020-09-16 23:19] #4570 closed

[2020-09-16 23:34] patrickkettner commented on #4251
@morsssss can you explain 1 more? All of the `<script>`s are one lined on the linked page. Can you share a screenshot of an affected example

[2020-09-16 23:52] morsssss commented on #4251
Yeah, you're right. It must have started working at some point, because even in the screenshot I included here, it works 🙄

Sorries!

It would be great to fix #2, though. Until we do, people will think that we don't know how to format JavaScript 😬

[2020-09-16 23:59] patrickkettner commented on #4251
that actually [appears to be by design](https://github.com/ampproject/amp.dev/blob/945c63f0846317806b98b0e397368c317ae07ccc/platform/lib/samples/CodeSection.js#L254-L265).

If you have anything other than the string "<div>", it won't be removed

[2020-09-17 00:03] morsssss commented on #4251
That's not what I mean, though! I mean, that the following issues occur:

1. Vertical spaces are sometimes removed from the JavaScript
1. The code gets indented 4 spaces instead of 2, which isn't a big deal, except that then the closing `</script>` tag is indented incorrectly.

[2020-09-17 00:04] morsssss commented on #4251
And, wait... I found a couple of examples where #1 above is still true: that the `<amp-script>` attributes each get stuck on their own line. See [here](https://amp.dev/documentation/examples/components/amp-script/#interacting-with-%3Camp-state%3E) and [here](https://amp.dev/documentation/examples/components/amp-script/#interacting-with-amp-components).

[2020-09-17 00:07] patrickkettner commented on #4251
ah! you want &lt;__amp__-script&gt; to be the same line? In that case, you'd want to add `amp-script` to the same array as `script`

[code]

[2020-09-17 00:16] patrickkettner commented on #4251
Rereading, I am not sure we are on the same page. I'll try to summarize, can you correct what is wrong, @morsssss?

a. you want the attributes for `<script>` and `<amp-script>` elements to be on one line.
b. Vertical spaces are sometimes removed from `<amp-script>` samples
c. `<amp-script>` demos get indented incorrectly in some instances.

Is there anything else?

[2020-09-17 01:19] morsssss commented on #4251
I'm sorry. I'm just an idiot. Or trying to do too many things at once.

Since I keep mistaking the `<amp-script>` attributes on different lines for an error, when in fact I deliberately chose not to include that tag in the `unformatted` array: what do you think? Do you prefer them on separate lines? Or on one line?

"b" and "c" up there is what I meant, yes.

[2020-09-17 01:21] patrickkettner commented on #4251
don't have a strong feeling either direction, but in general new line if it is important, same line if it isn't

do you have an example of b and/or c?

[2020-09-17 12:18] tharders commented on #4522
The provided fix keeps some problem open.
We still need to convert markdown for the text we get from Lighthouse.
The problem there is that we cannot even ensure that the text does not contain certain characters.
The other problem is that there is another [issue](https://github.com/ampproject/amphtml/issues/30273) with amp-script and innerHTML when we use `<pre>` tags which we get when we have code

[2020-09-17 13:13] #4561 closed

[2020-09-17 13:19] #4567 closed

[2020-09-17 13:27] caroqliu commented on #4574
This should be fixed by #4560 which no longer allows disabling the button

[2020-09-17 14:02] caroqliu commented on #4574
True true, though that's mentioned in #4573

[2020-09-17 14:21] morsssss commented on #4574
This is true!

I'm gratified by your prompt attention to the issues I raised just yesterday. If it's useful, I'll do another QA pass tomorrow :)

[2020-09-17 15:44] morsssss commented on #4251
For b/c, sure! See [this sample](https://amp.dev/documentation/examples/components/amp-script/#multiple-fetches).

[2020-09-17 17:11] kevinkimball commented on #4466
@patrickkettner Since it's a notification and dismissable, could use a fixed position below the navigation bar? Not sure how desirable it would be from the UI perspective but it would resolve the layout shift issue

[2020-09-17 18:29] caroqliu commented on #4501
Note also that these color values were updated in #4579 and still meet the 3:1 contrast as discussed above.

[2020-09-17 18:30] caroqliu commented on #4543
@nainar Is there copy available for the second point above? Can this go in the info tip?

[2020-09-17 18:39] PeterSaathoff-Harshfield commented on #4502
This looks like a good solution.
I see blue text in your screenshot, just want to make sure that meets the 4.5:1 (or 3:1 if it's large enough) contrast ratio.

[2020-09-17 18:43] caroqliu commented on #4502
Thanks for the feedback! Yep, the blue is 5.64:1 contrast ratio.

I'll make these changes now.

[2020-09-17 18:47] PeterSaathoff-Harshfield commented on #4571
No, the keyboard focus ring is essential for keyboard-only use and every keyboard-focusable control must have a visible focus ring or style. If you want, you can design a custom focus style that looks different, as long as it's clearly visible.
I've heard there is some way to hide it when the mouse clicks on the control (and thus moves keyboard focus there), but I don't know how that's accomplishe

[2020-09-17 20:52] nainar commented on #4470
yes

[2020-09-17 21:13] nainar commented on #4543
@patrickkettner did you want this in the info tip or on the screen.

`This data updated daily for the trailing 28-day period.`

[2020-09-17 21:14] patrickkettner commented on #4543
more prominent the better,imo

[2020-09-17 21:40] morsssss commented on #4571
Got it! I thought it was an example of a common bug, where someone doesn't disable the browser's natural inclination to place a border around a focused element. It makes sense to me that we need this for accessibility.

In that case, I'm no designer - but right now it looks to me like it's a bug. I think it would be best to at least provide some padding so the box didn't touch text in the containe

[2020-09-18 07:02] tharders opened #4591 "Remove workaround for innerHTML entity escaping when possible"
Once the amp-script [issue](https://github.com/ampproject/amphtml/issues/27153) that entities in the `innerHTML` are shown escaped is at least partly addressed we should remove the entity replacing introduced [here](https://github.com/ampproject/amp.dev/pull/4578) in order to have real working code snippets in the pixi recommendations.

[2020-09-18 07:13] #4502 closed

[2020-09-18 07:16] #4573 closed

[2020-09-18 13:13] #4574 closed

[2020-09-18 14:38] #4551 closed

[2020-09-18 14:43] caroqliu opened #4593 "Pixi: add line breaks when separate info tip paragraphs"
Current:
![image](https://user-images.githubusercontent.com/10456171/93611045-cb0b8b80-f99b-11ea-815b-1aeba8f39a4f.png)

[2020-09-18 15:58] nainar opened #4595 "Pixi: Ensure Pixi works on IE 11"
Blocked by https://github.com/ampproject/worker-dom/issues/217

[2020-09-18 16:24] PeterSaathoff-Harshfield commented on #4571
Unfortunately I think this is  a common misconception that focus rings should be hidden, so it's important to understand why they exist..
The ideas around adjusting the padding are good, just beware that different browsers draw the ring in slightly different ways.

[2020-09-18 19:14] caroqliu commented on #4500
Having trouble trapping focus after trying the following approaches:
## Prevent Tab key from leaving focus
event.preventDefault() not supported in worker-dom

## Cycle from last element to first and vice versa to trap focus
Element.focus() not supported in worker-dom

## Count focused location among focusable elements
- Start count at 0
- Increase by 1 with `Tab`
- Decrease by 1 with `Shift` + `Ta

[2020-09-18 19:30] caroqliu commented on #4500
Having trouble trapping focus after trying the following approaches:
## Prevent Tab key from leaving focus
[Sample change](https://github.com/ampproject/amp.dev/commit/9ffc21027f2516309241f6f2c2fe81d2adda9d18) - event.preventDefault() not supported in worker-dom

## Cycle from last element to first and vice versa to trap focus
Element.focus() not supported in worker-dom

## Count focused location

[2020-09-19 00:27] patrickkettner commented on #4571
@matthiasrohmer does ferdi have a design for focus rings? I don't see it in Zeplin, and therefore am not sure if this is working as intended or needs a different design implemented?

[2020-09-21 09:41] shishirm commented on #4297
Filed https://github.com/ampproject/amp.dev/pull/4599 to close this out.

[2020-09-21 12:50] #4558 closed

[2020-09-21 13:22] matthiasrohmer opened #4602 "Pixi: do not show CTAs for non-AMP pages"
![Bildschirmfoto 2020-09-21 um 15 20 41](https://user-images.githubusercontent.com/12857772/93771641-13d27700-fc1e-11ea-900c-4a936afa7dfd.png)

[2020-09-21 13:42] matthiasrohmer opened #4604 "Pixi: consolidate error handling"
There are cases were Pixi might fail during runtime without a exact user error for example when `AMP.getState` calls are failing, APIs returning unexpected responses, `amp-script` computations taking too long and triggering script shutdown, ...

We already handle some of them (sometimes with a simple `console.error`) but we should provide more helpful user feedback for those cases.

See https://gi

[2020-09-21 14:32] caroqliu commented on #4500
Chatted with @PeterSaathoff-Harshfield with the following resolution:

While the close button is unnecessary I may still include it -- in that case we would have a toggle question mark and a toggle off close button. Implemented in #4607

[2020-09-21 15:05] caroqliu opened #4608 "Pixi: Mobile view status covers "Core Web Vitals" headline"
![image](https://user-images.githubusercontent.com/10456171/93783942-55e9c180-fbfa-11ea-8aa8-b3a13ed6a796.png)

[2020-09-21 15:46] caroqliu commented on #4571
Looks like there has been more padding added recently
![image](https://user-images.githubusercontent.com/10456171/93789586-0ad2ad00-fc00-11ea-9ae6-bd169883d70c.png)

[2020-09-21 20:05] nainar opened #4615 "Pixi: Highlight that AMP Optimizer is the best solution we have to offer"
The AMP Optimizer is the easiest solution we have to offer to address a large variety of issues - can we highlight that in some way?

![Uploading Screen Shot 2020-09-21 at 1.05.50 PM.png…]()

[2020-09-21 20:09] nainar opened #4616 "Pixi: Polish for values in Lab test"
![Screen Shot 2020-09-21 at 1 02 05 PM](https://user-images.githubusercontent.com/7919520/93815854-84bc6380-fc0b-11ea-925e-3532c9f1a7c4.png)

This needs the following fixes:
- Values to the far right are falling outside the CWV container
- The arrows point down instead of the right
- The CLS value 0.00 is coloured orange instead of green

Page tested: https://www.bonappetit.com/story/food-business

[2020-09-21 20:13] caroqliu commented on #4477
@tharders https://u.today/guides/crypto-mining/top-10-best-cloud-mining-sites-in-2020 is still resolving to invalid URL:
![image](https://user-images.githubusercontent.com/10456171/93816275-4fbd0a80-fc25-11ea-8516-e90db319b814.png)

Let's use the URL class to fix this. It is already being used elsewhere, so it doesn't make support *worse*.

[2020-09-21 20:54] caroqliu commented on #4616
Steps to reproduce the `6.5s` beyond the max:
- Analyze https://amp-dev-staging.appspot.com/page-experience/?url=https://amp.dev
- Wait until lab results come in for the given URL
- In the same page instance, change the input URL to https://www.bonappetit.com/story/food-businesses-covid-19/amp and run "Analyze"
- Observe numbers may be on the wrong side of their indicators.

[2020-09-21 20:59] caroqliu commented on #4458
New info thanks to #4601:
![image](https://user-images.githubusercontent.com/10456171/93820857-c52bd980-fc2b-11ea-83a1-686b3ad479ff.png)

I believe the original issue no longer surfaces but we should keep this open for next steps.

[2020-09-22 01:20] nainar opened #4619 "Pixi: Stop showing `File an issue with AMP` if metric is good"
We are currently showing the `File an issue with AMP` prompt even if the metric is good.

![Screen Shot 2020-09-21 at 6 20 08 PM](https://user-images.githubusercontent.com/7919520/93836289-18eff000-fc37-11ea-95a0-0766dc7f59ff.png)
Tested: https://www.axios.com/

[2020-09-22 01:23] nainar opened #4620 "Pixi: Failing AMP validation"
Make sure that Pixi passes AMP validation. The loading page and the results page both fail validation currently

[2020-09-22 01:29] nainar opened #4621 "Pixi: Shouldn't show Fixit now for non AMP URLs"
See: https://www.nytimes.com/2020/09/21/us/politics/trump-supreme-court.html

![Screen Shot 2020-09-21 at 6 28 18 PM](https://user-images.githubusercontent.com/7919520/93836662-5739df00-fc38-11ea-909f-64d5dc897f28.png)

[2020-09-22 12:43] #4616 closed

[2020-09-22 12:46] #4593 closed

[2020-09-22 13:31] caroqliu opened #4633 "Pixi: File a GH issue template link should fill out scores in the issue message"
Instead of linking to the empty template, since we have the data available for them already.

[2020-09-22 13:43] g00dv1n commented on #4474
@shishirm
Any updates?

[2020-09-22 13:52] caroqliu commented on #4458
@matthiasrohmer
Another where the error comes from share:
![Screen Shot 2020-09-22 at 9 50 07 AM](https://user-images.githubusercontent.com/10456171/93891310-4aa99b00-fcb9-11ea-8983-d776a8268e8d.png)

It also appears the share field is empty:
![Screen Shot 2020-09-22 at 9 51 19 AM](https://user-images.githubusercontent.com/10456171/93891326-4e3d2200-fcb9-11ea-98e7-9ccf78496d6c.png)

Note that this

[2020-09-22 14:38] #4602 closed

[2020-09-22 14:41] caroqliu commented on #4500
@PeterSaathoff-Harshfield This fix is now available in https://amp-dev-staging.appspot.com/page-experience/, can you please comment once verified?

[2020-09-22 14:52] caroqliu commented on #4522
Marking this as fixed with followup issue #4591 once https://github.com/ampproject/worker-dom/pull/947 is available.

[2020-09-22 14:53] #4522 closed

[2020-09-22 15:26] matthiasrohmer opened #4634 "Pixi: track engagement for tooltips"
via @patrickkettner

[2020-09-22 15:44] caroqliu commented on #4604
Related: https://github.com/ampproject/amphtml/pull/27948

[2020-09-22 15:45] caroqliu commented on #4621
Fixed by #4613

[2020-09-22 15:45] #4621 closed

[2020-09-22 16:45] caroqliu opened #4635 "Pixi: Red section missing in lab data scales"
![image](https://user-images.githubusercontent.com/10456171/93912256-7fc1e780-fcd1-11ea-8032-7f70216741f5.png)

[2020-09-22 16:49] PeterSaathoff-Harshfield opened #4636 "[Accessibility] Screen readers can access hidden elements in field/lab data tabs"
Environment:
Any OS/browser and screen reader (such as VoiceOver, NVDA, or ChromeVox)

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. Enter a valid URL (that needs improvement) and press Analyze
3. Turn on screen reader
4. Navigate to the field data/lab data tabs and navigate past them

Expected:
Screen readers should go to this text following the field data an

[2020-09-22 16:51] PeterSaathoff-Harshfield commented on #4500
Looks good 👍

[2020-09-22 16:52] caroqliu commented on #4635
Ah, looks like we forgot to rename `guardsman-red` in `frontend/scss/_variables.scss` #4627

[2020-09-22 16:53] caroqliu commented on #4500
Thank you!!

[2020-09-22 16:53] #4500 closed

[2020-09-22 17:15] nainar opened #4638 "Pixi: Mobile view with no field data has a bunch of space"
![Screen Shot 2020-09-22 at 10 14 37 AM](https://user-images.githubusercontent.com/7919520/93915171-74b08c80-fcbc-11ea-8a70-4cf7bd950698.png)

Run: https://www.axios.com/joe-biden-kamala-harris-vice-president-e2109284-944c-4053-b506-9735e261e3ff.html

I know there isn't anything easy that we can do here but filing as a Low Pri fix

[2020-09-22 17:19] nainar opened #4640 "Pixi: Mobile view - code snippets should be wrapped"
![Screen Shot 2020-09-22 at 10 18 23 AM](https://user-images.githubusercontent.com/7919520/93915532-09b38580-fcbd-11ea-853c-f4f39f3830e8.png)

Site tested: https://www.washingtonpost.com/sports/2020/08/07/derrius-guice-arrested/?outputType=amp

[2020-09-22 17:22] nainar opened #4641 "Pixi: turn autocomplete on input bar off?"
https://screenshot.googleplex.com/8W3RC5Zn2ahGxzq

[2020-09-22 17:30] caroqliu commented on #4641
@nainar What browser is this? This should be fixed by adding `autocomplete="off"` onto the input element.

[2020-09-22 18:10] #4635 closed

[2020-09-22 18:11] #4636 closed

[2020-09-22 18:53] zewenliang commented on #4641
That was my screenshot. If it helps I am using Chrome with version 85.0.4183.102.

Yes turning off the autocomplete can be an immediate workaround. But I think it is also helpful if the autocomplete dropdown can remember the recent ones I put here before. It was just that the URLs showed in my screenshot has nothing to do with my recent activity - i don't know where those 3 URLs were coming from.

[2020-09-22 19:07] nainar opened #4645 "Pixi: Add new recommendation - use CDN to improve TTFB"
This will be hard to do however, we should encourage folks to use a CDN to improve TTFB.

Potential suggestion: regex to check for common CDNs?

[2020-09-22 19:14] nainar commented on #4645
@cramforce has a much smarter idea:

dig $hostname
whois A-record from that

Hope for

[code]

[2020-09-22 20:02] caroqliu commented on #4620
After #4648 these are the remaining validator issues via the Chrome extension on the local server version of the page:
![image](https://user-images.githubusercontent.com/10456171/93931078-56628500-fcec-11ea-915c-063e5226ad4e.png)

However I am not seeing the same issues on validator.amp.dev for the staging URL, so will take another look once the first PR is in.

[2020-09-22 20:26] shishirm commented on #4474
Hello. We're still working on this. Will get back to you with feedback hopefully in a couple of days, if not earlier.

[2020-09-22 22:01] kevinkimball opened #4650 "Repeated CSS on amp.dev"
## 🐛 Bug Report

### Current behavior

The custom style tag for amp includes this snippet repeated nearly 100 times:

[code]

Please also provide:
- Page link: amp.dev
- (Optional) Screenshots/videos:
<img width="671" alt="Screen Shot 2020-09-22 at 3 00 07 PM" src="https://user-images.githubusercontent.com/6886483/93941977-59f20e00-fce4-11ea-81c4-35c177696566.png">

### Expected behavior/code
This

[2020-09-23 03:37] cramforce commented on #4645
I was bored so I made this https://gist.github.com/cramforce/856657aec317aaced9a3154a67c66a08

[2020-09-23 05:25] nainar opened #4651 "Pixi: GH template on amphtml repo isn't filled in properly"
Let's make sure that the GH issue that we file from Pixi is filled in with the values for all the metrics properly.

[2020-09-23 05:25] #4651 closed

[2020-09-23 08:19] #4650 closed

[2020-09-23 08:22] matthiasrohmer commented on #4650
Thanks for the report, @kevinkimball! Fixed this in #4652. The loading indicator is actually only used in the playground and SASS seems to have done weird stuff with unused `@extends` when compiling amp.dev's CSS.

[2020-09-23 11:50] #4619 closed

[2020-09-23 12:16] matthiasrohmer commented on #4445
Resolved by #4654.

[2020-09-23 12:16] #4445 closed

[2020-09-23 12:24] matthiasrohmer commented on #4571
@patrickkettner, sorry didn't see this. No there is no dedicated design but I think we agreed to stick with browser defaults. Robin added some more padding though to make it look more decent as Caroline correctly pointed out 🙂

[2020-09-23 12:24] #4571 closed

[2020-09-23 12:28] matthiasrohmer commented on #4591
Relevant changes have been reset.

[2020-09-23 13:54] caroqliu commented on #4651
@nainar Is this supposed to be closed?

[2020-09-23 14:14] matthiasrohmer commented on #4651
I guess it's a duplicate of https://github.com/ampproject/amp.dev/issues/4633. 🙂

[2020-09-23 16:40] nainar opened #4662 "Pixi: remove GH prompt if page is failing px"
<img width="696" alt="Screen Shot 2020-09-23 at 7 15 10" src="https://user-images.githubusercontent.com/7919520/94042710-c1f63200-fd80-11ea-82f9-469ddd693e9b.png">

Remove everything after "Don't fret ... improve!"

Also make sure this is removed from all translations

[2020-09-23 16:48] nainar opened #4664 "Pixi: Make no field data status more actionable"
<img width="676" alt="Screen Shot 2020-09-23 at 7 18 37" src="https://user-images.githubusercontent.com/7919520/94043185-64161a00-fd81-11ea-88b7-17e9d0b44b38.png">

From @cramforce: `I think we can make this error state much more actionable. For most sites, what they should do is instead select a more popular URL from their site and try again.`

Suggested text:
`Unfortunately, we do not have suffi

[2020-09-23 16:51] kevinkimball opened #4665 "Remove position: sticky from AMP logo in header"
## 🐛 Bug Report

### Current behavior
The anchor tag wrapping AMP logo within the sticky header is also marked as sticky. This causes the browser to lay it out as a separate layer. Having too many layers can degrade performance and increase rendering time.

Please also provide:
- Page link: amp.dev
- (Optional) Screenshots/videos:
<img width="230" alt="Screen Shot 2020-09-23 at 9 42 45 AM" src="ht

[2020-09-23 16:54] nainar opened #4666 "Pixi: image/resource specific advice should tell you what images/resources are effected"
Current:
<img width="707" alt="Screen Shot 2020-09-23 at 7 12 30" src="https://user-images.githubusercontent.com/7919520/94044202-b146bb80-fd82-11ea-9eca-63c08decd1ad.png">

This should be similar to the way PSI does it.

[2020-09-23 16:57] nainar opened #4667 "Pixi: Loading page info text is not laid out correctly in responsive layouts"
<img width="719" alt="Screen Shot 2020-09-23 at 7 09 39" src="https://user-images.githubusercontent.com/7919520/94044609-3c27b600-fd83-11ea-9ba7-9a540ed1fcd9.png">

[2020-09-23 16:59] nainar opened #4668 "Pixi: Make loading page information text more digestible."
<img width="719" alt="Screen Shot 2020-09-23 at 7 09 39" src="https://user-images.githubusercontent.com/7919520/94044712-5c577500-fd83-11ea-9baf-e538395f2f1e.png">

From @cramforce: To me that page has always been a bit problematic. Are we looking at replacing the blob of text to be more readable? Just bullet points might help, but ideally with pictograms or something like that. Right now it looks

[2020-09-23 16:59] #4543 closed

[2020-09-23 17:00] kevinkimball commented on #4665
I actually see that the hamburger menu (which is not currently located inside of the header) is also affected by this since it is using position: fixed. This also causes a jump during loading where the hamburger moves up and down independently of the sticky header.

<img width="379" alt="Screen Shot 2020-09-23 at 9 55 49 AM" src="https://user-images.githubusercontent.com/6886483/94044850-8ad55000-

[2020-09-23 17:31] nainar opened #4669 "Pixi: Analyze button doesn't work after you hit a cached page."
Once you hit a cached page - you get this banner:
<img width="701" alt="Screen Shot 2020-09-23 at 7 19 39" src="https://user-images.githubusercontent.com/7919520/94047944-a04c7900-fd87-11ea-9d16-da89b44c1fb7.png">

However, when you enter a new URL in the bar and try to hit `Analyze` the button doesn't work.

There is nothing in the Console.

[2020-09-23 17:42] kevinkimball opened #4670 "Homepage news carousel should use amp-carousel"
## 🐛 Bug Report

### Current behavior
The news carousel on the amp.dev homepage does not use amp-carousel (it uses CSS)

Please also provide:
- Page link: amp.dev
- (Optional) Screenshots/videos:
<img width="431" alt="Screen Shot 2020-09-23 at 10 39 54 AM" src="https://user-images.githubusercontent.com/6886483/94049057-46e54980-fd89-11ea-9043-7cc614c39ed9.png">

### Expected behavior/code
We shoul

[2020-09-23 17:56] jaygray0919 commented on #4670
Agree!

[2020-09-23 18:30] nainar commented on #4651
Yup what Matthias said.

[2020-09-23 19:14] Gregable opened #4671 "Missing documentation on data-ampdevmode"
## 📖 Missing or Out-of-Date Documentation

### Problem
We should document somewhere the behavior of `data-ampdevmode`.

### Location
I don't have a strong opinion. Mostly this would be critical for search requests.

### Content type
Reference probably.

### Information architecture (optional)
Here's where the attribute was introduced:
https://github.com/ampproject/amphtml/issues/20974

It was orig

[2020-09-23 19:46] caroqliu commented on #4666
Ex:
![image](https://user-images.githubusercontent.com/10456171/94061779-d4d62a00-fdb3-11ea-92a9-79dd17cdf180.png)

[2020-09-23 20:19] caroqliu commented on #4620
Verified this is OK in staging now by both @nainar and myself

[2020-09-23 20:19] #4620 closed

[2020-09-23 21:28] caroqliu commented on #4669
Does this behavior also occur when giving an invalid AMP page? If so it is likely related to the button being disabled so as to disallow spamming "Enter" when results are actually loading. We should be sure not to run other tests when the linter returns with these cases.

[2020-09-23 21:29] nainar opened #4675 "Pixi: Add Analytics support"
Add analytics support for the following
 - [ ] How many people used this page
 - [ ] How many many people viewed the recommendations section overall - GA viewability trigger
 - [ ] How often Share button is used
 - [ ] Clicking on take action: x recommendations option
 - [ ] Clicking on Filing GH issue
 - [ ] HOW TO TRACK THAT PEOPLE ARE SEEING SUCCESS WITH PIXI?

[2020-09-24 05:39] #4662 closed

[2020-09-24 06:10] patrickkettner commented on #4595
can we fall back to SSR and server side API calls? Or would that be onerous

[2020-09-24 06:43] tharders commented on #4477
The URL https://u.today/guides/crypto-mining/top-10-best-cloud-mining-sites-in-2020 results in a 404 Error.
This is not related to the initial URL validation, but a status that is shown when the linter does not get a success response.

I have tried to use the URL class to validate the entered URL, but that collides with allowing urls without http:// or https:// prefix. Currently you can simply ent

[2020-09-24 08:28] matthiasrohmer commented on #4671
After Ben's recent rewrite of the amp-script docs theres actually a tip at the end of the [Calculating the script hash](https://amp.dev/documentation/components/amp-script/#calculating-the-script-hash) section but maybe we can have it somewhere more prominent...

/cc @morsssss

[2020-09-24 08:36] matthiasrohmer commented on #4665
Thanks for your research on this! I guess the weird layering behavior is a relict from when we used `input`s to toggle the burger-menu state.

I'll have a closer look next week to see how things could be simplified.

[2020-09-24 08:38] #4470 closed

[2020-09-24 08:38] #4608 closed

[2020-09-24 10:55] robinvanopstal commented on #4667
Resolved by: #4656

[2020-09-24 10:55] #4667 closed

[2020-09-24 12:49] #4640 closed

[2020-09-24 13:10] morsssss commented on #4671
Agreed! This attribute isn't documented at all. I made an issue for this a little while ago: https://github.com/ampproject/amp.dev/issues/4215

Closing this as a duplicate.

[2020-09-24 13:10] #4671 closed

[2020-09-24 13:20] matthiasrohmer commented on #4666
Four recommendations seem to be affected by this:

## `uses-webp-images`
[code]

## `uses-optimized-images`
[code]

## `offscreen-images`
[code]

## `uses-responsive-images`
[code]

[2020-09-24 13:49] #4641 closed

[2020-09-24 14:14] caroqliu commented on #4666
Clarified with @nainar that this can just be a list of image source urls with the label "Images to consider". (This means no need to show thumbnail, resource size, or potential savings.)

Additionally I believe it would also be helpful to surface font sources under "Fonts to preload".

[2020-09-24 15:45] caroqliu commented on #4477
@tharders Good catch, in that case let's consider this issue resolved. :)

[2020-09-24 15:45] #4477 closed

[2020-09-24 16:48] kevinkimball commented on #4665
@matthiasrohmer No problem. Just to give you some context, Kristofer asked me to help ensure amp.dev will pass CWV before the Pixi launch.

[2020-09-24 16:56] o-fernandez opened #4686 "List Web Stories for WordPress on site"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

Web Stories for WordPress

### Type

Use [x] to mark a selection:

- [x] Story Creation Tool
- [ ] CMS
- [ ] Platform
- [ ] Other

### URL

< Insert URL to Tool/CMS/Platform here >

http://wp.stories.google/
https://wordpress.org/plugins/web-stories/

### Image

< Please provide a screenshot of yo

[2020-09-24 19:17] nainar commented on #4675
We should also track API failure

[2020-09-24 20:43] caroqliu opened #4687 "Pixi: Next advice button should set "aria-expanded" on header"
The `aria-expanded` attributes set here:
https://github.com/ampproject/amp.dev/blob/cc2b5862a7a290be82e0a843aaa0b9cfb3284c4e/pixi/src/ui/recommendations/RecommendationsView.js#L201-L206

Should actually be set on the `header` element (`#header-${id}`) rather than the `recommendation` element (`#recommendation-${id}`) -- sorry about this mixup!

[2020-09-24 23:40] nainar commented on #4686
@CrystalOnScript is there a process by which we add tools?

[2020-09-24 23:41] nainar commented on #4669
@caroqliu yes it happens on invalid and non AMP pages as well.

[2020-09-24 23:43] nainar opened #4689 "Pixi: Are there any LH recommendations that we should port over to Pixi?"
For e.g. `Avoid an excessive DOM size
<img width="489" alt="Screen Shot 2020-09-24 at 4 43 10 PM" src="https://user-images.githubusercontent.com/7919520/94210979-1551a880-fe85-11ea-900b-f4cfe6f0ed37.png">
`

[2020-09-24 23:43] patrickkettner commented on #4686
They get approved by @shishirm

On Thu, Sep 24, 2020 at 7:40 PM Naina Raisinghani <notifications@github.com>
wrote:

--
patrick

[2020-09-24 23:44] nainar commented on #4686
Do we need approvals given this is in house?

[2020-09-24 23:45] nainar opened #4690 "Pixi: Can we attach a LH report and perf trace with the GH issue that Pixi files?"
This will help the AMP Perf WG debug easily.

Nice to have.

cc @kevinkimball @ampproject/wg-performance

[2020-09-24 23:55] nainar opened #4691 "Pixi: Can we look into making the headers sticky?"
Can we make the `Core Web Vitals` and `Take action. Improve your AMP site` headers sticky so that the developer has some framed context for what they are looking at?

[2020-09-24 23:56] nainar opened #4692 "Pixi: Can we animate the accordions collapsing and expanding?"
The accordions don't animate between collapsed and expanded state.

[2020-09-24 23:59] nainar opened #4693 "Pixi: If PSI stops reporting AMP specific advice we should resort to having our own copy of that advice"
PSI may redirect to Pixi for AMP pages. In those case we should have our own copy for any AMP specific advice.

[2020-09-25 00:17] nainar opened #4694 "Pixi: Normalize 0.00 CLS value to 0"
<img width="247" alt="Screen Shot 2020-09-24 at 5 17 08 PM" src="https://user-images.githubusercontent.com/7919520/94212717-cd815000-fe89-11ea-9d35-f1a406fadc74.png">

[2020-09-25 00:19] nainar opened #4695 "Pixi: If CWV metric is met and there are no recommendations - celebrate!"
<img width="345" alt="Screen Shot 2020-09-24 at 5 18 02 PM" src="https://user-images.githubusercontent.com/7919520/94212801-015c7580-fe8a-11ea-9c4e-86fdf2f178af.png">

Change `Nothing to do` to `No action needed! 🎉`

[2020-09-25 00:21] nainar opened #4696 "Pixi: Soften language if a page passes px and we have recommendations"
<img width="1078" alt="Screen Shot 2020-09-24 at 5 20 02 PM" src="https://user-images.githubusercontent.com/7919520/94212891-47193e00-fe8a-11ea-96e2-9d4f8ea54eed.png">

 - [ ] Change `Fix it now` to `Make improvements`
 - [ ] Remove `but we think you can do better.` as it is mentioned in description. Sounds passive aggressive.

[2020-09-25 00:23] nainar opened #4697 "Pixi: Improve recommendation fiters"
- [ ] Reset the expanded state of the recommendations if a new filter is selected
 - [ ] If I click on `5 recommendations` - it should activate the LCP filter
<img width="364" alt="Screen Shot 2020-09-24 at 5 22 50 PM" src="https://user-images.githubusercontent.com/7919520/94213005-a0816d00-fe8a-11ea-9210-5843e913512b.png">

[2020-09-25 00:27] nainar opened #4698 "Pixi: Give scroll to top prompt a margin"
It is currently suck to the right which makes it hard to notice.

Also can we increase the background shadow slightly?

[2020-09-25 00:31] nainar commented on #4666
Chatted with @kristoferbaxter some more and I think we can split this into 2 phases
- for Oct 13 - we can just list the sources. But we should give more insight for after Oct 13
- post Oct 13 - resource size, potential savings.

[2020-09-25 00:38] nainar opened #4699 "Pixi: Improve advice given for next gen image formats"
Currently we don't list out the resources - that is being tracked in #4666

However, we should change this advice to be:

Image formats like [AVIF](https://rawcdn.githack.com/AOMediaCodec/av1-avif/67a92add6cd642a8863e386fa4db87954a6735d1/index.html), and WebP often provide better compression than PNG or JPEG, which means faster downloads and less data consumption. [Learn more](https://web.dev/uses

[2020-09-25 03:30] cramforce commented on #4699
AVIF is too early to recommend. This could change any day now if tooling improves.

The thing with WebP is that the wins over JPEG are often very maginal.

[2020-09-25 07:56] #4669 closed

[2020-09-25 11:07] shishirm commented on #4474
Hello @g00dv1n , thank you so much for filing this. We've reviewed the various Stories and before we list on amp.dev, some fixes are requested.

**Diverse Story Types**

All the stories submitted fit into 3 templated formats. Would you happen to have some more / diverse templates to share? If not, while we will still be able to list the tool, we will not mark it with "WYSIWYG" but will instead cre

[2020-09-25 12:58] matthiasrohmer opened #4704 "Pixi: Improve bundle size by moving rendering to the server"
Follow-up to https://github.com/ampproject/amp.dev/pull/4703.

Using `marked` to render markdown in the frontend currently has the biggest impact on bundle-size. We rely on a possibility to render markdown at runtime though as Lighthouse/PSI responds with unrendered markdown strings. I see two ways to go about this

1) Mirror all Lighthouse texts in this repository to be able to render all strings

[2020-09-25 13:00] matthiasrohmer commented on #4704
Oh additionally: 2) also is a direction of what Patrick mentioned somewhere, to offload all the work to the server to get IE11 support while `amp-script` doesn't support it.

[2020-09-25 13:02] #4633 closed

[2020-09-25 13:06] #4687 closed

[2020-09-25 13:15] caroqliu commented on #4666
In that case let's also prepare some light mocks for the table we want to show on both desktop and mobile.

[2020-09-25 13:20] caroqliu commented on #4698
This is a question for Ferdi, the current is exactly the button provided in the mocks. Also why isn't this considered polish?

[2020-09-25 13:25] caroqliu commented on #4675
via #4634 - we should also track tooltip engagement.

[2020-09-25 13:25] #4634 closed

[2020-09-25 13:30] caroqliu commented on #4697
I'm not convinced either of these suggestions are helpful, can we follow up with UX?
- Resetting expanded state: I'm worried if someone is looking through the filters they might lose whichever recommendation they wanted to act on.
- Activating filter on engagement: If doing the above folks might not be aware of the consequences (collapsing all recommendations) of clicking on this. Regardless if we

[2020-09-25 13:54] #4458 closed

[2020-09-25 15:33] caroqliu commented on #4473
Reopening as we do not have an interface in place for when PSI fails. Note "Analyzing" state goes on indefinitely while console shows `undefined` errors:
![image](https://user-images.githubusercontent.com/10456171/94286333-dd00a780-ff22-11ea-955d-29ee378336d7.png)
![image](https://user-images.githubusercontent.com/10456171/94286343-e12cc500-ff22-11ea-9624-4202e873181a.png)

@matthiasrohmer Maybe y

[2020-09-25 18:25] kevinkimball opened #4711 "Pixi: Submit issues to wg-performance instead of amphtml repo"
## 🚀 Feature Request

### Problem
Kris is concerned this will generate too many issues and be harder to triage in amphtml repo

### Solution
Submit Pixi issues to wg-performance repo

### Alternatives
We could create a new repo, but this would require a lot of approvals so we don't think it is worth the effort

cc @nainar

[2020-09-25 21:13] PeterSaathoff-Harshfield opened #4712 "[Accessibility] Expandable sections aren't expandable/collapsible with enter/space"
Environment:
Any OS/browser

Steps to reproduce:
1. Open https://amp-dev-staging.appspot.com/page-experience/
2. Enter a valid URL and press Analyze
3. Press tab to move keyboard focus to the expandable sections below the "Take action. Improve your AMP site" heading
4. When a section has focus, press enter and space

Expected:
These buttons should accept both enter and space to expand/collapse the

[2020-09-26 00:28] alexandr-kazakov opened #4715 "The AMP4Email documentation for the amp-list component is written incorrectly(for the src attribute)"
## 📖 Missing or Out-of-Date Documentation

### Problem
The AMP4Email documentation for the amp-list component is written incorrectly(for the src attribute)

![chrome_IMfezZMYxz](https://user-images.githubusercontent.com/20513262/94325536-90ab7b00-ffa7-11ea-9e0a-921e8fb6fb00.png)

The documentation for the `src `attribute of the second and third paragraph are incorrect, they belong to the AMP-pages

[2020-09-28 09:41] Ferdinand-Weinrother commented on #4697
How about this: When you click on a filter (or click on the link within the CWV section), we don't let the mismatching recommendations disappear. Instead we just expand the matching recommendations and collapse the mismatching ones. In addition we scroll automatically (animated) to the first matching recommendation. This ensures that the user can still see and reach all recommendations. However, a

[2020-09-28 13:21] robinvanopstal commented on #4712
Hi @PeterSaathoff-Harshfield, this will only work on press `enter` since `e.preventDefault()` is not allowed in `amp-script`.

[2020-09-28 13:36] caroqliu commented on #4675
via @matthiasrohmer:

[2020-09-28 13:38] #4712 closed

[2020-09-28 13:58] Ferdinand-Weinrother commented on #4698
I agree with a slightly stronger shadow. But I like the position. Otherwise the element has no stability on the page. Besides, it is just an additional assistant and should not distract too much from the actually important elements.

[2020-09-28 14:36] caroqliu commented on #4591
[2009190410000](https://github.com/ampproject/amphtml/releases/2009190410000) contains the amp-script version bump which should be released to stable this week - let's verify that the change is in and remove the workaround on Wednesday.

[2020-09-28 14:41] matthiasrohmer opened #4731 "Pixi: recommendation filters are broken"
### Reproduction procedure

1. Analyze amp.dev, wait for it to be finished
2. Toggle alle the filters from left to right
3. Disable all filters again from right to left

### Expected behavior
All recommendations should be shown again, with "All" enabled.

[2020-09-28 14:44] caroqliu commented on #4379
#4702 fixes the orientation of the scales for RTL.

Also need to do:

- [ ] Field and lab data tabs should be right-aligned on the CWV container
- [ ] Recommendation items and filter should be right-aligned, with "Next advice" available on the left side (dir="rtl" shoulddo most of the automatically)

Open question:
- Should the visual itself be RTL in addition to be oriented left of the text? i.e.

[2020-09-28 14:46] matthiasrohmer opened #4732 "Pixi: highlight AMP optimizer recommendation"
![image](https://user-images.githubusercontent.com/12857772/94447358-f404fb00-01a9-11eb-9c05-160793a1f870.png)

[2020-09-28 14:47] caroqliu commented on #4666
## font-display
[code]

[2020-09-28 14:49] caroqliu commented on #4615
Closing as the fix for this is specified by #4732

[2020-09-28 16:10] morsssss opened #4734 "Highlight visual story creation tools on stories landing page"
Our [main stories landing page](https://amp.dev/about/stories/) is beautiful, but now that the WP plugin and other tools exist, we should tweak this to make it clear that visual story creation tools exist - that it's possible to create Web Stories without writing HTML and CSS.

See also https://github.com/ampproject/amp.dev/issues/4686

/cc @cramforce

[2020-09-28 18:12] manisaiprasad commented on #4715
Hey @matthiasrohmer I would like to take on this issue

can I change this

To

The URL of the remote endpoint that returns the JSON that will be rendered within this ```<amp-list>```.  This must refer to a CORS HTTP service and Insecure HTTP is not supported.

Open to contribute😇

[2020-09-28 19:17] caroqliu opened #4735 "Emojis break build"
When attempting to add `🎉` to `pages/content/pixi/index.md`:
[code]
![image](https://user-images.githubusercontent.com/10456171/94475657-66bba980-019d-11eb-884b-8d22bbdd24f7.png)

Once this is fixed let's add `🎉` to `No action needed!`

[2020-09-28 19:30] #4695 closed

[2020-09-28 20:04] #4664 closed

[2020-09-28 21:07] g00dv1n commented on #4474
@shishirm
Thanks for your feedback. We appreciated it.

We fixed poster-portrait-src dimensions and publisher-logo-src. Other points we added to our backlog.

About diverse story types:
Now we have 10 different templates (we going to add more according to different product categories), but you understand us correctly. We are not "WYSIWYG" editor. So, a new category will be even better.

Waiting fo

[2020-09-29 00:08] CrystalOnScript commented on #4715
Thanks for wanting to take this one on @manisaiprasad! I think that rewrite is nearly perfect, just a nit to change from passive to active voice:

[code]
The two text blocks need to be wrapped in format filtering blocks. How to do so is [outlined here](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/formatting/?format=websites#filtering-sections). The origina

[2020-09-29 01:53] nainar commented on #4668
**What is the AMP Page Experience Guide?**
The AMP page experience guide is a tool that shows AMP developers how their AMP pages are performing against the Google Search page experience ranking signal, and provides actionable feedback on how they can improve.

**What if the guide had no advice to give?**
If we aren't able to provide you with actionable insights please use the available prompts to

[2020-09-29 09:01] shishirm commented on #4686
We've already begun the review and should be close this out this week.

[2020-09-29 13:28] #4731 closed

[2020-09-29 13:29] #4732 closed

[2020-09-29 14:56] caroqliu commented on #4675
Note to add a trigger for when the "Fix it now" and "Investiate" buttons are clicked.

[2020-09-29 15:48] caroqliu commented on #4675
Update:
- Merge first visibility triggers on field data, lab data, and recommendations. Investigate for a work around to get nth visibility too.
- Add click triggers for "Fix it Now", "Investigate", "Field data" tab, "Lab data" tab, Recommendation filter categories, and toggle button for every recommendation (on open)

Open question:
- How to track API failures?

[2020-09-29 16:04] matthiasrohmer commented on #4735
There sadly is not much we can do about this: pyYAML doesn't like emojis. We stumbled over this for other features as well already, see https://github.com/ampproject/amp.dev/issues/4002

For the roadmap we fixed it by switching from YAML to JSON but that is not really practical for translation files. Another option would be to add the emoji via JS....

[2020-09-29 18:00] kristoferbaxter commented on #4699
Perhaps we could still list and display the variants in AVIF format with a deeplink to tooling that supports AVIF format as an example?

This wouldn't necessarily mean validating the document uses AVIF, but including it in the recommendation for when sub-resources are larger than expected using existing rules.

[2020-09-29 18:02] nainar commented on #4711
Can do!

In that case can someone on Perf WG approve this: https://github.com/ampproject/wg-performance/pull/47

cc @caroqliu

[2020-09-29 19:56] caroqliu opened #4747 "Pixi: Look into container solution for stability"
Consider separating build-infra between Pixi and amp.dev proper https://cloud.google.com/run

[2020-09-29 22:15] o-fernandez commented on #4686
For reference: some ongoing work to ensure future stories are more likely to be compliant:

- https://github.com/google/web-stories-wp/issues/4650 which will help with things like AMP Runtime preload
- https://github.com/google/web-stories-wp/issues/4754 would fix wrong self-canonical issues caused by interactions with the Yoast SEO WP plugin.
- https://github.com/google/web-stories-wp/issues/78 w

[2020-09-30 13:35] #4473 closed

[2020-09-30 14:18] #4591 closed

[2020-09-30 14:21] caroqliu opened #4749 "Pixi: Remove all extraneous <span> tags"
Status quo:
[code]
Test URL: https://www.bonappetit.com/story/food-businesses-covid-19/amp

[2020-09-30 14:34] caroqliu commented on #4666
Closing given these are in staging:
![image](https://user-images.githubusercontent.com/10456171/94699507-625fcf80-0308-11eb-9fb6-e47022da4f79.png)
![image](https://user-images.githubusercontent.com/10456171/94699536-67bd1a00-0308-11eb-8b6e-cb25d12b2c3b.png)

[2020-09-30 14:34] #4666 closed

[2020-09-30 15:48] caroqliu commented on #4749
Bumping down priority as this appears to only be an issue on local server and not staging...

[2020-09-30 16:01] caroqliu opened #4751 "Pixi: Wrap display of long lines of code to multiple lines"
While the code snippets are relatively short, narrower viewports will still show this issue. ![image](https://user-images.githubusercontent.com/10456171/94710183-89bc9980-0314-11eb-8278-3758987c2e89.png)

Test URL: https://www.bonappetit.com/story/food-businesses-covid-19/amp

[2020-09-30 16:04] caroqliu commented on #4751
This can be fixed by styling all `<pre>` tags with `white-space: pre-wrap`

[2020-09-30 16:20] #4751 closed

[2020-09-30 19:49] shishirm commented on #4686
Hello @o-fernandez , thank you so much for filing this. We've reviewed the various Stories you've submitted. A few notes.

Must-Fix

- Some of the Stories are not self-canonical. Looks like from the bug filed, these are caused due to an errant plugin and not the editor itself
- Incorrectly sized poster images - Based on the issue filed, it looks like these are being corrected in the editor via war

[2020-09-30 21:23] souvik-03-07-2001 commented on #4390
can I take this?

[2020-10-01 12:59] #4696 closed

[2020-10-01 13:09] #4474 closed

[2020-10-01 13:09] #4686 closed

[2020-10-01 13:24] caroqliu commented on #4379
Now that #4750 and #4757 are merged this issue is fixed.

[2020-10-01 13:24] #4379 closed

[2020-10-01 13:33] swissspidy commented on #4686
Thanks for merging!

@o-fernandez something for the pre-publish checklist?

[2020-10-01 13:42] caroqliu opened #4758 "Pixi: Implement global cache for API responses"
Currently Safe Browsing and Mobile-friendliness are cached in browser `sessionStorage`. These can be moved to a server cache as well as include PSI results.

[2020-10-01 13:47] caroqliu opened #4759 "Pixi: Rereoute GH issue templates from amphtml to wg-performance repos"

[2020-10-01 13:49] caroqliu commented on #4675
Bumping priority down as we have the following click triggers:
- Field data tab
- Lab data tab
- Expand recommendation item
- "Next advice" on recommendation item
- Open tooltip
- "File a GH issue"
- "Share"
- "Fix it Now" / "Make Improvements"
- "Investigate" (API failure has occurred)
- "Take Action: X Recommendations"
- Recommendation filter category

And the following visibility triggers:
- pa

[2020-10-01 14:26] caroqliu opened #4760 "Pixi: Implement circuit breaker for use of third-party APIs"
For Safe browsing, mobile-friendliness, and PSI

[2020-10-01 15:59] #4759 closed

[2020-10-01 16:01] #4545 closed

[2020-10-01 17:16] caroqliu opened #4765 "Pixi: Copy changes tracking issue"
Related to: #4523

[2020-10-01 17:20] caroqliu commented on #4765
Tagging #4741 as this PR also recently changed copy.

[2020-10-02 18:04] #4297 closed

[2020-10-04 06:38] patrickkettner opened #4780 "Fix errors in translated documents"
I wasn't able to debug this tonight, will do it asap unless anyone else has time to check it out

[code]

[2020-10-04 09:01] patrickkettner commented on #4670
@CrystalOnScript is the homepage getting a redesign as well, or just docs pages?

[2020-10-04 11:04] matthiasrohmer commented on #4780
I think I fixed the build-blocking issues with https://github.com/ampproject/amp.dev/pull/4781, https://github.com/ampproject/amp.dev/commit/218bce23ddf7052d54ddb21477e7076575397e08 and https://github.com/ampproject/amp.dev/commit/2b87b5921c8afa90532105ff29dff9bbf9a957b6.

We need to be a little more careful when translating the documents - especially with our special tags. Some of them are still

[2020-10-06 07:12] kinsler7864 opened #4786 "AMP Boilerplate Generator Select Format What do you want to build with AMP? email websites stories ads Something missing? Let us know! Boilerplate Start your AMP page by copying and pasting this code: <!doctype html> <html ⚡4email> <head> <meta charset="utf-8"> <script async src="https://cdn.ampproject.org/v0.js"></script> <style amp4email-boilerplate>body{visibility:hidden}</style> <style amp-custom> h1 { margin: 1rem; } </style> </head> <body> <h1>Hello, I am an AMP EMAIL!</h1> </body> </html>"
Hey brandy

[2020-10-06 07:14] #4786 closed

[2020-10-06 18:37] matthiasrohmer opened #4800 "Localization tracking issue"
To support the localization efforts and make them come to amp.dev as smooth as possible I thought it's best to create a dedicated tracking issue to not get lost in the various PRs and/or too specific issues. My feeling also was that GitHub is a simple and async channel for quick questions.

/cc @patrickkettner @ilyaspiridonov

[2020-10-06 18:49] matthiasrohmer commented on #4800
The following are common errors I've stumbled over when merging the localization PRs so far:

**Non-content frontmatter keys do not need to be localized**
amp.dev has various configuration keys in its documents, like `$order`, `formats`, `toc` and others. See [Formatting Guides & Tutorials](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/formatting/?format=we

[2020-10-06 21:20] nixtka opened #4802 "Viqeo Studio as 3rd party creation tool"
### Story creation resource name

Viqeo Studio

### Type

Use [x] to mark a selection:

- [x] Story Creation Tool
- [ ] CMS
- [x] Platform
- [ ] Other

### URL

https://viqeo.tv
https://studio.viqeo.tv

### Image

https://www.dropbox.com/s/8fixocjidos4xcy/Stories-screenshot.png?dl=0

### Description

Viqeo is the all-in-one video platform for creating Videos, Web Stories, Lessons and Onboardings.

[2020-10-06 21:55] ilyaspiridonov commented on #4800
@matthiasrohmer Thanks for the insights Matthias.
We have already implemented a check (manual for now) for the frontmatter yaml syntax, and I’ve asked the team to be extra careful with frontmatter keys. As to things like  ‘ &lsqb; getting replaced by [‘ — is there any way CI checks can be added for things like that? I’m just worried that if the community gets involved in supporting the translation

[2020-10-06 22:55] nainar opened #4803 "Change `pages passing` to `visits passing`"
![Screen Shot 2020-10-06 at 3 54 16 PM](https://user-images.githubusercontent.com/7919520/95268535-626e3c80-07ec-11eb-891b-2049c2087efe.png)

[2020-10-06 22:56] nainar commented on #4711
@caroqliu isn't this fixed?

[2020-10-07 08:11] matthiasrohmer commented on #4802
@shishirm, could you please review this? Thanks in advance!

[2020-10-07 13:11] nixtka commented on #4802
@shishirm we have free registration and basic Stories editor, so you can register right in the platform, but if it more convenient for you we can send you invite to test website with stories feed.

[2020-10-07 13:17] caroqliu commented on #4711
Yep, here's an [example link that we show for amp.dev](https://github.com/ampproject/wg-performance/issues/new?assignees=&labels=Type%3A+Page+experience&title=Pixi:+Poor+page+experience&body=URL%0A---%0Ahttp%3A%2F%2Famp.dev%0A%0ADetails%0A---%0A%0A%7C%20Metric%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7C%20Field%20data%20%7C%20Lab%20data%20%7C%0A%7C-----------------%7C------------%7C-----

[2020-10-07 13:17] #4711 closed

[2020-10-07 13:36] #4803 closed

[2020-10-07 13:50] matthiasrohmer commented on #4800
You're welcome! There are definitely some points that can be improved... Also discussed this with @caroqliu yesterday. There are two tasks that I'll take on for next week: make the tag parsing more forgiving (allow arbitrary whitespace for example and make `[tip type = 'note']` or `[/ tip]`working) and also introduce a check that only builds the changed subset of pages) so that errors already surf

[2020-10-07 13:58] matthiasrohmer opened #4810 "Add a dedicated sharing image for Pixi."

[2020-10-07 14:42] ilyaspiridonov commented on #4800
CC: @svasilenkov

[2020-10-07 15:20] caroqliu opened #4813 "Pixi: amp-script hash missing"
https://amp.dev/vi/page-experience/
![image](https://user-images.githubusercontent.com/10456171/95351289-11635480-088f-11eb-9011-b0922a9134de.png)
![image](https://user-images.githubusercontent.com/10456171/95351279-0f00fa80-088f-11eb-9580-16a692112dec.png)

cc @matthiasrohmer could you have a look since you setup the amp-script src?

[2020-10-07 15:25] caroqliu commented on #4813
French also: https://amp.dev/fr/page-experience/

[2020-10-08 05:59] tharders opened #4818 "Pixi status banner not shown in ar version"
When checking a page in the AR version of pixi the status banner is not shown.
https://amp-dev-staging.appspot.com/ar/page-experience/

![image](https://user-images.githubusercontent.com/6458408/95420567-f69ae980-093b-11eb-8d2f-117140ba7cb7.png)

I have checked different pages with different status results.
In an other language this works fine.
Maybe it is an LTR issue.

[2020-10-08 07:35] patrickkettner commented on #4818
it doesn't appear that the amp-script is ever being loaded. The blob is not in chrome's devtools as a context option, and none of the code in it appears to be running.

[2020-10-08 07:57] #4813 closed

[2020-10-08 08:42] patrickkettner commented on #4818
this seems like potentially an issue with worker-dom?

@kristoferbaxter I stepped through the code, and in the version @tharders linked, we are hitting [this](https://github.com/ampproject/worker-dom/blob/1d4762aff3591f39f2f40bf7153a95ee0a48c7a1/src/main-thread/worker.ts#L104) post, but [the handler](https://github.com/ampproject/worker-dom/blob/1d4762aff3591f39f2f40bf7153a95ee0a48c7a1/src/main-th

[2020-10-08 11:32] #4780 closed

[2020-10-08 11:48] matthiasrohmer opened #4822 "Debug and fix ampproject.org CI build"
Per https://github.com/ampproject/amp.dev/pull/4226#issuecomment-705509180

[2020-10-08 14:57] gilbertococchi opened #4825 "Pixi: how can publishers find out how much an AMP Page delivered on Cache vs Origin on Pixi?"
Hi all, I am wondering if it would be possible to specify in Pixi an AMP URL page traffic split between AMP Cache and Origin traffic.
Having this information available would be beneficial to understand perhaps whether there is an issue on the AMP CDN resources or the Publishers server response time etc.

[2020-10-08 19:09] caroqliu opened #4828 "amp-accordion documentation does not install amp-bind"
https://amp.dev/documentation/components/amp-accordion/#[data-expand]

![image](https://user-images.githubusercontent.com/10456171/95502747-48f9fb80-0978-11eb-9df5-5e7217b57f96.png)

[2020-10-08 21:03] patrickkettner commented on #4825
The data source for the `field data` section of Pixi is a blended version of Cache and Origin. They are not able to be unblended (we don't own the data source). There are few situations in which the CDN would be at fault, since the data source is over all traffic over the course of a month, there wouldn't have been a failure and any load would have to be at a country-wide ban of a CDN to likely ha

[2020-10-09 07:45] gilbertococchi commented on #4825
That's a great point, I am wondering if it would be possible to highlight this info to some level of extent to point developers to the right source.

chrome-ux-report.materialized.country_summary dataset would allow publishers to get a sense whether some specific country traffic may be suffering overall on LCP for example hinting for specific GEO distribution optimizations on Origin, but of course

[2020-10-09 07:53] patrickkettner commented on #4825
this sort of feels like using a hammer on a screw to me. Site owners should be using their own analytics for that information. Page Experience should be confirming information, not providing it

[2020-10-11 20:06] #4735 closed

[2020-10-11 20:43] matthiasrohmer opened #4846 "Migrate Pixi and Playground to webpack 5"
Blocks #4842 and #4841.

[2020-10-12 08:35] nggood opened #4848 "Request to add Join Stories as a Story Creation Tool on amp.dev"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

Join Stories

### Type

Use [x] to mark a selection:

- [x] Story Creation Tool
- [ ] CMS
- [ ] Platform
- [ ] Other

### URL

https://www.join-stories.com/

### Image

![Join_AMP DEV](https://user-images.githubusercontent.com/13469356/95723674-aee6cb80-0c75-11eb-9811-356e1fc4f033.jpg)

### Descri

[2020-10-12 09:05] shishirm commented on #4802
Hello. Thanks so much for submitting this request. We'll start the review this week and will target completion by the end of the week.

[2020-10-12 18:20] rsimha opened #4849 "AMP roadmap page: Update list of WGs and sync it more often"
## 🚀 Feature Request

### Problem
The AMP [roadmap page](https://amp.dev/community/roadmap/) is beloved by all of us engineers, and we'd like to use it for our weekly meetings. However, two problems prevent us from doing so:
1. The list of working groups has become outdated when compared to our [newly approved list of WGs](https://amp.dev/community/roadmap/).
2. The items visible on the page are n

[2020-10-13 08:59] matthiasrohmer commented on #4849
It's nice to hear that the roadmap is actually used! 🙂

@robinvanopstal, could you please take care of updating the METADATA.yaml files in all of the working group repositories? I'd also suggest to add a new key to these YAMLs to reference archived/merged working groups in order to preserve individual histories under the merged name.

As a second step I'd suggest to refactor the importer that is r

[2020-10-13 14:39] ApurvGpt opened #4852 "mailmodo.com"
## 🛠️ Request to Add Third-Party Tool/Service/Platform/Vendor

### 1. Resource name
mailmodo.com

### 2. Relevant format(s)

- [ ] websites
- [ ] stories
- [ ] ads
- [x] email

### 3. Resource type

- [x] editor
- [ ] service provider
- [ ] developer tool
- [ ] content platform
- [ ] CMS
- [ ] ads
- [ ] audio/video
- [ ] analytics vendor

### 4. Destination
 [amp.dev/documentation/tools](https://a

[2020-10-13 18:52] nainar opened #4855 "Update AMP email video on https://amp.dev/about/email/"
Change to AMP fest video!

[2020-10-14 04:08] patrickkettner commented on #4550
this is being handled by the ampproject org as a whole, closing this off as a result

[2020-10-14 04:08] #4550 closed

[2020-10-14 12:34] robinvanopstal commented on #4849
Hi @rsimha, I finished updating the related `METADATA.yaml` files - they are now ready for review :)

- https://github.com/ampproject/wg-security-privacy/pull/5
- https://github.com/ampproject/wg-foundation-onboarding/pull/30
- https://github.com/ampproject/wg-codeofconduct/pull/8
- https://github.com/ampproject/wg-amp4email/pull/21
- https://github.com/ampproject/wg-bento/pull/44
- https://github

[2020-10-14 15:01] westonruter opened #4856 "Broken AMP By Example link"
I ran across a link to an AMP by Example link at  https://github.com/ampproject/amphtml/issues/4853#issuecomment-592542472

This is pointing to https://ampbyexample.com/advanced/copy_button/preview/

However, clicking on that link is taking me to an error page:

I expected there to be a redirect to amp.dev.

[2020-10-14 17:31] nainar opened #4857 "Change the first viewport images in amp.dev to improve LCP"
Can we remove the animated images as a short term solution?

@matthiasrohmer @kevinkimball @kristoferbaxter

[2020-10-14 18:00] kevinkimball commented on #4857
My impression from the profiling that I did on the page is the issue is not the animation but the number of images within the first viewport. But yes, I think if you are ok to remove them entirely that should improve LCP. I can profile it and see

[2020-10-14 19:04] kristoferbaxter commented on #4857
1. If these images are converted to `avif` format, they drop by a significant size. `https://amp.dev/static/img/case-band-image-2.jpg?width=330&hash=33e5e2d61e897ee4dc33b6f74f25fdb7207681f9` => from 15kB to 7kB

2. With native image support coming soon, the CLS impact is highly reduced (there are two intents to implement in this space). If the AMP Optimizer wants to start making this change in-tan

[2020-10-16 16:28] nainar opened #4871 "Pixi: Testing redirected page not provided page."
Because https://www.nytimes.com/live/2020/10/16/us/trump-biden-town-halls.amp.html redirects to https://www.nytimes.com/live/2020/10/16/us/trump-biden-town-halls, that's the one we are running through Pixi and treating as non AMP.

This means https://www.nytimes.com/live/2020/10/16/us/trump-biden-town-halls.amp.html  ends up being recognized as a non AMP page.

[2020-10-16 16:28] nainar commented on #4871
@matthiasrohmer @tharders

[2020-10-16 16:29] nainar commented on #4871
@caroqliu

[2020-10-16 16:49] nainar commented on #4871
The best way to solve this:

1. Instead of showing a banner that says this isn't an AMP page, we should tell the user that while the submitted page is an AMP page, the page the user is experiencing is a redirect to a non AMP page. And advise that they test the cached page.

2. Add support for testing the cached AMP page

[2020-10-19 17:33] nainar commented on #4818
Pinging @kristoferbaxter and @samouri

[2020-10-19 19:54] shishirm commented on #4802
Hello,

Thanks again for submitting your tool to be listed on amp.dev. Before we get into specific feedback, I just wanted to note that most of the Stories follow pre-determined templates and layouts. My understanding is that the tool is not a WYSIWYG style editor. We have other similar templated tools which we've listed as "Templated Editor". Is this an accurate classification?

Now we've provide

[2020-10-19 19:54] nainar opened #4877 "Remove `Your AMP page needs improvement` recommendation if no field data is available"
Swap the `Your AMP page needs improvement`recommendation to instead advertise that there is no field data available.

[2020-10-19 19:55] nainar opened #4878 "Get rid of JS Module recommendation till that is considered a valid AMP path."
Remove this recommendation for now.

[2020-10-19 19:59] nainar opened #4879 "Pixi times out due to amp-script timing out"
Tracking fix here: https://github.com/ampproject/amphtml/issues/30548

[2020-10-19 20:21] nixtka commented on #4802
@shishirm thanks for the detailed feedback! Yes, "Templated Editor" is a good name for our studio, as we propose a slightly customisable templates. We will back quite soon with updated the most important changes/additions.

[2020-10-19 21:06] #4523 closed

[2020-10-20 08:21] fellyph opened #4880 "Content proposal - Update Brazilian Portuguese documentation for web stories"
## 📖 Missing or Out-of-Date Documentation

### Problem
The Web Story Documentation in Portuguese is translated to "História Visual", I believe this is a branding name should stay in English "Criando sua primeira Web Story" instead "Criar uma história visual com AMP" and also the first page has a warning at the bottom "this is a experimental component". I think this is out dated as well

### Locati

[2020-10-20 15:36] morsssss commented on #4880
I think you're right - I assume that this would be "Web Story" in Portuguese as well, not literally translated as "História Visual". + @alexduran4 , + @nainar , + @pbakaus to confirm.

The bit about the experimental component sounds outdated to me too  😄

[2020-10-21 01:36] sdenaro commented on #4848
@nggood expect the PR to be ready before end of week.

[2020-10-21 07:53] nggood commented on #4848
@sdenaro Thanks for the update !

[2020-10-22 12:48] ilyaspiridonov commented on #4800
@matthiasrohmer Just a heads-up that we are working on all these, but I wanted to comment on the headline formatting issues.
This is basically caused by the fact that in some source files (like the one in example above) headers are not formatted per Markdown specification. Please take a look at how GitHub renders this: https://github.com/ampproject/amp.dev/blob/future/pages/content/amp-dev/documen

[2020-10-22 14:14] sisidovski opened #4887 "Pixi doesn't work and says "This URL is invalid." for a valid AMP page"
## 🐛 Bug Report

### Current behavior

- Page link: https://amp.dev/page-experience/
- (Optional) Screenshots/videos:
![Screen Shot 2020-10-22 at 19 57 34](https://user-images.githubusercontent.com/1642255/96877853-20fcb300-14b5-11eb-91b0-c0826ae70271.png)

Tested this URL. https://news.yahoo.co.jp/amp/pickup/6374389

Given URL is a valid AMP page, but the page audit doesn't run and shows "This UR

[2020-10-22 14:30] sisidovski commented on #4887
I fixed the API issue at the moment, but still curious to hear how the frontend could show better error messages to notify pixi users. Any thoughts?

[2020-10-22 19:21] nainar commented on #4887
@matthiasrohmer could you or @tharders look into this please?

[2020-10-22 22:39] rsimha commented on #4849
@kristoferbaxter Since all the PRs listed above serve the same purpose, could I ask you to approve, review, and merge them all? That way, we might be able to use the dashboard during next week's meeting 😃

[2020-10-23 19:38] nainar commented on #4880
@newmuis

[2020-10-23 19:53] sdenaro commented on #4848
@nggood Can you confirm this is OK with the thumbnail?

https://join-stories.com/static/31f2c30a58381d1ffeadb6e6a470b593/e56b8/1-fs8.png

If you'd rather have the join logo, please let me know and provide me with an image URL and I will use that one.

Thanks

[2020-10-23 20:51] sdenaro commented on #4848
@nggood  see https://github.com/ampproject/amp.dev/pull/4892

[2020-10-23 21:53] nggood commented on #4848
@sdenaro I just received an email from you about our tool thumbnail. You can use the one attached within the issue (800x400px) 👍

[2020-10-23 22:09] newmuis commented on #4880
Yeah, not experimental since April 2019

[2020-10-24 15:34] madhuriddhi opened #4895 "My First Story"
This is an extended feature of Transaction Inquiry views. The action, "Cancel and Re-issue" is referred to as an action that is taken by Back Office team when there is routing issue with the transaction and the transaction is not processed to Bank APIs or File Transfer or Service Provider.

There are specific conditions where the Cancel and Re-issue is applicable.

Use Case 1 - From the transactio

[2020-10-24 15:36] #4895 closed

[2020-10-25 17:54] ilyaspiridonov commented on #4880
Just the heads up that the PT-BR documentation is being translated as part of the bigger doc translation effort. So this should get updated in a few weeks.

[2020-10-25 22:02] morsssss commented on #4880
@ilyaspiridonov , that docs translation effort doesn't include the courses, does it?

A group of volunteers wants to start translating those into Portuguese and Spanish.

[2020-10-26 13:55] sdenaro commented on #4848
@nggood I updated it to use the attached image

thankis

[2020-10-28 17:28] samouri commented on #4818
I don't see any issue with `worker-dom`. Running amp.dev locally and root caused the issue to be the translation itself. We are relying upon the `type` to be success or error in order to apply a necessary class:

https://github.com/ampproject/amp.dev/blob/90b488a8271ce07edec6abda234131814889300c/pixi/src/ui/StatusIntroView.js#L27-L30

For Arabic, it seems like the `type` is set to `نجاح`. This pro

[2020-10-28 19:13] CrystalOnScript opened #4906 "amp-script error on guide"
## 🐛 Bug Report

### Current behavior
The [Interactivity in AMP introduction page](https://amp.dev/documentation/guides-and-tutorials/develop/interactivity_guide/?format=websites&_gl=1*eh0rul*_ga*MzU1NzgzMDgzLjE1NTM2MjE0NzI) is reporting a `The extension 'amp-script' was found on this page, but is unused. Please remove this extension.` issue. Not sure if this is from the [amp-script example](https

[2020-10-28 20:26] #4878 closed

[2020-10-29 01:16] morsssss opened #4909 "External user consent example is broken"
## 🐛 Bug Report
The [External User Consent Flow example](https://amp.dev/documentation/examples/user-consent/external_user_consent_flow/?format=websites) doesn't work. Loading it up [in the playground](https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fuser-consent%2Fexternal_user_consent_flow&format=websites), the webpage preview simply reads:

`Go 1.9 is n

[2020-10-29 01:19] morsssss commented on #4909
/cc @zhouyx @nainar

[2020-10-29 02:10] morsssss commented on #4909
Also, it looks like [`promptIfUnknown` may be deprecated](https://amp.dev/documentation/components/amp-consent/).

[2020-10-29 02:16] morsssss commented on #4906
`amp-script` is indeed used in the example you mention - but that example is in an iframe. So the script doesn't need to be included in the main page.

I wonder if the script autoincluder knows to ignore components that are inside an iframe...

[2020-10-29 02:21] morsssss opened #4910 "Server Side User Consent example is broken"
This refers to [this `amp-consent` example](https://amp.dev/documentation/examples/user-consent/server_side_user_consent_flow/?format=websites). Trying this in the playground, you just see a blank page.

One problem is the typo here:

`"checkConsentHref": "/documentation/examples/api/get-consent-sever-side"`

Even when we spell "server" correctly, though, it still doesn't display anything. I need

[2020-10-29 02:22] morsssss commented on #4910
/cc @zhouyx @nainar

[2020-10-29 15:00] matthiasrohmer commented on #4857
We reduced the image count by two with https://github.com/ampproject/amp.dev/pull/4900 - that's not the golden shot yet but should improve things a little.

What I'd like to add to this discussion: I know that the amp.dev homepage should perform well for CWV - also because it is probably *the* benchmark for folks who think about using AMP and want to see how it performs.

On the other hand the hom

[2020-10-29 15:15] kristoferbaxter commented on #4857
I believe we should be aiming for both, an expressive document that meets Core Web Vitals by using the best recommendations we have available.

This includes using modern image formats, with appropriate sizing.

[2020-10-29 21:12] zhouyx commented on #4909
Oh yes! `promptIfUnknown` is migrated to `consentRequired `. We need to also update legacy examples.
@micajuine-ho

[2020-10-30 00:36] micajuine-ho commented on #4909
@zhouyx Great point! I can take care of this.

[2020-10-30 06:01] cw-bharat opened #4915 "Feasibility for dynamic data attributes for amp analytics"
## 🚀 Feature Request

### Problem
I'm not able to dynamically change the value of data attribute based on amp-state.
E.g.
This is a simple button which expands and collapses the text and we want to track the user action on it.

[code]
I want to change the value of `data-vars-action` dynamically based on `showFullText` and fire the tracking every time user clicks on the button with the action `More

[2020-10-30 06:02] cw-bharat commented on #4915
@choumx

[2020-10-30 06:03] amitsingh-007 commented on #4915
I am also looking for similar feature. Any suggestion would be helpful.

[2020-10-30 13:49] nixtka commented on #4802
@shishirm fixed poster-portrait-src dimensions.
And now we are doing some optimisations according your recommendations. Can you please review and add Viqeo as a templated tool please? :) Thank you in advance.

[2020-10-30 18:42] dbalde opened #4917 "mflexion"
![2c6f7b2ea32e18d5ec1664df58bc7164](https://user-images.githubusercontent.com/62520915/97744675-93861800-1adf-11eb-87c3-51d4f8b7b470.png)

[2020-10-30 19:13] #4917 closed

[2020-11-02 08:48] jono-alderson opened #4920 "The AMP URL API example/demo is broken"
## 📖 Missing or Out-of-Date Documentation

### Problem
The page at https://amp.dev/documentation/examples/guides/using_the_amp_url_api/?format=websites describes how the AMP URL API can be used to request the AMP equivalent of a URL.

It contains an interactive example/demo, which is broken due to the deprecation of Go 1.9 (since ~July).

The demo should be 'repaired' if migration is feasible and

[2020-11-02 12:56] matthiasrohmer commented on #4848
Closed by https://github.com/ampproject/amp.dev/pull/4899

[2020-11-02 12:56] #4848 closed

[2020-11-03 21:36] alexandr-kazakov commented on #4715
@CrystalOnScript Hi. Any progress here? It seems that this error is still present in the documentation.

[2020-11-06 16:05] nemanjapopovic opened #4947 "Adding StorifyMe to amp.dev tools"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

StorifyMe

### Type

Use [x] to mark a selection:

- [X] Story Creation Tool
- [ ] CMS
- [ ] Platform
- [ ] Other

### URL

https://storifyme.com/

### Image

![image](https://user-images.githubusercontent.com/10596672/98372484-207c2480-203e-11eb-9614-d7219df6e7a9.png)

### Description

StorifyMe

[2020-11-09 15:57] nixtka commented on #4802
@shishirm May I kindly ask you to re-revise Viqeo tool with the posters update? We would be happy to be included as a 3rd party tool to amp.dev :)

[2020-11-11 10:42] matthiasrohmer commented on #4947
@shishirm, may I ask you to review? 😉

[2020-11-11 17:26] kevinkimball opened #4955 "Pixi: Recommendations not always shown for image size, srcset, next gen formats"
## 🐛 Bug Report

### Current behavior
Recommendations is not always shown for image size, use srcset, and next gen formats even when the page could have savings with smaller images, doesn't use srcset, or doesn't use next gen formats.

I believe this is because PSI reports the page as "passing" even though the page is not adopting the recommendations.

### Expected behavior/code
If the page could

[2020-11-11 19:07] kevinkimball commented on #4955
Is this resolved by https://github.com/ampproject/amp.dev/issues/4666?

[2020-11-12 09:48] matthiasrohmer commented on #4955
Nope, #4666 was really just introducing the image recommendations including their details in the first place. It's exactly as you assumed 😉

[2020-11-12 17:35] morsssss commented on #4910
/cc @micajuine-ho in case you would know quickly why this isn't working... otherwise I will look into it!

[2020-11-12 17:37] morsssss commented on #4909
@micajuine-ho , I don't see it anywhere else.

[2020-11-12 18:47] micajuine-ho commented on #4910
With the correct spelling of `"checkConsentHref": "/documentation/examples/api/get-consent-server-side"`, we get a response from the endpoint, however returned JSON has neither a `consentRequired` nor a `promptIfUnknown` (legacy) field.

To fix this, the endpoint's JSON needs to include `"consentRequired":true`.

Additionally, the <script> within the amp-consent element needs to include:  `"prompt

[2020-11-12 18:54] matthiasrohmer commented on #4887
I tried to address this with https://github.com/ampproject/amp.dev/pull/4959. This at least surfaces this specific underlying API error to the end user. Not too sure about the others.

https://news.yahoo.co.jp/amp/pickup/6374389 meanwhile shows a 404 with the correct `content-type` header set. I synthetically tested with

[code]

If there's another real-world sample of this issue you could provide

[2020-11-13 02:23] sisidovski commented on #4887
@matthiasrohmer
news.yahoo.co.jp fixed their bug and now their AMP pages have correct `Content-Type`, so we don't have another real-world example unfortunately. But I think your test is enough to cover the case. Thank you for addressing the issue!

[2020-11-13 20:21] #4955 closed

[2020-11-13 23:25] morsssss commented on #4909
@matthiasrohmer , thanks for kindly offering to look for the missing HTML file referenced above.

If it helps, I can also make another issue to fix other references to `amp-by-example-api.appspot.com`.

[2020-11-13 23:59] morsssss commented on #4910
At least for me, that JSON did contain `"consentRequired":true`. Yay! However, you're right, the `promptUI` field was missing.  Adding it in there and fixing the typo made things work.

I wonder if this example was never tested....

See https://github.com/ampproject/amp.dev/pull/4966

[2020-11-14 12:22] #4910 closed

[2020-11-14 18:54] l33loo commented on #4027
There is also "intrinsic" layout, e.g.:
- [https://amp.dev/documentation/components/amp-img/?format=email](https://amp.dev/documentation/components/amp-img/?format=email)
- [https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/control_layout/?format=email](https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/control_layout/?format=email)

[2020-11-16 07:09] genki-koba opened #5295 "Field Data cannot be seen in AMP Page Experience Guide"
In the page of AMP Page Experience Guide, I have tried some AMP URLs that its original web page have over 300,000 views for the past 2months.
The articles from the site I have tried can be seen in Top Stories everyday(even every hour) in SEARPs(the site is well-known in general and also in top stories as well) and that means the AMP URLs should have enough views with a great margin to be able to i

[2020-11-16 16:59] avarghese-sqsp opened #4970 "Adding Unfold to amp.dev tools"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

Unfold

### Type

Use [x] to mark a selection:

- [] Story Creation Tool
- [ ] CMS
- [x] Platform
- [ ] Other

### URL

https://unfold.com/

### Image
![Unfold_GoogleWebStories](https://user-images.githubusercontent.com/59689485/99283536-0c4dd980-282d-11eb-9774-d5403963b64e.png)

### Description

[2020-11-16 18:57] sdenaro commented on #4970
I can take this one.

[2020-11-17 15:17] TetraLogicalHelpdesk opened #4973 "📖 Minor: nested lists not showing as nested in live docs"
This may be because the live documentation is older than the one in the repository, but: comparing the repository version of https://github.com/ampproject/amphtml/blob/master/extensions/amp-sidebar/0.1/amp-sidebar.md against the live version https://amp.dev/documentation/components/amp-sidebar/#usage it appears that the nested list is not actually rendering as nested?

[2020-11-17 18:41] nemanjapopovic commented on #4947
Hi @shishirm , any update regarding this or is there anything additional we need to provide? :)

[2020-11-18 09:52] matthiasrohmer commented on #4915
@nainar, this seems like a FR for AMP itself. Can you move this over to ampproject/amphtml?

[2020-11-18 09:55] matthiasrohmer commented on #4880
@ilyaspiridonov, assigned that to you. I guess you and your team will consider this when working on PT-BR.

[2020-11-18 10:03] #4887 closed

[2020-11-18 20:16] minndarkboyy opened #4976 "xxnx xvideos"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [x] Guide
- [x] Tutorial
- [x] Example
- [x] Translation
- [x] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2020-11-18 20:18] minndarkboyy commented on #4976
dddd

[2020-11-18 20:18] #4976 closed

[2020-11-18 20:18] minndarkboyy commented on #4976
ddd

[2020-11-18 23:14] morsssss commented on #4828
I think this is another instance of https://github.com/ampproject/amp.dev/issues/3911 .

[2020-11-19 02:18] marinatrajk opened #4978 "🛠️ Add Ampstor as third-party story creation tool"
## 🛠️  Request to Add Third-Party Story Creation Tool

### Story creation resource name

Ampstor

### Type

Use [x] to mark a selection:

- [x ] Story Creation Tool
- [ ] CMS
- [ ] Platform
- [ ] Other

### URL

https://ampstor.co/

### Image

![editor](https://user-images.githubusercontent.com/9975218/99602651-b4db7500-29b6-11eb-9728-9975001067fc.png)

### Description

Visually create Web stories

[2020-11-19 23:39] morsssss opened #4982 "Some text in courses landing page is stuck in English"
## 🐛 Bug Report

### Current behavior
On the [courses landing page](https://amp.dev/es/documentation/courses/), most of the text has been translated into other languages. But other text is stuck in English, yielding the following strange result:

![image](https://user-images.githubusercontent.com/29419498/99737329-18889f80-2a96-11eb-8537-6b5bcfffe1a1.png)

This happens because we pull the content

[2020-11-21 17:05] gelopfalcon commented on #4982
Yeah, I can do it!

[2020-11-21 22:53] mrsar opened #4991 "@@##"
## 🐛 Bug Report

### Current behavior
A clear and concise description of the bug you found in amp.dev.

Please also provide:
- Page link: <insert the URL link to the amp.dev page(s) that you found the issue on>
- (Optional) Screenshots/videos:

### Expected behavior/code
A clear and concise description of what you expected to happen.

### Reproduction procedure
Please provide the steps to reproduc

[2020-11-21 22:53] mrsar opened #4992 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2020-11-22 00:45] #4991 closed

[2020-11-22 00:45] #4992 closed

[2020-11-23 23:06] morsssss commented on #4982
If you like, sure!

Let me know if you want guidance on how this should be done. (Part of the
key is to put the translated text
in pages/translations/es/LC_MESSAGES/messages.po)

On Sat, Nov 21, 2020 at 12:05 PM Gerardo Lopez Falcon <
notifications@github.com> wrote:

[2020-11-24 12:35] matthiasrohmer commented on #4982
I think everything is actually as it should be: texts coming from the translated source appear translated on the rendered page. My guess is the pages the cards are linking to are not yet translated and by this are in their original language.

See the Portuguese landing page for example: https://amp-dev-staging.appspot.com/pt_br/documentation/courses/. Here the teaser cards are translated as the de

[2020-11-24 12:36] matthiasrohmer commented on #4978
/cc @shishirm for review. Thanks a lot!

[2020-11-24 14:48] sorrry opened #4994 "Amp story megaroid.com"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

< Insert name here >

### Type

Use [x] to mark a selection:

- [x] Story Creation Tool
- [ ] CMS
- [ ] Platform
- [ ] Other

### URL

< Insert URL to Tool/CMS/Platform here >

### Image

< Please provide a screenshot of your resource’s editor window (min. 800x400 pixels) to appear on the [Tools](

[2020-11-24 17:06] tpkahlon opened #4995 "How to load custom premium font in AMP?"
# Bug

On this [page](https://www.drugdiscoverynews.com/it-s-electric-can-trigeminal-nerve-stimulation-help-with-adhd-14755/amp), custom premium font is broken. The font is hosted on the server but is not readable publicly.

# Cause

According to [documentation](https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/custom_fonts/), Fonts included via @font-face must be fetched

[2020-11-24 19:13] shishirm commented on #4978
Hello,

Thanks so much for filing this issue. Given this is Thanksgiving week and most folks are OOO, we'll start reviewing next week and will attempt to complete by the end of next week. We'll reach out with any clarifying questions or changes requested.

Thanks again!

[2020-11-24 19:16] shishirm commented on #4970
Hello,

Thanks so much for filing this issue. Given this is Thanksgiving week and most folks are OOO, we'll start reviewing next week and will attempt to complete by the end of next week. We'll reach out with any clarifying questions or changes requested.

Thanks again!

[2020-11-24 19:17] shishirm commented on #4947
Hello,

Thanks so much for filing this issue. Given this is Thanksgiving week and most folks are OOO, we'll start reviewing next week and will attempt to complete by the end of next week. We'll reach out with any clarifying questions or changes requested. Apologies for the delay here!

Thanks again!

[2020-11-24 22:34] morsssss commented on #4982
@matthiasrohmer , thanks for stepping in here to explain how this works. That does make sense - the build is smart enough to pull the `description` from the translated version of each file.

In fact, we do already have the translated `beginning-course/index@es.md` file. (It's what you linked to in your comment.) I still don't see this translated on amp.dev. But I do see it on staging [here](https:

[2020-11-24 22:34] #4982 closed

[2020-11-25 19:14] ApurvGpt commented on #4852
Hey @CrystalOnScript, would it be possible to get an update on it? When can I expect it to get merged?

[2020-11-28 15:11] ayumi-cloud opened #4999 "Use of non-code quality quotation marks in code example"
Code example location in doc's:

https://amp.dev/documentation/components/amp-consent/#prompt-ui-for-stories

Current code:

[code]

Correct code:

[code]

If you missed it - see screenshot:

![image](https://user-images.githubusercontent.com/57409060/100518818-e78e2600-318b-11eb-9ce4-969e8d634273.png)

[2020-11-28 17:28] piotr-galas commented on #3988
I really looking forward example. For me, it sounds like super complicated how to implement GDPR compliant cookie.
I know that everything is in the documentation but usually when I am coding  I  am using an official example and use documentation to tune it only.

[2020-11-29 01:20] MrCsabaToth commented on #3988
As of now I'm using a simple modal dialog with Accept/Reject choices and I tried to summarize all the possible cookies I saw. See https://gitlab.com/MrCsabaToth/mrcsabatoth.gitlab.io/-/blob/master/_layouts/default.html#L64

One of the most difficult things without AMP is to first offer the information and choice to the user and then only allow selected cookies on demand, which would require on-dem

[2020-11-30 08:41] nixtka commented on #4802
@shishirm @matthiasrohmer can we please move on here? Thank you in advance!

[2020-11-30 12:57] patrickkettner commented on #4999
thanks for the report! this is actually part of the imported documentation, whose data exists over in ampproject/amphtml. I submitted a PR over there to fix this.

[2020-11-30 13:15] patrickkettner commented on #4995
hi @tpkahlon
As mentioned in the docs, you need to reference the docs with their fully qualified domain name (.e.g `https://www.drugdiscoverynews.com/fonts/BentonSans/BentonSans-Bold.woff`), rather than a relative URL that is currently being used.

[2020-11-30 13:15] #4995 closed

[2020-11-30 13:15] #4994 closed

[2020-11-30 15:21] patrickkettner commented on #4973
@matthiasrohmer given [your comment](https://github.com/ampproject/amp.dev/issues/4264#issuecomment-668746298), would we add something like [truly_sane_lists](https://github.com/radude/mdx_truly_sane_lists), or are we just not going to consider patching and instead focus on linting?

[2020-11-30 15:24] ayumi-cloud commented on #4999
Thank you, I did search both repos.

[2020-11-30 15:25] patrickkettner commented on #4999
thanks! to be clear, I wasn't chastising - more apologizing for the unusually complex structure

[2020-11-30 16:35] patrickkettner commented on #4879
@nainar @caroqliu @samouri

this still is occurring, but the tracking bug is closed - is there a more up to date place to keep up with this information?

[2020-11-30 16:42] ayumi-cloud commented on #4999
No need to apologize! Thanks for your quick help.

[2020-11-30 16:54] matthiasrohmer commented on #4670
That has been fixed in the meantime.

[2020-11-30 16:54] #4670 closed

[2020-11-30 16:59] samouri commented on #4879
I think our usual protocol is to close a bug when the fix is merged instead of when it lands on stable. The [fix](https://github.com/ampproject/amphtml/pull/31258) is only in Beta right now. It should make it to stable this week. If the bug is still occurring after the fix is in stable then lets reopen the issue.

[2020-11-30 17:03] patrickkettner commented on #4877
@robinvanopstal was there any blockers for this?

[2020-11-30 18:25] patrickkettner commented on #4857
@matthiasrohmer @sebastianbenz

Couple things

- thumbor doesn't support avif - can we add an early escape for `/.avif$/` in the [imageOptimizer](https://github.com/ampproject/amp.dev/blob/future/platform/lib/utils/imageOptimizer.js) logic? Or am I being naive?
- are we wanting to vary a response to serve the image, or is native image support going to allow us to use `<picture>` and `<source>` wit

[2020-11-30 18:37] #4920 closed

[2020-11-30 18:38] #4906 closed

[2020-11-30 23:44] nemanjapopovic commented on #4947
Hi @shishirm , thank you for letting me know :). @sdenaro looking forward to your feedback :)

Enjoy holidays and talk to you soon :)

[2020-12-01 16:53] patrickkettner commented on #4699
@kristoferbaxter once native image support lands, do you imagine recommending &lt;picture&gt; use? It seems like that would allow us to use next gen image formats a lot sooner

[2020-12-01 17:05] kristoferbaxter commented on #4699
Absolutely, once native image support lands we can recommend using <picture>.

However, this will be quite off since we need to account for all the use-cases of <amp-img>. It's still in the best interest of publishers to support `vary` based on `accept-encoding` and return the correct response type.

[2020-12-01 17:22] cramforce commented on #4699
In practice using `picture` would make a huge difference. The `vary` stuff just isn't going to happen.

[2020-12-02 18:14] #4999 closed

[2020-12-03 01:48] garyeduardo1191 opened #5013 "To solve for gulp >4 when you are using gulp.task('default',['**task**'], function(){});"
To solve for gulp >4 when you are using gulp.task('default',['**task**'], function(){});
replace ['task'] with gulp.series('task') or gulp.parallel('task')
Hope this can solve your problem :)
I found this solution here: https://www.liquidlight.co.uk/blog/how-do-i-update-to-gulp-4/

_Originally posted by @charlotteyizhang in https://github.com/ampproject/amp.dev/issues/793#issuecomment-513485470_

[2020-12-03 09:35] matthiasrohmer commented on #4337
Fixed by https://github.com/ampproject/amp.dev/pull/4533

[2020-12-03 09:35] #4337 closed

[2020-12-03 09:36] #5013 closed

[2020-12-03 09:37] #4045 closed

[2020-12-03 09:39] #3780 closed

[2020-12-03 09:39] #3675 closed

[2020-12-03 09:41] #3547 closed

[2020-12-03 09:53] matthiasrohmer commented on #3145
Done.

[2020-12-03 09:53] #3145 closed

[2020-12-03 10:05] #3075 closed

[2020-12-03 10:06] matthiasrohmer commented on #4852
@sebastianbenz, this one is another AMP4Email tool waiting for approval.

[2020-12-03 10:07] #2822 closed

[2020-12-03 10:09] matthiasrohmer commented on #2766
Done in the meantime.

[2020-12-03 10:09] #2766 closed

[2020-12-03 10:09] #2734 closed

[2020-12-03 10:11] matthiasrohmer commented on #2269
@robinvanopstal, can you please discuss this with Ferdi when refactoring the sidebar for frontend21?

[2020-12-03 10:12] matthiasrohmer commented on #2164
Not feasible anymore as our build process does not yield valid AMP pages in the first place but they only get valid through the use of an AMP optimizer.

[2020-12-03 10:12] #2164 closed

[2020-12-03 10:13] matthiasrohmer commented on #2083
Done with https://github.com/ampproject/amp.dev/pull/4155 and others.

[2020-12-03 10:13] #2083 closed

[2020-12-03 19:21] #4852 closed

[2020-12-04 17:06] #1179 closed

[2020-12-04 17:08] #3842 closed

[2020-12-04 17:33] patrickkettner commented on #3919
@sebastianbenz did you have an opinion on @westonruter's question?

[2020-12-04 17:33] #3939 closed

[2020-12-04 17:39] sebastianbenz commented on #3919
I think the organization is not relevant in this case. I think we should use it for every quotation as long as we haven't got anything better.

[2020-12-04 18:08] dmanek opened #5024 "amp-list example on playground has validation error"
## 🐛 Bug Report

### Current behavior
amp-list example on playground.amp.dev has validation error due to missing ">" after the html tag.

Please also provide:
- Page link: https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fcomponents%2Famp-list&format=websites&_gl=1*1k4ai1c*_ga*YW1wLVhoSm1JRjNVaXRJeDZDeDhWbWNBOEE.
- (Optional) Screenshots/videos:

### Expect

[2020-12-04 20:08] #5024 closed

[2020-12-04 20:16] sebastianbenz opened #5027 "Playground: don't show learn more link on validation errors if there is nothing to learn more"
See [link](https://playground.amp.dev/?runtime=amp4stories#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKaoT4KPGhlYWQ+CiAgPG1ldGEgY2hhcnNldD0idXRmLTgiPgogIDxsaW5rIHJlbD0iY2Fub25pY2FsIiBocmVmPSJzZWxmLmh0bWwiPgogIDxtZXRhIG5hbWU9InZpZXdwb3J0IiBjb250ZW50PSJ3aWR0aD1kZXZpY2Utd2lkdGgsbWluaW11bS1zY2FsZT0xIj4KICA8c3R5bGUgYW1wLWJvaWxlcnBsYXRlPmJvZHl7LXdlYmtpdC1hbmltYXRpb246LWFtcC1zdGFydCA4cyBzdGVwcygxLGVuZCkgMHMgMSB

[2020-12-04 22:24] sdenaro commented on #4947
I went over the stories, there are a few issues that seem to be universal:

### Errors

1. linkrelcanonicalisok

The connnical URL is incorecct, if doesn't include 'amp' even though the URLs provided do use amp.

Please ensure that the connnical URL is used for the stories and edit the submission to remove th trailing /amp

actual: https://storifyme.com/stories/storifyme-stories/fashion-magazine-f

[2020-12-05 00:16] sdenaro commented on #4970
#### Need to Fix

All ten stories have issued with video that is over the3 4mb limit, leading it to be considered problematic for AMP. They also have issues with the story metadata thumbnails. These are critical for search results.

1. https://stori.es/Yjy4P

ampvideoissmall (FAIL)

  videos over 4MB: [https://cdn-stories.unfold.com/Y/j/Yjy4P/c48d38dd-b230-4047-8165-cd228ff905a7/a78d823b-5e7b-4fb9

[2020-12-05 01:36] #3859 closed

[2020-12-06 14:54] ghelapratik opened #5032 "Content proposal - Update Screenshot for makestories.io"
We have recently updated the software for MakeStories and so we will like to update the screenshot on the listing page at https://amp.dev/documentation/tools/?format=stories. Please find the attached file for the same.

Thanks!

@shishirm

![MakeStories-amp-dev](https://user-images.githubusercontent.com/22929187/101283526-f1a1cb80-3800-11eb-9b3a-d7997fd4ba9d.png)

[2020-12-07 18:47] patrickkettner opened #5038 "localization PR's should trigger a CI build for that locale"
when .po files are modified, that locale should be triggered for build. some bugs have crept since PRs only seem to be testing english

[2020-12-07 21:13] paulnahal opened #5227 "Missing Templates for AMP for Email Components in AMP Playground"
## What's the issue?

It looks like the templates for AMP for Email components have disappeared from the AMP Playground.

## How do we reproduce the issue?

https://playground.amp.dev/?runtime=amp4email

1. Open the AMP Playground
2. Choose AMP for Email
3. Click untitled in the top/middle of the page to open the Select Template modal.

Only `amp-autocomplete-email`, and `amp-bind-macro` component

[2020-12-07 22:09] westonruter opened #5040 "PX guide JS error: Cannot read property 'origin_fallback' of undefined"
## 🐛 Bug Report

### Current behavior

I'm getting a PX guide JS error:

Please also provide:
- Page link: https://amp.dev/page-experience/

![image](https://user-images.githubusercontent.com/134745/101411311-9bcb3300-3895-11eb-9d15-105f0f894ad3.png)

### Expected behavior/code

No JS error.

### Reproduction procedure
Please provide the steps to reproduce the problem:

1. Provide the URL to an AM

[2020-12-07 22:29] matthiasrohmer commented on #5038
I don't want to unnecessarily bloat the scope of this, but actually, there is a feature we have been aiming for for a while: build the subset of pages that have been altered in the specific PR and somehow serve them for review/preview.

This would not only be beneficial for localization but also for new features that need approval from colleagues who are not comfortable setting up amp.dev on their

[2020-12-07 22:31] matthiasrohmer commented on #5032
Thanks for your inquiry, @ghelapratik! Would you be comfortable doing this change on your own? The file that needs to be replaced is located here: https://github.com/ampproject/amp.dev/blob/future/pages/static/img/tools/makestories.jpg

[2020-12-07 22:33] matthiasrohmer commented on #5040
@bezoerb, as discussed offline: tentatively assigning this to you to get a first glimpse of Pixi. LMK if you need further support with this though I am fairly confident you'll figure this out ☺️

[2020-12-07 22:35] matthiasrohmer opened #5041 "Listing of AMP experiments in playground is broken"
![Bildschirmfoto 2020-12-07 um 16 03 28](https://user-images.githubusercontent.com/12857772/101413598-d8724b00-38e4-11eb-98d7-0f8eda8ffec7.png)

[2020-12-08 10:14] #5027 closed

[2020-12-09 01:18] nemanjapopovic commented on #4947
Hey @sdenaro thank you so much for such a detailed report. We will jump on updating/fixing these things right away. In the meantime, can you please let us know what tool did you use for validation so we can check that it works as expected before we ping you here again?

[2020-12-09 01:30] patrickkettner commented on #4822
@sebastianbenz if you happen to have any leads here, i'd love to get this sorted so #4226 could get merged

[2020-12-09 02:12] patrickkettner commented on #4877
cc @matthiasrohmer

[2020-12-09 04:36] sdenaro commented on #4947
@nemanjapopovic

I will be using the amp-linter to verify

https://github.com/ampproject/amp-toolbox/tree/main/packages/linter

Thanks

[2020-12-09 09:29] #4909 closed

[2020-12-09 11:08] avarghese-sqsp commented on #4970
Thanks @sdenaro for the feedback. We will work on updating the stories with smaller videos and other recommendations

[2020-12-09 11:08] #5041 closed

[2020-12-09 13:20] #5040 closed

[2020-12-09 14:23] sebastianbenz opened #5053 "Add data-css-strict to all email samples"
This enables stricter CSS validation required for Gmail compatibility.

//cc @patrickkettner

[2020-12-09 14:25] sebastianbenz commented on #5053
We should also update the playground template here https://github.com/ampproject/amp.dev/blob/future/playground/src/runtime/templates/email.template.html

[2020-12-09 19:28] #4973 closed

[2020-12-09 22:46] CrystalOnScript opened #5056 "Updated publishing checklist to include PX"
## 📖 Missing or Out-of-Date Documentation

### Problem
[AMP publishing checklist](https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/publishing_checklist/?format=websites) doesn't include PX tooling and information.

### Location
https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/publishing_checklist/?format=websites

[2020-12-10 18:04] #5053 closed

[2020-12-11 03:11] ghelapratik commented on #5032
Hey @matthiasrohmer, Chintan has made a pull request for the same at https://github.com/ampproject/amp.dev/pull/5068

Thanks!

- Pratik G.

[2020-12-11 12:07] #5032 closed

[2020-12-11 12:29] #2728 closed

[2020-12-11 15:50] MiselKING commented on #4947
Hi @sdenaro , we updated our stories and fixed all errors and warnings mentioned in your previous review.
Can you please review again and let us know if everything is working as expected (or if there is anything else we should fix)?

Thanks

[2020-12-12 02:49] DrLightman opened #5075 "<amp-brightcove> and docking into a slot, I can't make it work"
Hello,

please see the attached example, I'm sorry you have to upload somewhere and load it into a browser.

[test-amp-brightcove-dock.zip](https://github.com/ampproject/amp.dev/files/5682374/test-amp-brightcove-dock.zip)

Enter dev tools mobile testing on your browser (not required) then click play on the video and scroll down to activate the docking.

The issue is that I want the <amp-brightcove

[2020-12-12 03:55] sdenaro commented on #4947
@MiselKING @nemanjapopovic I will confirm your changes on Monday. If everything is ok, the PR should be in by end of day Monday or early Tuesday at the latest.

Thanks.

[2020-12-13 14:54] nemanjapopovic commented on #4947
Hey @sdenaro, thank you so much for letting us know, have a great rest of the weekend, and talk to you soon.

[2020-12-14 08:58] patrickkettner opened #5080 "search button throws an error on on 404 page"
![image](https://user-images.githubusercontent.com/465414/102060702-850a6c00-3dc0-11eb-9bba-7322ac1ca090.png)

Error is thrown when you tap on the magnifying glass icon.

Strangely, _doesn't_ occur on https://amp.dev/404, but does on any other page that is a 404

[2020-12-14 09:00] patrickkettner commented on #5080
[code]

[2020-12-14 09:05] patrickkettner commented on #5080
`/404` is an optimized html document, pages that result in a 404 are _not_. I am assuming that the optimizer is auto including the missing lightbox component? @sebastianbenz

[2020-12-14 09:17] patrickkettner commented on #5080
confirmed, https://amp.dev/404/?optimize=true doesn't have the issue, https://amp.dev/401/?optimize=false does

[2020-12-14 09:59] bezoerb commented on #4877
Do we have a test page available for this? Any URL to reproduce the error message?

[2020-12-14 10:01] patrickkettner commented on #4877
a valid amp document that has low/no traffic should trigger it

[2020-12-14 10:58] ApurvGpt commented on #4852
Hi @sebastianbenz , the name of Mailmodo is misspelled in this commit. Could you please fix that.
The actual name is Mailmodo but it's mentioned as Mailmondo. TIA

[2020-12-14 11:01] sebastianbenz commented on #4852
Fixed in
https://github.com/ampproject/amp.dev/commit/b7f8e0a491e9982c845e2f128df09970a684c82d

[2020-12-14 16:55] patrickkettner commented on #5075
Hi @DrLightman!

The issue you are hitting is because your slot has no dimension. It works if you set a `height` and/or `width` style. [Here](https://happy-flax-dolphin.glitch.me/) is an example.

Separately, a couple things.
    - I _highly_ recommend using glitch for any code samples - its a great place to both host stuff, and share issues.
    - This repo is meant for issues/development of the