[2019-11-07 17:01] matthiasrohmer commented on #3193
Thanks for the report! My wild guess would be that this category is actually empty for the format `stories`. The question though is why it doesn't get removed then.

[2019-11-07 17:04] jackbsteinberg commented on #3193
Followup, it looks like there's content for AMP Stories in the <amp-story> section of the docs for websites, so content exists for this, but it must not in the Stories section specifically.

[Link to <amp-story> docs under the Website section](https://amp.dev/documentation/components/amp-story/#animations)

[2019-11-10 16:09] imulyana123 opened #3197 "My Practise to Built AMP"

[2019-11-10 16:35] #3197 closed

[2019-11-10 16:55] imulyana123 commented on #3197
Hallo Sebastianbenz, I'm just want to try built AMP, but I'm still complicated, between plugin and the strusture data, built from google, I am not profesional, I am leaarn by read at google, straightly. Thank You

[2019-11-12 09:22] #3190 closed

[2019-11-12 14:45] fstanis opened #3202 "What is AMP_DEV_CREDENTIAL_GOOGLE_CSE_API_KEY?"
I just got this when I ran `gulp develop --clean-samples`:

[code]

What is `AMP_DEV_CREDENTIAL_GOOGLE_CSE_API_KEY`? I searched the repo, but couldn't find any reference to it.

[2019-11-12 14:48] fstanis opened #3203 "ad-integration-guide.md is imported / generated, but not ignored"
## Bug Report

### Current Behavior

`pages/content/amp-dev/documentation/guides-and-tutorials/contribute/vendor-contributions/ad-integration-guide.md` is generated somehow, but not ignored.

### Expected behavior/code

All generated files are gitignored.

### How do we reproduce the issue?

[code]

[2019-11-12 15:23] sebastianbenz commented on #3202
it's used for the Google Custom site search integration. It's save to ignore unless you want to test search. We probably should make this a warning instead.

[2019-11-12 15:38] fstanis commented on #3202
Sure, might also be worth documenting similar to how we do with `AMP_DOC_TOKEN`.

[2019-11-12 21:00] morsssss opened #3207 "amp-ad should mention how to create responsive ads"
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be up dated**
Just spoke to someone from UnoTV, who have a new and nice AMP-first implementation. They had struggled with creating a responsive ad. Turns out there's a simple way: create two `<amp-ad>`s with an appropriate media query for each. AMP will intelligently only make an ad call for the `<amp-ad>`

[2019-11-13 18:09] morsssss opened #3208 ""Previous" and "Next" Link texts in blog need guaranteed separation"
## Bug Report
The text next to the "previous" and "next" arrows, if sufficiently long, can lack any spacing... so the two bits of text merge into one.

This happens, for example, at [https://blog.amp.dev/2018/10/08/how-to-make-amp-even-faster/](https://blog.amp.dev/2018/10/08/how-to-make-amp-even-faster/) .

See screenshot:

<img width="755" alt="Screen Shot 2019-11-13 at 10 05 30 AM" src="https:/

[2019-11-15 09:07] matthiasrohmer commented on #3208
@westonruter, same as with other blog issues: let us know if we could help or reassign to someone in your team. 🙂

Looking at the CSS selectors it seems that those are blog specific stylings.

[2019-11-15 09:28] matthiasrohmer commented on #3203
This would be fixed by #2463, I'll have a look at why this PR is blocked.

[2019-11-15 17:52] CrystalOnScript opened #3214 "Enable experimental toggle on documentation pages that have experimental components"
## Feature Request
Experimental components do not execute in inline executable code samples on non-example documentation pages, such as components.

[amp-mega-menu](https://amp.dev/documentation/components/amp-mega-menu/?format=websites)

# Describe the solution you'd like
I'd like to see experimental inline executable code samples :D

cc: @tharders

[2019-11-15 18:33] westonruter commented on #3208
Thanks. We're currently stretched pretty thin but I'll add it to the list.

[2019-11-17 22:17] Umairaziz1122 opened #3215 "404 broken link"
## Request to add third-party tool/service/platform/vendor

**1. What's the name?**
(Insert name here)

**2. For which format?**
(Insert websites, stories, ads, email or a combination)

**3. What type is it?**
(Insert editor, service provider, developer tool, content platform, CMS, or ads, audio/video or analytics vendor)

**4. What page should it appear on?**
1. [amp.dev/support/faq/platform-and-

[2019-11-18 07:28] #3166 closed

[2019-11-18 08:47] #3215 closed

[2019-11-18 10:55] matthiasrohmer commented on #3167
@sebastianbenz doubted that actions and events are describable in the condensed frontmatter. @sebastianbenz, can you elaborate?

[2019-11-19 10:52] fstanis opened #3218 "[content idea] a11y screen reader and voice control tips for specific HTML features"
While testing AMP on iOS, we came across some browser-specific a11y issues, for example with `<input type="month">`, it can't be focused when using VoiceOver.

While this is not an issue with AMP per se, I think it would be valuable to mention somewhere (either in `<amp-form>` docs or a separate article) that input types like this should be avoided to prevent a11y issues.

I found a great website

[2019-11-19 13:30] sebastianbenz commented on #3218
Great idea! One question would be whether we should add an accessibility section to relevant component doc pages or whether we should add a dedicated guide?

This should also fit into @caroqliu's work.

//cc @CrystalOnScript

[2019-11-19 15:41] caroqliu commented on #3218
Thanks for suggesting this, Filip! I believe both a dedicated guide and component-specific documentation would be useful. Something like what Filip is proposing would probably be a two-step change: (1) we could add an "Accessibility Considerations" or similar under Documentation > Guides and Tutorials > Develop that provides publishers with resources for a11y testing their websites with assistive

[2019-11-20 11:01] matthiasrohmer commented on #3145
Here is what I'd do:

1. Instead of storing the built pages as archives and downloading them at the end of the build process to then add them to the Docker image like so:

https://github.com/ampproject/amp.dev/blob/43ab82890b961774f354b742cbf261c7467a1ab6/gulpfile.js/build.js#L349-L359

We extract them to the Google Cloud Storage and then don't use `fs` calls here

https://github.com/ampproject/am

[2019-11-20 17:16] sebastianbenz commented on #3145
Thanks for looking into this. Comments:

re 1.: does this mean you want to store all files in cloud storage? Static files as well?
re 2.: using redis here makes sense. Have you got an idea how to best update caches on deploy?

[2019-11-21 08:32] matthiasrohmer commented on #3145
1. Didn't even thought about static files, but yes that would definitely make sense and even further decrease image size. @tharders mentioned it would be nice if we are somehow able to mount the GCS in a way it's usable by `fs` calls. That would avoid creating a special case which is not easily testable. I'll look into this.

2. If we use the build number combined with the request URL as a cache k

[2019-11-21 09:39] sebastianbenz commented on #3145
re 1: sgtm
re 2.: didn't know that redis supports auto-expiring keys. That's perfect then!

[2019-11-21 20:12] sebastianbenz opened #3224 "Add dark mode sample"
We should have a sample demonstrating how to support dark mode in AMP. Sample by @tomayac  https://codepen.io/tomayac/pen/bGGzqNb

[2019-11-22 11:36] sebastianbenz commented on #3147
It has been fixed with #2530

[2019-11-22 11:36] #3147 closed

[2019-11-22 11:37] sebastianbenz commented on #2883
Fixed

[2019-11-22 11:37] #2883 closed

[2019-11-22 11:37] sebastianbenz commented on #3145
one thing about 1) how would rollback and cleanup work in this scenario?

[2019-11-22 21:52] tomayac commented on #3224
Feel free to assign to me. I'm happy to tackle this.

[2019-11-25 02:05] biyott opened #3235 "[Translate-ko] Add signed-exchange page, publishing checklist page"
A short description of your contribution:

Type of contribution:
[ O ] Translation

Process
https://docs.google.com/document/d/19DEZWu1hjfDU1i0H-olbscVxjuGfJXyHUhI2IAMPZIA/edit#

I'm sorry.
Proposal Guide article already submitted by mistake without reading.

[ ] 1. Proposal created `link to proposal`
[ ] 2. Proposal approved.
[ ] 3. Draft complete.
[ ] 4. Draft approved.
[ O ] 5. Pull request sub

[2019-11-25 02:12] techhtml commented on #3235
Hello new translator!

Thank you for your contribution,
When will you complete your translation, feel free to request to reviewing me :)

I always in here.
THx!

[2019-11-25 02:16] biyott commented on #3235
@techhtml I already complete translation.
[This pull request](https://github.com/ampproject/amp.dev/pull/3220)

[2019-11-27 01:06] pbakaus opened #3242 "Bug: amp-story component page is invalid AMP, and has broken samples"
See https://amp.dev/documentation/components/amp-story/#data-text-background-color

![image](https://user-images.githubusercontent.com/43004/69684861-020c5b80-106f-11ea-8266-96b03f743b21.png)

[2019-11-27 02:46] biyott commented on #3235
용어에서 고민하고 있는 부분이 있는데,

- 예를 들면 `signed exchanges` 라든가 'Response', 'Request', 'Accept', 'header', 'binary', 'Deploy', 'production', 'staging', 'provider', 'canonicals', 같은 경우 영어나 발음 그대로 표기한 것이 더 직관적이고 이해가 잘 되는 것 같습니다. 그렇다고 '스테이징', '프로바이더'와 같은 단어로 채우기엔 너무 외래어를 남발하는 느낌이 들고요.
- 'non-cache' 같은 것도 '비 캐시'와 같이 번역하기에 좀 억지스러운 느낌입니다. 차라리 'non-캐시'가 더 이해가 잘 됩니다.
- 개발문서의 경우 서술형 문장 문맥만을 번역하는 것이 더 이해가 쉽다고 생각하는데,

[2019-11-27 02:51] techhtml commented on #3235
`signed exchanges` 는 원문 그대로 가져가는 게 좋다고 생각하고,
각각 순서대로 응답, 요청, 허용, 헤더, 바이너리, 배포, 제품, 스테이징, 프로바이더 (얘는 기술 용어라), 대체 링크
등으로 번역하고 있습니다.

`non-cache` 는 `캐시가 아닌` 같은 식으로 풀어서 쓰셔도 좋을 듯 합니다.

[2019-11-27 02:52] techhtml commented on #3235
제가 정신이 없어서 리뷰 중간에 몇가지 어색한 표현은 추가 자정작용 등을 통해 개선될 거라 판단하며 리뷰를 진행하고 있는데요. 용어집은 별도로 마련해두는 방향이 좋아보이네요 :)

[2019-11-27 02:56] biyott commented on #3235
답변 감사합니다. 👍
기존에 번역한 단어도 고치는 방향을 생각해봐야겠네요.
진행할 번역에 대해 이슈에 남기겠습니다.

[2019-11-27 10:24] TorbenTigges commented on #2745
5 months later, still impossible to trust the documentation which is specifically for email (https://amp.dev/documentation/components/amp-bind/?format=email).
Client demands to use this function, as they've seen it in the documentary and articles with examples all over the web.

[2019-11-27 17:33] morsssss opened #3243 "Can we get rid of confusing warning on pages about stories?"
Let's say you visit [the guide on best practices for Stories](https://amp.dev/documentation/guides-and-tutorials/develop/amp_story_best_practices/), with nothing in the URL parameter.

You then see at the top of the page, this warning:

<img width="655" alt="Screen Shot 2019-11-27 at 12 30 34 PM" src="https://user-images.githubusercontent.com/29419498/69746251-db533100-1111-11ea-871d-ac08559a62cf.

[2019-11-27 18:03] kristoferbaxter opened #3244 "Use srcset on for <amp-img>"
# Is your feature request related to a problem? Please describe.
Images loaded on `amp.dev` do not use `srcset` to choose a smaller image for different screen sizes. Using srcset would reduce the number of bytes sent for image requests.

[code]

Here using src set could reduce the size of these images significantly for smaller resolution devices.

# Describe the solution you'd like
Leverage srcset

[2019-11-27 18:09] kristoferbaxter opened #3245 "Content from WordPress uses incorrect image format"
### Current Behavior
Blog posts featured on the homepage use `png` format for embedded images, increasing their size significantly compared to the `webp`/`jpg` fallback format used on other items across the homepage.

Please also provide:
- Page link: https://amp.dev/
![Screen Shot 2019-11-27 at 10 07 04 AM](https://user-images.githubusercontent.com/61764/69748658-b5239600-10fd-11ea-8c72-d8656db44

[2019-11-27 21:18] sebastianbenz commented on #3243
This will be fixed by #2588 and with the new format selector.

[2019-11-27 21:18] #3243 closed

[2019-11-27 21:24] morsssss commented on #3243
excellent... thanks!

[2019-11-28 08:03] HaraldWalker opened #3252 "amp-img documentation for amp4email includes srcset attribute"
## What's the issue?

The amp for email documentation of amp-img includes the srcset attribute but in the amp validator the srcset attribute is not allowed in amp4email.

Seen on following pages:
https://amp.dev/documentation/components/amp-img/?format=email
https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/art_direction/?format=email

## How do we reproduce the issue?

1

[2019-11-29 11:37] #2962 closed

[2019-12-01 15:40] karansapolia commented on #2382
@raisaveuc I think this issue can be closed as https://github.com/ampproject/amp.dev/pull/3134 has been merged.

[2019-12-02 16:50] choumx commented on #3252
@sebastianbenz Is it possible to conditionally change copy based on format? Or would we need a separate `amp-img-email.md` file?

[2019-12-02 17:14] sebastianbenz commented on #3252
Yes, [that's possible](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/formatting/?format=websites#filtering-sections). We need to systematically go through all the component ref docs. I'l create a separate issue for this.

[2019-12-02 17:20] fstanis commented on #3252
#2745 is the existing issue about this.

[2019-12-03 23:41] morsssss opened #3255 "Video components page mentions amp-iframe instead of amp-video-iframe"
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be up dated**
[This guide on components for video players](https://amp.dev/documentation/examples/multimedia-animations/integrating_videos_in_amp_an_overview/) is quite helpful! At the end, though, it says that for nonsupported players, it's best to simply use an `<amp-iframe>`. I imagine that we actually w

[2019-12-04 12:50] nutcha1 commented on #3242
https://github.com/ampproject/amp.dev/issues/3242#issue-529054677

[2019-12-04 13:21] matthiasrohmer commented on #3242
Hm.. the examples seem fine to me, that's rather an issue with rewriting the relative GitHub paths to absolute URLs. But in this case there just seem to be hidden characters somewhere: `https://github.com/ampproject/amphtml/blob/master/extensions/amp-story/img/text-background-color-ex-2.png%E2%80%8B%E2%80%8B%E2%80%8B`. That's the image's src.

[2019-12-05 14:43] charset-and-forget opened #3260 "Add RebelMouse to the Platform & Vendor Partners page as a CMS"
As suggested by @mattludwig ; would be happy to provide any info necessary in order to add our CMS to relevant places on amp.dev.
Developers are able to easily implement AMP and provide content creators with great tools for creating AMP posts and AMP-compatible monetization.
[https://amp.dev/support/faq/platform-and-vendor-partners/](url)
[https://amp.dev/documentation/tools/](https://amp.dev/docu

[2019-12-05 19:26] fellyph opened #3263 "[Translate_pt_BR] Beginners Course intro"
Hi @CrystalOnScript

I would like to translate the Beginners course introduction to Brazilian Portuguese:   https://github.com/ampproject/amp.dev/blob/future/pages/content/amp-dev/documentation/courses/beginning-course/course-introduction.md

Estimation: 1 week

Thanks,
Fellyph

[2019-12-05 20:17] CrystalOnScript commented on #3263
That'd be great! We do not currently have this out for translation, so this would be very much appreciated :)

cc: @morsssss

[2019-12-05 21:16] morsssss commented on #3263
Yay @fellyph ! This... would be huge.

While we're at it, can you share any thoughts on how to make it easier for students who want to skip ahead past most of the "What is AMP" material and just start building something?

[2019-12-06 00:41] zhouyx commented on #3063
@micajuine-ho Good time to fix this while we are making changes to the examples. Thanks

[2019-12-06 09:46] fellyph commented on #3263
@CrystalOnScript @morsssss

I can start with the documentation and after translate the slides to be used by GDG groups.

About the workshop, I had done the course at 4 GDG Meetups and 3 DevFest. Some feedback about the process.

The first Workshop was 2.5 hours:
https://www.meetup.com/Google-Developer-Group-Belfast/events/264164052/

Agenda:
-Why AMP?
-How AMP helps
-Requirements
-Starting our jou

[2019-12-06 15:36] micajuine-ho commented on #3063
Ok, sg. I will get to it in the next few days

[2019-12-06 16:58] lucamago commented on #2582
Hi, any update for this issue?

[2019-12-09 10:36] sanderisbestok opened #3270 "Request to add Copernica as a tool that supports AMP for Email"
## Request to add third-party tool/service/platform/vendor

**1. What's the name?**
Copernica [https://www.copernica.com](https://www.copernica.com)

**2. For which format?**
Email

**3. What type is it?**
Service provider

**4. What page should it appear on?**
[amp.dev/documentation/tools](https://amp.dev/documentation/tools)

**5. If you choose 1 in Step 4:**
[https://media.copernica.com/logos/c

[2019-12-09 22:16] kieltyka opened #3274 "CSS variables not supported in GMail - AMP"
## Bug Report

### Current Behavior
AMP 4 email "Star rating" works appropriately in the amp [playground ](https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Finteractivity-dynamic-content%2Fstar_rating&format=websites&_gl=1*f7bn79*_ga*YW1wLWNxck55bm9aLTZRSlkzTmdUMHZZNXc.
)

With the stars rendering as gold when selected / submitted

However when actually sen

[2019-12-10 12:38] fellyph opened #3275 "[Translate_pt_BR] Translation guide"
Hi @CrystalOnScript

I would like to translate the translation guide to Brazilian Portuguese:
https://github.com/ampproject/amp.dev/blob/future/pages/content/amp-dev/documentation/guides-and-tutorials/contribute/translations.md

Translation: full page
Estimation: 1 day

Thanks,
Fellyph

[2019-12-10 14:25] fellyph commented on #3275
PR: https://github.com/ampproject/amp.dev/pull/3276

[2019-12-11 15:17] M-J-Robbins commented on #3274
A quick look at that code and there is quite a bit not supported by Gmail in there

Interestingly Gmail actually seems to recognise the reading of CSS variables `var(--star-size)` but not the setting of them `--star-size: 3;`

From that code sample it appears that Gmail AMP doesn't support,
* `user-select:`
* `-webkit-tap-highlight-color`
* `cursor`
* `:not()`
* `:before`
* attribute selectors `[s

[2019-12-11 16:02] sebastianbenz commented on #3274
//cc @fstanis

[2019-12-11 16:27] fellyph commented on #3263
Hi @CrystalOnScript @morsssss

I've created a PR : https://github.com/ampproject/amp.dev/pull/3279

[2019-12-11 16:50] fstanis commented on #3274
Regarding things not supported or not working in Gmail: if they are listed in [CSS spec for AMP for Email](https://amp.dev/documentation/guides-and-tutorials/learn/email-spec/amp-email-css/?format=email), such as `:not()` which should be supported, then this is likely a bug in Gmail. Please [file bugs in Gmail related to AMP here](https://issuetracker.google.com/issues/new?component=592249&templat

[2019-12-11 19:58] mattludwig commented on #3260
@CrystalOnScript @sebastianbenz -- Could we add RebelMouse to the Platform & Vendor Partners page as a CMS?

Also open to putting them on the site in other places where makes sense -- their AMP product within the RebelMouse CMS is fairly robust

[2019-12-11 20:41] #3275 closed

[2019-12-12 08:44] sebastianbenz opened #3282 "Improve support page design"
We should address @DerekNonGeneric's feedback: yet to be mentioned is that this page is missing a few items:

Breadcrumbs
Title
Sidebar
Container
The reason for this is because it uses the very bland meta.j2 template.

https://github.com/ampproject/amp.dev/issues/2339#issuecomment-535322115

[2019-12-12 08:44] sebastianbenz commented on #2339
Closing as fixed, open https://github.com/ampproject/amp.dev/issues/3282 to track updating the support page.

[2019-12-12 08:44] #2339 closed

[2019-12-12 11:21] DerekNonGeneric commented on #3282
@sebastianbenz, although a few of those were addressed with my PR, what I really wanted was for  [Support](https://amp.dev/support/) to be as visually appealing as [How to contribute](https://amp.dev/documentation/guides-and-tutorials/contribute/). That might be one of your goals too.

There are a couple of reasons why it instead looks more similar to [Get started](https://amp.dev/documentation/).

[2019-12-13 12:41] #3224 closed

[2019-12-15 08:07] jeongsd opened #3289 "[Translate_ko] Beginners Course index page"
**Declare into which language you're translating the document.**
Korean

**Name which file you wish to translate or update.**
https://github.com/ampproject/amp.dev/blob/future/pages/content/amp-dev/documentation/courses/beginning-course/index.md

**Give a rough estimation of how much of the file you are translating.**
index.md

**Provide a general estimation of how much time it will take to comple

[2019-12-15 22:07] matthiasrohmer commented on #3282
I wonder if we should really invest in this page - and if yes what's the best way. Impulsively I'd shift over the missing information over to the [documentation's Get started page](https://amp.dev/documentation/). Also because the first few links in the list are identical to what is on Get started: docs, samples, tools, demos.

But I also don't really have an idea what needs a user has when clicki

[2019-12-16 17:41] CrystalOnScript commented on #3289
@jeongsd that would be great!

[2019-12-16 18:19] CrystalOnScript opened #3293 "Filtering isn't working"
## Bug Report

### Current Behavior
Website isn't filtering for some content chunks.

IE: [Analytics: the basics](https://github.com/ampproject/amp.dev/blob/future/pages/content/amp-dev/documentation/guides-and-tutorials/optimize-measure/configure-analytics/analytics_basics.md) shows stories content even when filtered to websites.

[Basic story configuration](https://amp.dev/documentation/guides-a

[2019-12-16 18:19] CrystalOnScript commented on #3293
cc: @sebastianbenz

[2019-12-16 23:51] fstanis opened #3295 "Proposal: add list of actions and events to the top of each component reference page"
Related to ampproject/amphtml#26051 which would make this easier. The same way we list layouts, we could list all the events and actions at the top of each reference page.

//cc @sebastianbenz

[2019-12-17 00:03] fstanis opened #3296 "Proposal: create a page that lists HTML elements that may have AMP-specific things about them"
This page would just list things in one place, similar to [Actions and Events](https://amp.dev/documentation/guides-and-tutorials/learn/amp-actions-and-events/?format=websites).

## Examples

- `<a>` can bind on `[href]` thanks to `amp-bind`.
- `amp-form` actually adds on top of `<form>`, there's no `<amp-form>`.
- Attributes like `submit-success` and `fetch-error` apply to general HTML elements,

[2019-12-17 00:03] fstanis commented on #3296
This probably needs further thinking before it becomes actionable. //cc @sebastianbenz for thoughts.

[2019-12-17 00:20] #3289 closed

[2019-12-17 10:18] matthiasrohmer commented on #3167
Continued in #3295 and amphtml#26051.

[2019-12-17 10:18] #3167 closed

[2019-12-17 10:25] fstanis commented on #3167
Whoops, I forgot I'd already had an issue on this! 😄

[2019-12-17 19:12] CrystalOnScript commented on #1283
@jpettitt @dvoytenko Is there an update on this? Does it still require documentation? Thanks :)

[2019-12-17 19:14] CrystalOnScript commented on #2542
@sebastianbenz @alankent Looks like this has been resolved. Okay to close?

[2019-12-17 19:17] CrystalOnScript commented on #2765
Sorry for the accidental close: @sebastianbenz @matthiasrohmer any updates on this? Link womm

[2019-12-17 19:20] dvoytenko commented on #1283
This has been launched successfully on iOS13. So we should be all good on that front now.

[2019-12-17 19:34] #2542 closed

[2019-12-17 19:35] sebastianbenz commented on #2765
Still works for me.

[2019-12-17 19:44] #2769 closed

[2019-12-17 19:45] #2966 closed

[2019-12-17 20:12] sebastianbenz commented on #3296
I think the bindings support should go into the amp-bind component ref docs as an extension of the [element attributes list](https://amp.dev/documentation/components/amp-bind/#element-specific-attributes).

[2019-12-17 21:20] #2765 closed

[2019-12-17 21:22] CrystalOnScript commented on #1283
Great, thanks

[2019-12-17 21:22] #1283 closed

[2019-12-17 22:03] #2995 closed

[2019-12-17 23:23] philkrie opened #3301 "amp-bind-macro sample code documentation is incomplete"
## Bug Report

### Current Behavior
https://amp.dev/documentation/components/amp-bind/?format=websites#defining-macros-with-amp-bind-macro

amp-bind-macro shown to have an arguments attribute. It should actually be 'args'. AMP isn't throwing an error, so this is probably very confusing.

Example here: https://amp-snippets.glitch.me/amp-bind-macro-issue.html

[2019-12-17 23:44] westonruter commented on #3152
I'm finally getting to this.

@mathiasbynens I found a blocker, however. The search endpoint is returning relative URL results. For example https://amp.dev/search/highlights is returning URLs like `/documentation/guides-and-tutorials/start/converting/`. The same goes for the https://amp.dev/search/do

Can these endpoints be updated to return the URL with the host name? Otherwise they result in 404

[2019-12-18 00:19] westonruter commented on #3152
Another complication: The [shared header AMP fragment](https://amp.dev/shared/header/) includes the use of transformed AMP attributes and class names. These are causing validation errors in the AMP plugin which are causing its sanitizer remove them. This is problematic for class names since currently the plugin removes the _entire_ class name when it contains `i-amphtml-*`. Can this fragment be ma

[2019-12-18 00:21] westonruter commented on #3152
I can work around this by doing:

[code]

I can't, however, safely work around the issue with the relative URLs being returned in the search result endpoints.

[2019-12-18 08:43] sebastianbenz commented on #3301
Good find! We should also turn the code snippet into an actual example.

[2019-12-18 08:45] sebastianbenz commented on #3152
@matthiasrohmer can you please take a look

[2019-12-18 10:06] matthiasrohmer commented on #3152
Will do. Can't get my head around how whenever we touched the optimizing process the shared fragments ended up optimized 😅

[2019-12-18 12:04] matthiasrohmer commented on #3152
Okay, actually everything seems fine this time. When requesting `curl https://amp.dev/shared/header/` you'll get the unoptimized fragment. When testing with Chrome it's optimized as you'll receive the SXG.

Absolute URLs for search results are coming with #3304.

[2019-12-18 16:52] westonruter commented on #3152
Really?

[code]

Does not the presence of these `i-amphtml-*` class names and attributes indicate optimized AMP?

[2019-12-18 16:54] westonruter commented on #3152
Also:

[code]

It's explicitly marked as optimized via `transformed` when I `curl` it.

[2019-12-18 18:11] philkrie commented on #3301
@CrystalOnScript

Upon further review I'm not entirely sure this is the actual problem and am a little more confused.

In the original example I reported, the input setState on **{radius = event.value}**, so it's not contained in a myCircle object. However, in both macro calls, we referenced **myCircle.radius** on accident. In this case, the amp-bind-macro with "args" instead of "arguments" worked

[2019-12-18 19:56] CrystalOnScript commented on #3301
@philkrie thanks for the follow up! I'll look into clarifying the code sample. Still an interesting find.

[2019-12-18 20:40] micajuine-ho opened #3306 "Amp-analytics example iframe has 500 internal server error"
The [amp-analytics example](https://amp.dev/documentation/examples/components/amp-analytics/?format=websites) creates an iframe which is returning a 500 internal server error.

## Expected behavior/code
Looking at `examples/source/1.components/amp-analytics/embed.html` it should be showing information collected through the amp-analytics tag (user account, timestamp, etc...)

### How do we reproduc

[2019-12-19 08:14] DerekNonGeneric commented on #3282
/to @matthiasrohmer

Yes, we should. Removing the support page would be an accessibility concern. Aside from that, keep in mind that it's a section overview page. From an information architecture perspective, the FAQs depend on the existence of that page as they technically exist in the support section.

I would like to see a sidebar on that page since that seems to be characteristic of section ov

[2019-12-19 22:09] #3301 closed

[2019-12-20 11:10] bonglinzin opened #3313 "Good"
Good

[2019-12-20 11:44] bonglinzin opened #3314 "Amp"
<!doctype html>
<html ⚡ lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="description" content="This is the AMP Boilerplate.">
    <link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">
    <link rel="preload" as="script" href="https://cdn.ampproject.org/v0/amp-experiment-0.1.js">
    <link rel="

[2019-12-20 11:46] DerekNonGeneric commented on #3313
Hmm, we don't seem to have an issue template for positive feedback...

[2019-12-20 12:44] DerekNonGeneric commented on #3244
I would like to take care of this. Can someone please assign the issue to me?

[2019-12-20 12:56] DerekNonGeneric commented on #2931
For your consideration:
- [pngcrush](https://www.npmjs.com/package/pngcrush)
- [rollup-plugin-imagemin](https://www.npmjs.com/package/rollup-plugin-imagemin)
- [imagemin-webpack-plugin](https://www.npmjs.com/package/imagemin-webpack-plugin)
- [Kraken.io](https://kraken.io/web-interface)

[2019-12-20 14:47] DerekNonGeneric commented on #2798
#### `<figcaption>`

The reference docs for `<amp-img>` hint about adding image captions, however, I was not able to find a playground demonstration in action.

From the [`<amp-img>` reference docs](https://amp.dev/documentation/components/amp-img/):

Perhaps expanding that sentence and including a code sample might be nice.

Here's a valid `<amp-img>` + `<figcaption>` sample: https://jsbin.com/wi

[2019-12-20 16:43] #3313 closed

[2019-12-20 16:44] #3314 closed

[2019-12-20 16:54] matthiasrohmer commented on #3152
You're absolutely right, sorry. I only quickly checked locally if [growSharedPages.js](https://github.com/ampproject/amp.dev/blob/future/platform/lib/routers/growSharedPages.js) is called correctly and then drew assumptions about the rest. This router should actually send the fragments while bypassing any optimization. As this was my one quick idea I need to do a more detailed investigation...

So

[2019-12-20 17:24] CrystalOnScript commented on #3244
Thanks @DerekNonGeneric - assigned!

[2019-12-20 18:51] #3063 closed

[2019-12-20 20:20] morsssss commented on #2931
(shame)

@robocel had kindly offered to do this earlier this year. Rob, whaddya say?

[2019-12-20 21:38] honeybadgerdontcare commented on #2681
Resurrecting this as I can't find in documentation on amp.dev that there is a 50k limit for CSS and that it includes both `<style amp-custom>` and inline styles.

[2019-12-20 21:52] CrystalOnScript commented on #2681
This information is [here](https://amp.dev/documentation/guides-and-tutorials/develop/animations/triggering_css_animations/?format=websites#defining-css-and-keyframes)

But it should probably be [here as well](https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/?format=websites#add-styles-to-a-page)

[2019-12-20 23:31] westonruter commented on #3041
Finally got to this. Fixed with this CSS rule:

[code]

Now looks like:

![image](https://user-images.githubusercontent.com/134745/71298581-a49dbe80-233d-11ea-99f2-c764eda74ba2.png)

I applied this CSS patch via the Additional CSS in the WordPress Customizer. If applied on your side then it could be removed from being WordPress-specific.

[2019-12-20 23:34] westonruter commented on #3041
Actually, this CSS is coming from the blog's own custom CSS not from the CSS on amp.dev, so I don't think there's anything needing to be done on your side.

[2019-12-20 23:35] lannka opened #3320 "Irrelevant articles under AMPHTML ads documentation"
Many unrelated articles under AMPHTML ads documentation, such as "validation flow", "AMP cache & CORS" etc.

<img width="402" alt="Screen Shot 2019-12-20 at 3 33 26 PM" src="https://user-images.githubusercontent.com/8496897/71298697-255cba80-233e-11ea-94d5-f9c82f1e2a3a.png">

[2019-12-20 23:35] lannka commented on #3320
/cc @ampproject/wg-ads @jeffjose

[2019-12-20 23:37] lannka opened #3321 "Can't find links to all AMPHTML ad examples"
For example, how can someone navigate to this page from amp.dev main page:

https://amp.dev/documentation/examples/visual-effects/scrollbound_animation_ad/

/cc @ampproject/wg-ads @jeffjose

[2019-12-20 23:51] CrystalOnScript commented on #3321
[This link should work](https://amp.dev/documentation/examples/?format=ads)

You can get to this by going to amp.dev > documentation > examples, then click the filtering button and selecting `ads`

<img width="909" alt="Screen Shot 2019-12-20 at 3 50 30 PM" src="https://user-images.githubusercontent.com/23297417/71299115-7c638f00-2340-11ea-95b0-84dea97f6035.png">

We're currently exploring user jo

[2019-12-20 23:51] #3321 closed

[2019-12-21 00:29] westonruter commented on #3208
This is now fixed:

![image](https://user-images.githubusercontent.com/134745/71299969-cf8c1080-2345-11ea-8e8e-9f8e6ef2ba62.png)

[2019-12-21 04:11] westonruter commented on #3152
I've pushed up the current WIP onto this multidev environment: https://search-nav-amphtml-blog.pantheonsite.io/2019/12/20/ccpa-support-in-amp/

In addition to the URLs in the REST API endpoint needing to be made absolute, I'm also seeing something strange where doing a search results in the `amp-list` appearing broken and I'm not immediately sure why:

![image](https://user-images.githubuserconten

[2019-12-22 18:22] DerekNonGeneric opened #3324 "Sharing user generated AMP Playground code samples"
## 🚀 Feature Request

**Is your feature request related to a problem? Please describe.**

I have an issue when trying to share AMP Playground code samples with friends.

**Describe the solution you'd like.**

I'd like to be able to share my AMP Playground creations the same way people are able to share their [TypeScript Playground](https://www.typescriptlang.org/play/) creations. With the TS Playg

[2019-12-22 20:03] DerekNonGeneric opened #3325 "📖(samples): internal samples tutorial is stale"
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be updated.**

[adding-embedded-samples-in-docs.md](https://github.com/ampproject/amp.dev/blob/master/contributing/adding-embedded-samples-in-docs.md) seems to be outdated since the [amp-by-example](https://www.npmjs.com/package/amp-by-example) package, which it uses, has been deprecated. The Preview code s

[2019-12-23 17:52] morsssss commented on #3208
Beautiful!

[2019-12-23 17:52] #3208 closed

[2019-12-23 20:29] CrystalOnScript commented on #3293
Resolved, user error [3302](https://github.com/ampproject/amp.dev/pull/3302)

[2019-12-23 20:29] #3293 closed

[2019-12-23 21:04] CrystalOnScript commented on #3325
Thanks for filing this!

I completely forgot this was here. It is extremely outdated. You're correct, the Preview code samples section of [Formatting guides & tutorials](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/formatting/?format=websites#preview-code-samples) replaced [adding-embedded-samples-in-docs.md](https://github.com/ampproject/amp.dev/blob/mast

[2019-12-24 04:27] DerekNonGeneric commented on #3325
My pleasure!

Oh wow, I can't believe I missed that, I even contributed to that document! Really looking forward to seeing that document surface.

[2019-12-24 09:37] sebastianbenz commented on #3244
@DerekNonGeneric thanks for offering to look into this!

Few comments about this:

* I'd like to avoid solving this in our build system. The problem is: our amp.dev build image is already 1GB big. Having images in multiple dimensions would further increase this.
* My preferred way to solve this would be:
   1. adding an [AMP Optimizer transformer](https://github.com/ampproject/amp-toolbox/tree/mas

[2019-12-24 11:27] DerekNonGeneric commented on #3244
@sebastianbenz, sure thing man! I would like to share with you an idea I had about how to set this up during dev mode without incurring the optimization cost: create symlinks for all the srcset images. I haven't tested it, but it should work!

Prior research:

- the srcset code should probably go in the [`image.j2` macro](https://github.com/ampproject/amp.dev/blob/future/frontend/templates/macros/

[2019-12-24 15:04] fstanis commented on #3203
Friendly ping, this issue got worse. The following files are now generated or modified by `bootstrap`:

[code]

[2019-12-24 15:35] alonronin opened #3329 ":bug: amp-carousel 0.2 does not render as expected."
## Bug Report

**Current Behavior**
When implementing carousel v 0.2 two first slides are overlapped.

Please also provide:
- Page link: https://ampify.io/amp/carousel-0.2-bug.html
-
![image](https://user-images.githubusercontent.com/846044/71418485-5e18ce80-2673-11ea-81c9-0f5e9897a56d.png)

**Expected behavior/code**
Slides should be as in version 0.1, also the autoplay is a some junky when autos

[2019-12-24 16:25] fstanis opened #3330 "Issues with building the website locally"
I wanted to get some high level discussion started around this, as I've heard feedback about it on both Slack and during the Contributor Summit. And I also struggled with this personally on many occasions.

I spent the last few hours trying the developer experience fresh (inside an empty Docker container, to make sure I get a clear slate). Currently, it's very difficult to get the project running

[2019-12-24 16:37] fstanis commented on #3330
Two quick suggestions on how to improve the developer experience:

-   Clean up the README and move most of it to a new file, other than the bare essentials (`git clone`, `npm install` and `npm run develop`).
-   Create a bash script, e.g. "start" that checks if the user has everything installed (npm / node, python, grow), runs `npm install` and whatever else is needed and gets things running more

[2019-12-24 19:31] fstanis opened #3331 "Hard to find samples for "Load more and infinite scroll" section of amp-list"
[Load more and infinite scroll](https://amp.dev/documentation/components/amp-list/?format=websites#load-more-and-infinite-scroll)

I realized the sample for this is [Show More Button](https://amp.dev/documentation/examples/interactivity-dynamic-content/show_more_button/) but it took me a while to find it. The examples linked to from the component page are the ones in amphtml which can't be easily

[2019-12-27 21:29] arbawany opened #3332 "AMP"

[2019-12-27 21:59] #3332 closed

[2019-12-27 23:02] #1075 closed

[2019-12-29 02:51] DerekNonGeneric commented on #3325
Thank you for the clarification. I just realized why [adding-embedded-samples-in-docs.md](https://github.com/ampproject/amp.dev/blob/master/contributing/adding-embedded-samples-in-docs.md) could have so easily been forgotten about. There are some old internal guides living in the `contributing` folder on [the non-default `master`](https://github.com/ampproject/amp.dev/tree/master/contributing) bra

[2019-12-29 11:02] fellyph opened #3333 "amp-lightbox documentation with a duplicated property"
## 📖 Missing or out-of-date documentation

**Describe the content that is missing or should be up dated.**
At the documentation page for amp-lightbox the property scrollable is appearing twice:
![Screen Shot 2019-12-29 at 10 57 43](https://user-images.githubusercontent.com/330792/71555991-75b4d600-2a2a-11ea-9c7d-c77308df0db8.png)

**In which part of the site would that content live at?**
https://a

[2019-12-30 14:39] andris9 opened #3334 "Request to add NodemailerApp as a tool that supports AMP for Email"
## 🛠️ Request to add third-party tool/service/platform/vendor

**1. What's the name?**
NodemailerApp

**2. For which format?**
email

**3. What type is it?**
developer tool

**4. What page should it appear on?**
[amp.dev/documentation/tools](https://amp.dev/documentation/tools)

**5. If you chose 1 in Step 4:**
https://github.com/nodemailer/nodemailer/blob/master/assets/nm_logo_1000x680.png

Nodem

[2019-12-30 22:55] CrystalOnScript commented on #3333
Thanks for filing @fellyph - I just caught this one in a [related PR](https://github.com/ampproject/amphtml/pull/26107/files#diff-ac192b7f3e0a63c5a463cfec689a7d4eR102) and should be resolved once it's merged :)

[2020-01-02 17:31] morsssss opened #3336 "Should we remove the phrase "suck less"?"
From the bottom of [the main documentation page](https://amp.dev/documentation/):

"Check out our community section to join our mission to make the web suck less."

We could add a link there to the Community section. And I'm wondering if we should soften the last few words there.

[2020-01-03 14:12] DerekNonGeneric commented on #3336
If for no other reason, it is inaccurate.

— [Vision and Mission - amp.dev](https://amp.dev/about/mission-and-vision/)

[2020-01-03 14:27] abood89721 opened #3338 "https://www.todawi.com/"
https://www.todawi.com/

[2020-01-03 14:28] #3338 closed

[2020-01-03 21:56] CrystalOnScript commented on #3334
Hi @andris9 ! I've attempted to add NodemailerApp to the tools page, but the dimensions of the logo you provided are not rendering well on the page. Could you please provide an image that is 800 x 400?
<img width="387" alt="Screen Shot 2020-01-03 at 1 55 17 PM" src="https://user-images.githubusercontent.com/23297417/71751574-dd0ac580-2e30-11ea-82c9-e0792e3b5329.png">

[2020-01-03 23:25] andris9 commented on #3334
@CrystalOnScript hey, sure, here's a 800x400 logo:

https://cldup.com/oxt6985LXt.png

[2020-01-03 23:34] CrystalOnScript commented on #3334
Awesome, thank you! I opened a [PR](https://github.com/ampproject/amp.dev/pull/3340). The image looks much better!
<img width="321" alt="Screen Shot 2020-01-03 at 3 32 39 PM" src="https://user-images.githubusercontent.com/23297417/71755234-85735680-2e3e-11ea-87b9-492f09dc7f71.png">

[2020-01-07 13:07] matthiasrohmer commented on #3324
@sebastianbenz once started to implement this using GitHub Gists as far as I know. Let's wait for him to see if that could be a starting point.

[2020-01-07 13:11] matthiasrohmer commented on #3329
@mrjoro, can you please move this over to ampproject/amphtml? 🙂This seems to be an issue with AMP itself rather than amp.dev.

[2020-01-07 13:14] matthiasrohmer commented on #3320
Doesn't the validation flow also apply to AMP4ADS? Anyway feel free to either compile a list of items that shouldn't appear for ads or disable them yourself by removing `ads` from the `formats` key in the document's frontmatter via a PR 🙂

[2020-01-07 13:17] matthiasrohmer commented on #3334
Resolved by #3340.

[2020-01-07 13:17] #3334 closed

[2020-01-07 13:23] matthiasrohmer commented on #3263
Resolved by #3279.

[2020-01-07 13:23] #3263 closed

[2020-01-07 13:25] matthiasrohmer commented on #3270
@fstanis, does Copernica fullfil the criteria to be listed?

[2020-01-08 00:09] archon810 opened #3348 "Google AMP Cache documentation confusing and outdated"
## 📖 Missing or Out-of-Date Documentation

### Problem
I've started an issue on confusing and missing AMP cache documentation here: https://github.com/ampproject/amphtml/issues/24326, and was asked by @morsssss to open an issue here as well. If you search for "doc" in this ticket, you'll see all the times the documentation at https://developers.google.com/amp/cache/overview and especially the sect

[2020-01-08 13:12] fstanis commented on #3270
Approved, added in #3350

[2020-01-08 18:12] #3270 closed

[2020-01-08 18:24] lannka commented on #3321
Thanks for the link!

[2020-01-08 18:32] lannka commented on #3320
1. Validation does apply to AMP4ADS, but the current links point to AMP page validations.
2. AMP Cache is not relevant to AMP4ADS, as they are not cached. (Like AMP4MAIL)
3. The whole Optimize & Measure section is not relevant
4. The whole Contribute section is not relevant.

I looked at the equivalent AMP4MAIL doc, seems that is more tailored to AMP4MAIL.

[2020-01-08 22:05] morsssss commented on #3348
Thanks, @archon810 !

At least in the past, documentation in various places tended to oversell what the update-cache API could really do. My guidance to site owners has generally been to rely on `<amp-list>` for content that needs to be absolutely fresh.

We should get the latest news about how the cache works, how long the API might take to update content at worst, and make a guide for that on am

[2020-01-08 22:13] archon810 commented on #3348
@morsssss Are you suggesting we make the article title and body itself an `<amp-list>`? I don't think @westonruter would like this idea 😶. These two are the ones we are worried about the most and where we fix typos and add updates.

[2020-01-08 22:36] morsssss commented on #3348
Nope! You shouldn't.

I'm just saying that I've seen other cases in which people weren't able to get the cache to refresh as quickly as they needed it to. So I've learned to avoid telling people they can rely on it.

[2020-01-08 23:51] archon810 commented on #3348
Let's change that, together!

[2020-01-09 21:01] nguyendev opened #3355 "Cannot use login example"
![image](https://user-images.githubusercontent.com/10234503/72033994-69503900-32c6-11ea-9f80-e27da2417619.png)

[2020-01-09 23:52] morsssss commented on #1789
I'm actually seeing this is still a problem!

[This post](https://blog.amp.dev/2018/11/05/streaming-in-the-shadow-reader/) contains this link:

`https://www.ampproject.org/latest/blog/ads-the-shadow-reader-improved/`

which ends up redirecting to `blog.amp.dev`.

[2020-01-10 01:28] zhangsu opened #3373 "style_pages.md: Confusing documentation/validator behavior about banned CSS classes and tag names"
**Please only file reports about bugs in AMP here.**

## What's the issue?

Briefly describe the bug.

 https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/style_pages/#disallowed-styles

There are multiple things that seem wrong or incomplete about this documentation.

1. The documentation says that class names cannot start with the string `-amp-`, but then the AMP validat

[2020-01-10 01:41] honeybadgerdontcare commented on #2681
Could we also explicitly mention that `Each use of inline style has a 1,000 bye limit`?

Perhaps `Inline styles. Inline styles count towards the 50,000 byte <style amp-custom> limit and have a 1,000 byte limit each.`. Though I'm sure you know a better way to phrase it.

[2020-01-11 13:04] abood89721 opened #3361 "https://www.todawi.com/?m=1"

[2020-01-13 07:58] #3361 closed

[2020-01-13 09:29] sebastianbenz commented on #3355
It works locally, but is broken on deploy. Seems like a problem with how we resolve template file from within samples (//cc @matthiasrohmer ):

[code]

[2020-01-13 14:11] matthiasrohmer opened #3372 "SEO homepage and other crucial pages"
The search performance for the homepage is disastrous. For example it doesn't seem to rank for the keyword "amp" at all. For other more specific keywords its behaviour is also quite strange:

<img width="680" alt="Bildschirmfoto 2020-01-13 um 15 08 56" src="https://user-images.githubusercontent.com/12857772/72262181-b27df100-3616-11ea-83fc-999978fb4c0d.png">

That's the SERP for "amp framework" in

[2020-01-13 15:58] matthiasrohmer commented on #2971
This will be fixed by #3344.

[2020-01-13 17:12] #3102 closed

[2020-01-14 01:41] zhangsu commented on #3373
1-4 are probably all documentation issues, but 5 could be a question for the validator/runtime. Is it okay that developers can style something like the `amp-element` class and also add `amp-element` class to elements in their pages?

[2020-01-14 13:21] sebastianbenz commented on #3373
@CrystalOnScript can you take a look?

[2020-01-14 16:27] choumx commented on #3373
For extensions, I think this depends on a case-by-case basis. E.g. important CSS properties under overridable names should be marked `!important` which many extensions do (but some don't consistently).

In runtime, I only saw `.amp-built` and `.amp-notbuilt` which appear low impact (most elements are built before the user sees them) but we can consider changing it.

[2020-01-15 00:57] westonruter commented on #3152
Happy new year! Please let me know when you'd anticipate continuing to work on this.

[2020-01-16 19:28] sebastianbenz opened #3384 "Check if all working groups are listed"
At least UI & Accessibility is missing.

https://amp.dev/community/working-groups/

[2020-01-16 19:28] sebastianbenz commented on #3384
//cc @nainar

[2020-01-16 19:38] matthiasrohmer commented on #3384
Apparently the ampproject/wg-ui-and-a11y working group never merged the related PR: https://github.com/ampproject/wg-ui-and-a11y/pull/28 😁

[2020-01-16 20:35] DerekNonGeneric commented on #3384
Are you aware that https://amp.dev/community/working-groups/ is currently a 404?

![wg-404](https://user-images.githubusercontent.com/17770407/72560791-c5dac780-3875-11ea-804c-a56d3381a847.png)

[2020-01-16 22:03] #3373 closed

[2020-01-16 22:50] matthiasrohmer commented on #3384
Thanks, @DerekNonGeneric! It's not explicitly linked anywhere this way, is it? Anyway the URL would be nice to have.

[2020-01-16 22:56] #2745 closed

[2020-01-16 23:16] DerekNonGeneric commented on #3384
I'm not sure, but I did not arrive at that page via a link within the site, so it might not be too bad.

This might be another page that would be a good candidate for a section overview page (in addition to Support as is made evident in https://github.com/ampproject/amp.dev/issues/3282).

[2020-01-16 23:54] noodles opened #3387 "🐛 Success Stories category labels always show 'websites'"
## 🐛 Bug Report

### Current behavior

On the Success Stories page, with the 'All' button selected, all of the story summaries are labelled as 'websites'.

![Screen Shot 2020-01-17 at 10 51 59 AM](https://user-images.githubusercontent.com/183972/72572700-7f3da980-3917-11ea-930a-9552b762acf4.png)

The behaviour persists when you click on any of the category filter buttons.

Clicking on 'advertisers

[2020-01-17 00:07] #3009 closed

[2020-01-17 00:14] CrystalOnScript commented on #3255
I think that the use of `<amp-iframe>` may be correct here. As:
`Use amp-iframe for videos not supported in AMP`
vs
`With amp-video-iframe you can include a custom-built video player`
Which are two different use cases.

But cc @sebastianbenz to weigh in. If we keep it as `<amp-iframe>`, we should probably update the link.

[2020-01-17 00:16] CrystalOnScript commented on #3260
Hi @charset-and-forget - sorry for the delayed response! To get your CMS featured, could you please fill out the following template with the requested assets/information?
[code]

[2020-01-17 08:12] sebastianbenz opened #3392 "Convert all animated GIFs to videos"
The animated GIF on the homepage takes  ~40% of the main thread CPU on a high-end device. It's from a blog post though.

![image](https://user-images.githubusercontent.com/380472/72594890-e142e280-3908-11ea-8061-bd2c9d23ef45.png)

@westonruter is there an easy way in WP to convert animated GIFs?
@matthiasrohmer are you aware of any animated GIFs on amp.dev?

//cc @kristoferbaxter

[2020-01-17 08:35] sebastianbenz commented on #3255
+1 to Ben. We should only mention amp-video-iframe: `... for nonsupported players, it's best to embed these via iframe using the <amp-video-iframe> component.

[2020-01-17 09:52] matthiasrohmer commented on #3387
Thanks for your feedback, @noodles! The UI here is indeed not really consistent: actually the category buttons have no connection to the format indicators and are two different things.

I quickly discussed this with our designer: the format indicator does not make too much sense for a success story as the product the story is about may be built using multiple AMP formats. The BMW.com for example m

[2020-01-17 10:37] sebastianbenz commented on #3387
SGTM - thanks for looking into this Matthias

[2020-01-17 15:35] sanderisbestok commented on #3270
@fstanis could description be changed to, I made a spell error:

Copernica is a tool to create automated email campaigns with a powerful drag & drop editor.

[2020-01-17 15:49] fstanis commented on #3270
Sure, you can just send us a PR to update [tools.yaml](https://github.com/ampproject/amp.dev/blob/future/pages/shared/data/tools.yaml) and we can merge it.

[2020-01-17 16:16] westonruter commented on #3392
No, WordPress does not provide transcoding of GIF to video.

Wouldn't this be helped marginally by using `amp-anim` instead of `amp-img`?

Perhaps a non-GIF should be used as the featured image and then the GIF could be transcoded to a video manually and added to the content of a post as a Video block.

[2020-01-17 16:50] CrystalOnScript commented on #3255
Ah, got it! Looks like a larger update overall - I'll spend some time with it.

[2020-01-17 17:07] #2346 closed

[2020-01-17 18:25] westonruter commented on #3392
Related: https://github.com/WordPress/gutenberg/issues/19730 /cc @pbakaus

[2020-01-17 18:34] #3387 closed

[2020-01-17 19:36] manisaiprasad commented on #3255
if amp team can give me a working link I think I can  fix this issue by a PR
@CrystalOnScript @matthiasrohmer  @sebastianbenz @twifkak

[2020-01-17 20:15] kristoferbaxter commented on #3392
In the interim, can we remove the existing animated gif from the homepage of `amp.dev`? It's blocking some critical performance testing work.

[2020-01-17 20:21] sebastianbenz commented on #3392
We could try using amp-anim. I'm skeptical though whether this is really
going to help.

[2020-01-17 20:26] kristoferbaxter commented on #3392
I too am skeptical it would improve things meaningfully. Would like to recommend not using animated video/gif until this is resolved.

[2020-01-17 20:32] sebastianbenz commented on #3392
Yup. I've just replaced the GIF with an image in WP. Triggering a new
deploy now, should be live in an hour.

[2020-01-17 20:34] kristoferbaxter commented on #3392
Thank you!

[2020-01-17 21:59] kristoferbaxter opened #3395 "Wordpress Blog Posts from homepage are using originally uploaded images"
##  🐛 Bug Report

### Current behavior
Blog posts on the homepage of `amp.dev` are using originally uploaded image content.

![Screenshot from 2020-01-17 13 48 10](https://user-images.githubusercontent.com/61764/72648531-1d3d6e00-3930-11ea-8671-e4540f2a570f.png)

This example image is 838KB and 685/385 pixels. For this surface, the size can be significantly smaller and as a result compress much be

[2020-01-20 17:02] charset-and-forget commented on #3260
No problem, @CrystalOnScript the holiday season is always hectic. Happy to move forward with this and create awareness about RebelMouse's awesome AMP support!

 ## 🛠️ Request to Add Third-Party Tool/Service/Platform/Vendor

### 1. Resource name and link

RebelMouse
https://www.rebelmouse.com/amp/

### 2. Relevant format(s)

 - [x] websites
 - [x] stories
 - [ ] ads
 - [ ] email

 ### 3. Resource t

[2020-01-20 23:45] noodles opened #3400 "🚀 Give filtered categories a specific URL for easy sharing"
## 🚀 Feature Request

### Problem
The [success stories](https://amp.dev/success-stories/) and [tools](https://amp.dev/documentation/tools) pages have category buttons for filtering the articles/tools. At the moment there is no way to share a single category with someone.

For example, when sharing success stories with a publisher it would be useful to share the list of success stories that are rel

[2020-01-21 09:04] sebastianbenz commented on #3400
It'd be good to have this. I think @matthiasrohmer and I discussed this in the past as well.

This hits one of the current limitations of AMP. Fragments don't work due to AMP not being able to change the content on page load. However, we could do the same thing server-side, this would mean that clicking on filter reloads the page.

[2020-01-22 00:12] CrystalOnScript commented on #3260
Thanks for providing this @charset-and-forget ! I've opened a PR to add RebelMouse, however, the link provided:
https://www.rebelmouse.com/amp/

Did not work for me, so I replaced it with:
https://www.rebelmouse.com/amp-2644865462.html

Please let me know if this is okay, or provide me with a preferred link. Thanks :)

[2020-01-22 19:18] sebastianbenz commented on #3255
That's great! You can find a few videos [here](https://github.com/ampproject/amp.dev/tree/future/examples/static/samples/video).  The are available via: `https://amp.dev/static/samples/video/filename.mp4`

[2020-01-23 01:23] charset-and-forget commented on #3260
My mistake, the link was case sensitive `AMP` not `amp`

Have a great day!

[2020-01-23 20:20] CrystalOnScript commented on #3260
No problem, I have updated the link! RebelMouse will be on the site with our next deploy :)

[2020-01-23 20:20] #3260 closed

[2020-01-24 02:45] zhangsu commented on #3252
@CrystalOnScript another minor correction we need that wasn't included in the fix for #2745 ...

[2020-01-25 09:05] vikssyadav opened #3413 "Viksss"
Vikash is king of social services...

[2020-01-25 09:06] vikssyadav commented on #3413
Social services

[2020-01-25 16:10] #3413 closed

[2020-01-26 20:33] matthiasrohmer opened #3417 "Refactor and break up samplesBuilder.js"
### Problem
[samplesBuilder.js](https://github.com/ampproject/amp.dev/blob/future/platform/lib/build/samplesBuilder.js) is an over 700 lines long mess. Its early purpose was to act as the glue between what has been ampbyexample.com before and amp.dev's page builder [Grow](https://grow.io/). To do so it creates three separate files from each sample file which are then consumed by Grow to build dedi

[2020-01-26 20:44] #2588 closed

[2020-01-26 20:49] matthiasrohmer commented on #3400
I agree and also think we ultimately decided to drop the client-side filtering and use SSR instead. But if I remember correctly the tools page was also one of the first to get SSR which was a little rough around the edges at first and made us revert the PR multiple times (#2509, #2559, #2623) which might have caused it to never make it to production 😬 I'll look into this.

[2020-01-27 08:51] matthiasrohmer commented on #3130
@robinvanopstal, it works for the [Decision making policy](https://github.com/ampproject/meta/blob/master/GOVERNANCE.md#decision-making-policy) section so that's probably just a formatting error.

[2020-01-27 19:03] sebastianbenz opened #3421 "[blog] Mismatching CSP security headers"
<img width="411" alt="Screen Shot 2020-01-27 at 20 02 27" src="https://user-images.githubusercontent.com/380472/73204857-0cff6d00-4140-11ea-8b72-7d83ec1e2b85.png">

@westonruter can you take a look?

[2020-01-27 19:20] CrystalOnScript commented on #3252
I believe this was addressed in this fix here:
https://github.com/ampproject/amphtml/pull/26107/files#diff-a27c8fa1a992f7479e7a77d13cde7149R131

But it looks like it hasn't gone live yet... @matthiasrohmer, do we know when the next deploy is?

[2020-01-27 22:23] westonruter commented on #3421
@sebastianbenz Pantheon has added direct support for sending this header now and so it was conflicting with what the site was sending manually.

I've implemented the `enforce_https: full` configuration as described https://pantheon.io/docs/pantheon-yml and removed the site's manual sending of `Strict-Transport-Security: max-age=604800; preload`.

[2020-01-28 13:58] #3333 closed

[2020-01-28 13:59] #3140 closed

[2020-01-28 14:28] matthiasrohmer opened #3428 "Burger menu icon not showing"

[2020-01-28 14:29] matthiasrohmer opened #3429 "Whitespace in code snippets collapsed"
Possibly related to #3407.

[2020-01-28 15:06] #3428 closed

[2020-01-28 16:30] #3429 closed

[2020-01-28 17:25] pbakaus opened #3439 "amp-story-page-attachment page invalid AMP"
## 📖 Missing or Out-of-Date Documentation

### Problem
The ref doc page of <amp-story-page-attachment> is invalid AMP.

### Location
https://amp.dev/documentation/components/amp-story-page-attachment/

### Content type
reference docs

[2020-01-28 17:31] pbakaus opened #3440 "amp-story-cta-layer documentation is incomplete/out-of-date"
## 📖 Missing or Out-of-Date Documentation

### Problem
There are a number of issues with the reference doc page of amp-story-cta-layer as of now, including, but possibly not limited to:

* Incorrectly states that this is the only way to get links in AMP Stories. Truth is: You can have links anywhere, but with the CTA layer, they get special treatment (direct link / single click/tap), whereas outsi

[2020-01-28 18:03] fstanis commented on #2475
Another friendly ping on this.

[2020-01-28 18:26] #3400 closed

[2020-01-28 18:37] sebastianbenz commented on #2475
It's live on staging for success-stories and tools:
https://amp-dev-staging.appspot.com/documentation/tools/?format=email

[2020-01-28 20:32] sebastianbenz opened #3443 "Playground lists duplicate samples"
The playground lists both, the websites and email version of the sample. We should filter this by format.

![](https://user-images.githubusercontent.com/8532477/73237104-6f10a000-4149-11ea-97fa-a5a58eaff320.png)

[2020-01-29 00:10] fstanis commented on #3443
Interesting, it seems to be only this one sample and this sample also doesn't seem to be listed when you select email as the format...

[2020-01-29 09:37] jaygray0919 opened #3446 "possible typo"
An AMP Working Group is a segment of the community with knowledge/interest in specific area `pf` AMP

on https://amp.dev/community/working-groups/amp4email/

probably should be
An AMP Working Group is a segment of the community with knowledge/interest in specific area `of` AMP

[2020-01-29 09:49] #3443 closed

[2020-01-29 09:59] #3446 closed

[2020-01-29 09:59] sebastianbenz commented on #3446
thanks for reporting

[2020-01-29 10:39] robinvanopstal commented on #3384
I had a closer look at that and to me, it seems that the following working groups are still missing:

- wg-approvers
- wg-bento
- wg-codeofconduct
- wg-foundation-onboarding
- wg-security-privacy

[2020-01-29 13:01] robinvanopstal commented on #3384
Missing PRs are now created and ready for review:

- wg-approvers: https://github.com/ampproject/wg-approvers/pull/1
- wg-bento: https://github.com/ampproject/wg-bento/pull/3
- wg-codeofconduct: https://github.com/ampproject/wg-codeofconduct/pull/5
- wg-foundation-onboarding: https://github.com/ampproject/wg-foundation-onboarding/pull/24
- wg-security-privacy: https://github.com/ampproject/wg-secu

[2020-01-29 13:08] #3130 closed

[2020-01-29 13:30] matthiasrohmer commented on #2510
Sebastian added smoke-tests by now 🙂

[2020-01-29 13:30] #2510 closed

[2020-01-29 13:31] matthiasrohmer commented on #2493
I did this wenn implementing SSR for the sidebars.

[2020-01-29 13:31] #2493 closed

[2020-01-29 13:36] matthiasrohmer commented on #2238
Duplicate to #2475.

[2020-01-29 13:36] #2238 closed

[2020-01-29 15:17] #3040 closed

[2020-01-30 08:52] ferdikaynar opened #3451 "amp türkçe"

[2020-01-30 09:03] #3451 closed

[2020-01-30 09:28] sebastianbenz commented on #3372
Seems to be fixed now...

[2020-01-30 15:19] matthiasrohmer commented on #2165
This has been resolved in general by unifying all of the overview pages. For the special problems with each of the new ones we should create dedicated tickets 🙂

[2020-01-30 15:21] #2165 closed

[2020-01-30 15:36] matthiasrohmer commented on #3372
At least the homepage started appearing again, true. 😁I'd personally favor a page title that fits into the SERP character limit though and doesn't end in dots. The limit seems to be somewhere around 60 characters. In case you agree: @CrystalOnScript is that something you could write?

[2020-01-30 17:45] #3336 closed

[2020-01-30 17:48] sebastianbenz commented on #3372
good point!

[2020-01-30 18:13] matthiasrohmer commented on #3372
<img width="622" alt="Bildschirmfoto 2020-01-30 um 16 22 54" src="https://user-images.githubusercontent.com/12857772/73477433-8394a880-4394-11ea-9929-db05364ab341.png">

For illustrative purposes 😁

[2020-01-31 13:45] okabrionz opened #3464 "AMP Broilerplate"
Saat saya klik Google analytics pada fitur amp broilerplate, saya menemukan script video masuk kedalam tampilan yang seharusnya tidak ada.

[2020-02-03 05:43] westonruter commented on #3421
@sebastianbenz Would you like to retain the `preload` flag? If I implement `enforce_https: full+subdomains` then this will be added.

[2020-02-03 21:00] cramforce opened #3472 "Incomplete metadata for docs"
I shared the reference docs for amp-subscription, and the title is less meaningful than it could be:
![Screenshot_20200201-090022](https://user-images.githubusercontent.com/89679/73690402-2004c680-4685-11ea-9a6d-4e84fc97aabc.png)

[2020-02-05 10:52] DerekNonGeneric opened #3477 "Shared paths of new and old version of components breaks build"
## 🐛 Bug Report

### Current behavior
A clear and concise description of the bug you found in amp.dev.

Running `gulp develop` crashes.

[code]

[code]

Please also provide:
- ~~Page link: <insert the URL link to the amp.dev page(s) that you found the issue on>~~
- ~~(Optional) Screenshots/videos:~~

### Expected behavior/code
A clear and concise description of what you expected to happen.

`amp-d

[2020-02-05 10:53] matthiasrohmer commented on #3472
Thanks for the report! That's sadly valid for all component docs. The frontmatter actually contains all the information. The problem is the component's name is fenced in `<` and `>` which gets stripped out by Twitter.

[2020-02-05 10:54] #3464 closed

[2020-02-05 11:15] DerekNonGeneric commented on #3464
Translated from Indonesian:

[2020-02-05 11:27] matthiasrohmer commented on #3464
Did the same but couldn't reproduce it 😉 My feeling is that @okabrionz selected "Video" in the structured data section before. Once anything is selected in this section it can't be unselected. This is what might cause confusion.

[2020-02-05 12:40] #3472 closed

[2020-02-05 12:46] DerekNonGeneric commented on #3477
FWIW, I solved this by removing these keys from the frontmatter of the old versions.

[code]

I also added this key if it was missing.

[code]

Pretty sure these get pulled in from the `amphtml` repo.

[2020-02-05 12:51] matthiasrohmer commented on #3477
@patrickkettner had similar issues 🙁 They'll be gone with #3344 which currently has other issues I am still fixing up.

The file's content indeed gets imported from ampproject/amphtml but the frontmatter is actually auto-generated during import which seems to fail at some point and creates duplicate paths.

[2020-02-06 08:50] matthiasrohmer opened #3481 "Remove custom loader in favor of amp-loader"
I'd vote for removing our custom loader (tiny, blinking flash) to reduce code and also because AMP's new built-in loader looks fairly decent.

Another problem with our custom one is that it isn't used consistently across the site and isn't always positioned correctly.

![Bildschirmfoto 2020-02-06 um 09 44 01](https://user-images.githubusercontent.com/12857772/73920664-233ac500-48c6-11ea-89aa-7087d

[2020-02-06 13:30] amanintech opened #3484 "Privacy Policy seems not right"
## 📖 Privacy Policy links to Google's Site

### Problem
In a discussion with @mrjoro I got to know AMP is trying to stay Independent from Google even though it was founded by them. Now this confuses me as the privacy policy still links to Googles Page so does that means AMP shares the web PP with Google and so does the cookies and user information

### Location
Footer of AMP.dev
### Content type
P

[2020-02-06 13:38] amanintech commented on #1320
This can be closed now

[2020-02-06 13:38] amanintech commented on #2360
Can be Closed now

[2020-02-06 14:17] matthiasrohmer commented on #3484
Good point! Looping in @tobie as that's also related to the work of ampproject/wg-foundation-onboarding.

[2020-02-06 15:11] onigetoc opened #3487 "Rich Media Notifications do not show as mentioned"
This example do not work as expected on mobile.
https://amp.dev/documentation/examples/multimedia-animations/rich_media_notifications/
test:
https://gitcdn.xyz/cdn/ampproject/amp.dev/2e084222deb7058846829ae4118ad4482d8a10be/examples/source/multimedia-animations/Rich_Media_Notifications.html

[2020-02-06 15:23] matthiasrohmer commented on #3487
Can you provide some more information? Which device did you use for testing, which browser in which version, ... this would help us with debugging 🙂

[2020-02-06 16:46] mrjoro commented on #3484
Thanks for raising this issue!  We're tracking the change here:  https://github.com/ampproject/wg-foundation-onboarding/issues/13

We're working to determine what the proper privacy policy should be as an OpenJSF project.

[2020-02-06 16:46] #3484 closed

[2020-02-06 16:47] mrjoro commented on #3484
More broadly, we're tracking all of the OpenJSF onboarding work here:  https://github.com/orgs/ampproject/projects/4

If you see something that should be changed as we transition AMP from Google to OpenJSF that isn't tracked there, please let us know! :)

[2020-02-06 16:50] #2360 closed

[2020-02-06 16:50] #1320 closed

[2020-02-06 17:19] matthiasrohmer commented on #3484
... could have also quickly scanned the issues 😬 Thanks, @mrjoro!

[2020-02-06 17:22] mrjoro commented on #3484
Haha, no worries... there are a lot of issues kind of spread around a bit. :)

[2020-02-06 17:52] onigetoc commented on #3487
On my Android phone Samsung 7, i just saw the usual default video or audio player

[2020-02-06 19:37] sebastianbenz commented on #3487
This is working as intended - the player on the page does not change. When you lock your phone you'll see the Android buttons to start and stop playback.

[2020-02-07 06:09] sebastianbenz commented on #3487
Closing for now, please reopen if there's an actual error.

[2020-02-07 06:09] #3487 closed

[2020-02-07 06:09] sebastianbenz commented on #3481
yes very much please

[2020-02-08 05:44] andyc15 opened #3496 "Simplified Chinese ( zh-CN ) translation of the amp.dev website"
### Simplified Chinese ( zh-CN ) translation
Wish to update pages/translations/zh_CN/LC_MESSAGES/messages.po
I've already translated Partial File ( almost done )
More translation details will need specific explanation.
May need another one or two hours to complete the translation
Also @CrystalOnScript

[2020-02-08 07:14] Baitsenja14 opened #3497 "081351222714"

[2020-02-08 12:12] #3497 closed

[2020-02-08 14:19] matthiasrohmer commented on #3152
Apologies for the delay, @westonruter!

https://amp-dev-staging.appspot.com/search/highlights and https://amp-dev-staging.appspot.com/search/do?q=amp-accordion now both return absolute URLs as per #3317.

For the other issues you were mentioning in the comment above I created #3498, #3499 and #3500. I'll notify you once they're all in and deployed so you can continue your work 🙂

[2020-02-08 14:20] matthiasrohmer commented on #2924
Now part of #3152.

[2020-02-08 14:20] #2924 closed

[2020-02-08 14:30] matthiasrohmer commented on #3496
/cc @patrickkettner.

[2020-02-08 17:12] andyc15 commented on #3496
**TRANSLATION ALMOST COMPLETED!**
Updates:

- Microadjust some translation
- I didn't translate titles like "The Best Battle Royale on PC" and publishers like "USA Today". Notice me if those also need to translate.
- Also does "playground" need to be translated to something like "online editor" or "experiment zone"?

[2020-02-09 00:34] patrickkettner commented on #3496
Hey @andyc15
there was actually a fairly significant change to the PO file (its much larger now), so you will need to rebase. If you post your current progress Id be more than happy to merge the changes since you are already being so generous with your time.

As to your questions...

proper nouns like company names, and things that are from external sources (like the names of websites, like "The B

[2020-02-09 08:04] andyc15 commented on #3496
Hi
Much larger file needs Much more time to translate now.
**The current process: 1/2**
Some misspelling was found like "Affiliate link → Affliate link".
Pull request created.

[2020-02-09 23:35] mdmower opened #3504 "Examples sidebar missing styles"
## 🐛 Bug Report

The sidebar listing of components, guides, advertising-analytics, etc of Examples pages seems to be missing styles:

https://amp.dev/documentation/examples/components/amp-list/?format=websites
![https://amp.dev/documentation/examples/components/amp-list/?format=websites](https://user-images.githubusercontent.com/264920/74112403-42995280-4b51-11ea-9a08-e0da257cecdf.png)

The sideba

[2020-02-10 08:35] siddhantdante opened #3505 "amp-lightbox-gallery sample is broken"
amp-lightbox-gallery is not working on your website and it is also not working with react library.

[checkout on this url.](https://amp.dev/documentation/examples/components/amp-lightbox-gallery/)

[2020-02-10 08:49] matthiasrohmer commented on #3161
This has made it to https://amp.dev/documentation/guides-and-tutorials/learn/spec/release-schedule/ 👌

[2020-02-10 08:49] #3161 closed

[2020-02-10 08:52] #2475 closed

[2020-02-10 09:24] matthiasrohmer commented on #3505
Thanks for reporting! Indeed the sample on amp.dev is broken - we'll fix it. Can you elaborate on what "not working with react library" means in this context?

[2020-02-10 09:27] #3504 closed

[2020-02-10 10:06] #3392 closed

[2020-02-10 10:08] sebastianbenz commented on #3331
Agree, these should be demoed into the amp-list sample.

[2020-02-10 10:25] #3202 closed

[2020-02-10 10:25] #3103 closed

[2020-02-10 11:58] sebastianbenz opened #3509 "Checkbox visible in example sidebar"
<img width="261" alt="Screen Shot 2020-02-10 at 12 55 53" src="https://user-images.githubusercontent.com/380472/74148125-f871a900-4c04-11ea-81cd-603ca18054a0.png">

https://amp.dev/documentation/examples/?format=websites

[2020-02-10 12:03] sebastianbenz commented on #3505
Duplicate of #2759. I briefly looked into this a while ago, but couldn't see anything wrong.

[2020-02-10 12:03] #3505 closed

[2020-02-10 12:03] sebastianbenz commented on #2759
This might be an issue on AMP runtime side.

[2020-02-10 12:04] sebastianbenz commented on #3509
Duplicate of #3504

[2020-02-10 12:04] #3509 closed

[2020-02-10 12:39] siddhantdante commented on #3505
i am putting amp-lightbox-gallery script in my index.html of my project
then the lightbox carousel is not working but if i am putting script tag in
helmet in any components then the lightbox is working. but if i got to home
page and then if try to comeback to the same component the script tag
throws error "loading script tag again not allowed".

On Mon, Feb 10, 2020 at 2:54 PM Matthias Rohmer <not

[2020-02-10 12:45] siddhantdante commented on #2759
someone please fix this.

[2020-02-10 13:07] sebastianbenz commented on #3505
@Siddhant: could you please share a link to your page?

[2020-02-11 11:36] #3481 closed

[2020-02-11 14:02] matthiasrohmer opened #3513 "Use scoped loggers over anonymous console.* calls"
Addition to #3330. Throughout our codebase there are some places where `console.log` and/or `console.error` are used. This makes it hard for users who might interact with amp.dev for their first time to understand from where and why a certain message is printed to their terminal:

https://github.com/ampproject/amp.dev/blob/6834ef7d682902f6c58c018b7e4a57669cfb9577/gulpfile.js/import.js#L57-L60

htt

[2020-02-11 14:13] #2735 closed

[2020-02-11 14:13] matthiasrohmer commented on #3395
Fixed by #3486.

[2020-02-11 14:13] #3395 closed

[2020-02-11 14:34] matthiasrohmer commented on #2700
By #3486 we are now using `media_details.sizes.medium` for rendering the news on the homepage.

[2020-02-11 14:34] #2700 closed

[2020-02-11 18:56] #3439 closed

[2020-02-11 19:59] wassgha opened #3515 "Remove select format call out on mobile?"
## 🐛 Bug Report

### Current behavior
The select format call out makes sense on desktop but it's not idea on mobile for a few reasons:
- It's not clear what this call out is pointing at (on desktop it's clearly pointing at a drop down)
- Swiping up and down detaches the caret from the callout which makes it look broken
- The close icon is not visible
![IMG_6434](https://user-images.githubuserconte

[2020-02-12 13:13] matthiasrohmer opened #3518 "Dynamic text for format explainer on homepage is broken"
![Bildschirmfoto 2020-02-12 um 13 51 50](https://user-images.githubusercontent.com/12857772/74338072-cea1b900-4da1-11ea-8078-4f2fa60baaec.png)

[2020-02-12 13:59] sebastianbenz opened #3519 "Stories tutorial returns a 404"
https://amp.dev/about/documentation/guides-and-tutorials/start/visual_story/index.md?format=stories

[2020-02-12 14:03] matthiasrohmer commented on #3519
Huh? That's a really strange link. First-level `/about/` and ending in `.md`. Do you recall from which page you got this?

[2020-02-12 14:04] matthiasrohmer opened #3520 "Selected working group should have an active state"
![Bildschirmfoto 2020-02-12 um 14 51 47](https://user-images.githubusercontent.com/12857772/74341961-fb0d0380-4da8-11ea-86ee-8618d358d685.png)

[2020-02-12 14:10] matthiasrohmer commented on #3384
Woop, woop. All of them are merged and almost all of them made it to amp.dev. An inline edit to the https://github.com/ampproject/wg-security-privacy/pull/1 one caused a YAML syntax error. @robinvanopstal can you please issue a fix PR?

[code]

[2020-02-12 14:17] sebastianbenz commented on #3519
https://amp.dev/about/stories/ => Start Developing

[2020-02-12 15:56] #3519 closed

[2020-02-13 14:53] matthiasrohmer opened #3528 "Add user notification for when component script is copied"
Per https://github.com/ampproject/amp.dev/pull/3344#pullrequestreview-355727402. Currently it's not apparent to the user that copying the code snippet has been successful.

Therefore a click on the code snippet should trigger some kind of alert/notification.

[2020-02-13 16:55] #3518 closed

[2020-02-13 16:56] #3520 closed

[2020-02-13 17:31] #3384 closed

[2020-02-14 01:45] fellyph opened #3538 "[Translate_pt_BR] Beginners Course - Our First AMP Page"
## 📝 Translation of Beginners Course - Our First AMP Page

### Synopsis
Hi @CrystalOnScript
I would like to translate the "Our First AMP Page" section from Beginners course to Brazilian Portuguese: https://amp.dev/pt_br/documentation/courses/beginning-course/our-first-amp-page/?level=beginner

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [x] Translation
- [ ] Other (please specify)

[2020-02-14 12:55] sebastianbenz opened #3540 "Component table bugs"
Looks like a few review comments (code and design) have not been addressed:

* import script and tag backgrounds are still different
* description is shown twice here: https://amp-dev-staging.appspot.com/documentation/components/amp-animation/?format=websites
* import script padding still not consistent, suggestion: `4px 6px;`
* this page should have samples: https://amp-dev-staging.appspot.com/do

[2020-02-14 13:16] iaroel opened #3541 "Wrong component script for amp-video in boilerplate generator"
https://cdn.ampproject.org/v0/amp-video-1.0.js
404. That’s an error.

The requested URL /v0/amp-video-1.0.js was not found on this server. That’s all we know.

[2020-02-14 13:20] matthiasrohmer commented on #3540
Triaging to @LongoOfficial again as soon as he's back in the office. Briefly chatted with him about it this week: the code snippet background grey is the same as for all other inline code snippets on the page to stay consistent after we've changed it from the black used for the code blocks. Using the same dark grey for the table background felt too heavy for Longo and using the light grey for the

[2020-02-14 13:25] matthiasrohmer commented on #3541
`amp-video`s only release is `0.1`. The correct URL would therefore be: `https://cdn.ampproject.org/v0/amp-video-0.1.js`.

Just a typo or where did you get this URL from? 🙂Everything on https://amp.dev/documentation/components/amp-video/?format=websites looks fine.

[2020-02-14 13:31] sebastianbenz commented on #3540
We should fix the nits straightaway and then it's good to go for now.

[2020-02-14 17:06] zhangsu opened #3545 "Sections hidden for a certain AMP format aren't hidden in the table of content"
## 🐛 Bug Report

### Current behavior

One example:

https://amp.dev/documentation/components/amp-form/?format=email#redirecting-after-a-submission

The "Redirecting after a submission" section is hidden when the selected format is "Email", but it's still displayed in the table of content on the right. Clicking on it from the table of content does nothing because the section that corresponds to th

[2020-02-14 17:39] sebastianbenz commented on #3545
Thanks for reporting! Looks like the TOC is generated independently from filtering. //cc @matthiasrohmer

[2020-02-14 17:57] matthiasrohmer commented on #3545
Yep, we had a similar issue for the courses: https://github.com/ampproject/amp.dev/issues/2774#issuecomment-522505642. @tharders did you had a specific idea how to implement this?

[2020-02-14 18:05] matthiasrohmer opened #3546 "Update rcs-core to version 3"
The library we use to minify our CSS selectors had a recent major version bump that introduced a breaking change by renaming parts of the public API:

https://github.com/ampproject/amp.dev/blob/1e30dbfe7d2036f65f55c3690a691fff93f54de8/platform/lib/utils/cssTransformer.js#L99-L101

`selectorLibrary` now seems to be `selectorsLibrary` per [release notes](https://github.com/JPeer264/node-rcs-core/rel

[2020-02-14 18:14] matthiasrohmer opened #3547 "Dissolve visual layers on documentation detail pages"
The visual layers on the documentation detail pages worked well for previous iterations of the design to make the main content stand out and give visual guidance to the user. With some of the lately added features (component intro tables most notably, see https://github.com/ampproject/amp.dev/pull/3344#issuecomment-574252067 for context) box stacking got far out of hand.

We've discussed offline t

[2020-02-14 19:43] CrystalOnScript commented on #2345
@jeffjose @zhouyx
Can someone point to where we would be able to find component specific analytics triggers? Is there someone who has a list available?

[2020-02-14 20:09] CrystalOnScript commented on #3207
@morsssss @ lannka @calebcordry
Is someone able to provide a code sample for this?

[2020-02-14 20:13] CrystalOnScript commented on #2040
@zhouyx @lannka @calebcordry @micajuine-ho @jpettitt
Is someone able to provide an code sample/example for this?

[2020-02-14 20:26] zhouyx commented on #2040
It will be through variable substitution `AMP_GEO` or `${ampGeo}`.
https://github.com/ampproject/amphtml/blob/master/extensions/amp-geo/amp-geo.md#variable-substitution

[2020-02-14 20:38] CrystalOnScript commented on #2040
Thanks @zhouyx but I am still unsure where/how the substitution is used. I would really appreciate a basic code sample.

[2020-02-14 20:39] CrystalOnScript opened #3548 "Code samples not working in blog"
Please see the code blocks in: https://blog.amp.dev/2018/05/03/dynamic-geo-personalization/

[2020-02-14 20:50] zhouyx commented on #2040
You're asking how variables are used in amp-analytics? Here's a quick example of how it can be used in amp-analytics. (I hand coded it, can be an invalid json)
[code]

[2020-02-14 21:25] CrystalOnScript opened #3549 "amp-layout.md is not appearing on amp.dev sidebar"
[amp-layout](https://github.com/ampproject/amphtml/blob/master/builtins/amp-layout.md) is missing from amp.dev component sidebar

It is [here](https://amp.dev/documentation/components/amp-layout/)
<img width="243" alt="Screen Shot 2020-02-14 at 1 23 38 PM" src="https://user-images.githubusercontent.com/23297417/74568702-6d0e5580-4f2d-11ea-881b-a6799906ab8f.png">

[2020-02-14 22:26] matthiasrohmer commented on #3549
Thanks! Never noticed this. The problem is that it isn't made available for any format. Fixed this with https://github.com/ampproject/amphtml/pull/26820.

The question is: does it make sense to force-enable `websites` for components that haven't have available formats defined in their frontmatter? Which shouldn't be the case after https://github.com/ampproject/amphtml/pull/26383 but ... @sebastian

[2020-02-14 22:27] matthiasrohmer commented on #3548
@westonruter, as always: let us know if we can help 🙂

[2020-02-14 23:04] westonruter commented on #3548
@CrystalOnScript I'm not sure what the intended behavior is. Are these code samples supposed to be running or are they supposed to be examples that the reader should copy/paste? If the latter, you should be using the Code block in the editor and put the code samples inside each one.

[2020-02-14 23:05] westonruter commented on #3548
For example, look at the WordPress edit screen for this post: https://blog.amp.dev/2019/11/19/creating-delightful-user-experiences-using-amp-on-adobe-experience-manager/

[2020-02-14 23:08] westonruter commented on #3548
In other words, the `[code]` shortcode is obsolete in favor of the Code block.

[2020-02-14 23:21] CrystalOnScript commented on #3548
From my understanding they should just be simple code blocks. I do not think they run.

[2020-02-14 23:51] CrystalOnScript commented on #3538
Thank you! This would be fantastic!

CC @patrickkettner and @morsssss

[2020-02-15 00:37] westonruter commented on #3548
Oh, I see. This is legacy content. I'll update it.

[2020-02-15 00:54] westonruter commented on #3548
Fixed.

<table><thead><tr><th>Before</th><th>After</th></tr></thead><tbody><tr valign=top><td><img src="https://user-images.githubusercontent.com/134745/74578558-53c7d200-4f4a-11ea-843f-b36f1f65ee45.png"></td><td><img src="https://user-images.githubusercontent.com/134745/74578561-5aeee000-4f4a-11ea-9b46-8cb8a6a2ce41.png"></td></tr></tbody></table>

[2020-02-15 08:54] matthiasrohmer commented on #3548
Thanks, Weston!

[2020-02-15 08:54] #3548 closed

[2020-02-15 10:01] iaroel commented on #3541
It's generated by the boilerplate generator https://amp.dev/boilerplate/

[2020-02-15 14:13] matthiasrohmer commented on #3541
Fixed by #3551 as soon as it's merged.

[2020-02-15 15:06] #3541 closed

[2020-02-17 07:15] sebastianbenz commented on #3421
I don't think it's critical. Your decision :-)

[2020-02-17 08:40] matthiasrohmer commented on #3477
Shouldn't happen anymore with the new importer. Anyhow please reopen if you experience it again.

[2020-02-17 08:41] matthiasrohmer commented on #3515
@robinvanopstal, please hide the hint for small screens.

[2020-02-17 12:06] matthiasrohmer opened #3553 "Make git util lazy and use sh over execSync"
Isolated from #3330.

https://github.com/ampproject/amp.dev/blob/551ee7fb30b9778cc68c3f70319ac7d876192258/platform/lib/utils/git.js#L18-L26

git.js currently does three `execSync` operations as soon as it is required. That's bad. Especially because not all of the computed values are needed for development or are even available.

Therefore we should refactor the util to be Promise-based, cache the

[2020-02-17 12:16] sebastianbenz commented on #3553
Good find!

[2020-02-17 15:11] #3549 closed

[2020-02-17 18:52] sebastianbenz opened #3557 "Component doc pages: multi-version toggle not working"
Example: https://amp-dev-staging.appspot.com/documentation/components/amp-experiment/?format=websites

[2020-02-17 18:53] westonruter commented on #3421
Change applied.

[code]

[2020-02-17 18:53] sebastianbenz commented on #3557
It looks a bit broken for amp-carousel (but works): https://amp-dev-staging.appspot.com/documentation/components/amp-carousel-v0.1/?format=websites

<img width="455" alt="Screen Shot 2020-02-17 at 19 53 08" src="https://user-images.githubusercontent.com/380472/74679843-38193180-51bf-11ea-9301-16c357c5664d.png">

[2020-02-17 19:00] sebastianbenz commented on #3421
Awesome! Thanks!

[2020-02-17 19:59] #3421 closed

[2020-02-17 20:40] #3557 closed

[2020-02-18 08:21] sebastianbenz commented on #2971
Done as part of new component intro tables.

[2020-02-18 08:21] #2971 closed

[2020-02-18 08:21] #2914 closed

[2020-02-18 08:22] #2774 closed

[2020-02-18 08:22] #2756 closed

[2020-02-18 08:22] sebastianbenz commented on #2114
Fixed as part of new component tables.

[2020-02-18 08:22] #2114 closed

[2020-02-18 13:53] #2483 closed

[2020-02-18 14:22] #3513 closed

[2020-02-18 20:02] rcebulko opened #3562 "Add documentation (or link) for LTS release channel"
📖 Missing or Out-of-Date Documentation
We recently announced via the [AMP Blog](https://blog.amp.dev/2020/02/05/behind-the-scenes-deploying-the-amp-runtime/) a new LTS release channel, which has a slower (~monthly) release cadence. This is primarily for publishers that need to perform QA cycles on each release who prefer more infrequent updates/a more stable runtime. We have some documentation in

[2020-02-19 03:31] DerekNonGeneric commented on #3477
@matthiasrohmer, I would re-open if I could. :)

[2020-02-19 04:41] AzizDhaouadi opened #3564 "AMP Validation: Custom javascript is not allowed."
I am using the command line to verify the validity of my AMP pages and recently the same error "Custom javascript is not allowed." is showing up. I copy-pasted a very basic code from the amp boilerplate generator and the same error showed up.

Here's the code I copy-pasted:

[code]
Can someone, please, tell me what is going on?

Cheers!

[2020-02-19 07:49] sebastianbenz commented on #3564
Can you please wrap your code in <code>```</code>. Otherwise it gets swallowed by markdown.

[2020-02-19 08:27] matthiasrohmer commented on #3477
Still happening for you even being on `future` and after running `gulp importAll` again?

[2020-02-19 11:45] sebastianbenz opened #3565 "Component reference: relative GitHub links are broken"
See link: `../amp-access/amp-access.md` in https://github.com/ampproject/amphtml/blob/master/extensions/amp-subscriptions/amp-subscriptions.md

Which gets resolved to: https://amp.dev/github.com/ampproject/amphtml/blob/master/extensions/amp-access/amp-access.md

[2020-02-19 13:37] #3546 closed

[2020-02-19 14:07] matthiasrohmer opened #3567 "amp-analytics example is broken"
https://amp.dev/documentation/examples/components/amp-analytics/#form

[2020-02-19 14:11] AsimTariq commented on #3567
**Also:**
https://amp.dev/documentation/examples/components/amp-addthis/?format=websites
https://amp.dev/documentation/examples/components/amp-anim/
https://amp.dev/documentation/examples/components/amp-bodymovin-animation/?format=websites

And more i would guess. Would be great to go trough all components pages.

[2020-02-19 16:50] matthiasrohmer commented on #3565
Paul's fix (#3563) just hadn't made it to production yet. Started build [8788](https://travis-ci.org/ampproject/amp.dev/builds/652569354).

It's already fine on staging https://amp-dev-staging.appspot.com/documentation/components/amp-subscriptions/?format=websites.

[2020-02-19 17:45] sebastianbenz commented on #3565
Thanks

[2020-02-19 17:45] #3565 closed

[2020-02-19 18:19] AzizDhaouadi commented on #3564
@sebastianbenz it's done. Thank you for the heads up.

[2020-02-19 18:26] DerekNonGeneric commented on #3477
Yes, that is correct.

[2020-02-19 19:00] morsssss commented on #2744
@GladysMaria, I wanted to check in too!

[2020-02-19 20:12] #3515 closed

[2020-02-19 20:49] sebastianbenz opened #3572 "amp-bind doc page shows no import script"
No import script in the table:

https://amp.dev/documentation/components/amp-bind/?format=websites

[2020-02-20 01:19] #3025 closed

[2020-02-20 01:19] #2828 closed

[2020-02-20 09:11] robinvanopstal commented on #3572
Scripts are also missing in:
![Bildschirmfoto 2020-02-20 um 10 09 22](https://user-images.githubusercontent.com/35134232/74918373-45097100-53c9-11ea-93f8-2e4254a201ee.png)

[2020-02-20 13:22] matthiasrohmer opened #3576 "Remove dependency hints and dependency injection extension"
In our templates we hint for used AMP components like so:

https://github.com/ampproject/amp.dev/blob/0da7c0f3b1bba02555beb21abeb93ab9a5b1e107/pages/content/amp-dev/index.html#L53-L55

The amp-toolbox/optimizer recently started to support auto-injection of missing `<script>` tags which would allow us to get rid of those hints as well as remove the related Grow extension [amp-dependencies](https://

[2020-02-20 13:23] #3572 closed

[2020-02-20 21:47] gmajoulet opened #3775 "amp-story-consent playground example not working"
The `amp-story-consent` playground example does not seem to work:

https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fuser-consent%2Fstory_user_consent&format=websites&_gl=1*1s24cds*_ga*YW1wLThhNVdmY3ptbnh6dVBLQjRRZkFVS0E

However, actual publisher implementations seem to work as expected.

cc @ampproject/wg-stories

[2020-02-21 19:38] philkrie opened #3587 "amp-story beginners guide incorrectly configures Facebook share icon"
## 📖 Missing or Out-of-Date Documentation

### Problem
The amp-story guide "Create your first AMP Story" has a confusing section "[Creating the Bookend](https://amp.dev/documentation/guides-and-tutorials/start/visual_story/create_bookend/?format=websites)" that omits the fact that Facebook requires a config object in shareProviders. Without a Facebook App ID, the share link gets an error. Since so

[2020-02-23 23:57] morsssss opened #3590 "Comment form on blog posts needs styling"
## 🐛 Bug Report

### Current behavior
The comment form on blog posts seems to lack proper styling. The input fields are far too short, and the text near checkboxes lies beneath them and is so narrow that it wraps unnecessarily.

Please also provide:
- Page link: https://blog.amp.dev/2020/02/20/amp-conf-2020-return-to-nyc/

- (Optional) Screenshots/videos:

<img width="812" alt="Screen Shot 2020-02

[2020-02-24 08:26] matthiasrohmer commented on #3477
@DerekNonGeneric you've got some more details for me? For which components there are path conflicts?

[2020-02-24 09:35] sebastianbenz opened #3591 "Component table description does not render Markdown"
<img width="708" alt="Screen Shot 2020-02-24 at 10 34 53" src="https://user-images.githubusercontent.com/380472/75141505-5ae0a400-56f1-11ea-8686-e3025a3b632f.png">

https://amp.dev/documentation/components/amp-date-display/?format=websites

[2020-02-24 09:45] sebastianbenz opened #3592 "Format user notification does not stick to header"
<img width="1280" alt="Screen Shot 2020-02-24 at 10 38 40" src="https://user-images.githubusercontent.com/380472/75142107-a34c9180-56f2-11ea-9239-25dd4dba1b82.png">

[2020-02-24 09:55] AsimTariq opened #3593 "AMP Readiness Link is broken (404)"
## 🐛 Bug Report

### Current behavior
The plugin AMP Readiness has a link "AMP Readiness Tool" that is leading to [This page](https://github.com/ampproject/ampbench/tree/master/readiness-tool) that gives 404.

Screenshots/videos:
![image](https://user-images.githubusercontent.com/5482516/75142714-f410ba00-56f3-11ea-8d39-9317fa8c7a5e.png)

### Expected behavior/code
Github-page that is working

###

[2020-02-24 09:57] #3593 closed

[2020-02-24 10:00] sebastianbenz commented on #3590
Good point. Wondering whether we should keep it as comments are not listed anyway.

//cc @alexduran4

[2020-02-24 10:15] sebastianbenz opened #3594 "I2I: New Roadmap page"
## Problem

The current [Roadmap](https://amp.dev/community/roadmap/) contains stale content as AMP progress is now tracked via working groups.

## Proposed Solution

Pull in status updates from the working groups ([example](https://github.com/ampproject/wg-ui-and-a11y/issues?utf8=%E2%9C%93&q=is%3Aissue++label%3A%22Type%3A+Status+Update%22+)).

Here is a rough mock (not the actual design):

<img w

[2020-02-24 10:16] sebastianbenz commented on #2844
We decided to not target this right now (unless there are volunteers) as this functionality is already covered by github issues.

[2020-02-24 10:16] #2844 closed

[2020-02-24 10:16] sebastianbenz commented on #2604
Closed in favor of #3594

[2020-02-24 10:16] #2604 closed

[2020-02-24 12:30] DerekNonGeneric commented on #3477
The errors in [the CI logs](https://travis-ci.org/ampproject/amp.dev/builds/652395811) are the same exact ones I get on my machine.

[2020-02-24 13:09] matthiasrohmer commented on #3477
Ah alright 🙂 Thanks for clarifying. Those are actually unrelated to those that have been triggering this issue.

Also thanks for the reminder on your PR. Coming back to you on that today.

[2020-02-24 13:09] #3477 closed

[2020-02-24 21:54] nainar commented on #3594
Plan LGTM

[2020-02-25 18:16] CrystalOnScript opened #3604 "Update Ads and Stories CSS limits"
In some places the CSS limit for Stories and Ads reflects the 75kb update. These formats are unaffected.

https://amp.dev/documentation/guides-and-tutorials/develop/animations/triggering_css_animations/?format=stories

https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/?format=stories

https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/?format=ads

[2020-02-26 05:04] patrickkettner commented on #934
For blog.amp.dev, this is no longer the case

![image](https://user-images.githubusercontent.com/465414/75313714-97181f80-582b-11ea-9e6a-e679d75c98ee.png)

[2020-02-26 05:04] #934 closed

[2020-02-26 05:26] vishnu323 commented on #2807
what about when script is more than online.its works when the script is online.but more than online.the generated sha384 is not correct.may i know on more example is the script is more than online

[2020-02-26 14:44] amanintech commented on #3484
@mrjoro will definitely do more contribution. Do you think there is a dedicated team I can be part of and contribute

[2020-02-26 15:54] mrjoro commented on #3484
Great!  Take a look at the working groups and see if there are many that match your interests; you can then reach out in the working group's Slack channel or to the working group facilitator on Slack directly.

https://github.com/ampproject/meta/tree/master/working-groups

[2020-02-26 22:30] patrickkettner opened #3608 "amp-script demo on playground is near useless"
## 🐛 Bug Report

### Current behavior
Due to the [playground](https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fcomponents%2Famp-script) being a single file, the samples for amp-script are inlined. [Due to the hash requirements](https://amp.dev/documentation/components/amp-script/?format=websites#security-features), it means that any time a single byte is m

[2020-02-26 22:31] patrickkettner commented on #3608
@sebastianbenz can we recompile and inject the hash somehow?

[2020-02-27 07:36] sebastianbenz commented on #3608
Yes! We should do this! We can use [toolbox-script-csp](https://github.com/ampproject/amp-toolbox/tree/master/packages/script-csp) to generate the hash. Integration could work similar to [auto-importer](https://github.com/ampproject/amp.dev/blob/future/playground/src/auto-importer/auto-importer.js) (most likely a lot easier).

[2020-02-27 21:47] morsssss opened #3613 "Format user notification defaults to email"
🐛 Bug Report

This may relate to #3592 .

### Current behavior
If I go to a URL with no query string, I get this format notification:

![Screen Shot 2020-02-27 at 4 43 07 PM](https://user-images.githubusercontent.com/29419498/75489648-a52b8480-5980-11ea-8600-341475e1aa41.png)

If I click the "X" to dismiss it, I end up choosing "email".

![Screen Shot 2020-02-27 at 4 43 44 PM](https://user-images.

[2020-02-28 10:32] #3592 closed

[2020-02-28 10:51] robinvanopstal commented on #3613
Fixed by #3611.
Since needed for the sidebar's `format-toggle` hovering the format buttons generated an after element which enlarged its click area.

[2020-02-28 14:16] sebastianbenz commented on #3594
@matthiasrohmer should we discuss the UX in our sync next Monday?

[2020-02-28 18:13] ipolevoy opened #3616 "Add ExpressPigeon to AMP Email providers and editors"
## 🛠️ Request to Add Third-Party Tool/Service/Platform/Vendor

### 1. Resource name
ExpressPigeon

### 2. Relevant format(s)

- [ ] websites
- [ ] stories
- [ ] ads
- [x ] email

### 3. Resource type

- [ x] editor
- [ x] service provider
- [ ] developer tool
- [ ] content platform
- [ ] CMS
- [ ] ads
- [ ] audio/video
- [ ] analytics vendor

### 4. Destination
1. [amp.dev/support/faq/platform-and

[2020-02-28 19:00] sebastianbenz opened #3617 "Collapse sample list on component reference pages"
The sample list can get quite long (e.g. for amp-bind). This is in particular a problem on mobile. We should collapse the list to a maximum of 5(?) samples and add a "show more" button.

//cc @CrystalOnScript for feedback
//cc @robinvanopstal @matthiasrohmer

[2020-03-01 03:14] azaslonov opened #3618 "Allow to reference parent elements in amp-bind."
It would be great to have the ability to invoke methods of related elements, i.e. parent. It could be something like this:
[code]
The only option now is to set `id` attribute and reference it in the event, but in many cases it is not convenient at all.

[2020-03-02 09:24] #3528 closed

[2020-03-02 09:48] matthiasrohmer commented on #3540
Followed up in #3547.

[2020-03-02 09:48] #3540 closed

[2020-03-02 12:26] sebastianbenz opened #3619 "Make component categories linkable"
I'd like to be able to link all components for a specific category, e.g.: https://amp.dev/documentation/components/ with `Dynamic content` preselected.

//cc @robinvanopstal @matthiasrohmer

[2020-03-02 12:28] sebastianbenz opened #3620 "Story components listed under websites"
https://amp.dev/documentation/components/

![Screen Shot 2020-03-02 at 13 27 10](https://user-images.githubusercontent.com/380472/75676480-977c4480-5c89-11ea-9e0d-b83e717cd106.png)

[2020-03-02 12:45] matthiasrohmer commented on #3619
So same procedure as with https://github.com/ampproject/amp.dev/pull/3425? Ditch client-side filtering in favor of deep-linking?

[2020-03-02 12:52] sebastianbenz commented on #3619
Yes.

[2020-03-02 13:00] sebastianbenz commented on #3619
Some components are also listed under `none`:

<img width="1006" alt="Screen Shot 2020-03-02 at 13 56 14" src="https://user-images.githubusercontent.com/380472/75678537-28edb580-5c8e-11ea-90f7-97a6a5e247bb.png">

[2020-03-02 14:59] matthiasrohmer opened #3623 "Update component (docs) contribution guidelines"
Per #3610 and others it's not possible to use Markdown in teaser texts for component docs. This needs to be documented somewhere.

While searching for the documentation template in the ampproject/amphtml repository to do so (@CrystalOnScript, can you tell me where it is? 😁) I stumbled over https://github.com/ampproject/amphtml/blob/master/contributing/building-an-amp-extension.md. This for example

[2020-03-02 19:49] CrystalOnScript commented on #3623
Thanks for flagging this! I didn't know this piece of documentation existed - it really needs an update.

The [reference documentation template is here!](https://github.com/ampproject/amphtml/blob/master/build-system/tasks/extension-generator/extension-doc.template.md). The table is pulled out of it, but it doesn't specify that markdown cannot be used in frontmatter...  I've opened [an issue](http

[2020-03-02 20:13] #3623 closed

[2020-03-03 08:04] matthiasrohmer opened #3637 "Upgrade uuid in amp-analytics API to v7"
[uuid](https://www.npmjs.com/package/uuid) introduced breaking changes with v7 we need to adapt to prior updating. See https://github.com/ampproject/amp.dev/pull/3635 and the [migration details](https://www.npmjs.com/package/uuid#upgrading-from-uuid3) for details.

[2020-03-04 20:44] morsssss opened #3643 "<amp-script> sample: why fetch requires an absolute URL"
#3588  🐛 Documentation question

This isn't really a bug report, but something in the `<amp-script>` sample which I've not heard before - and I'm wondering whether it's correct.

The text reads:

"As amp-script code is executed inside a web worker, fetch only works with absolute URLs."

Is that the reason why absolute URLs are required? I haven't seen anything about this with `fetch` in Workers. I

[2020-03-06 15:13] #3619 closed

[2020-03-06 15:45] #3620 closed

[2020-03-06 16:09] newmuis opened #3653 "amp-story components that are not extensions have incorrect script import"
## 📖 Incorrect Documentation

### Current behavior
When viewing documentation for any `amp-story` components that are not extensions, they list a required import:

[code]

See:

- https://amp.dev/documentation/components/amp-story-bookend/
- https://amp.dev/documentation/components/amp-story-cta-layer/
- https://amp.dev/documentation/components/amp-story-grid-layer/
- https://amp.dev/documentation

[2020-03-06 16:13] newmuis opened #3654 "Nonexistent amp-story-ads and amp-story-analytics show up as components"
## 🐛 Bug Report

### Current behavior

`amp-story` has documentation pages in GitHub that do not represent components.  These should not be listed as component pages.

See:

- https://amp.dev/documentation/components/amp-story-analytics
- https://amp.dev/documentation/components/amp-story-ads

### Expected behavior/code

These pages should not be listed.

[2020-03-07 04:40] photocoder opened #3660 "AMP Copy button Playground error"
## What's the issue?

I'm trying to use "copy button", but even example code doesn't work and **AMP Validator** show errors.

## How do we reproduce the issue?

1. Visit https://amp.dev/documentation/examples/interactivity-dynamic-content/copy_button/?format=websites#asd and go to **Open in Playground**.
And even there I see **3 errors** message on the top
2. Copy code from left panel to my websit

[2020-03-09 14:27] matthiasrohmer opened #3657 "Skip jinja2 macros to build filter SSR expressions"
Our custom Markdown tag `[filter]` currently relies on one unnecessary transpiling step. The flow is as follows:

We have `[filter *]` in our Markdown which get's rewritten to jinja2 calls like `{% call filter * %}` which then get evaluated to SSR statements like [% if format.includes(... %]`.

Instead of relying on the template engine to build the SSR statements [our Markdown extension](https://g

[2020-03-09 14:34] matthiasrohmer opened #3658 "Improve filter block matching"
Every once in a while a corrupt `[filter]` statement in one of the imported docs breaks the build. Cases that I remember when this happened:

- `[filter formats="websites]`: missing quote
- `[filter formats='websites"]`: non-matching quotes
- Unclosed `[filter]` block

Those should all be handled gracefully instead of breaking the build. Could be fixed with #3657.

[2020-03-09 14:58] #3545 closed

[2020-03-09 15:34] alexandr-kazakov opened #3659 "Component page: amp-lightbox, does not work in translation"
## What's the issue?

If you go to the page: https://amp.dev/documentation/components/amp-lightbox/?format=websites and switch the language in the site header, then the page will stop working. I tested it in Russian.

## How do we reproduce the issue?

I have seen this bug many times, on different days, it is 100% there. I recorded a short video of what it looks like for me: http://bit.ly/2It6nbU

[2020-03-09 15:55] #3660 closed

[2020-03-09 16:46] matthiasrohmer opened #3663 "Handle documentation for deprecated components"
As far as I know for example [`amp-font`](https://amp.dev/documentation/components/amp-font/) is deprecated and the usage of the CSS `font-display` property is recommended instead. Can't find the source for this again though.

Currently there is no hint or whatsoever about this. In my opinion we should have both: a visual indicator showing that you should no longer use this component and a migrati

[2020-03-09 18:19] 7playstudio1 opened #3665 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2020-03-09 18:20] 7playstudio1 opened #3666 "7"
## 🛠️ Request to Add Third-Party Tool/Service/Platform/Vendor

### 1. Resource name
Insert name here

### 2. Relevant format(s)

- [ ] websites
- [ ] stories
- [ ] ads
- [ ] email

### 3. Resource type

- [ ] editor
- [ ] service provider
- [ ] developer tool
- [ ] content platform
- [ ] CMS
- [ ] ads
- [ ] audio/video
- [ ] analytics vendor

### 4. Destination
1. [amp.dev/support/faq/platform-and

[2020-03-09 18:29] #3666 closed

[2020-03-09 18:29] #3665 closed

[2020-03-09 18:47] sebastianbenz commented on #3663
Good point! Thanks for suggesting! We definitely should do both!

[2020-03-10 08:09] #3653 closed

[2020-03-10 08:09] #3654 closed

[2020-03-10 08:29] #3613 closed

[2020-03-10 09:58] matthiasrohmer opened #3670 "Do not show examples headline in intro table if there are none"
See `amp-bind` for e-mail for example.

[2020-03-10 10:02] matthiasrohmer commented on #3663
via @sebastianbenz: when implementing this we need to keep in mind that deprecations might only be valid for a specific format.

[2020-03-10 10:21] fstanis commented on #3616
Thanks, added in #3671. Just as heads up, we're moving service providers from the tools section to the FAQ soon, so this is where the change will land.

[2020-03-10 10:21] #3616 closed

[2020-03-10 13:26] sebastianbenz opened #3672 "Documentation: toc not scrollable"
For example: https://amp.dev/documentation/components/amp-bind/?format=websites

I need to scroll the whole page in order to scroll the TOC on the right.

//cc @matthiasrohmer

[2020-03-10 13:27] sebastianbenz opened #3673 "Empty examples header"
We should hide the whole "Examples" section if there are no matching:

https://amp.dev/documentation/components/amp-bind/?format=email

//cc @matthiasrohmer

[2020-03-10 13:28] matthiasrohmer commented on #3673
Duplicate to #3670 😉

[2020-03-10 13:28] #3673 closed

[2020-03-10 16:03] ipolevoy commented on #3616
@fstanis thank  you for taking care of this. Do you have a plan to push this to prod?

[2020-03-10 16:05] sebastianbenz commented on #3616
It's already live: https://amp.dev/support/faq/email-support/

[2020-03-10 16:14] ipolevoy commented on #3616
I see, but not listed here: https://amp.dev/documentation/tools/, under Creation and Design, with description and  the logo attached. Our platform includes a full UI drag and drop email AMP composer.

[2020-03-10 21:22] fstanis commented on #3616
Is this tool part of your platform or a separate one? We no longer list ESPs in the tools section, but if your tool is platform-independent, I think we can put it in the tools section.

@sebastianbenz let me know if this is in line with how we list tools on the website in general.

[2020-03-10 21:57] ipolevoy commented on #3616
@fstanis our editor is not currently available independent of our platform.

[2020-03-11 00:17] duero125 opened #3674 "myDesigner"
**Designer page**

[2020-03-11 00:17] #3674 closed

[2020-03-11 00:37] CrystalOnScript commented on #3659
Just tested it on my machine, that is a weird bug - 100% there. Thanks for filing @alexandr-kazakov!

[2020-03-11 08:05] matthiasrohmer opened #3675 "Document resolving in ComponentReferenceImporter fails for amp-next-page"
via @CrystalOnScript:

[2020-03-11 15:43] robinvanopstal commented on #3675
This will be solved with ampproject/amphtml#26841 since we're only importing stable versions.

Another related question would be if experimental versions should be selected as default ... or should we stay with the latest stable version here?

[2020-03-11 16:03] sebastianbenz commented on #3675
Experimental versions should not be the default.

[2020-03-11 16:51] robinvanopstal commented on #3591
Closed as discussed in #3610

[2020-03-11 16:51] #3591 closed

[2020-03-11 20:07] CrystalOnScript commented on #3675
Thanks for filing @matthiasrohmer !

[2020-03-12 06:08] Kifsif opened #3679 "Internal server error when button Login to comment"
## 🐛 Bug Report

### Current behavior
Button "Login to comment" causes internal server error (500)

Please also provide:
- Page link:
This section of the tutorial:
https://amp.dev/documentation/guides-and-tutorials/develop/login_requiring/login/?format=websites

We are shown a page link. This direct link:
https://amp.dev/documentation/examples/interactivity-dynamic-content/comment_section/preview/

[2020-03-12 16:52] matthiasrohmer opened #3682 "Verify and update featured sites"
For example we're featuring tasty.co on the Home- and the Success Stories page:

![Bildschirmfoto 2020-03-12 um 17 46 53](https://user-images.githubusercontent.com/12857772/76545340-e431fd80-6489-11ea-94c8-4d47120315cb.png)

![Bildschirmfoto 2020-03-12 um 17 47 10](https://user-images.githubusercontent.com/12857772/76545483-1e9b9a80-648a-11ea-83c9-6331f1c73dd1.png)

As far as I know they are no lo

[2020-03-13 00:05] CrystalOnScript opened #3683 "Exclude importing certain reference docs"
## 🚀 Feature Request

### Problem
We import reference files from the AMPHTML repository, but some components may need to be excluded, such as [`amp-font`](https://github.com/ampproject/amphtml/blob/master/extensions/amp-font/amp-font.md) whose functionality is obsolete due to `font-display`.

### Solution
Possibly add an exclude list here: https://github.com/ampproject/amp.dev/blob/2856b8a5691da5b

[2020-03-13 08:15] sebastianbenz commented on #3683
Duplicate of #3663

[2020-03-13 08:15] #3683 closed

[2020-03-13 08:21] matthiasrohmer commented on #3663
@CrystalOnScript, in the conf file you mentioned in #3683 you can add a key `skip` with an array of components that should not be imported. I'll file a PR adding `amp-font` for now.

[2020-03-13 08:21] VasudevHarshal-123 opened #3684 "Highlight topic in table of contents."
## 🚀 Feature Request

### Problem
The Table of contents of the documentation can be highlighted as a particular topic enters the viewport.

### Solution
The topic which the user is currently reading i.e inside the viewport should be in *bold* in the table of contents next to the topic. This will let the user know which topic they are currently reading.

[2020-03-13 08:23] sebastianbenz commented on #3684
I like this!

[2020-03-13 08:24] sebastianbenz commented on #3663
Please don't stop importing amp-font. This will be confusing looking for exactly this documentation. Instead we should update the documentation to clearly mention that it's deprecated and what should be done instead.

[2020-03-13 08:26] matthiasrohmer commented on #3663
Also like this better. Anyhow the functionality to skip certain components would exist if that's ever needed 😁

[2020-03-13 12:59] sebastianbenz commented on #3682
Good point!

[2020-03-13 14:13] VasudevHarshal-123 opened #3685 "Search bar on top of components list."
## 🚀 Feature Request

### Problem
Amp documentation has a long list of components and they are arranged in alphabetical order with alphabetical headings which is really helpful, but, If someone wants to see for a component or check if what they are looking for exists or not, they need to scroll down to the bottom in the worst-case scenario.
The list of components will definitely increase with time

[2020-03-13 14:52] sebastianbenz commented on #3685
Yeah, makes sense. You can use the site search at the top, which offers direct auto completion for components, but a combo-box like search for components could be helpful.

[2020-03-13 19:02] CrystalOnScript opened #3686 "AMP playground is marking font-display with red background"
The playground renders use of `font-display` with a red background, but gives no validation errors. I think this might be related to how we're importing CSS specifiers here:

https://github.com/ampproject/amp.dev/blob/future/playground/src/editor/editor.js

Which appears to come from here:
https://github.com/codemirror/CodeMirror/blob/master/mode/css/css.js

A quick search reveals that `font-displ

[2020-03-13 22:41] zhangsu opened #3687 "amp-mustache component main description displays escaped markdown link"
## 🐛 Bug Report

### Current behavior

The main description of the `amp-mustache` component displays escaped Markdown links literally:

[code]

Please also provide:
- Page link: https://amp.dev/documentation/components/amp-mustache/

### Expected behavior/code
The description display a link instead of the Markdown source.

[2020-03-14 07:00] VasudevHarshal-123 opened #3688 "Lenient validation on closing tags."
## 🐛 Bug Report

### Current behavior
Amp does not have any strict checking toward closing tags.
for example:
[code]
In the above code first `social-share`(linkedin) component does not have a closing tag and this does not throw an error. The browser add a closing tag before the closing tag of parent element. So the validator is also not throwing any error. The second component(facebook) is treated

[2020-03-14 09:15] #3688 closed

[2020-03-15 05:24] patrickkettner commented on #3686
created a [PR](https://github.com/codemirror/CodeMirror/pull/6177) to add this upstream

[2020-03-15 06:45] photocoder commented on #3660
Powered by AMP ⚡ HTML – Version 2003031842100
And the error is still there....
Check it out: [https://dimasfrolov.com/test/2/]( https://dimasfrolov.com/test/2/)

[2020-03-15 19:00] patrickkettner commented on #3686
that PR has been merged, I assume that renovate bot will give us the update once its published, right @CrystalOnScript @sebastianbenz ?

[2020-03-15 21:45] matthiasrohmer commented on #3687
Huh, this should actually be fixed by https://github.com/ampproject/amp.dev/pull/3610. Thanks for reporting, we'll take another look.

[2020-03-15 21:46] matthiasrohmer commented on #3686
Thanks for fixing upstream @patrickkettner! 🙂 Indeed Renovate will create a PR as soon the update is out.

[2020-03-16 00:40] westonruter opened #3691 "Example for amp-inline-gallery is missing amp-lightbox-gallery script"
## 🐛 Bug Report

### Current behavior

Opening the [`amp-inline-gallery`](https://amp.dev/documentation/components/amp-inline-gallery/) code example in the playground shows a validation error:

![image](https://user-images.githubusercontent.com/134745/76714353-c6f86b80-66e3-11ea-9bd4-4b6d23fc05dc.png)

The example is missing the script for `amp-lightbox-gallery`:

[code]

### Expected behavior/cod

[2020-03-16 09:47] sebastianbenz commented on #3594
Few examples links for status updates:

https://github.com/ampproject/wg-runtime/issues?q=is%3Aissue+is%3Aclosed+label%3A%22Type%3A+Status+Update%22
https://github.com/ampproject/wg-ui-and-a11y/issues?q=is%3Aissue+is%3Aopen+label%3A%22Type%3A+Status+Update%22

[2020-03-16 12:04] matthiasrohmer commented on #3590
@sebastianbenz, slightly related: is there any news on the plan to switch over to using WordPress headless?

[2020-03-16 12:29] sebastianbenz commented on #3590
Afaik, we're not showing the comments anywhere. Wouldn't it make sense to disable comments in that case?

[2020-03-16 12:45] matthiasrohmer commented on #3590
Definitely! But if we're switching anyway this issue (and some others related to blog styling/UX) would become obsolete or at least be in our responsibility 🙂

[2020-03-16 13:13] matthiasrohmer opened #3693 "Update readme on how to install Python 2 for Grow"
The instructions on how to install Python 2.7 via brew in our readme are outdated since the brew maintainers have removed the matching formula in the meantime.

Since the Grow team is still working on support for Python 3 we should probably update the instructions as outlined in this [StackOverflow answer](https://stackoverflow.com/a/60345962).

[2020-03-16 13:29] matthiasrohmer commented on #3684
The only way I can think of for implementing this would be `amp-position-observer` with `amp-animation` with the drawback that it would fail for deep-linked sections as `amp-positon-observer` doesn't trigger on page-load as far as I know. @sebastianbenz, is this nevertheless something we should try?

[2020-03-16 13:57] sebastianbenz commented on #3679
Duplicate of #3355

[2020-03-16 13:57] #3679 closed

[2020-03-16 13:59] sebastianbenz commented on #3684
That approach should work. amp-position-observer triggers on load. Here is an example: https://amp-demos.glitch.me/sticky-header.html#item3

[2020-03-16 16:45] matthiasrohmer commented on #3687
@robinvanopstal, this seems to appear for multiple: see [`amp-youtube`](https://amp.dev/documentation/components/amp-youtube/). Can you have another look over all of them?

#3610 did only fix it for automatically extracted teaser text. An alternative approach could also be to run the same sanitizer function over all manually maintained texts.

[2020-03-16 18:19] #3687 closed

[2020-03-16 19:47] caroqliu opened #3698 "amp-sidebar hamburger menu in "Product Page" example is invisible"
1. Go to "Product Page" [sample on amp.dev](https://amp.dev/documentation/examples/e-commerce/product_page/)
2. Click the top left corner of the sample (white space) -- the sidebar opens up.

The markup reveals that the element that opens the sidebar is an amp-img of a white hamburger menu on transparent background. A fix for it would swap this image out with a non-white menu or give it a backgrou

[2020-03-16 20:12] westonruter opened #3699 "Component amp-nested-menu only requires script for amp-sidebar not amp-nested-menu"
## 🐛 Bug Report

### Current behavior

The [docs for `amp-nested-menu`](https://amp.dev/documentation/components/amp-nested-menu/) indicate that two component scripts are needed, one for `amp-nested-menu` and another for `amp-sidebar`:

![image](https://user-images.githubusercontent.com/134745/76795802-50ad4500-6787-11ea-83c5-0f72dbce648b.png)

However, opening the example in the playground, there

[2020-03-17 10:00] matthiasrohmer opened #3701 "Update amp-consent to new configuration scheme"
Doesn't seem as if immediate action is required, just stumbled over it while using `amp-consent` for another project. `promptIfUnknown*` seems to be the [legacy way](https://amp.dev/documentation/components/amp-consent/#response) of configuring `amp-consent`. `consentRequired` and (in our case) `geoOverride` should be used instead.

/cc @sebastianbenz for triage

[2020-03-17 10:52] #3670 closed

[2020-03-17 12:15] robinvanopstal opened #3703 "Hide unused script tags in Boilerplate Generator"
Script tags for **Hero Video** and **Google analytics** stay visible after toggling their checkboxes

<img width="1656" alt="Bildschirmfoto 2020-03-17 um 09 30 27" src="https://user-images.githubusercontent.com/35134232/76854727-edd3b080-684f-11ea-8891-0cfa47fdf7d6.png">

[2020-03-17 13:02] sebastianbenz commented on #3701
Is this in the example?

[2020-03-17 14:44] #3703 closed

[2020-03-17 16:57] morsssss opened #3708 "amp-inputmask sample contains invalid JavaScript"
## 🐛 Bug Report

### Current behavior
[The sample for &lt;amp-inputmask&gt;](https://amp.dev/documentation/examples/components/amp-inputmask/) contains custom JavaScript, causing it to fail validation. Looks like this was added to make a toggle to turn on an experiment.

Is this still needed?

[code]

etc.

[2020-03-17 17:02] matthiasrohmer commented on #3708
No it's not, but added automatically via the example's frontmatter: https://github.com/ampproject/amp.dev/blob/5f3c42d6fa0358660a6949ef39f0315e56cc5f96/examples/source/1.components/amp-inputmask.html#L3-L4. Thanks for reporting, @morsssss!

@robinvanopstal, while you're at the examples anyway with #3567 could you please remove the experiments from the frontmatter?

[2020-03-17 17:07] matthiasrohmer commented on #3699
Thanks for reporting, @westonruter! Indeed `amp-nested-menu` seems to get automatically injected by `amp-sidebar` as soon as `amp-nested-menu` is used.

The docs importer does something wrong here when resolving dependencies. I'll have a look.

[2020-03-17 17:08] #3708 closed

[2020-03-17 17:11] matthiasrohmer commented on #3701
Have been thinking of amp.dev itself, the [user consent](https://amp.dev/documentation/examples/?category=user-consent&format=websites) examples are actually up-to-date 😄

[2020-03-18 07:17] robinvanopstal commented on #3617
Closed by: #3655

[2020-03-18 07:17] #3617 closed

[2020-03-18 14:50] VasudevHarshal-123 opened #3716 "The script tag contains invalid JSON that cannot be parsed."
## 🐛 Bug Report

### Current behavior
The [analytics_basics](https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/configure-analytics/analytics_basics/?format=websites) documents consist of "," at the end of pageview in the demo code which is throwing the error `The script tag contains invalid JSON that cannot be parsed.` This typo is only in this document not in other [componen

[2020-03-19 09:44] #3716 closed

[2020-03-19 09:45] #3672 closed

[2020-03-19 09:49] sebastianbenz commented on #3643
This might be an issue only with inline amp-script. Can you investigate?

[2020-03-19 09:51] sebastianbenz commented on #3245
//cc @westonruter whether this is supported by WP

[2020-03-19 10:46] matthiasrohmer opened #3721 "Overview pages need to be reachable from breadcrumbs"
Being on an example and/or component detail page the matching overview pages should be clickable:

![Bildschirmfoto 2020-03-19 um 11 44 25](https://user-images.githubusercontent.com/12857772/77059433-349fe280-69d7-11ea-8fb6-b8186f229ec0.png)
![Bildschirmfoto 2020-03-19 um 11 44 33](https://user-images.githubusercontent.com/12857772/77059434-35d10f80-69d7-11ea-8d71-cc361392ae12.png)

[2020-03-19 10:48] matthiasrohmer opened #3722 "Scroll position gets lost when filtering on overview pages"
The user starts back at the top when filtering on the component or example overview pages. We should fix this by appending a fragment to the filter bubble links.

![Bildschirmfoto 2020-03-19 um 11 48 00](https://user-images.githubusercontent.com/12857772/77059630-83e61300-69d7-11ea-8aa4-408d21c05052.png)

[2020-03-19 10:51] matthiasrohmer opened #3723 "Add dedicated tracking for how users are navigating to and from documentation detail pages"
TBD in detail. Generally: are they coming from teasers on the overview pages? Are they using the sidebar? Is the sidebar discoverable enough...?

[2020-03-19 12:28] VasudevHarshal-123 commented on #3716
@sebastianbenz There are other places in the same document which have "," at the end of the last child of JSON-object which will throw the same error.

[2020-03-19 14:07] #3691 closed

[2020-03-19 14:30] VasudevHarshal-123 opened #3728 "Page layout changes in the bottom."
## 🐛 Bug Report

### Current behavior
The component page displaying [amp-analytics](https://amp.dev/documentation/components/amp-analytics/?format=websites#timer-trigger) changes the layout after the topic scroll-trigger ends.
Which I guess is due to the reason that the content after scroll-trigger is not wrapped inside the `section` having class `-t`.

[2020-03-19 14:38] #3722 closed

[2020-03-19 14:42] sebastianbenz commented on #3723
Add custom tracking events for:

* Click on table of content for examples, guides, components
* Click on sidebar toggle for examples, guides, components

[2020-03-19 14:42] sebastianbenz commented on #3723
//cc @CrystalOnScript for more input

[2020-03-19 17:43] westonruter commented on #3245
WordPress does not currently support WebP directly, although there are issues (e.g. [24718](https://core.trac.wordpress.org/ticket/24718), [35725](https://core.trac.wordpress.org/ticket/35725)) which have discussed it for future.

The PNG being used for that blog post ([People Behind The Code](https://blog.amp.dev/2019/11/15/people-behind-the-code-ndtvs-rise-to-global-heavyweight/)) is present bec

[2020-03-19 17:45] westonruter commented on #3245
So the quick fix is an editorial one: ensure that those creating content for the AMP blog use the right format.

If WebP is desired on amp.dev, the transcoding would most easily be done as part of amp.dev when consuming the REST API from WordPress.

[2020-03-19 18:46] CrystalOnScript commented on #3320
Thanks for flagging! I've opened a PR that filters out some of the documentation you suggested with the following exceptions:

The call to action to contribute to AMP is always relevant. It also does have specific information on ads.
<img width="302" alt="Screen Shot 2020-03-19 at 11 32 28 AM" src="https://user-images.githubusercontent.com/23297417/77102783-a166ad00-69d6-11ea-80f9-0d1fbaa4e95d.png

[2020-03-19 19:27] Joelsz opened #3730 "Add "Add To User List" button on product page"
## 📖 Missing Documentation for Add to List on product page

### Problem
On the [example product page](https://amp.dev/documentation/examples/e-commerce/product_page/?format=websites) there's lots of examples for how to implement different features. It would be great to have an example on how to implement a "Add To User List" button where the user needs to be logged in in order to add to the list,

[2020-03-19 19:28] #3320 closed

[2020-03-19 19:48] #3721 closed

[2020-03-19 20:14] sebastianbenz opened #3732 "Github importer misses attributes if defined in a table"
Attributes are defined here:

https://github.com/ampproject/amphtml/blob/0acc235afdf63cf83a1e2fea653773a5a7b608e3/extensions/amp-position-observer/amp-position-observer.md

but are missing here:

https://amp.dev/documentation/components/amp-position-observer/#attributes

//cc @matthiasrohmer

[2020-03-19 22:28] CrystalOnScript commented on #3732
I'm updating this to critical, as its effecting ALL components with attributes in a table.

https://amp.dev/documentation/components/amp-ad/?format=websites#attributes
https://amp.dev/documentation/components/amp-inline-gallery/?format=websites#attributes

ect

[2020-03-20 07:58] sebastianbenz commented on #3657
Maybe I'm seeing things to simplistic, but couldn't we define custom [Nunjucks tags](https://mozilla.github.io/nunjucks/api.html#custom-tags) that match our filter syntax?

[code]

This might require rewriting the existing docs, but that'd be fine imo.

[2020-03-20 09:10] #3732 closed

[2020-03-20 09:35] #3693 closed

[2020-03-20 09:37] matthiasrohmer commented on #3657
Yes, that would work for the general functionality. Two things to consider:

1) We'd still need a way to parse the filtering in the Grow-layer to format-filter the TOC. Alternatively, we could also generate the TOC in our SSR-layer.
2) I only thought about solutions that work for all of our tags (`[tip]`, `[video]`, `[filter]`) - for the tags that involve templating the SSR approach feels a little

[2020-03-20 09:53] sebastianbenz commented on #3657
1. TOC in SSR is probably going to be ugly. Probably not uglier than in Grow though.
2. Can you elaborate?

[2020-03-20 14:25] matthiasrohmer commented on #3657
Sure! For `[filter]` the proposed approach works fine, since it doesn't create any new HTML but only works with the already existing structure.

I'll try to illustrate what I don't like about SSRing for example the `[tip]` shortcode. That's the flow currently:

*Data*: `/content/doc.md`

[code]

This data file gets rendered by Grow in two phases. The first one is the markdown render step in which

[2020-03-20 15:28] sebastianbenz commented on #3657
Thanks for the detailed write-up. I see your point and I agree that this is something that should idealy be handled as part of the markdown transformation. We should also keep the syntax consistent.

[2020-03-20 19:56] zhangsu opened #3742 "🐛The "unsupported for current selected format" warning seems wrong for non-component pages"
## 🐛 Bug Report

### Current behavior
amp.dev says `Important: this component does not support your currently selected format websites!` even though the current page is not about a single component.

Please also provide:
- Page link: https://amp.dev/documentation/guides-and-tutorials/learn/validation-workflow/validate_emails/?format=websites

### Expected behavior/code
Since it's not a component d

[2020-03-20 20:08] sebastianbenz commented on #3742
Good point! //cc @matthiasrohmer

[2020-03-23 16:28] matthiasrohmer commented on #3723
Input from Ferdi:

[2020-03-23 19:57] CrystalOnScript opened #3749 "Migrate PWA tutorial starter code repo into amp.dev"
## 📖 Missing or Out-of-Date Documentation

### Problem
The [Turn your AMP site into a PWA](https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/amp_to_pwa/?format=websites) starter [code/lyrical lightning](https://github.com/CrystalOnScript/lyricallyghtning) repo lives under my personal GH account. This needs to be migrated into amp.dev.

### Location
No need to move the existin

[2020-03-24 10:32] robinvanopstal commented on #3684
Hi @sebastianbenz, I've created a prototype that would work for Ferdis design. This approach takes care of the indention though but sometimes fails to get the correct position when scrolling fast .. what do you think? https://jsfiddle.net/ro6invanopstal/c9gwdvsu/2/

[2020-03-24 10:39] sebastianbenz commented on #3684
The animation is great! We should find a way to get the position more
reliably. Have you tried targeting the headings via the position observer?

[2020-03-24 17:16] matthiasrohmer commented on #3728
Just stumbled over this myself. Thanks for reporting! In cases like this a screenshot helps a lot 🙂 This is how it looks:

![Bildschirmfoto 2020-03-24 um 18 14 57](https://user-images.githubusercontent.com/12857772/77456392-74adfd80-6dfb-11ea-9308-2952603b4fcb.png)

[2020-03-24 18:52] #3699 closed

[2020-03-24 21:34] #3637 closed

[2020-03-24 22:48] morsssss commented on #3643
I don't understand... inline amp-script wouldn't specify a URL... can you explain what you mean?

[2020-03-24 23:45] patrickkettner commented on #3643
`<amp-script>` is not running in the same context as the main page. it is run inside of a `blob`, so a relative path isn't meaningful to it

[2020-03-25 01:14] morsssss commented on #3643
That... is a good point.

In which case, this documentation is correct exactly as it is 😎

[2020-03-25 01:20] patrickkettner commented on #3643
its is a bummer for DX, is there any way to build some tooling to transform relative URLs to absolute ones?

[2020-03-25 06:12] VasudevHarshal-123 opened #3761 "The script tag contains invalid JSON that cannot be parsed."
Issue #3716
All the "," were not removed.

[2020-03-25 08:44] #3742 closed

[2020-03-25 08:44] #3723 closed

[2020-03-25 09:30] #3701 closed

[2020-03-25 09:37] matthiasrohmer commented on #3564
@AzizDhaouadi, when copying the snippet into the [online validator](https://validator.amp.dev/) validation passes.

If you are using the Chrome validator extension during development make sure there isn't anything that injects `<script>` tags like an auto-reloader for example.

[2020-03-25 09:37] #3564 closed

[2020-03-25 10:02] matthiasrohmer commented on #3252
This went to prod in the meantime.

[2020-03-25 10:02] #3252 closed

[2020-03-25 10:04] VasudevHarshal-123 commented on #3761
@matthiasrohmer Should I commit the corrections?

[2020-03-25 10:07] robinvanopstal commented on #3761
I've fixed it already, thank you !

[2020-03-25 10:16] VasudevHarshal-123 commented on #3761
@robinvanopstal  Correct me if I'm wrong but I think you missed `"pageview": "https://foo.com/pixel?RANDOM",` at the starting of the page.

[2020-03-25 10:29] #3761 closed

[2020-03-25 13:10] VasudevHarshal-123 commented on #3728
@matthiasrohmer will do from next time.

[2020-03-25 14:14] #3728 closed

[2020-03-25 14:19] matthiasrohmer opened #3766 "Use length of filtered examples to decide if list is expandable"
For [`amp-list`](https://amp.dev/documentation/components/amp-list/?format=email#%5Bis-layout-container%5D-(optional)) filtered for AMP4email there are only two examples showing.

The condition that decides if the list should be expandable currently uses the unfiltered examples count though:

https://github.com/ampproject/amp.dev/blob/b679c874e97888df6b4a847f29c6392c96e6ac38/frontend/templates/vie

[2020-03-25 14:21] matthiasrohmer opened #3767 "Component examples should show first in component intro table"

[2020-03-25 14:29] matthiasrohmer commented on #3245
The posts that are currently showing don't have images or meet the editorial requirements outlined by Weston.

Additionally, #3486 updated the behaviour to use the designated post thumbnails over the original images which also increased performance.

Therefore closing this.

[2020-03-25 14:29] #3245 closed

[2020-03-26 01:04] nainar opened #3770 "Upgrade example page for <amp-next-page> to 1.0"
We are missing documentation for `<amp-next-page>` 1.0.

Assigning to @wassgha

[2020-03-26 09:25] #3767 closed

[2020-03-26 10:06] sebastianbenz commented on #3770
We should update the existing example page: https://amp.dev/documentation/examples/components/amp-next-page/preview/?format=websites

[2020-03-26 11:29] robinvanopstal commented on #3684
Here is another example using the headlines as target - I think we're facing the same problem here ..
https://jsfiddle.net/ro6invanopstal/t1d4hb6r/11/.  A more reliable approach would be using seekTo():  https://jsfiddle.net/ro6invanopstal/t1d4hb6r/15/ which would not support any animations though.. would that be a better option?

[2020-03-26 14:22] #3766 closed

[2020-03-26 15:30] sebastianbenz commented on #3684
I don't understand why seekTo is performing better. Might be that we're
missing fundamental here.

[2020-03-26 22:24] CrystalOnScript opened #3773 "amp-next-page reference documentation is invalid"
## 🐛 Bug Report

### Current behavior
The errors from the validator make it seem like the page is using amp-next-page. It currently has no inline executable code samples. I am unsure what it is invalid.

Please also provide:
- Page link: https://amp.dev/documentation/components/amp-next-page/?format=websites
- (Optional) Screenshots/videos:
<img width="1434" alt="Screen Shot 2020-03-26 at 3 21 53

[2020-03-27 08:13] sebastianbenz commented on #3773
@matthiasrohmer can you take a look? Is this related to the regex based auto import?

[2020-03-27 17:37] stembrain opened #3774 "Add e-commerce structured data to boilerplate generator"
Perhaps something like a Product structured data

[2020-03-30 07:56] matthiasrohmer commented on #3773
Hm... we switched to explicit imports with https://github.com/ampproject/amp.dev/pull/2367 so I fear it's the AMP optimizer that is injecting `amp-next-page` here.

I guess the reason is the literal `<amp-next-page>` in the *max-pages*  section of the [document](https://github.com/ampproject/amphtml/blob/master/extensions/amp-next-page/amp-next-page.md) which is interpreted as a tag. Will test thi

[2020-03-30 08:25] matthiasrohmer commented on #3773
Will be fixed by https://github.com/ampproject/amphtml/pull/27477

[2020-03-30 09:33] matthiasrohmer commented on #3774
@robinvanopstal, since you're already familiar with the boilerplate generator: could you add an example for e-commerce? Given @sebastianbenz doesn't veto 😁

[2020-03-30 09:42] matthiasrohmer opened #3780 "Evaluate efforts and risks to switch to a different static-site-generator"
amp.dev is using the Grow SDK for building static HTML pages from various data sources, generally Markdown files. The usage of Grow is the reason for a lot of quirks inside the amp.dev project which cause problems and confusion in terms of DX, for example:

- It is required to setup a working Python development environment including the Python package manager pip to be able to get amp.dev up and r

[2020-03-30 09:46] matthiasrohmer opened #3781 "Implement new roadmap importer"
Implement the new roadmap importer analog to the working groups' importer. It should create a data file that is able to power a layout similar to the following:

![09 Roadmap-V4](https://user-images.githubusercontent.com/12857772/77898811-07c3b900-727c-11ea-9f66-14d7f0eb1427.png)

[2020-03-30 09:48] matthiasrohmer commented on #3684
@sebastianbenz, this fell short in our call. How do we want to proceed here?

Maybe worth noting that this is somehow blocked by the need to be able to get the TOC as a data structure and not as a string from Grow as it's currently the case.

[2020-03-30 10:42] sebastianbenz commented on #3684
Can you build a standalone example to verify that this works (we could publish this later as an example as well). Once we've found an approach that works, we can think about integrating it into amp.dev.

[2020-03-30 11:20] #3775 closed

[2020-03-30 12:46] matthiasrohmer commented on #3684
@robinvanopstal, can you go ahead and port the example to one suitable for amp.dev?

@sebastianbenz do you know someone we can turn to, to make sure there's nothing we miss with `amp-animation`?

[2020-03-30 16:12] #3773 closed

[2020-03-31 02:20] shishirm opened #3782 "Remove amp-analytics as supported child of amp-story-grid-layer"
amp-analytics is incorrectly listed as a child of amp-story-grid-layer when instead it is only allowed as a direct child of amp-story.

https://amp.dev/documentation/components/amp-story-grid-layer/#

[2020-03-31 12:21] fstanis opened #3784 "amp-carousel not listed under supported components for AMP for Email"
In the [AMP Component Catalogue](https://amp.dev/documentation/components/?format=email) and the sidebar:

![image](https://user-images.githubusercontent.com/250887/78025713-65c2d000-7352-11ea-80d5-976a5b9bcfe4.png)

Likely related to the fact email doesn't support 0.2 but supports 0.1.

[2020-03-31 18:47] gmajoulet commented on #3782
Thanks for filing this! Why do you think this is incorrect? @Enriqe looked at our validation rules and we think this is supposed to work.
Thanks!

[2020-04-01 00:50] shishirm commented on #3782
Apologies for the confusion. What I had intended was to adjust the amp-story documentation to indicate that amp-analytics was an allowed child.

At the moment the documentation says, "The <amp-story> component contains one or more <amp-story-page> components, containing each of the individual screens of the story".

https://amp.dev/documentation/components/amp-story/?format=stories#children-(of-am

[2020-04-01 09:12] matthiasrohmer opened #3789 "Add valid default documents for each format in playground"
The playground currently only has one default document which is only valid for AMP Websites. It would be nice if switching the format when not having changed the format would update the document to a minimal valid document for the selected format.

[2020-04-01 09:18] matthiasrohmer commented on #3789
Already implemented, but did change the document before testing 😅

[2020-04-01 09:18] #3789 closed

[2020-04-01 21:31] gmajoulet commented on #3782
Thanks for the additional details :)
@Enriqe is looking into this

[2020-04-02 14:28] matthiasrohmer opened #3791 "AMP Story Ads Template Previews are useless"
The previews for the AMP Story Ads are not really helping as they of course work best inside an `amp-story`.

See the [Single Video Ad](https://amp.dev/documentation/templates/single_video_ads/?format=websites) template for example and click *View demo*.

Ideally, the story ads are wrapped in an `amp-story` when shown as a preview.

[2020-04-02 21:49] #3782 closed

[2020-04-03 13:22] matthiasrohmer commented on #3780
@sebastianbenz, I summarized my research in [this doc](https://docs.google.com/document/d/1RNkKhXjJeHCOKB1cSxEzzEzCxBLA3jxltMRo-rVZ-i4/edit#). LMK what you think.

[2020-04-03 17:12] sebastianbenz opened #3796 "Set language cookie"
We should set a cookie for the currently selected language when the user switches the language and redirect on page load to the correct version (e.g. amp.dev => amp.dev/de). This way, users will always land on their preferred version when visiting `amp.dev`.

Note: this won't work from the  cache (on Safari).

//cc @patrickkettner

[2020-04-06 04:27] ericle70000 opened #3802 "base"

[2020-04-06 04:28] #3802 closed

[2020-04-08 18:20] westonruter opened #3807 "Playground does not automatically add amp-lightbox-gallery component script"
## 🐛 Bug Report

### Current behavior

Add this markup to the `body` on [playground.amp.dev](https://playground.amp.dev/):

[code]

I expected this to automatically cause the `amp-lightbox-gallery` component to be added to the page:

[code]

Instead nothing happens. Clicking on the image does not open a lightbox either. There is also no validation error being reported, which is also unexpected.

#

[2020-04-09 18:53] Yusuf4396 opened #3809 "Duniya1"
#[Yusufabubakar3551@gmail.com](www.yusufabubakar355com.wordpress.com)

[2020-04-11 08:52] siddhantdante opened #3813 "Your amp-lightbox-gallery in not working properly please do check it."
https://amp.dev/documentation/examples/components/amp-lightbox-gallery/?format=websites

on this link of amp.dev amp-lightbox-gallery should work fine but not working.

[2020-04-12 02:10] #3809 closed

[2020-04-13 16:21] jaygray0919 opened #3816 "possible error: community/working-groups/access-subscriptions"
On https://amp.dev/community/working-groups/access-subscriptions/
see:
The GitHub Team also includes { name } WG members.

[2020-04-14 07:59] matthiasrohmer commented on #3816
@robinvanopstal, can you please look into this? In the template there's:

[code]

The importer also sets `full_name` but I can't quite make sense of it...

[2020-04-14 08:00] matthiasrohmer commented on #3813
Thanks for reporting! This is already tracked by #2759.

[2020-04-14 08:00] #3813 closed

[2020-04-15 08:12] #3816 closed

[2020-04-15 16:26] matthiasrohmer commented on #3784
`amp-carousel` not appearing at all will be fixed with #3828. But there is a UX problem now: the component sidebar links to the latest version by default.

I'll try to shove in more logic into the template to work around this but I'm skeptical...

[2020-04-15 19:25] sebastianbenz commented on #3807
Ideally, we'd move to the optimizer based auto import implementation. This might not be trivial to integrate into code mirror though.

[2020-04-15 19:46] #3784 closed

[2020-04-16 14:27] matthiasrohmer commented on #3686
Fixed by #3822.

[2020-04-16 14:27] #3686 closed

[2020-04-16 16:49] patrickkettner opened #3836 "header hamburger icon misaligned on production"
- What browser are you using? chrome
- What O/S are you using? macos
![image](https://user-images.githubusercontent.com/465414/79483729-a53f1c80-7fe0-11ea-859a-e4607b9c30ef.png)

[2020-04-16 17:01] patrickkettner commented on #3836
This occurs after the dev survey banner has been dismmissed

[2020-04-16 17:20] #3770 closed

[2020-04-16 18:17] CrystalOnScript opened #3837 "Write guidance around including a video in documetnation"
## 📖 Missing or Out-of-Date Documentation

### Problem
The contributing guide has no information on embedding a video in documentation. We need to explain how!

Only current example is:

[code]

In the live [JavaScript tutorial](https://amp.dev/documentation/guides-and-tutorials/develop/custom-javascript-tutorial/?format=websites#congratulations!).

It's unclear how to size videos - the display on

[2020-04-17 16:44] gerardorm opened #3839 "The extension 'amp-wistia-player' was found on this page, but is unused. Please remove this extension"
Recently I added this extension in order to use the wistia player. After adding all my pages that don't have a wistia element are getting that error message, and the page is not validated successfully.

Is this the desired behavior? or is it an AMP known issue?.

![2spVH](https://user-images.githubusercontent.com/14027305/79593265-11c52480-8090-11ea-9de3-ed5e92052f50.png)

[2020-04-20 06:58] sebastianbenz commented on #3839
This is the desired behavior to avoid AMP pages downloading too much JS.

[2020-04-20 06:58] #3839 closed

[2020-04-20 12:28] omar-dulaimi opened #3842 "Is it possible to make the carousel work from right to left? An example?"
## 📖 Missing or Out-of-Date Documentation
components support for RTL languages
### Problem
We wanted to switch the direction of amp-carousel component from LTR to RTL since our users are mainly arabic speakers. But couldn't find anything mentioned about this in the docs.

### Content type
tutorial

[2020-04-20 12:41] matthiasrohmer commented on #3842
Thanks for bringing this up! `amp-carousel` actually seems to support the `dir` attribute. Support is inherited from `amp-carousel`'s base component `amp-base-carousel` for which you'll find documentation [here](https://amp.dev/documentation/components/amp-base-carousel/#rtl).

I quickly tested this in the [AMP playground](https://playground.amp.dev/) with the following snippet:

[code]

Does this

[2020-04-20 13:03] matthiasrohmer commented on #3842
@nainar, not quite sure if you are still the correct person to tag for all things related `amp-carousel` but: from what I know I don't think it's working as intended. I assume the arrows need to be flipped...? Is there someone on the core team familiar with building RTL web experiences?

[2020-04-20 14:32] #3836 closed

[2020-04-20 16:45] omar-dulaimi commented on #3842
Thanks a lot @matthiasrohmer for the detailed response. I tried that and it actually worked, but there might be some other details that i'm missing so I'll wait until my colleague comes online to update this response. But for me, the only thing that doesn't seem to be working fine is the arrows. They disappear after a while, although they don't in the playground example you provided above. I'll tr

[2020-04-20 17:13] matthiasrohmer commented on #3842
@omar-dulaimi you're welcome! Provide as many details as you can 🙂 This will help us improve the documentation as well as AMP's support for RTL websites.

Especially a reduced example with a description of your expected behavior would be awesome. Since this isn't related to the documentation anymore it'll be great if you'd open the issue in the ampproject/amphtml project. It'll also gain more atte

[2020-04-21 19:13] Gregable opened #3851 "Please update the AMP Cache URL Format doc"
## 📖 Missing or Out-of-Date Documentation

### Problem
The AMP Cache Origin algorithm is changing. The changes have largely been implemented, so it seems safe to go ahead and change the wording of the documentation.

Background [here](https://github.com/ampproject/amphtml/issues/26205).

### Location
https://amp.dev/documentation/guides-and-tutorials/learn/amp-caches-and-cors/amp-cache-urls/

###

[2020-04-22 15:07] matthiasrohmer commented on #3780
Added performance tests to the doc.

[2020-04-22 19:59] sebastianbenz opened #3854 "Serve webp based on accept headers instead of fallback"
We currently serve webp versions of our images via `amp-img fallback` which results in the image being downloaded twice on Safari (see also https://github.com/ampproject/amphtml/issues/21912#issuecomment-617995565). Instead we should serve these based on accept headers.

[2020-04-22 19:59] sebastianbenz commented on #3854
//cc @patrickkettner

[2020-04-23 10:56] matthiasrohmer opened #3858 "Do not render navigation active states during build time but with SSR"
Marking a document as active in the sidebar currently happens during build:

https://github.com/ampproject/amp.dev/blob/5e66cb1238d220868af626a26dd94649d0fb4dc1/frontend/templates/views/partials/sidebar.j2#L44-L46

We could think about using SSR here instead by passing the request URL to the SSR rendering context. This would allow us to cache the sidebar and only render it once for guides, compone

[2020-04-23 14:32] lucasvazq commented on #103
2020 , its says "In general we support the latest two versions of major browsers"

[2020-04-23 15:48] matthiasrohmer commented on #103
@lucasvazq, browser support is documented in the FAQ: https://amp.dev/support/faq/supported-browsers/

[2020-04-23 16:55] morsssss commented on #3842
@omar-dulaimi , when I first used `<amp-carousel>`, I, too, was confused when my arrows vanished.

It turned out that was by design. It's now documented more clearly:

https://amp.dev/documentation/components/amp-carousel/?format=websites#controls-(optional)

Does this resolve your problem?

If you find a bug here, you can report that [in the amphtml project](https://github.com/ampproject/amphtml/

[2020-04-23 16:58] morsssss opened #3859 "go.amp.dev links don't support trailing slash"
## 🚀 Feature Request

I am a fan of go.amp.dev links! URLs like this work great:

[http://go.amp.dev/learn-script](http://go.amp.dev/learn-script)

However, if you happen to add a trailing slash, as people sometimes do, you get a 404:

[http://go.amp.dev/learn-script/](http://go.amp.dev/learn-script/)

If it's simple to just strip any trailing slash before rewriting the URL, that would be wonderli

[2020-04-23 19:02] lucasvazq commented on #103
@matthiasrohmer

After four years, only details the compatibility in "we support the latest two versions of major browsers". A much broader compatibility detail is needed.
A table for each element and version of AMP components showing compatibility with different browsers.
I work on a page where all mobile device users are redirected to the AMP site, but not all browsers can properly process it.
I

[2020-04-23 19:15] sebastianbenz commented on #103
@lucasvazq thanks for adding more detail to this discussion. I think "we support the latest two versions of major browsers" is a clear statement. This applies to all components. Hence, there shouldn't be a need for a detailed break down per component.

The important thing is: if you find a component not working in any of the major browsers then it's a bug in AMP. Please file these [here](https://g

[2020-04-24 10:39] gtamborero opened #3862 "AMP-FX-COLLECTION for background images"
Is it possible to apply amp-fx to background images? Any example? Thanks!

[2020-04-24 10:52] matthiasrohmer commented on #3862
Can you provide a code example of what you tried so far?

So long I'm assuming you are embedding your background image via CSS. If that's the case I'd recommend using `amp-img` instead. This would allow AMP to take care of loading the image only when it's needed. You could then simulate `background-size: cover|contain` via `object-fit`. See the example [here](https://amp.dev/documentation/examples

[2020-04-24 11:03] sebastianbenz commented on #3862
amp-fx-collection is not specific to AMP element, you can use it on arbitrary HTML elements. This means it works with CSS background images as well.

[code]

[2020-04-24 13:48] gtamborero commented on #3862
Thank you @matthiasrohmer I think i'll try to create a background without background-image attribute. Thank you  @sebastianbenz  . Fade-in effect works perfect because the effect applies to the full layer but it doesn't work the parallax effect.

[2020-04-25 20:09] amandeeepsingh opened #3866 "Why does amp.dev uses grow.io?"
This is just a question, why does amp.dev uses grow.io?
Do you recommend grow.io for large scale static websites?

Thanks

[2020-04-26 10:29] jaygray0919 commented on #3866
https://docs.google.com/document/d/1RNkKhXjJeHCOKB1cSxEzzEzCxBLA3jxltMRo-rVZ-i4/edit#

[2020-04-26 11:56] amandeeepsingh commented on #3866
Thanks! @jaygray0919

[2020-04-26 13:28] #3866 closed

[2020-04-27 08:56] matthiasrohmer commented on #3854
As discussed in a call: if `Accept: image/webp` is present the backend does a lookup for the requested image with the `.webp` extension and delivers that one if it exists and falls back to the original path otherwise.

[2020-04-27 17:54] Gregable commented on #3851
@CrystalOnScript let me know if you need any clarifications. Thanks!

[2020-04-27 23:21] CrystalOnScript commented on #3851
Thanks for taking the time to write this out @Gregable! I've sent up a PR with the requested fixes, let me know if it looks good!

[2020-04-27 23:38] #3851 closed

[2020-04-28 15:41] matthiasrohmer commented on #131
For now, the AMP blog regularly features third-party authors. Feel free to reopen if there are any extensive 3P resources we should also aggregate.

[2020-04-28 15:41] #131 closed

[2020-04-28 15:47] matthiasrohmer commented on #135
Please reopen if still relevant.

[2020-04-28 15:47] #135 closed

[2020-04-28 15:50] matthiasrohmer commented on #755
Improvement of the validation messages is an ongoing effort over at ampproject/amphtml. Additionally, the implementation of the logging service (log.amp.dev) would be an entry point to improve documentation of those messages.

[2020-04-28 15:50] #755 closed

[2020-04-28 15:55] matthiasrohmer commented on #964
This is an ongoing effort of @CrystalOnScript.

[2020-04-28 15:55] #964 closed

[2020-04-28 15:59] matthiasrohmer commented on #981
@sebastianbenz, what do you think? Is this still relevant? As far as I know AMP CORS deprecated due to https://github.com/ampproject/amphtml/issues/22136 - this would by the way also imply to actually deprecate amp-toolbox/cors as some of the documents on amp.dev that describe AMP CORS behavior.

[2020-04-28 16:11] sebastianbenz commented on #981
This is no longer relevant.

[2020-04-28 16:19] matthiasrohmer opened #3873 "Add deprecation hint to content related to AMP CORS"
As AMP CORS has been deprecated with https://github.com/ampproject/amphtml/issues/22136, we should mark the [AMP CORS guide](https://amp.dev/documentation/guides-and-tutorials/learn/amp-caches-and-cors/amp-cors-requests) and potential other documents related to it as deprecated

/cc @CrystalOnScript

[2020-04-28 16:20] matthiasrohmer commented on #981
Great, thanks for the quick reply! Created #3873 for further tracking.

[2020-04-28 16:20] #981 closed

[2020-04-28 16:46] tannerbaum commented on #3348
Overall a documentation overhaul would be appreciated and in particular I would be surprised if this is true:

As mentioned in a [different issue](https://github.com/ampproject/amphtml/issues/24326#issuecomment-620702942) we have been struggling with stale content. But even reading the the documentation for `amp-live-list` I wasn't sure if it would help because my understanding was it updates the

[2020-04-28 16:53] morsssss commented on #3348
@CrystalOnScript , just thought I should bring this to your attention...

[2020-04-29 16:27] sharkcrayon opened #3878 "The CSS "transition" property is listed as supported by AMP for Email, but is not supported by Gmail"
## 🐛 Bug Report

### Current behavior
According to the AMP for Email [docs](https://amp.dev/documentation/guides-and-tutorials/learn/email-spec/amp-email-css/?format=email#additional-restrictions) the css property `transition` is supported by AMP for Email (with restrictions). However, `transition` does not work in Gmail (desktop or mobile) according to my own testing. It does work within the AMP

[2020-04-29 17:09] fstanis commented on #3878
Seems this is a bug in Gmail where fractional duration is not allowed in `transition`. As a workaround, you can use milliseconds until it's fixed: `transition: transform 300ms ease` which should work.

(BTW you can file Gmail AMP bugs [using the process outlined here](https://developers.google.com/gmail/ampemail/support#issues_with_amp_specific_to_gmail))

CC @zhangsu

[2020-04-29 18:47] sharkcrayon commented on #3878
Oh that's awesome, thanks! I gave that a try and it's working with `transform 300ms ease`.

[2020-04-29 19:07] CrystalOnScript commented on #3348
Hi @morsssss, I've spent significant time looking into these issues and I do not understand why it is being brought to my attention. We do not document Google's AMP cache on amp.dev. I suggest filing a bug on documentation at developers.google.com. If you are unsure how to do this Lizzi may be able to help.

[2020-04-29 22:31] #3878 closed

[2020-04-30 04:04] hogashi opened #3885 ""Toggle Sidebar" prevents clicking content"
## 🚀 Feature Request

### Problem

Related with the issue #1604 . "Toggle Sidebar" button is still annoying sometime when I use the documents.

It seems that b078b6cac0bc5f5dc8df4b3cabaac5eef4110bc8 added `opacity: 0` for this. However, this element is clickable while it is not visible. It prevents clicking links.

![image](https://user-images.githubusercontent.com/12870472/80669602-c6733300-8adf-

[2020-04-30 07:31] matthiasrohmer commented on #3885
Thanks a lot for your feedback! The sidebars and their toggling behavior is also something we are currently looking into to improve UX.

For now, giving it `display: none;` instead of `opacity: 0;` sounds good to me for a quick fix. @robinvanopstal, can you please take care of this?

[2020-04-30 08:31] Svenmay opened #3886 "<amp-script> Playground page not working"
## 🐛 Bug Report

### Current behavior
The examples for "amp-script" on the playground do not work. Clicking on any of the buttons do not trigger any reaction, instead a lot of JS errors are thrown on the console.

Specific error message in console. **[amp-script] Script hash not found. amp-script[script="hello-world"].js must have "sha384-a93VCeQbvTG7y-NYFU4XSZnhfxIjDIhqdCVXo1agLB4rIO42b2uApwLDJTb

[2020-04-30 18:24] Ichigo3d opened #3888 "Errors appear in AMP playground's amp-bodymovin-animation page."
## 🐛 Bug Report

### Current behavior
When I open AMP playground's  amp-bodymovin-animation page. I got errors.

https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fcomponents%2Famp-bodymovin-animation&format=websites&_gl=1*hahcwj*_ga*YW1wLXJHSC1qN0pzdnRaWXFYUW9TSm1lbkE.
<img width="1456" alt="Screen Shot 2020-04-30 at 9 46 59 AM" src="https://user-images.git

[2020-05-01 23:48] CrystalOnScript commented on #3348
Update: I've started a project tracker for examples, documentation, and advice we can give developers from the AMP Framework side to avoid possible issues with the AMP Cache. I'll give updates here when I have any! In the meantime, I would love to hear any solutions currently in use or any resources I may be unaware of.

[2020-05-01 23:55] archon810 commented on #3348
Here are the 4 questions/concerns I still can't get a definitive answer to after many months, with the documentation being confusing, ambiguous, or misleading:

1. Why is `update-cache` needed at all, given `s-maxage`, `max-age`, and the promise on this page https://developers.google.com/amp/cache/overview to invalidate and refresh the cache automatically after `max-age`?
2. `max-age` is not being

[2020-05-02 01:07] morsssss commented on #3348
@archon810 , I believe you and I have been through all your questions over private chat. Answers:

1. If you use `max-age`, you don't have to use the `update-cache` API.
2. `max-age` is the way to tell Google's AMP cache when to seek a new copy. It is respected.
3. Don't use `s-maxage`.
4. All of us would love it if the `update-cache` API worked very quickly, but given the size and scale of the in

[2020-05-02 02:30] jeffochoa opened #3891 "Broken links on content_encryption page"
## 📖 Missing or Out-of-Date Documentation

### Broken links on content_encryption page

The GitHub links in the `Related resources`  are broken.

### Content outdated

The `go` script seems to be broken https://github.com/subscriptions-project/encryption/tree/master/golang/cmd/gcp_key_gen

Is there an alternative that you can recommend?

### Location
https://amp.dev/documentation/guides-and-tutori

[2020-05-03 19:10] matthiasrohmer opened #3892 "Update legal and add OpenJS foundation information"
As per https://github.com/ampproject/wg-outreach/issues/60.

The foundation's logo from [openjs-foundation/artwork](https://github.com/openjs-foundation/artwork) needs to be added to the footer. Additionally links to legal documents need to be updated to the following:

[code]

[2020-05-03 21:18] tobie commented on #3892
I don’t think the logo necessarily has to go in the footer, btw.

[2020-05-04 17:58] CrystalOnScript commented on #3891
Thanks for flagging @jeffochoa ! There's been a fix for the links [here](https://github.com/ampproject/amp.dev/pull/3874) - it's been merged and will be live with the next update.

I've filed an issue on the scubscriptions-project GitHub repo and cc'd you [here](https://github.com/subscriptions-project/encryption/issues/11).

[2020-05-04 17:58] #3891 closed

[2020-05-04 20:37] virgiltu opened #3895 "Mobile popup and forum"
Do we have something that can create a popup like this description? I was thinking to use the mega-menu but i wanted to ask first. My other option was to use the footer ad module but it does not gray out the background.

![4012028C-3DA2-49E6-8709-AB9647E4F1F2](https://user-images.githubusercontent.com/7761519/81011099-3816ee00-8e0c-11ea-8695-52422b0d4282.png)

Also we need a forum dedicate to amp.

[2020-05-05 15:08] 7playstudio1 opened #3898 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2020-05-05 15:14] #3898 closed

[2020-05-05 15:16] 7playstudio1 opened #3899 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2020-05-05 15:17] 7playstudio1 commented on #3899
Hi

[2020-05-05 15:31] #3899 closed

[2020-05-05 16:10] matthiasrohmer commented on #3895
The simplest solution I can think of would be using `amp-bind` and then toggling a class. See the following example:

[code]

Regarding your idea of a forum: we are currently investigating how to add more ways for the community to engage and discuss all things related to the AMP project. What kind of discussions and other content would you expect on a forum?

So long questions like yours would als

[2020-05-05 18:28] cramforce opened #3905 "Update Web Stories social image"
![old image](https://amp.dev/static/img/sharing/about-stories-600x314.png)
https://amp.dev/static/img/sharing/about-stories-600x314.png

What is the process to update these?

[2020-05-05 20:09] matthiasrohmer commented on #3905
There is no dedicated process for this; I guess Matt and/or Alex got the source files on Google side. 🙂 Created #3906.

[2020-05-05 20:15] #3905 closed

[2020-05-06 00:09] virgiltu commented on #3895
Thank you @matthiasrohmer I was trying debate what was the best way, but figured I would ask in case there was some component i missed that did this out of the box. Before i was going to build it. But wow thank you for putting it all together.

In regards to the forum thing, please see laracasts.com it is an absolute joy to use that ,learn and collaborate. On the other hand laravel and amp really

[2020-05-06 08:15] matthiasrohmer commented on #3895
You're welcome! Sleeping over it there's indeed a dedicated component: [`amp-lightbox`](https://amp.dev/documentation/components/amp-lightbox/). See the following example for your use-case:

[code]

Thanks a lot for your feedback about community communications - we'll definitely take this into account!

[2020-05-06 08:47] matthiasrohmer opened #3911 "Usage of amp-bind is not detected reliably by auto-importer"
[code]

Doesn't trigger import of `amp-bind`. Probably because it throws another validation error than one of `MANDATORY_TAG_MISSING`, `MISSING_REQUIRED_EXTENSION` or `ATTR_MISSING_REQUIRED_EXTENSION` but only `AMP-BIND is not installed.`

[2020-05-06 10:36] sebastianbenz commented on #3911
This should be detected by AMP Optimizer, if not, can you please file a bug there as well?

[2020-05-06 11:03] matthiasrohmer commented on #3911
Did a test, that's why I stumbled over https://github.com/ampproject/amp-toolbox/pull/752 - optimizer is fine. 😁

[2020-05-06 20:54] ithinkihaveacat opened #3914 "blog.amp.dev: schema.org metadata suggests WordPress is the publisher"
The blog post <https://blog.amp.dev/2020/05/06/amp-web-vitals-a-better-web-together/> has schema.org metadata of:

[code]

`publisher.logo` is <https://blog.amp.dev/wp-content/plugins/amp/assets/images/amp-page-fallback-wordpress-publisher-logo.png>, which is the WordPress logo.

This causes (I assume) the WordPress logo appearing in "Discover" (and probably other places), which is confusing:

![I

[2020-05-06 20:56] westonruter commented on #3914
Good point. Will this image URL suffice? https://amp.dev/static/img/icons/icon-512x512.png

[2020-05-06 21:09] ithinkihaveacat commented on #3914
I'd guess so (that's what amp.dev uses, and seems to be a definite improvement) but not my decision!

[2020-05-06 21:33] westonruter commented on #3914
Who makes the decision?

[2020-05-07 01:36] nedkelly opened #3916 "Links are broken on https://amp.dev/static/samples/internationalization/alternate/"
## 🐛 Bug Report

### Current behavior
Links on the Internationalisation Static Samples page are broken
https://amp.dev/static/samples/internationalization/alternate/

Currently clicking on these links directs the user to a 404 page, each link is missing the `/static/samples/` path.

### Expected behavior/code
links should direct the user to the expected location:

Example:
https://amp.dev/internat

[2020-05-07 09:28] sebastianbenz commented on #3914
I can make that decision. I think that icon is fine. Thanks for reporting
Michael! I've also noticed that the author is wrong as it should be Patrick
in this case.

[2020-05-07 10:39] #3895 closed

[2020-05-07 11:03] #3916 closed

[2020-05-07 11:38] sebastianbenz opened #3919 "[blog] Fix quote formatting"
We should have a proper formatting for quotes:

<img width="951" alt="Screen Shot 2020-05-07 at 11 27 20" src="https://user-images.githubusercontent.com/380472/81290137-d3f06600-9067-11ea-9863-d83cb05429f2.png">

@matthiasrohmer @westonruter where's the best place to fix this?

[2020-05-07 11:48] matthiasrohmer commented on #3919
We have fancy quotes for the [success stories](https://amp.dev/success-stories/impremedia/):

![Uploading Bildschirmfoto 2020-05-07 um 13.46.34.png…]()

If they work I am happy to provide sample markup and the required CSS for anyone on the blog team to integrate.

[2020-05-07 14:16] sebastianbenz commented on #3919
This would be much better!

[2020-05-07 14:16] sebastianbenz commented on #3919
@westonruter can you help integrate this into the blog?

[2020-05-07 14:31] westonruter commented on #3919
Yes, but for the blog I don't think it makes sense to have the organization duplicated with the quote. The quote block in WordPress provides a text field for providing the quote attribution, but not for selecting some image to use for a secondary attribution.

Would this fancy quotation style be used for _every_ blockquote or just special ones?

[2020-05-07 14:33] westonruter commented on #3914
The author is incorrect because Alex published post and Patrick doesn't have a user account. the quick fix this simply for Alex to create an additional user account for Patrick and then change the author to him.

[2020-05-08 01:02] zhouyx opened #3926 "Sync Analytics vendor list with the ampproject/amphtml repo"
## 🚀 Feature Request

### Problem
https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/configure-analytics/analytics-vendors/?format=websites#vendors
is outdated.

### Solution
Can we sync the doc to the list in ampproject/amphtml repro. So one only need to add doc in one place.

### Additional information (optional)
If I get it right, we are auto syncing the ad vendor list. Is

[2020-05-08 11:59] sebastianbenz commented on #3926
We definitely should do this. //cc @matthiasrohmer

[2020-05-08 12:55] matthiasrohmer commented on #1179
@patrickkettner, not sure if you are already aware of this 🙂

[2020-05-08 13:02] matthiasrohmer commented on #1326
This has been solved in parts: we link all examples using a specific component in the new component intro table.

Additionally we implemented the new `[example]` shortcode which enables documentation authors to add interactive examples directly into a document.

[2020-05-08 13:02] #1326 closed

[2020-05-08 13:09] matthiasrohmer commented on #1328
As this would add more code to our Python codebase I'd hold back from this today and instead recommend using either the direct use of `<amp-img>` or the still existing `image()` macro.

[2020-05-08 13:09] #1328 closed

[2020-05-08 13:25] matthiasrohmer commented on #2039
@sebastianbenz, is there someone monitoring and maintaining the issues over at ampproject/samples or should we take care of the issues mentioned by Filip?

[2020-05-08 13:27] #2040 closed

[2020-05-08 13:29] #2054 closed

[2020-05-08 13:33] matthiasrohmer commented on #2060
octokit.js development seems to have stopped, closing for now - additionally we consolidated all importers to use octonode by now.

[2020-05-08 13:33] #2060 closed

[2020-05-08 13:34] #2122 closed

[2020-05-08 13:38] matthiasrohmer commented on #2153
The updated playground UI will make the invalidity of pages more prominent.

![Bildschirmfoto 2020-05-08 um 15 38 01](https://user-images.githubusercontent.com/12857772/81411012-f951a280-9141-11ea-8158-77e674642115.png)

[2020-05-08 13:38] #2153 closed

[2020-05-08 13:39] matthiasrohmer commented on #2161
This has been solved by the component intro tables.

[2020-05-08 13:39] #2161 closed

[2020-05-08 13:41] sebastianbenz commented on #2039
Let's leave this for now as they're not really featured on amp.dev.

[2020-05-08 13:41] #2039 closed

[2020-05-08 13:41] matthiasrohmer commented on #2163
We've significantly improved the speed of the importers in the meantime which doesn't make them a bottleneck anymore. Additionally every now and then we rely on our builds having the latest data from GitHub. Hence closing.

[2020-05-08 13:41] #2163 closed

[2020-05-08 13:49] matthiasrohmer commented on #2223
This should happen automatically by now: https://github.com/ampproject/amphtml/blob/master/spec/auto-lightbox.md

Please reopen if I am mistaken! 🙂

[2020-05-08 13:49] #2223 closed

[2020-05-08 13:50] #2272 closed

[2020-05-08 13:54] matthiasrohmer commented on #2039
Funnily this one is 😁 on the Use Cases page. And we've been discussing to make a thing out of them all in https://github.com/ampproject/amp.dev/issues/1994

[2020-05-08 16:46] westonruter commented on #3914
I've corrected the logo in the Schema.org metadata.

[2020-05-08 21:20] zhouyx commented on #3926
the ampproject/amphtml repo doesn't have a full list that can export currently. Let me know what works best for you, and I can generate and maintain such a list on our side.

[2020-05-10 09:32] bulentala opened #3930 "Paged List Example broken"
Sample code don't work

https://amp.dev/documentation/examples/interactivity-dynamic-content/paged_list/preview/?format=websites

https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Finteractivity-dynamic-content%2Fpaged_list&format=websites&_gl=1*4jczf4*_ga*YW1wLS1vMzkzb3d6OTQ4NW9GdnJvNTViTHc.

[2020-05-11 07:50] matthiasrohmer commented on #3914
Thanks, @westonruter!

[2020-05-11 07:50] #3914 closed

[2020-05-11 10:44] matthiasrohmer commented on #3911
Created https://github.com/ampproject/amphtml/issues/28302. Using `amp-bind` without importing it currently only throws an error at runtime.

The amp-toolbox auto-importer handles it differently by specifically looking for bindable attributes:

https://github.com/ampproject/amp-toolbox/blob/c2105027e95afd110e9f3b8c3e252492e3db5149/packages/optimizer/lib/transformers/AutoExtensionImporter.js#L295-L

[2020-05-11 14:26] matthiasrohmer commented on #3926
The [Analytics Vendors](https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/configure-analytics/analytics-vendors/?format=websites#vendors) page is currently rendered from this Markdown document: [/pages/content/amp-dev/documentation/guides-and-tutorials/optimize-measure/configure-analytics/analytics-vendors.md](https://github.com/ampproject/amp.dev/blob/future/pages/content/am

[2020-05-11 18:42] zhouyx commented on #3926
Thank you for the detailed info. Just learnt that we are translating the manually maintained analytics vendor list, and that's awesome!

I like the approach you recommended. As stated in the [integration guideline](https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/integrating-analytics.md), analytics vendors are asked to submit a separate Pull Request to the amp.dev repo t

[2020-05-11 21:33] matthiasrohmer commented on #3926
That sounds like a plan 🙂 As soon as the new `extensions/amp-analytics/analytics-vendors-lists.md` is in place (and on master) we can add it to the [importer configuration](https://github.com/ampproject/amp.dev/blob/future/platform/config/imports/spec.json).

Translation can then happen as with any other document just with the little downside that the translated documents will be maintained in thi

[2020-05-11 22:50] zhouyx commented on #3926
https://github.com/ampproject/amphtml/pull/28321

[2020-05-12 03:04] westonruter commented on #3914
I've fixed the post authorship to be @patrickkettner:

[code]

And @alexduran4 is going to update the other posts to ensure they have the right authorship asigned.

[2020-05-12 10:07] mansil opened #3939 "Portuguese (Portugal) language"
Hi,

I would like to contribute and help with the translation for Portuguese (Portugal) language.

I already "forked" amp.dev and I and my husband will help both.

Thank you for your time.

Sincerely,

Manuela Silva

[2020-05-12 10:17] matthiasrohmer commented on #3939
Thanks a lot for your interest in contributing to AMP 🙂 @patrickkettner and @CrystalOnScript conduct all efforts around localization for the AMP Project and can provide some more guidance.

[2020-05-12 10:18] mansil commented on #3939
Thank you @matthiasrohmer

[2020-05-12 10:51] sebastianbenz commented on #3914
Thanks @westonruter !

[2020-05-12 12:40] sebastianbenz commented on #3886
Yes, this is annoying. The playground should auto-generate the script hash using the [script-csp package](https://github.com/ampproject/amp-toolbox/tree/master/packages/script-csp).

[2020-05-12 13:08] matthiasrohmer commented on #1648
Closed due to inactivity. You're welcome to reopen if you want to pick this up again 🙂

[2020-05-12 13:08] #1648 closed

[2020-05-12 13:10] matthiasrohmer commented on #1396
Thanks for your help so far! 🙂 Feel free to create new issues for specific smaller parts you are thinking about to contribute translations for.

[2020-05-12 13:10] #1396 closed

[2020-05-12 13:13] matthiasrohmer opened #3940 "Link to boilerplate generator from boilerplate spec"
You either know the boilerplate generator is at `/boilerplate/` or stumble over it in the tools.

We should add a `[tip]` to https://amp.dev/documentation/guides-and-tutorials/learn/spec/amp-boilerplate/ mentioning it.

[2020-05-12 13:16] matthiasrohmer commented on #1732
As stated by Filip there are currently no specific options available for AMP4Email. Though in the meantime the example transformer has made a lot more examples for AMP4Email available for the playground.

[2020-05-12 13:16] #1732 closed

[2020-05-12 13:17] matthiasrohmer commented on #2021
Closed due to inactivity. You are very welcome to reopen this issue or create a new one if you are still willing to contribute 🙂

[2020-05-12 13:17] #2021 closed

[2020-05-12 13:29] matthiasrohmer commented on #2282
This is currently limited by Grow. Implementing this ourselves would add-up to our Python codebase what we don't want. Hence closing.

[2020-05-12 13:29] #2282 closed

[2020-05-12 13:43] matthiasrohmer commented on #3886
This is tracked here: https://github.com/ampproject/amp.dev/issues/3608. I almost have this ready and try to land the PR this week.

[2020-05-12 13:43] #3886 closed

[2020-05-12 16:33] matthiasrohmer commented on #3862
Let us know if you need any further assistance with this 🙂 Closing for so long.

[2020-05-12 16:33] #3862 closed

[2020-05-12 16:34] matthiasrohmer commented on #3781
The roadmap is now available here: https://amp.dev/community/roadmap/

[2020-05-12 16:34] #3781 closed

[2020-05-12 23:58] zhouyx commented on #3926
The doc has been merged to master and is ready to be imported.
I'm not sure what to put for the `order` and `to` filed in the spec.json. @matthiasrohmer could you help add the file to the importer configuration? Here it is https://github.com/ampproject/amphtml/blob/master/extensions/amp-analytics/analytics-vendors-list.md

Thank you!

[2020-05-13 21:29] cjimmy opened #3948 "typo in amp-img example. <img> tag not properly terminated"
In the amp-img [example](https://amp.dev/documentation/examples/components/amp-img/?format=websites), under the example, the `<img>`  has a typo.

Currently reads
[code]
 <img> should end with a `/>`

[2020-05-14 07:09] matthiasrohmer commented on #3948
With HTML5 a slash in front of the closing tag bracket is optional for void tags 🙂

[2020-05-14 07:09] #3948 closed

[2020-05-14 07:15] matthiasrohmer commented on #3842
Closing due to inactivity. Feel free to reopen if you need further support 🙂

[2020-05-14 09:52] #3885 closed

[2020-05-14 11:48] hogashi commented on #3885
Thank you for your fix ⭐  I'm looking forward to the further improvements!

[2020-05-14 17:28] #3940 closed

[2020-05-14 17:30] #3608 closed

[2020-05-15 05:49] CrystalOnScript opened #3957 "Remove bookend from Create your first Web Story"
## 📖 Missing or Out-of-Date Documentation

### Problem
Bookend is being deprecated. It needs to be removed from the tutorial and the [starter/finished code](https://github.com/ampproject/amp.dev/tree/master/tutorial_source/amp-pets-story).

### Location
[Creating the bookend](https://amp.dev/documentation/guides-and-tutorials/start/visual_story/create_bookend/?format=stories)

[2020-05-15 06:03] CrystalOnScript opened #3958 "Capitalize all instances of "web story/stories""
## 📖 Missing or Out-of-Date Documentation

### Problem
Per name update guidance, all instances of Web Story/Stories should be capitalized.

### Location
[Create your first Web Story](https://amp.dev/documentation/guides-and-tutorials/start/visual_story/?format=stories) - every page

[Successfully create Web Stories](https://amp.dev/documentation/guides-and-tutorials/start/create_successful_stories

[2020-05-15 06:04] CrystalOnScript opened #3959 "Advertise in AMP Stories -> Web Stories"
Update language to reflect Web Stories name change
https://amp.dev/documentation/guides-and-tutorials/develop/advertise_amp_stories/?format=stories

[2020-05-15 06:05] CrystalOnScript opened #3960 "Best practices for creating an AMP Story ad -> Web Story ad"
Update documentation to reflect change
https://amp.dev/documentation/guides-and-tutorials/develop/story_ads_best_practices/?format=stories

[2020-05-15 06:06] CrystalOnScript opened #3961 "Update AMP terminology guide"
AMP story / AMP stories -> Web Story / Web Stories
https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/terminology/?format=stories

[2020-05-18 10:42] sebastianbenz opened #3969 "New release timetable design"
More closely align the release schedule with the overall design of amp.dev.

1.  [Mock 1](#-mock-1): traditional calendar view
2. [Mock 2](#-mock-2): horizontal time  (favorite, once readability has been improved)

## Mock 1

<img width="1440" alt="Screen Shot 2020-05-18 at 12 34 10" src="https://user-images.githubusercontent.com/380472/82203851-2a7d6000-9904-11ea-9509-661a48b29d30.png">
<img widt

[2020-05-18 10:44] sebastianbenz commented on #3969
@nainar @danielrozenberg wdyt?

[2020-05-18 16:36] danielrozenberg commented on #3969
I like both, slightly leaning towards Mock 1. My main issue with Mock 2 is that you have to scroll sideways (which is only ever comfortable on mobile/MacBooks, but not on Linux/Windows) _and_ you don't get to see all the information without scrolling, so context can get lost

[2020-05-19 11:43] sebastianbenz opened #3980 "amp-nested-submenu docs show import script"
`amp-nested-submenu` does not need to be explicitly imported (which will result in validation error). We need to handle the case in the overview table generator when the extension script does not need to be imported. It probably also makes sense to mention this in the docs.

//cc @CrystalOnScript for thoughts

[2020-05-19 14:04] caroqliu opened #3981 "amp-date-display is not experimental"
[The example page](https://amp.dev/documentation/examples/components/amp-date-display/) describes that the component uses the "amp-date-display" experiment. This appears to be out-of-date information seeing as the component logic in 0.1 does not require such an experiment.

[2020-05-19 16:24] zhouyx commented on #3926
Friendly ping. @matthiasrohmer Let me know what's the next step. Thank you

[2020-05-19 21:09] matthiasrohmer opened #3983 "amp-install-serviceworker example mentions Workbox"
I think ideally [this example](https://amp.dev/documentation/examples/components/amp-install-serviceworker/) (and probably the reference doc as well) point to [amp-sw](https://github.com/ampproject/amp-sw)

[2020-05-20 08:23] #3892 closed

[2020-05-20 16:16] morsssss opened #3985 "Time period buttons on roadmap page don't always change color correctly"
## 🐛 Bug Report
This pertains to https://amp.dev/community/roadmap/ .

### Current behavior
If you're on a certain time period, and you click on a time period button that's higher up than your current time period, the time period button *beneath* the one you've chosen turns black - not the time period button corresponding to the one you've chosen.

For example, if I'm on Q3 2019, and then I click

[2020-05-20 16:24] sebastianbenz commented on #3985
Noticed this as well. Looks like there's some more position observer fine-tuning needed. //cc @robinvanopstal

[2020-05-20 21:23] MrCsabaToth opened #3988 "Example for Cookie consent with CCPA, GDPR, and other geo groups and multiple cookies for Analytics and features"
## 🚀 Feature Request
It's so common scenario that it'd be good to have an example for a cookie consent, which:
1. Identifies EEA (GDPR) geo group
2. CCPA geo group
3. All other (maybe in that case still offer CCPA?)

The example would contain Google Analytics (or other analytics), Disqus comment sections or other amp-iframe.

### Problem
I have not been able to find a clear solution for these, and

[2020-05-22 01:41] MrCsabaToth opened #3990 "amp-google-vrview-image playground example doesn't work"
## 🐛 Bug Report

### Current behavior
When I view the `amp-google-vrview-image` playground example nothing is displayed in the right (preview?) pane. In the left pane all the `amp-google-vrview-image` tags are marked with red dots "The tag `amp-google-vrview-image` is disallowed". And the script pull-in is marked with red dot as well with the message "Custom JavaScript is not allowed".
The demo pa

[2020-05-25 08:06] jaccos opened #3992 "AMP.DEV not reachable when using NORDVPN"
## 🐛 when using a VPN service like NORDVPN the site gives an not existing page error

### Current behavior
A clear and concise description of the bug you found in amp.dev.

Please also provide:
- Page link: <insert the URL link to the amp.dev page(s) that you found the issue on>
- (Optional) Screenshots/videos:

### Expected behavior/code
A clear and concise description of what you expected to hap

[2020-05-25 17:17] ags1773 commented on #1888
I don't think this issue is fixed

https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fcomponents%2Famp-next-page&format=websites&_gl=1*nmbayp*_ga*YW1wLWlmbndKanBIUVpMbGxINFViQXdmbEE.
![image](https://user-images.githubusercontent.com/27222520/82832738-9bf77880-9ed9-11ea-80db-dcd290d73b6a.png)

[2020-05-25 17:27] matthiasrohmer commented on #3926
@zhouyx, sorry for the delay! I'll come back to this tomorrow 🙂

[2020-05-26 16:05] cramforce opened #4002 "Emojis don't work on the roadmap page 🙀"
![Screenshot_20200525-165050](https://user-images.githubusercontent.com/89679/82923529-f6232880-9f2f-11ea-8038-8740d7da1e48.png)

[2020-05-26 16:09] matthiasrohmer commented on #3985
Fixed with #3994

[2020-05-26 16:09] #3985 closed

[2020-05-26 17:24] matthiasrohmer opened #4004 "Give some prominence to the Community section"
Currently the community section falls a little short in comparison to the About section although it holds very central information to the AMP Project with the Roadmap and Working Group pages.

![Bildschirmfoto 2020-05-26 um 19 19 37](https://user-images.githubusercontent.com/12857772/82930703-1b428600-9f86-11ea-94e5-3e11ad36b068.png)
![Bildschirmfoto 2020-05-26 um 19 19 43](https://user-images.git

[2020-05-27 17:33] CrystalOnScript commented on #3980
Is it possible to add frontmatter to component docs for `required-script: true/false` and replace the area in the table with "No Script Required read below for further details" or something when it doesn't? This case is tricky, since it does require `amp-sidebar`. Maybe replace the required script with that?

[2020-05-28 12:22] patrickkettner commented on #3992
@jaccos would you be able to share a screenshot of the error? It sounds like DNS issue (the domain name isn't being resolved).

However the default DNS servers for NordVPN are both resolving correctly

![image](https://user-images.githubusercontent.com/465414/83140610-55ae3f00-a0bc-11ea-81d4-890755cee377.png)

Do you know what your DNS server is set to on the device you are using?

[2020-05-28 15:39] #3926 closed

[2020-05-28 16:20] matthiasrohmer commented on #3854
Fixed by introducing Thumbor.

[2020-05-28 16:20] #3854 closed

[2020-05-28 17:01] #3981 closed

[2020-05-28 17:01] #3983 closed

[2020-05-30 18:13] jaygray0919 opened #4020 "typo"
on
https://amp.dev/documentation/examples/components/amp-list/#re-using-an-existing-template

s/This sample shows off once/This sample shows off one/

[2020-06-01 21:42] westonruter opened #4024 "amp-img documentation advises antipattern of using fallbacks for WebP"
## 📖 Missing or Out-of-Date Documentation

### Problem

The docs for `amp-img` have an example for how to specify a fallback image when the browser doesn't support WebP. The problem is that this is an antipattern, as browsers which don't support WebP will be forced to download two images: the WebP and then the JPG.

### Location

https://amp.dev/documentation/components/amp-img/#example:-specifyin

[2020-06-02 08:41] sebastianbenz commented on #4024
Duplicate of https://github.com/ampproject/amphtml/issues/21912#issuecomment-617995565

[2020-06-02 08:41] #4024 closed

[2020-06-02 10:27] omar-dulaimi commented on #3842
Hello, Sorry for the delay. After multiple days of triage, it seems that setting rtl doesn't work properl.
While it does change the direction, it doesn't actually load all images, just the first ones.

In our case it was a carousel of 4 images, only the first two were loaded!

To try it out fast, just go here to the playground example and set dir="rtl" for the first carousel.
https://playground.am

[2020-06-02 19:31] zhangsu opened #4027 "Many examples for amp-img don't."
#  📖 Missing or Out-of-Date Documentation

### Problem

Many examples for amp-img don't apply to the email spec. In particular, the following sections should be hidden:
-  srcset
- no-script
- dynamically changing the src

### Location
https://amp.dev/documentation/examples/components/amp-img/?format=email#vertically-centering-an-amp-img

[2020-06-03 16:30] CrystalOnScript opened #4030 "amp-experiment importing wrong script 1.0 vs 0.1"
amp-experiment 1.0 is not in production yet, but amp.dev imports `amp-experiment-1.0` instead of `amp-experiment-0.1`.

[2020-06-03 20:59] omar-dulaimi commented on #3842
Hello,
Should I open a new issue?
Just to make sure that you actually can see closed issues or not.

[2020-06-03 21:47] matthiasrohmer commented on #3842
Sorry for the delay, @omar-dulaimi! I am OOO this week and therefore didn't respond. Without having taken a closer look this sounds like a bug and hence out of scope for amp.dev. We'd much appreciate you opening an issue in [ampproject/amphtml](https://github.com/ampproject/amphtml). What you summarized in https://github.com/ampproject/amp.dev/issues/3842#issuecomment-637446287 will be good starti

[2020-06-04 01:55] morsssss commented on #3842
It sounds like two different things are happening here:

**There may be a bug in amp-carousel**. In that case, please [file an issue](https://github.com/ampproject/amphtml/issues/new/choose) on the amphtml project! This github repo is for the amp.dev site.

**We don't seem to document how to select LTR / RTL behavior**. I only saw a passing reference to this in the docs! If I'm right about that, w

[2020-06-04 11:06] omar-dulaimi commented on #3842
Thank you guys @matthiasrohmer @morsssss. I'll submit a new issue to amphtml.
Have a good weekend.

[2020-06-04 16:05] caroqliu opened #4032 ""Open this snippet in playground" imports wrong amp-carousel binary"
Steps to reproduce:
- Go to [amp-carousel 0.2 documentation](https://amp.dev/documentation/components/amp-carousel/) - make sure `0.2` is selected.
- Click "Open this snippet in playground" for any of the examples on the page.
- See in the markup that 0.1 is included:
`  <script custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js" async></script>`

[2020-06-05 12:06] fstanis opened #4035 "Playground isn't surfacing warnings"
## 🐛 Bug Report

### Current behavior

[playground.amp.dev](https://playground.amp.dev/) doesn't currently surface validator warnings.

### Expected behavior/code

Warnings surfaced the same way errors are.

These are important to notify users of deprecations and changes to the spec they may otherwise miss.

### Reproduction procedure

1. Go to [playground.amp.dev](https://playground.amp.dev/).
2.

[2020-06-05 14:39] matthiasrohmer opened #4036 "Optimizing images fails for teaser images"
See [example overview](https://amp.dev/documentation/examples/?category=style-layout&format=websites#filter) for demonstration.

<img width="1065" alt="Bildschirmfoto 2020-06-05 um 16 37 26" src="https://user-images.githubusercontent.com/12857772/83889159-17afbb80-a74b-11ea-8554-012c41afd3ef.png">

[2020-06-05 14:40] matthiasrohmer opened #4037 "Examples are duplicate on examples overview page"
<img width="1065" alt="Bildschirmfoto 2020-06-05 um 16 37 26" src="https://user-images.githubusercontent.com/12857772/83889287-42017900-a74b-11ea-87ca-357ed01dc641.png">

[2020-06-05 14:50] matthiasrohmer opened #4038 "Component links in example teasers link to overview page instead of detail page"
<img width="313" alt="Bildschirmfoto 2020-06-05 um 16 37 00" src="https://user-images.githubusercontent.com/12857772/83890867-a3761780-a74c-11ea-9f60-2330f1900348.png">

[2020-06-05 14:53] matthiasrohmer opened #4039 "amp-access example broken"
https://amp.dev/documentation/examples/components/amp-access/?format=websites

[2020-06-07 19:42] ghkdc opened #4043 "Aq"
B

[2020-06-08 07:11] #4043 closed

[2020-06-08 07:28] sebastianbenz commented on #3324
One other idea that came was to implement sharing by encoding the content using base64 and then sharing it via URL fragments. Might need some more investigation on what's the fragment size limit is in browsers....

[2020-06-08 07:38] DerekNonGeneric commented on #3324
I found some more examples of this. Sorry in advance for the long URLs. :)

https://closure-compiler.appspot.com/home#code%3D%252F%252F%2520%253D%253DClosureCompiler%253D%253D%250A%252F%252F%2520%2540compilation_level%2520ADVANCED_OPTIMIZATIONS%250A%252F%252F%2520%2540warning_level%2520VERBOSE%250A%252F%252F%2520%2540jscomp_error%2520strictCheckTypes%250A%252F%252F%2520%2540language_out%2520ECMASC

[2020-06-08 07:44] DerekNonGeneric commented on #3324
We are using them as proofs in commit messages over at @nodejs. That may be another limitation on length worth considering. See the four commits in the following PR.

https://github.com/nodejs/node/pull/33563

[2020-06-08 16:45] morsssss commented on #2931
This has been fixed via #3322 . We could probably compress some images more aggressively, but it's so much improved!

[2020-06-08 16:45] #2931 closed

[2020-06-08 17:18] morsssss opened #4045 "Update Events area to reflect what's happening as of June 2020"
Our Events offerings have grown stale. Let's update them!

The Events menu currently contains:
* AMP Conf 2019
* AMP Contributor Summit 2019
* AMP Roadshow

Here's what we'd like to do:

**AMP Conf 2019**: leave it, because we don't have our digital 2020 event planned yet, and because this is a nice page full of lots of links to talks

**AMP Contributor Summit 2019**: replace this with a link to t

[2020-06-08 17:28] sebastianbenz commented on #4045
LGTM - thanks Ben! What would be the title for the new events page?

[2020-06-08 18:07] morsssss commented on #4045
I've got a few ideas. I think we'll know more as we flesh out its content.

Just to save time, do you know how to update the banner? That shouldn't take too long to do.

[2020-06-08 19:46] sebastianbenz commented on #4045
You can update the banner here https://github.com/ampproject/amp.dev/blob/future/frontend/templates/views/partials/banner.j2

[2020-06-09 07:50] #3324 closed

[2020-06-09 13:35] #4002 closed

[2020-06-10 13:05] chronustdd opened #4058 "Show or hide div using amp list in email"
What I need to do:
       I need to show or hide the div using remote endpoint response.
Amp  email doesn't provide the option for setting state using source via remote end point. Is there any way in which I can use list or any other element to toggle div using remote end point.

[2020-06-10 17:02] caroqliu opened #4060 "Update amp-autocomplete documentation for email"
Including:
- supported subset of attributes (modifications in AMPHTML) - Done in [amphtml#28898](https://github.com/ampproject/amphtml/pull/28898)
- email-specific examples (modifications in amp.dev)

This issue is filed in this repo because the work of adding email-specific examples on amp.dev is not straightforward:
There is on attribute `filter` which is required on the web format and banned in

[2020-06-10 17:12] matthiasrohmer opened #4061 "Copy-button for component scripts drifts away"
![Bildschirmfoto 2020-06-10 um 18 56 09](https://user-images.githubusercontent.com/12857772/84297355-ab1f2d00-ab4d-11ea-9aba-9e0b5f84db88.png)

[2020-06-11 07:29] neng2537 opened #4064 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2020-06-11 10:24] #4064 closed

[2020-06-11 10:26] matthiasrohmer commented on #4058
Not an AMP4Email export but [`amp-list`](https://amp.dev/documentation/components/amp-list/?format=email) seems to be supported and would offer the possibility to show dynamic content. Does that serve your use-case?

[2020-06-11 20:43] alanorozco commented on #3324
@sebastianbenz Been using this, nice! Found a small issue:

When the example is written from a `?url=...` the template will override the shared content:

[code]
[(clickable)](https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fcomponents%2Famp-carousel&format=websites&_gl=1*ip4ars*_ga*YW1wLVAwTm9TZ0taOGlkeWZRcEhhcVlhc3c#share=PCFkb2N0eXBlIGh0bWw+CjxodG1sIOKao