[2020-12-14 16:55] #5075 closed

[2020-12-14 17:00] patrickkettner commented on #4734
@sebastianbenz is this going to be included in the homepage updates?

[2020-12-14 17:15] sebastianbenz commented on #4734
It's definitely something to consider //cc @CrystalOnScript

[2020-12-14 17:19] sebastianbenz commented on #5027
Fixed

[2020-12-14 17:22] sdenaro commented on #4947
@MiselKING  @nemanjapopovic look like all the issues are resolved, I'm going to work on the PR today. thanks

[2020-12-14 22:14] nemanjapopovic commented on #4947
Hey @sdenaro , great news, thank you so much for checking it again and working on it :)

[2020-12-14 22:24] nixtka commented on #4802
@sdenaro , I saw you few days ago approving another tool. Maybe you can help us with our issue? We can't move forward for 1,5 months after fixing only one critical comment. We've already released some of recommended features and will release support of amp-story-auto-ads next week, but still can't be noticed as a Web Stories Creation Tool. Thank you in advance!

[2020-12-15 00:02] shishirm commented on #4474
Hello @g00dv1n ,

Hope you're doing well! We wanted to reach out and let you know of the new [Web Story Developer Preview Group](https://groups.google.com/a/amp.dev/g/web-stories-devpreview). We'll be using this forum to disseminate early previews of testable / working code for new and upcoming features in Web Stories.

Would you be interested in signing-up for the same? We're expecting about 1-2

[2020-12-15 01:55] sssaass opened #5088 "https://www.raleanid.com/?m=1"
انا مبتدئ

[2020-12-15 04:27] sdenaro commented on #4947
@nemanjapopovic  https://github.com/ampproject/amp.dev/pull/5086

[2020-12-15 08:16] shishirm commented on #4978
Hello,

Thanks again for submitting your tool to be listed on amp.dev.

We're providing feedback in two categories. Must-Fix feedback which are things you will need to fix and we will verify before we can list the tool on amp.dev. Nice-To-Have/Suggestions which are recommendations on how to improve the Stories and the tools to provide the best user experience.

While the feedback is provided on th

[2020-12-15 13:41] patrickkettner commented on #5088
ٱلسَّلَامُ عَلَيْكُمْ‎

[this may be a good place to start.](https://amp.dev/documentation/courses/beginning-course/?format=websites&level=beginner)

best of luck

[2020-12-15 13:41] #5088 closed

[2020-12-15 14:00] #5080 closed

[2020-12-15 18:37] sebastianbenz opened #5094 "Render Bento label in component reference docs"
Once `bento` has been add to the supported formats in bento component readme files (see https://github.com/ampproject/amphtml/issues/31609), we should add a bento label to the respective component doc pages.

* For the design we should re-use the `experimental` label design (color `#f15a5a`).
* The label should link to the Bento intro guide (to be written).

Mockup:

<img width="361" alt="Screen S

[2020-12-15 18:38] sebastianbenz commented on #5094
//cc @nainar @caroqliu @dvoytenko

[2020-12-16 09:41] Vint7r opened #5103 "Request to add Webstoryz to amp.dev tools"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

Webstoryz

### Type

Use [x] to mark a selection:

- [x] Story Creation Tool
- [x] CMS
- [ ] Platform
- [ ] Other

### URL

https://webstoryz.com/

### Image

https://drive.google.com/file/d/1K_fZ4Dn9Bf1FOA6gZLYF8OyVjX3Qgyg9/view?usp=sharing

### Description

Increase engagement on your website us

[2020-12-16 11:46] shishirm commented on #4802
Hello,

Apologies for the delay here! I'll re-review these today and if everything
looks good, will spin up a PR for this.

On Mon, Dec 14, 2020 at 2:24 PM nixtka <notifications@github.com> wrote:

[2020-12-16 19:45] sebastianbenz opened #5105 "Module/no-module for AMP Playground"
We should investigate whether a module/no-module build is feasible for the AMP Playground.

//cc @matthiasrohmer @patrickkettner for thoughts

[2020-12-16 19:49] patrickkettner commented on #5105
you mean of the playground code? or of the version of AMP being used?

[2020-12-16 19:52] sebastianbenz commented on #5105
The playground code.

[2020-12-16 19:57] matthiasrohmer commented on #5105
Great idea! Ideally we take care of this when working on https://github.com/ampproject/amp.dev/issues/4846.

I already started working on this a few weeks back. A major problem was that the GCC webpack plugin is not supported by webpack 5 though the built-in terser plugin yielded fairly competitive bundles - at least in size. As I had no time to test if everything still works I did not continue on

[2020-12-17 00:44] CrystalOnScript commented on #5094
Will we change the color of the label when Bento moves out of experimental?

[2020-12-17 01:49] sdenaro commented on #5103
@Vint7r  I should be able to review this on Monday.

[2020-12-17 10:12] shishirm commented on #4802
Hi @nixtka,

We've reviewed your Stories and it appears that they are still being flagged for incorrect poster images. While you've followed the aspect ratio guidelines, these are not the minimum dimensions. I'm copying the exact guidelines from [here](https://amp.dev/documentation/components/amp-story/#poster-guidelines-(for-poster-portrait-src,-poster-landscape-src,-and-poster-square-src)) below

[2020-12-17 10:12] shishirm commented on #5103
@Vint7r, also wanted to let you know of the new [Web Story Developer Preview Group](https://groups.google.com/a/amp.dev/g/web-stories-devpreview). We'll be using this forum to disseminate early previews of testable / working code for new and upcoming features in Web Stories, surveys, etc. It should be open to sign up. Please let me know if you run into any issues.

[2020-12-17 11:41] nixtka commented on #4802
@shishirm now we've updated all previously created stories. Sorry for that. We fixed this issue more than a month ago, but previously created stories were cashed in CDN. Now we've updated all of them. Please check again.

[2020-12-17 11:44] nixtka commented on #4802
Also I've subscribed to the group, thank you for the info!

[2020-12-17 18:18] g00dv1n commented on #4474
@shishirm
Hello
We will be happy to join.

Thanks for the updates.

[2020-12-17 22:55] matthiasrohmer opened #5110 "Upgrade to Grow 1"
I'll just keep this here for 2021 😅

Grow released 1.0.0 which also marks the long overdue switch from the deprecated Python 2.7 to 3. We should definitely upgrade to stop forcing contributors to install Python 2.7 which for example `brew` already heavily tries to prevent.

[2020-12-18 17:00] jaygray0919 commented on #5110
Is the Grow upgrade in plan or a "nice to have" when time permits? Now see the P1: High flag.

[2020-12-18 17:18] nixtka commented on #4802
@shishirm can you please re-check? Now everything works fine.

[2020-12-18 20:31] jaygray0919 opened #5114 "typo and possible error"
for https://amp.dev/documentation/examples/visual-effects/animated_snackbar/?format=websites#asd

/s/dissappear/disappear

also, the inline example (for the target page) does not work as advertised in the sample code (it does not disappear according to the terms in the code).
in contrast, playground works as advertised

[2020-12-20 22:14] jleighj01 opened #5119 "Bz"
<!doctype html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="This is the AMP Boilerplate.">
    <link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">
    <script async src="https://cdn.ampproject.org/v0.js"></script>

    <style amp-custom>
    /* Add your styles here */
    </style>

[2020-12-21 10:58] #5119 closed

[2020-12-21 16:55] patrickkettner commented on #5114
fixed typo in d17751b

snackbar _does_ work, but you need to scroll way down and way back up - might be some kind of optimization that is only triggering the animation if something is in the viewport?

[2020-12-21 16:56] #4947 closed

[2020-12-21 17:03] nixtka commented on #4802
@shishirm @matthiasrohmer  can we move here before the Christmas? Pleeease :_)

[2020-12-21 17:37] patrickkettner opened #5125 "get async git helper working"
https://github.com/ampproject/amp.dev/pull/5035 was reverted - need to figure out why it was breaking

[2020-12-21 20:34] shishirm commented on #4802
https://github.com/ampproject/amp.dev/pull/5132 filed to fix this. Given the holidays, this might not get merged in / deployed until the new year.

[2020-12-21 21:26] #4802 closed

[2020-12-21 22:27] patrickkettner commented on #4802
should be live! merry christmas, @nixtka

[2020-12-22 10:58] nixtka commented on #4802
@patrickkettner @shishirm thank you guys! Merry Christmas!

[2020-12-22 16:30] jaygray0919 commented on #5114
agree - it does not work as advertised in the sample code; it has different behavior.

[2020-12-22 16:31] patrickkettner commented on #5114
absolutely! your report was correct, just wanted to add some context for anyone looking at a fix

[2020-12-24 12:09] anbarasiu opened #5146 "Amp4Email: amp-autocomplete-email component not working"
## 🐛 Bug Report

I'm following the documentation [here](https://amp.dev/documentation/examples/components/amp-autocomplete-email/), but the amp-autocomplete-email isn't working, even after importing the required amp-autocomplete component.

I tried to open the demo on [playground](https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fcomponents%2Famp-autocomple

[2020-12-24 13:39] Sovica opened #5147 "Whitelabeling of a an already existing AMP module."
We have an AMP module published already, this one - https://amp.dev/documentation/examples/components/amp-brid-player/ but due to the way we work and have Whitelabel customers, our users are looking for a way to Whitelabel these AMP embed codes to point to different URL's.

For example HEAD:
<script async custom-element="amp-brid-player" src="https://cdn.ampproject.org/v0/amp-brid-player-0.1.js"><

[2020-12-27 11:50] umud014 opened #5149 "hekaye"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

< Insert name here >

### Type

Use [x] to mark a selection:

- [ ] Story Creation Tool
- [ ] CMS
- [ ] Platform
- [ ] Other

### URL

< Insert URL to Tool/CMS/Platform here >

### Image

< Please provide a screenshot of your resource’s editor window (min. 800x400 pixels) to appear on the [Tools](

[2020-12-28 09:19] Vint7r commented on #5103
Hello everyone! We have a global widget update coming soon. At the moment there is no need to conduct a review, we will definitely write to you!

[2021-01-05 15:00] sdenaro commented on #5103
@Vint7r

Please give me a heads up when I can restart the review.

Thanks

[2021-01-05 16:52] patrickkettner opened #5160 "share SSL cert for amp.dev and blog.amp.dev"
@kristoferbaxter brought this up during our sync

If the domains are under the same cert with multiple SAN entries, it would allow us to share h2 connections

[2021-01-05 16:52] patrickkettner commented on #5160
@sebastianbenz Who would be contacted about adding a SAN entry to our existing cert renewal?

[2021-01-05 16:53] #5149 closed

[2021-01-05 16:55] patrickkettner commented on #5147
Hi @Sovica!
They can use your version of the component, but in order for it to be considered valid AMP they would need to be an official component or written using [amp-script](https://amp.dev/documentation/components/amp-script/)

For future reference, ampproject/amphtml would be the best place to ask questions about the library (rather than questions about the amp.dev site)

[2021-01-05 16:55] #5147 closed

[2021-01-05 18:24] BuckBuckly1985 opened #5161 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-01-05 18:24] BuckBuckly1985 opened #5162 "Whore"
## 📖 Missing or Out-of-Date Documentation

### Problem
A clear and concise description of what content is missing or needs updating. It could be a missing guide explaining a concept, a step-by-step tutorial, or something that is confusing or didn't work when you tried it.

### Location
Section of the site where the content lives (or should).

### Content type
Such as tutorial, an updated paragraph

[2021-01-05 18:25] caroqliu commented on #5146
@sebastianbenz @matthiasrohmer Would it be possible to inject `data-amp-autocomplete-opt-in` attribute to `amp-autocomplete` elements displayed in the AMP playground in the email format? This is a partially-supported feature in email -- valid to send in emails, but off by default when viewing emails. Individual email clients can turn it on by default in their environments when they add support by

[2021-01-05 18:25] BuckBuckly1985 opened #5163 "I murdered someone ssssshhhh! Tell no one!"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

< Insert name here >

### Type

Use [x] to mark a selection:

- [ ] Story Creation Tool
- [ ] CMS
- [ ] Platform
- [ ] Other

### URL

< Insert URL to Tool/CMS/Platform here >

### Image

< Please provide a screenshot of your resource’s editor window (min. 800x400 pixels) to appear on the [Tools](

[2021-01-05 18:25] #5162 closed

[2021-01-05 18:25] BuckBuckly1985 opened #5164 "Hey fuckers!"
## 🚀 Feature Request

### Problem
A clear and concise description of what the problem is. Ex. I have an issue when [...]

### Solution
A clear and concise description of what is desired, including any potential drawbacks.

### Alternatives
A clear and concise description of any alternative solutions or features you've found.

### Additional information (optional)
An explanation of how users will b

[2021-01-05 18:28] #5163 closed

[2021-01-05 18:28] #5164 closed

[2021-01-05 18:39] #5161 closed

[2021-01-05 18:48] patrickkettner commented on #5146
yep! PRed a change - thanks @caroqliu!!

[2021-01-05 18:57] caroqliu commented on #5146
thank you!!

[2021-01-05 19:39] Gregable opened #5166 "amp.dev page invalid AMP"
## 🐛 Bug Report

### Current behavior
The following page is currently invalid AMP:
https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/amp-optimizer-guide/explainer/

Can be verified with the [AMP Validator](https://validator.amp.dev/#url=https%3A%2F%2Famp.dev%2Fdocumentation%2Fguides-and-tutorials%2Foptimize-and-measure%2Famp-optimizer-guide%2Fexplainer%2F)

[2021-01-06 08:27] IAM-db opened #5167 "Shell.Goog.le/melissaann3179"
## 🛠️ Request to Add Third-Party Tool/Service/Platform/Vendor

### 1. Resource name
Insert name here

### 2. Relevant format(s)

- [ ] websites
- [ ] stories
- [ ] ads
- [ ] email

### 3. Resource type

- [ ] editor
- [ ] service provider
- [ ] developer tool
- [ ] content platform
- [ ] CMS
- [ ] ads
- [ ] audio/video
- [ ] analytics vendor

### 4. Destination
1. [amp.dev/support/faq/platform-and

[2021-01-06 09:12] IAM-db opened #5168 "Yotpo | eCommerce Marketing Platform"
https://www.yotpo.com/  Got em! Famous words from PewDiePie

[2021-01-06 17:44] jaadnan206 opened #5170 "Manager"
[Yes good i like it](http://)

[2021-01-06 17:45] #5170 closed

[2021-01-07 11:09] #4319 closed

[2021-01-08 00:11] #5167 closed

[2021-01-08 02:36] IAM-db opened #5177 "Protected Portals | Entrust Foundation"
## 🛠️ Request to Add Third-Party Tool/Service/Platform/Vendor

### 1. Resource name
Insert name here

### 2. Relevant format(s)

- [x] websites
- [x] stories
- [x] ads
- [x] email

### 3. Resource type

- [x] editor
- [x] service provider
- [x] developer tool
- [x] content platform
- [x] CMS
- [x] ads
- [x] audio/video
- [x] analytics vendor

### 4. Destination
1. [amp.dev/support/faq/platform-and

[2021-01-09 16:06] matthiasrohmer commented on #5094
Good question. I thought it's pink to resemble salmon and by that a bento box 😅  but I guess for you the redish tone indicated a warning/error state? Is this where you are coming from?

[2021-01-10 00:40] IAM-db opened #5184 "Cloudsmith"
https://cloudsmith.com/?utm_term=cloudsmith&utm_campaign=Search+%7C+Brand+%7C+Converting+Countries&utm_source=adwords&utm_medium=ppc&hsa_acc=2785245595&hsa_cam=9917767182&hsa_grp=100078106786&hsa_ad=432171426229&hsa_src=g&hsa_tgt=kwd-365273324555&hsa_kw=cloudsmith&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gclid=CjwKCAiAxeX_BRASEiwAc1QdkdrZZNCgfqHF4cZNz8oahMFpCYmOTZ5zWHoiHXNDzvR_5z5C0Pfc5hoCa04QAvD_BwE

[2021-01-11 11:06] #5168 closed

[2021-01-11 11:06] #5177 closed

[2021-01-11 11:06] #5184 closed

[2021-01-11 11:59] #5166 closed

[2021-01-11 14:36] jaygray0919 opened #5188 "How AMP works code sample causes overflow"
This page: https://amp.dev/about/how-amp-works/ previously (uncertain release) worked well on mobile.

Current page in portrait on mobile is 50% of screen, and in landscape is 80% of screen.

My guess: the hamburger menu is positioned far right (off logical page) which squeezes the content portion of the page.

Situation is visible in Chrome Dev and on device.

/jay gray

[2021-01-11 14:49] patrickkettner commented on #5188
thanks for the report!

its actually a `<pre>` element being used for a code sample lower down on the page that is causing the issue but it was likely caused by something else changing recently

[2021-01-11 14:54] jaygray0919 commented on #5188
makes sense (a width issue on `<pre>`
the menus is a "victim"

[2021-01-11 15:00] jaygray0919 commented on #5188
actually, the problem persists when the `<pre>` is removed

[2021-01-11 18:04] jaygray0919 commented on #5110
@mathiasbynens we want to be a "fast follower" as you migrate to Grow support for Py3. Can you forecast when the upgrade will be implemented (e.g. 1Q21, 2Q21)? Can we help you test the upgrade?

[2021-01-11 18:06] patrickkettner commented on #5110
@matthiasrohmer, rather than @mathiasbynens (hi @mathiasbynens!!!). I would imagine this should land in later Q1 to mid Q2

[2021-01-11 19:18] jaygray0919 commented on #5110
@patrickkettner @matthiasrohmer Thanks for update. We're willing to help if needed/useful.

[2021-01-11 20:00] #5094 closed

[2021-01-11 20:06] nicolasfaurereboot opened #5190 "Broken Link (line 114 in https://github.com/ampproject/docs/blob/future/examples/source/personalization/Geolocation_with_amp-list.html)"
## 🐛 Bug Report

### Current behavior
the 'location results' url (src="https://caramel-wolf.glitch.me//location-specific-results.json") is broken.
line 114 in https://github.com/ampproject/docs/blob/future/examples/source/personalization/Geolocation_with_amp-list.html

Please also provide:
- Page link: <amp.dev/examples/source/personalization/Geolocation_with_amp-list.html>

[2021-01-12 12:06] matthiasrohmer opened #5200 "Use AMPHTML bundles config to determine component versions in ComponentReferenceImporter"
via https://github.com/ampproject/amp.dev/pull/5192#r555375037_

[2021-01-12 14:11] matthiasrohmer commented on #4846
I started working on this. Playground is almost up to date, currently running in an issue with [json-tree-view](https://www.npmjs.com/package/json-tree-view) which relies on polyfilled `util`. The WIP is at [chore/webpack5](https://github.com/ampproject/amp.dev/compare/chore/webpack5?expand=1).

[2021-01-12 16:35] jaygray0919 opened #5203 "typo"
For

https://amp.dev/about/page-experience/

s/Build your fist AMP page/Build your first AMP page/

[2021-01-12 17:27] #5203 closed

[2021-01-12 17:27] patrickkettner commented on #5203
thanks!

[2021-01-12 18:40] nainar opened #5205 "Pixi: Always showing Error state message"
![Screen Shot 2021-01-12 at 10 39 21 AM](https://user-images.githubusercontent.com/7919520/104357790-7ea40880-54c2-11eb-935e-27cca657b51f.png)

All the results are shown however, this message keeps showing up

[2021-01-12 18:46] nainar commented on #5205
@matthiasrohmer could you or someone take a look?

[2021-01-12 21:05] #5205 closed

[2021-01-13 05:15] patrickkettner commented on #5190
thanks @nicolasfaurereboot!

@CrystalOnScript any idea who owned this demo?

[2021-01-13 10:19] jaygray0919 opened #5208 "search on amp.dev"
Search results are truncated. For example, search for "list" and select "amp-list"

Go to page bottom. There you see the top edge of a message box.

The intent may be to display the following:

    <amp-list-load-more load-more-button>
    <div class="-ns" overflow>
    <button class="ap-a-btn">Load more</button>
    </div>
    </amp-list-load-more>

[2021-01-13 10:44] jaygray0919 opened #5209 "Pages using new frontend bundle do not show a banner"
Page experience

https://amp.dev/about/page-experience/

has inactive banner (developer survey)

[2021-01-13 10:49] jaygray0919 opened #5210 "Page experience (#2)"
Page experience

https://amp.dev/about/page-experience/

is different in at least two ways from other pages

1. uses different CSS for search
2. ordering of search and language (EN) is reversed

CSS for page-experience seems to be a different release than other pages

[2021-01-13 11:53] jaygray0919 commented on #5210
Whoa! Only one menu structure, not two! Very nice. No wonder there are differences.

[2021-01-13 11:58] matthiasrohmer commented on #5210
That's intended. The Page Experience Guide uses the first components of a more streamlined frontend implementation for amp.dev to improve on Core Web Vitals.

[2021-01-13 11:58] #5210 closed

[2021-01-13 12:01] matthiasrohmer commented on #5208
Thanks for the report! Can you please add the following details: tested screen resolution, exact URL you performed the search on and ideally a screenshot?

This would help us replicate the issue. Thanks in advance!

[2021-01-13 12:02] matthiasrohmer commented on #5200
https://github.com/ampproject/amp.dev/pull/5202 refactors things to use the validation rules 👌

[2021-01-13 12:02] #5200 closed

[2021-01-13 12:04] matthiasrohmer commented on #5188
@jaygray0919, is this the issue you are seeing?

![Bildschirmfoto 2021-01-13 um 13 03 44](https://user-images.githubusercontent.com/12857772/104450116-e419f700-559f-11eb-94d3-8a3346abb6d0.png)

[2021-01-13 12:51] jaygray0919 commented on #5209
+1 for "new frontend bundle"

[2021-01-13 13:00] jaygray0919 commented on #5208
here you see vertical scroll bar bottom; no space to scroll more deeply.
the top of the see more button is just visible

![image](https://user-images.githubusercontent.com/11330577/104455142-799b9380-556c-11eb-8bb6-f7a183b09e5e.png)

[2021-01-13 13:06] jaygray0919 commented on #5188
Here's what I see in Chrome Dev and on mobile

![image](https://user-images.githubusercontent.com/11330577/104456113-d3508d80-556d-11eb-900a-6c5236f9f76e.png)

[2021-01-13 15:34] jaygray0919 commented on #5210
Do you plan to update all other pages using the streamlined frontend implementation?

[2021-01-13 18:17] patrickkettner commented on #4822
@matthiasrohmer did you have any thoughts on what may be causing the issue here?

[2021-01-13 19:35] nainar opened #5214 "amp-ads documentation should have a list of Ad formats that are supported"
We often get asked which ad formats are/aren't supported by AMP. We should have a canonical list that we can refer to.

[2021-01-14 01:22] CrystalOnScript commented on #5190
Ooh, yikes. I see the example was contributed by @jamesshannon - do you own this Glitch project James?

[2021-01-14 20:22] sebastianbenz opened #5218 "gulp bootstrap does not generate 404 page"
Running `gulp develop` after `gulp bootstrap` will result in the following error:

[21:21:15] 'run' errored after 26 s
[21:21:15] Error: ENOENT: no such file or directory, open 'amp.dev/dist/pages/404.html'
    at Object.openSync (fs.js:462:3)
    at readFileSync (fs.js:364:35)
    at Object.<anonymous> (/Users/sbenz/Projects/amp.dev/platform/lib/routers/notFound.js:26:20)
    at Module._compile (

[2021-01-15 05:54] patrickkettner commented on #5146
this was fixed by #5165

[2021-01-15 05:54] #5146 closed

[2021-01-15 11:20] #5209 closed

[2021-01-15 20:58] #5218 closed

[2021-01-15 21:29] sebastianbenz commented on #5227
This is most likely a side effect of #5053. The more stricter validation makes many of the samples (which are auto transformed from the website samples) invalid. For example, we often use CSS variables in samples which are now invalid. We might have to extend the format transformer to also rewrite these.

//cc @patrickkettner

[2021-01-17 03:16] zhangsu opened #5231 "The "subscription settings" example in playground is broken"
## 🐛 Bug Report

### Current behavior

Subscription settings example in playground for the email formatg is broken. There are validation errors and the XHR to https://amp.dev/documentation/examples/interactivity-dynamic-content/subscription_settings/subscription?__amp_source_origin=https%3A%2F%2Fplayground.amp.dev responds with HTTP 500 error.

Please also provide:
- Page link: https://playground.

[2021-01-17 03:20] zhangsu opened #5232 "The "advanced server request" example in playground is broken"
## 🐛 Bug Report

### Current behavior
The "advanced server request" example in playground for the email format is broken. The amp-list XHR to https://amp.dev/documentation/examples/api/echo?__amp_source_origin=https%3A%2F%2Fplayground.amp.dev fails with HTTP 400:

[code]

Please also provide:
- Page link: https://playground.amp.dev/?runtime=amp4email&url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentati

[2021-01-17 03:26] zhangsu opened #5233 "The "article bookmark email" example in the playground has broken form response"
## 🐛 Bug Report

### Current behavior
The "article bookmark email" example in the playground for the email format has broken form response after clicking the "Bookmark" button: `Item with ID undefined bookmarked.` The `undefined` should probably not be undined - it should most likely be some kind of ID that corresponds to the article ID embedded in hidden form input with name `id` in the AMP marku

[2021-01-17 03:27] zhangsu commented on #4027
@nainar Naina, who should be the right owner to fix this?

[2021-01-17 22:09] shihap233 opened #5234 "shihap233"
<!doctype html>
<html ⚡4email data-css-strict>
<head>
  <meta charset="utf-8">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <style amp4email-boilerplate>body{visibility:hidden}</style>
  <style amp-custom>
    h1 {
      margin: 1rem;
    }
  </style>
</head>
<body>
  <h1>Hello, I am an AMP EMAIL!</h1>
</body>
</html>

[2021-01-17 22:10] #5234 closed

[2021-01-18 12:20] Zmooz opened #5235 "ZMOOZ is a Web Stories Platform with a Mobile App, a Visual Desktop Editor and a Tool to Turn Articles into Web Stories Automatically"
< ZMOOZ STORIES>

### Type

- [ x] Story Creation Tool
- [x ] CMS
- [ x] Platform
- [ x] Other

### URL

< www.zmooz.com>

### Image

https://user-images.githubusercontent.com/57263373/104914003-c1685380-598e-11eb-9a74-9e90a49586e8.png

### Description

< Turn automatically articles into templated web stories. WYSIVYG Studio and Apps to edit and share. >

### List of Stories

< https://amp.zmooz.c

[2021-01-18 14:03] lluerich commented on #5232
Also mentioned [here](https://github.com/ampproject/amp.dev/pull/3694#issuecomment-601890517).

[2021-01-18 15:54] sebastianbenz commented on #4027
@CrystalOnScript can you please take a look.

[2021-01-19 00:21] sdenaro commented on #5103
@Vint7r just checking in. Any new word?

[2021-01-19 00:22] sdenaro commented on #4970
@avarghese-sqsp Any new word? Let me know if you need anything from our end.

[2021-01-19 08:36] Vint7r commented on #5103
@sdenaro Hello! Sorry for the delay. You can start checking Web Stories, thanks

[2021-01-19 10:38] ka2jun8 opened #5242 "amp.dev sample images are not shown"
## What's the issue?

amp.dev sample images are not shown.

https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fcomponents%2Famp-carousel&format=websites

Console:

[code]

## How do we reproduce the issue?

1. Go to the page (https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fcomponents%2Famp-carousel&format=websites)

[2021-01-19 16:34] #5231 closed

[2021-01-19 16:43] lluerich commented on #5232
Please add the corresponding CORS headers as discussed. Thanks :)

[2021-01-19 16:45] sebastianbenz commented on #5232
cc @patrickkettner

[2021-01-19 17:44] zhangsu commented on #5231
Thanks for the fix! Did we also fix the validation errors in the markup?

[2021-01-19 23:36] nainar commented on #4879
@patrickkettner can we confirm that this is fixed?

[2021-01-19 23:38] nainar commented on #4879
This doesn't look fixed to me (tested right now)
<img width="1182" alt="Screen Shot 2021-01-19 at 3 38 44 PM" src="https://user-images.githubusercontent.com/7919520/105107197-6b69dd80-5a6c-11eb-9aa6-432cd5ec76ce.png">

[2021-01-20 05:43] westonruter commented on #5188
I'm also seeing this:

https://amp.dev/documentation/guides-and-tutorials/learn/amp-caches-and-cors/how_amp_pages_are_cached/ | https://amp.dev/documentation/guides-and-tutorials/learn/amp-caches-and-cors/amp-cache-urls/
-------|-------
![amp dev_documentation_guides-and-tutorials_learn_amp-caches-and-cors_how_amp_pages_are_cached_(Moto G4)](https://user-images.githubusercontent.com/134745/1051317

[2021-01-20 06:01] patrickkettner commented on #5232
@lluerich [here](https://amp.dev/documentation/guides-and-tutorials/learn/cors-in-email/) are the docs I mentioned, with the relevant section [here](https://amp.dev/documentation/guides-and-tutorials/learn/cors-in-email/?format=email#implementing-cors). In short, we can check for a `__amp_source_origin` querystring.  I created a PR [here](https://github.com/ampproject/amp.dev/pull/5244) if you wan

[2021-01-20 06:04] patrickkettner commented on #5188
@matthiasrohmer would you have a chance to look at this?

[2021-01-20 06:05] #5233 closed

[2021-01-20 06:44] patrickkettner commented on #5242
thumbor was locked up again, I kicked the process and the URLs are resolving again

[2021-01-20 06:44] patrickkettner commented on #5242
cc @matthiasrohmer @sebastianbenz

[2021-01-20 06:44] #5242 closed

[2021-01-20 06:45] patrickkettner commented on #5227
@sebastianbenz what is the request? To get the templates working, or update the format transformer? Happy to do either, not sure where to begin on the later

[2021-01-20 07:13] sebastianbenz commented on #5227
The ideal solution would be updating the format transformer to auto expand all CSS variables. This would need to happen [here](https://github.com/ampproject/amp.dev/blob/future/platform/lib/format-transform/formats/amp4email.js).

[2021-01-20 07:14] sebastianbenz commented on #5242
Thanks Patrick! @matthiasrohmer I thought we solved the log overflow issue?

[2021-01-20 15:43] lluerich commented on #2760
@CrystalOnScript maybe we could just add placeholders for the initial load everywhere, so that the page does not look broken on load. This is what the documentation on amp-bind recommends anyway.
Another idea would be to include something like an 'evaluate state'-button somewhere at the top so that the user can see what values are in the state after load of the page.

[2021-01-20 22:25] CrystalOnScript commented on #2760
Thanks for following up on this issue @lluerich! We should follow the documentation and add placeholders, I think that's a great idea.

[2021-01-21 14:21] patrickkettner commented on #5190
this has been fixed

[2021-01-21 14:21] #5190 closed

[2021-01-22 12:39] #2760 closed

[2021-01-22 15:22] matthiasrohmer opened #5249 "Consent example for stories is broken"
The [example](https://amp.dev/documentation/examples/user-consent/story_user_consent/#development=1) is AMP-invalid and the demo iframe is pointing to the gone amp-by-example.appspot.com domain.

[2021-01-24 07:16] myomin1993 opened #5250 "mm"

[2021-01-24 13:36] #5250 closed

[2021-01-24 13:38] matthiasrohmer opened #5252 "Make AMP validator also validate structured data"
https://github.com/ampproject/amp.dev/pull/5251 made me aware of this discussion: https://github.com/ampproject/ampbench/issues/126#issuecomment-573708719

Making the [updated validator](https://playground.amp.dev/validator) also checking structured data could be a feature worth adding. WDYT @sebastianbenz?

[2021-01-25 08:35] Vint7r commented on #5103
@sdenaro Hello, are there any updates?

[2021-01-25 08:56] lluerich commented on #5232
The main problem here is that ```amp-list``` is fetching the initial data via GET. Could we use a workaround via ```amp-script``` to use POST instead? Something like [this](https://amp.dev/documentation/components/amp-list/#using-amp-script-as-a-data-source), @sebastianbenz?
Or we just get rid of the initial data in the ```amp-list``` and just set it to something static.

[2021-01-25 09:21] sebastianbenz commented on #5252
Thanks for flagging Matthias! Structured data is not required by AMP, hence it's not in the scope for the AMP validator.

[2021-01-25 09:21] #5252 closed

[2021-01-25 09:29] sebastianbenz commented on #5232
@lluerich This is for email, which don't support amp-script. Afaik, the main problem is that we check for the JSON content header, but it's not set by the email initiated request. Disabling the check for emails (based on the headers would be the right way to go). We can also simply remove it.

The amp-list is a different problem. It's not used at all in this sample. The echo endpoint does not retu

[2021-01-25 11:16] lluerich commented on #5232
@sebastianbenz For now, we could simply switch to a POST request on the ```/echo```-endpoint, as it does not have the check for the JSON content header.
We can also remove the ```amp-list``` but the whole example is kind of based on the premise that the ```amp-list``` and ```amp-form``` can be used together for an enhanced user experience. We could just switch the source to a static file as seen [

[2021-01-25 11:17] sebastianbenz commented on #5232
Sounds good. Switching to a static file would be perfect!

[2021-01-25 15:16] sebastianbenz opened #5256 "Bento pill invalid AMP: properties are not allowed in inline styles"
This is a problem for the bento pill:
[code]

[2021-01-25 15:48] #5256 closed

[2021-01-25 15:48] #5232 closed

[2021-01-25 18:07] sdenaro commented on #5103
@Vint7r I will have time this week, expect an update by mid-week. thanks.

[2021-01-26 13:23] sebastianbenz opened #5260 "Grow generates additional whitespace for component pages"
Currently on staging: https://amp-dev-staging.appspot.com/documentation/components/amp-fit-text-v1.0/?format=websites

This might be related to my latest Bento changes, but I can't quite work out why.

[2021-01-26 13:41] matthiasrohmer commented on #5260
Not any whitespace but `&nbsp;`s even 🤨  i'll take a look...

[2021-01-26 16:14] #5260 closed

[2021-01-27 13:15] matthiasrohmer commented on #5110
@lluerich will start with this one and see what it takes to update. 🙂

[2021-01-27 16:49] jaygray0919 commented on #5110
@matthiasrohmer @lluerich we're available to help if/where we can. Our gulp-like substitution/build process depends on an updated Grow capability.

[2021-01-27 18:42] CrystalOnScript opened #5267 "Backticks need to be fixed in amp-selector documentation"
## What's the issue?

[amp-selector documentation formatting is off](https://amp.dev/documentation/components/amp-selector/)
<img width="838" alt="Screen Shot 2020-11-30 at 5 37 08 PM" src="https://user-images.githubusercontent.com/23297417/100686203-adab5400-3332-11eb-95da-d5f07c55d9c3.png">

[2021-01-27 18:43] kristoferbaxter commented on #5267
Verified the `amphtml` source was accurate, this appears to be an issue with the ingestion of content from the `amphtml` repository.

[2021-01-27 19:00] patrickkettner commented on #5267
@kristoferbaxter what _should_ be happening?

the [code is there](https://github.com/ampproject/amphtml/blame/a4764b8e45dfb30fc54d77d18bf33b5724064181/extensions/amp-selector/0.1/amp-selector.md#L133-L144), and it renders "correctly" (in the sense that what is there is what markdown "should" do).

is the expectation codeblocks instead of backticks? If so, we would want to source to switch from htm

[2021-01-27 19:04] patrickkettner commented on #5267
i.e. this

[code]

renders as

<ul>
  <li>
     `hello`
   </li>
</ul>

and this

[code]

renders as this

- `hello`

[2021-01-27 23:18] CrystalOnScript opened #5271 "amp.dev isn't importing documentation for amp-stream-gallery"
GH documentation here:
https://github.com/ampproject/amphtml/blob/master/extensions/amp-stream-gallery/amp-stream-gallery.md

But doesn't appear in component TOC

<img width="232" alt="Screen Shot 2021-01-27 at 3 17 56 PM" src="https://user-images.githubusercontent.com/23297417/106067113-d6da2d80-60b2-11eb-86fe-d7f0d06e47c6.png">

[2021-01-28 09:46] sebastianbenz opened #5272 "CSP Errors on homepage"
[code]

[2021-01-28 17:53] patrickkettner commented on #5272
This is from [webpack's `global` polyfill](https://github.com/webpack/webpack/blob/911ec1aa67011e25aa1449610f5b0b557edd5459/lib/runtime/GlobalRuntimeModule.js#L29]. It is being triggered due to some deps inside of nunjucks, which is being loaded in the webpack bundle for the playground. Since it is a fairly deep dep ( playground > nunjucks > asap > webpack ), and we presumably want to keep nunjuck

[2021-01-28 21:43] sdenaro commented on #5103
@Vint7r

I am seeing the same failures for all stories:

As an example:

https://apiapp.webstoryz.com/1.0/widget-story/get-content?apiKey=n8eJRj06PSt6lGc5Pvc2pboP7qR7Lsavgh4DRNCeNFOkfLzjIlCcw1WNeYFYE30ztlcGkd51zjXujAYyHVHvcN6E8t7UkBHuEQwjH60UziJa2ZyVejgMlJTmWB9mdPcz&storyId=237209e9-a66f-493f-a960-59b8db8fd40f

FAIL Story is self-canonical

FAIL AMP Story preview metadata is correct size and aspec

[2021-01-29 10:59] Vint7r commented on #5103
@sdenaro
Thanks! Getting started on the fix

[2021-01-29 11:13] Sbhattacharjee583 opened #5275 "Easily Weight Loss Tips"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

< Insert name here >

### Type

Use [x] to mark a selection:

- [x] Story Creation Tool
- [ ] CMS
- [ ] Platform
- [ ] Other

### URL

< Insert URL to Tool/CMS/Platform here >

### Image

< Please provide a screenshot of your resource’s editor window (min. 800x400 pixels) to appear on the [Tools](

[2021-01-29 11:55] #5275 closed

[2021-01-29 11:56] sebastianbenz commented on #5272
Hm. Wondering why nunjucks is included in the bundle at all. @matthiasrohmer do you know?

[2021-01-29 15:03] patrickkettner commented on #5272
Sorry, correction - the `global` is used in a number of places, nunjucks just includes it within its package (which is also built by webpack). I shimmed it in #5277, if you wanted to take a look

[2021-01-29 15:48] #5272 closed

[2021-01-30 05:20] #3698 closed

[2021-01-30 07:22] patrickkettner commented on #5271
this is happening because `amp-stream-gallery` is not passing the validator, currently. Opened a [bug upstream](https://github.com/ampproject/amphtml/issues/32313) about it

[2021-01-30 07:29] patrickkettner commented on #5235
cc @shishirm

[2021-01-31 20:56] zhangsu opened #5283 "Many pages have broken layout on mobile"
## 🐛 Bug Report

### Current behavior
Many pages have broken layout on mobile, with the right side of the mobile screen incorrectly taken by blank space of varying widths. This only happens to some pages but not all.

- https://amp.dev/about/email/
- https://amp.dev/documentation/guides-and-tutorials/develop/style_and_layout/placeholders/?format=email
- https://amp.dev/documentation/guides-and-tut

[2021-02-01 04:24] patrickkettner commented on #5188
closing in favor of #5283 as it effects more than just one page

Thank you for the report, @jaygray0919!

[2021-02-01 04:25] #5188 closed

[2021-02-01 04:43] westonruter commented on #5283
Per https://github.com/ampproject/amp.dev/issues/5188#issuecomment-763349850, the following CSS fixes the issue, but it naturally should have better selectors and not use `!important`:

[code]

[2021-02-01 19:26] #5227 closed

[2021-02-02 01:21] zhangsu opened #5289 "Subscription settings sample for email has validation errors and missing data-css-strict"
## 🐛 Bug Report

### Current behavior

The "Subscription settings" sample for the email format currently has validation errors. Beside ones that can be trivially fixed, it uses a Mustache variable in the middle of an `amp-img` URL which is banned in the email spec. If Mustache variable is used, then it must be substituting the entire URL and not partially.

It's also missing the `data-css-strict`

[2021-02-02 09:06] dikeii opened #5290 "Categories of post not work"
Good morning, the categories of the posts have amp support? since I have tried to visualize them but I do not get it in any way, it just redirects me to the page no amp, thanks. Greetings.

[2021-02-02 09:14] patrickkettner commented on #5290
Good morning!

I am not entirely sure what you are referring to, though - would you be able to elaborate?

[2021-02-02 16:01] patrickkettner commented on #5271
the module isn't considered "released", so closing this as "working as intended"

[2021-02-02 16:01] #5271 closed

[2021-02-02 16:24] patrickkettner commented on #5295
@genki-koba what url?

[2021-02-03 00:50] dikeii commented on #5290
Good morning, of course, my question was if the categories had amp support, for example the following url:

http: //xxx.xx/category/my-category/

same for tags

http: //xxx.xx/tag/my-tag/

since I can't see them in amp mode, is there a way to support it with code?

thanks

[2021-02-03 04:11] RmksRathnayaka opened #5305 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-02-03 07:33] #5305 closed

[2021-02-03 15:38] patrickkettner commented on #5290
Categories of what? I am not sure what posts you are referring to?

[2021-02-03 16:01] dikeii commented on #5290
Good morning, this is embarrassing, sorry I made the wrong repository, thanks for your attention. Greetings.

[2021-02-03 16:01] #5290 closed

[2021-02-05 11:03] Zmooz commented on #5235
@shishirm Hello :)

[2021-02-07 19:05] e-struct opened #5315 "boilerplate feature is not working with firefox latest releases > 80"
FYI
boilerplate feature is not working with firefox latests releases
OS:
LSB Version:	core-9.20160110ubuntu0.2-amd64:core-9.20160110ubuntu0.2-noarch:security-9.20160110ubuntu0.2-amd64:security-9.20160110ubuntu0.2-noarch

[2021-02-08 09:45] lucemia opened #5317 "Add a Story Creation Platform: GliaStory"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

GliaStory

### Type

Use [x] to mark a selection:

- [ ] Story Creation Tool
- [ ] CMS
- [x] Platform
- [ ] Other

### URL

https://www.gliastory.com/

### Image

![截圖 2021-02-08 下午5 44 14](https://user-images.githubusercontent.com/432851/107202577-51049d80-6a35-11eb-9acf-f9e5d59b9798.png)

### De

[2021-02-08 12:09] sebastianbenz commented on #5315
what do you mean by boilerplate feature?

[2021-02-08 15:29] powerivq opened #5322 "Automate ad vendor list on amp.dev"
## 🚀 Feature Request

### Problem
Currently, ad vendor update happens manually https://github.com/ampproject/amp.dev/blob/2c7be2541118b0d4832fcaa85c518db86b653322/pages/shared/data/faq.yaml#L73

### Solution
It could make sense to have them populated automatically so that we do not have to maintain the list any more.

### Alternatives

### Additional information (optional)
An explanation of how us

[2021-02-08 16:30] kristoferbaxter opened #5325 "Add Pixi rule for Icon Font Usage"
## 🚀 Feature Request

### Problem
Icon fonts have a negative impact on CLS, causing layout shift as they load in (unless blocked from loading). Document authors are unaware of the impact since it rarely appears on high-speed connections.

### Solution
Identify when icon fonts are used in a document, (potentially via screenshot diffing or checking the content of each text node for known patterns).

[2021-02-08 17:07] Nmeer112 opened #5326 "اجمل بث العاب"
@![Logopit_1612800833268](https://user-images.githubusercontent.com/69157632/107254204-24a64c80-6a48-11eb-8463-ad810f447855.jpg)@majed3[اشتراك ومتابعة](https://l.likee.video/p/5JtoLD) `majed3`

## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

< Insert name here >

### Type

Use [x] to mark a selection:

- [ ] Story Creation Tool
- [ ] CMS
- [ ]

[2021-02-08 17:11] #5326 closed

[2021-02-08 17:11] sebastianbenz commented on #5325
Oh - this is a good one! They often negatively impact LCP as well.

I think checking

   - import URLs
   - class names

for common font providers should go a long way.

[2021-02-08 19:08] e-struct commented on #5315
The boilerplate available on that page works fine on Chromium but not
Firefox!

https://amp.dev/boilerplate/

Le 08/02/2021 à 13:10, Sebastian Benz a écrit :

[2021-02-08 21:03] nainar commented on #5325
@sebastianbenz is this something the JvM team can take on soon?

[2021-02-08 22:17] matthiasrohmer commented on #5325
Sure, @lluerich let's briefly discuss this as soon as you've made your way through the Grow 1-Highlighting-Jungle.

[2021-02-09 12:57] #5110 closed

[2021-02-09 12:58] matthiasrohmer opened #5328 "Update Travis configuration for production environment"
#5292 did some changes to the .travis.yml that need to be adapted to the configuration on `production-amp-dev` before the first live build.

[2021-02-09 16:00] #5283 closed

[2021-02-09 16:36] matthiasrohmer opened #5331 "Add grow tests to Travis pipeline"
via @lluerich.

[2021-02-09 16:48] matthiasrohmer opened #5332 "Update font-display from swap to optional"
via @sebastianbenz and @kristoferbaxter.

[2021-02-09 19:35] patrickkettner commented on #5315
@e-struct I am able to interact with the boilerplate builder you linked to on ubuntu 16.04.06 firefox, with the latest stable updates. Due to it working there, as well as all other browsers I have checked, I am inclined to think this is a browser bug rather than a library one.
Would you be able to explain what is not working explicitly? What is or is not happening?

[2021-02-10 08:58] lluerich commented on #5332
Fixed in #5335

[2021-02-10 08:58] #5332 closed

[2021-02-10 10:31] matthiasrohmer commented on #4828
`amp-bind` is on the documentation page itself but is lacking for the iframe at https://preview.amp.dev/documentation/components/amp-accordion.example.4.html#amp=1

[2021-02-10 10:32] matthiasrohmer opened #5336 "Map fallback font stylings as closely as possible to Poppins and Noto"
... using https://meowni.ca/font-style-matcher/ for example.

[2021-02-10 11:06] matthiasrohmer commented on #5328
The first Grow 1 build successfully went to prod.

[2021-02-10 11:06] #5328 closed

[2021-02-10 14:00] morsssss commented on #4828
Thanks for raising the priority, @matthiasrohmer  - it would be great to see this fixed!

[2021-02-10 15:36] sebastianbenz commented on #4822
@matthiasrohmer ping

[2021-02-10 18:40] patrickkettner opened #5338 "Create documentation/guide around data-css-strict in amp4email"
re: ampproject/amphtml#32587

We should have some kind of information about what `data-css-strict` is, why it is required, etc

[2021-02-10 18:41] patrickkettner commented on #5338
assigning myself, @CrystalOnScript it would be great to talk about what form this should take, next time we meet

[2021-02-10 22:47] sebastianbenz opened #5342 "Broken script copy icon"
e.g. here: https://amp.dev/documentation/components/amp-accordion-v1.0/?format=websites

<img width="289" alt="Screenshot 2021-02-10 at 16 39 33" src="https://user-images.githubusercontent.com/380472/107582706-32033880-6bfa-11eb-96c1-8a8e29f104d2.png">

[2021-02-11 09:00] lluerich commented on #5342
https://amp.dev/shared/copy-script/ is a 404. Was there an error during deployment?

[2021-02-11 15:18] #5342 closed

[2021-02-11 16:37] sebastianbenz opened #5344 "Roadmap shows Q11 2020"
2020 felt long, but it wasn't that long

![image](https://user-images.githubusercontent.com/380472/107667333-c7044100-6c8f-11eb-8177-a22be13ae6ae.png)

[2021-02-11 16:48] matthiasrohmer commented on #5344
Feels valid to me, hence closing.

[2021-02-11 22:33] sebastianbenz opened #5346 "VM Instances stuck"
Noticed slow TTFB for amp.dev + a few failed healthchecks. This was caused by instance timeouts across all zones. The problematic instance template was: it-amp-dev-985a1a4-1612981927655. I've reverted to it-amp-dev-0ed6101-1612950462329 which seemed to have fixed it.

//cc @matthiasrohmer

[2021-02-12 09:06] lluerich commented on #5344
@gmajoulet Please change the title of the status update (ampproject/wg-stories#45) to match the pattern YYYY-MM-DD, as it is currently YYYY-DD-MM, which causes it to show up in Q11 on amp.dev.

[2021-02-12 12:25] #5344 closed

[2021-02-12 16:57] gmajoulet commented on #5344
@lluerich done, sorry about that

[2021-02-12 17:44] sebastianbenz opened #5352 "CSP needs to get updated with mjs files"
[code]

[2021-02-12 19:23] #5352 closed

[2021-02-12 22:13] zhangsu commented on #4027
Re: `layout=intrinsic`: The absence of this layout in the spec allowlist seems like an oversight because the email spec already allows intrinsic layout for amp-carousel. The SVGs used for sizing intrinsic layout elements are hardcoded by the AMP runtime, so there's no privacy or security concerns.

This is discussed with the AMP for Email WG with mail.ru, Yahoo! Mail and Gmail and the consensus is

[2021-02-15 16:13] jono-alderson opened #5369 "The FAQ page is visually broken"
## 🐛 Bug Report

### Current behavior
The page at https://amp.dev/support/faq/ has display issues; it looks like the image should maybe be positioned and scaled as background to the tiles?

![image](https://user-images.githubusercontent.com/11629607/107970121-9c282e80-6fa8-11eb-8fcb-232e0dc76ab7.png)

Running Chrome 88.0.4324.150 on Windows, at varying tested resolutions.

### Reproduction procedu

[2021-02-15 17:57] #5369 closed

[2021-02-15 17:57] sebastianbenz commented on #5369
Was my fault...

[2021-02-16 10:03] lluerich commented on #5325
I found a long list of popular icon fonts as a starting point on [css-tricks.com](https://css-tricks.com/flat-icons-icon-fonts/).
Some more research led me to believe that the most commonly used fonts are as follows:
- [Font Awesome](https://fontawesome.com/)
- [Material Design Icons](https://google.github.io/material-design-icons/)
- [Octicons](https://primer.style/octicons/)
- [Nerdfonts](https:

[2021-02-16 16:09] matthiasrohmer commented on #5336
Have been trying to accomplish this while working on #5224, two things:

1) Is defining a `system` font family the right way to go? By quick research I see this is a common pattern. But speaking from a design perspective? How safe would it be to assume all devices have `Arial` or `Helvetica`? Defining it also is 2KB (uncompressed) of load to each page, which might be negligible.

2) What was the w

[2021-02-16 16:29] sdenaro commented on #5103
@Vint7r  Just checking in. Is this still in progress?

[2021-02-16 16:29] sdenaro commented on #4970
@avarghese-sqsp  just checking in. is there anything you need from my side?

[2021-02-16 17:24] matthiasrohmer commented on #5325
Status from the amp.dev engineering sync: `.fa` and `.nf` might render false positives for AMP pages that use class name minifiers. We look for a (non RegEx based, [see](https://github.com/ampproject/amp-toolbox/blob/main/packages/linter/src/rules/FastGoogleFontsDisplay.ts)) solution to verify the results.

Class names can be checked as the AMP linter has access to the DOM structure (`$('.fa').len

[2021-02-16 20:30] Vint7r commented on #5103
@sdenaro At the moment we are working on a new version of the builder, along with the release all bugs will be fixed

[2021-02-17 02:46] lucemia commented on #5317
@sebastianbenz @shishirm

Any updates? Any Information missing?

[2021-02-18 12:18] Tauhid112 opened #5385 "Storyline"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

< Insert name here >

### Type

Use [x] to mark a selection:

- [ ] Story Creation Tool
- [ ] CMS
- [ ] Platform
- [ ] Other

### URL

< Insert URL to Tool/CMS/Platform here >

### Image

< Please provide a screenshot of your resource’s editor window (min. 800x400 pixels) to appear on the [Tools](

[2021-02-18 19:20] milindmore22 opened #5396 "AMP Page Experience Disable Tap Delay Warning"
## 🐛 Bug Report

### Current behavior
The AMP page experience now shows **Disable Tap Delay** warning even if the page has a viewport meta with property `width=device-width`.

I think it's not parsing value correctly if there are multiple properties  like `initial-scale=1`

No Issues : `<meta name="viewport" content="width=device-width">`
Displays tap delay Warnning : `<meta name="viewport" conten

[2021-02-18 19:32] milindmore22 commented on #5396
Closing this ref: https://github.com/ampproject/amp.dev/pull/5063

[2021-02-18 19:32] #5396 closed

[2021-02-19 15:47] TetraLogicalHelpdesk opened #5398 "📖 Question: do AMP Stories support `<amp-anim>` ?"
## 📖 Missing or Out-of-Date Documentation

### Problem
The components documentation for AMP Stories https://amp.dev/documentation/components/?format=stories currently doesn't list `<amp-anim>`. However, https://amp.dev/documentation/guides-and-tutorials/learn/common_attributes/?format=stories#fallback gives an example using `<amp-anim>`. Should the example be changed/generalised to apply to storie

[2021-02-19 15:58] TetraLogicalHelpdesk opened #5399 "🐛 `amp-story-bookend` preview/thumbnails missing `alt` attribute"
### Current behavior
While this was not part of the evaluation we were asked to carry out, we noticed that `<amp-story-bookend>` allows the addition of images (e.g. to reference related stories/resources). It appears that currently there's no way to provide alternative text for these images (going by the documentation at least)

- https://amp.dev/documentation/guides-and-tutorials/start/visual_sto

[2021-02-19 16:29] TetraLogicalHelpdesk opened #5400 "🐛 `amp-story-interactive` accessibility issues"
## 🐛 Bug Report

### Current behavior
While `<amp-story-interactive>` was not part of our recent accessibility assessment, we noticed (while going through the various parts of the documentation) that these have some serious fundamental issues:

- none of the controls for quizzes (the buttons for binary polls or interactive polls) are keyboard-accessible - they can't be focused nor selected when us

[2021-02-19 17:44] patrickkettner commented on #5398
@CrystalOnScript would this be on your plate? Or does someone on the dev team need to confirm anything?

[2021-02-20 16:14] TetraLogicalHelpdesk opened #5401 "📖 AMP Stories documentation examples - incorrect/broken pages"
## 📖 Missing or Out-of-Date Documentation

### Problem
Starting at the "Documentation > Examples" page for AMP Stories https://amp.dev/documentation/examples/?format=stories, under "Components", there are (only?) three components listed.

![amp-stories-examples-amp-analytics](https://user-images.githubusercontent.com/54933393/108601750-1b957380-7396-11eb-9757-ecdf198c03a2.png)

- `amp-video`
- `am

[2021-02-20 16:31] TetraLogicalHelpdesk opened #5402 "📖 AMP Stories documentation examples for analytics are broken"
## 📖 Missing or Out-of-Date Documentation

### Problem
The example pages for [DoubleClick AMP Story Ads](https://amp.dev/documentation/examples/advertising-analytics/doubleclick_amp_story_ads/?format=stories) and [Publisher Served AMP Story Ads](https://amp.dev/documentation/examples/advertising-analytics/publisher_served_amp_story_ads/?format=stories)  include broken examples that just show a ser

[2021-02-20 16:36] TetraLogicalHelpdesk opened #5403 "📖 AMP Stories documentation example for user consent is broken"
## 📖 Missing or Out-of-Date Documentation

### Problem
The example page for [user consent](https://amp.dev/documentation/examples/user-consent/story_user_consent/?format=stories) includes a broken example that just show a server error ("Error: Server Error
The server encountered an error and could not complete your request.
Please try again in 30 seconds.")

![user-consent-amp-story-broken-example

[2021-02-20 23:30] roeyharari1 opened #5405 "APESTER as a Story Creation Platform for AMP"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

<Apester>

### Type

Use [x] to mark a selection:

- [X] Story Creation Tool
- [ ] CMS
- [X] Platform
- [ ] Other

### URL

<https://www.apester.com>

### Image

< Please provide a screenshot of your resource’s editor window (min. 800x400 pixels) to appear on the [Tools](https://amp.dev/documentat

[2021-02-21 22:24] TetraLogicalHelpdesk opened #5408 "📖 "Examples > Supported media types in AMP Stories lists" lists `amp-google-vrview-image`, broken links"
## 📖 Missing or Out-of-Date Documentation

### Problem
The [Supported media types in AMP Stories lists](https://amp.dev/documentation/examples/multimedia-animations/supported_media_types_in_amp_stories/?format=stories) page has a whole section for the `amp-google-vrview-image` component. This component doesn't currently appear to be working (even when toggling the "Experimental features" button at

[2021-02-22 14:47] #3990 closed

[2021-02-22 14:47] #5408 closed

[2021-02-22 15:36] #5402 closed

[2021-02-22 15:37] #5403 closed

[2021-02-22 15:37] patrickkettner commented on #5401
@CrystalOnScript @matthiasrohmer @sebastianbenz My gut says that those pages shouldn't be linking to those urls.

What should the `Featured examples` links be pointing at?

[2021-02-22 17:43] newmuis commented on #5401
FWIW, those three components (`amp-video`, `amp-img`, and `amp-analytics`) _are_ really important to stories, and should definitely be linked somewhere there.

[2021-02-22 18:07] patrickkettner commented on #3306
this has since been fixed

[2021-02-22 18:07] #3306 closed

[2021-02-22 19:07] patrickkettner commented on #3274
this was updated and fixed, via #5280

[2021-02-22 19:07] #3274 closed

[2021-02-22 19:37] westonruter opened #5416 "Pixi: Transform hero images advice given even when there is no amp-img in first viewport"
## 🐛 Bug Report

On https://amp-wp.org we do not have any `amp-img` in the first viewport. All images are inline as SVGs. Nevertheless, doing a PX Guide check results in the “Transform hero images on the page” advice being given:

![image](https://user-images.githubusercontent.com/134745/108760128-1b19eb80-7502-11eb-914d-5821075b2fff.png)

### Current behavior

Advice is given

### Expected behavi

[2021-02-22 19:40] westonruter opened #5417 "Pixi: Disable tap delay has code formatting problem"
## 🐛 Bug Report

The Disable tap delay advice has a problem with the code formatting:

![image](https://user-images.githubusercontent.com/134745/108760518-9d0a1480-7502-11eb-96d8-978ff83b49b8.png)

### Current behavior

The `<code>` tags are rendered out, apparently being HTML-escaped.

### Expected behavior/code

Instead of:

[code]

It should display:

[code]

[2021-02-22 20:16] #3348 closed

[2021-02-22 20:20] patrickkettner commented on #3553
closing in favor of #5125

[2021-02-22 20:20] #3553 closed

[2021-02-22 20:22] patrickkettner commented on #3576
resolved by #4117

[2021-02-22 20:22] #3576 closed

[2021-02-22 20:23] #3590 closed

[2021-02-22 20:45] patrickkettner commented on #3658
closing as it is [outdated](https://github.com/ampproject/amp.dev/pull/3733#issuecomment-757328420
), and taken care of by grow v1

[2021-02-22 20:45] #3658 closed

[2021-02-22 20:48] patrickkettner commented on #3749
@CrystalOnScript you (or an admin on the repo) can do this [here](https://github.com/CrystalOnScript/lyricallyghtning/settings), under "Transfer ownership"

![image](https://user-images.githubusercontent.com/465414/108768252-6d203880-7525-11eb-8202-98c12d91adce.png)

[2021-02-22 20:57] #3604 closed

[2021-02-22 20:57] sebastianbenz commented on #5416
That's tricky. If I remember correctly, the check uses the same algorithm as AMP Optimizer to identify hero images. The problem is that there's no good way to identify an hero image without rendering the page.

My only idea would be to add a sentence: "Please ignore this advice if you don't display images in the first viewport".

[2021-02-22 21:07] westonruter commented on #5416
Yes, I see the [`HeroImageIsDefined`](https://github.com/ampproject/amp-toolbox/blob/f23b914bd629e9dc29afd865517626f04e57b490/packages/linter/src/rules/HeroImageIsDefined.ts) rule is using the `PreloadHeroImage` transformer.

Adding that sentence would be a quick fix.

[2021-02-22 21:10] patrickkettner commented on #3791
@sebastianbenz who would be someone handling this? Would it be someone on the web stories team coming up with a lorem ipsum story?

[2021-02-22 21:19] #3774 closed

[2021-02-22 21:21] sebastianbenz commented on #3791
We could come up with a first version and then ask the story team for a
review. I think it'd be fine if the story is trivial.

[2021-02-23 02:47] patrickkettner commented on #3919
@westonruter is this something I can help with adding?

[2021-02-23 02:50] patrickkettner commented on #3957
@newmuis what should be the path on this? Outright removal? tagged deprecation?

[2021-02-23 02:51] patrickkettner commented on #3960
@CrystalOnScript wat

[2021-02-23 02:52] patrickkettner commented on #3961
fixed by #4740

[2021-02-23 02:52] #3961 closed

[2021-02-23 02:53] patrickkettner commented on #3969
@sebastianbenz is this redeisgn going to happen? or is. this stale?

[2021-02-23 03:12] patrickkettner commented on #3992
closing due to lack of response, feel free to give a shout if you are still having a problem

[2021-02-23 03:12] #3992 closed

[2021-02-23 03:13] patrickkettner commented on #4004
@sebastianbenz what should be done with this issue?

[2021-02-23 03:43] patrickkettner commented on #4027
@sebastianbenz @CrystalOnScript I see the `@formats()` [filter](https://github.com/ampproject/amp.dev/blob/future/examples/source/1.components/amp-form.html#L73) in the examples code, bu this doesn't seem to actually do anything other than remove the comment in the code. Is there a method to hide sections based on currently selected format like we can in the docs?

[2021-02-23 03:50] patrickkettner commented on #4030
@crystalonscript @sebastianbenz is this still accurate (since bento launched)?

[2021-02-23 03:53] patrickkettner commented on #4037
closing as it is no longer true

[2021-02-23 03:53] #4037 closed

[2021-02-23 03:54] patrickkettner commented on #4084
@sebastianbenz was this fixed by #5294?

[2021-02-23 03:54] patrickkettner commented on #4085
@westonruter any chance you could check this out?

[2021-02-23 03:55] patrickkettner commented on #4128
@sebastianbenz is there anything to do here?

[2021-02-23 03:56] patrickkettner commented on #4165
fixed by #4193

[2021-02-23 03:56] #4165 closed

[2021-02-23 03:59] patrickkettner commented on #4192
closing as @gpalz hasn't replied. @gpalz if you can share the source, we'd be happy to look into this with you

[2021-02-23 03:59] #4192 closed

[2021-02-23 04:00] patrickkettner commented on #4196
closing as no longer true

[2021-02-23 04:00] #4196 closed

[2021-02-23 04:01] #4197 closed

[2021-02-23 04:04] patrickkettner commented on #4215
@morsssss what information did you want on this one?

[2021-02-23 04:05] patrickkettner commented on #4223
@CrystalOnScript is this still true? I am not sure what you mean by throwing an error (like in what way/what process the error is being thrown)

[2021-02-23 04:07] #4225 closed

[2021-02-23 04:13] patrickkettner commented on #4232
@sebastianbenz happy to add these - what content should be included?

[2021-02-23 04:17] patrickkettner commented on #4237
fixed by #4972, @BogdanCerovac let me know if there is anything still missing and we can reopen

[2021-02-23 04:17] #4237 closed

[2021-02-23 04:18] patrickkettner commented on #4242
closing as @cutnut hasn't replied - please let us know if you would like it to be reopened

[2021-02-23 04:18] #4242 closed

[2021-02-23 04:19] #4258 closed

[2021-02-23 04:21] westonruter commented on #3919
@patrickkettner yes… what I am unclear on is the styling.

For the [CWV post](https://blog.amp.dev/2020/05/06/amp-web-vitals-a-better-web-together/ ) specifically I can see an issue is that it has the Large style assigned rather than the Default:

![image](https://user-images.githubusercontent.com/134745/108801330-4fb19580-754a-11eb-8612-0a3e2d93fac3.png)

But when I select Default, the styling is

[2021-02-23 04:29] patrickkettner commented on #4292
@westonruter now that https://github.com/ampproject/amphtml/pull/32100 is merged, do we have any work that needs to be done?

[2021-02-23 04:31] westonruter commented on #4085
I've added this:

[code]

So it's a bit improved on Moto G4:

![image](https://user-images.githubusercontent.com/134745/108802026-1b3ed900-754c-11eb-9e7a-f8779edc8eb4.png)

I've also added this:

[code]

To prevent the margins between the nested lists:

![image](https://user-images.githubusercontent.com/134745/108802316-db2c2600-754c-11eb-8ab4-9db6cdcd2554.png)

[2021-02-23 04:35] patrickkettner commented on #4353
this was fixed in #5076

[2021-02-23 04:35] #4353 closed

[2021-02-23 04:36] westonruter commented on #4292
I think this needs some Google Analytics changes for the blog. Currently it has:

[code]

Whereas the analytics configuration on amp.dev is much more robust.

I don't think that https://github.com/ampproject/amphtml/pull/32100 applies here because the `domains` are not the same. I think linker has to be enabled on the blog to strip out the `_gl` from the location. I'm not sure what specific config

[2021-02-23 04:50] patrickkettner commented on #4535
@slevy85 could you share a glitch or playground.amp.dev sample that is showing this behavior? thanks a lot!

[2021-02-23 04:57] patrickkettner commented on #3919
thanks so much! the update looks great, I will talk with sebestian in the morning to see if we're all good

[2021-02-23 05:13] patrickkettner commented on #4810
@matthiasrohmer could you elaborate?

[2021-02-23 05:26] patrickkettner commented on #4970
closing for the time being, @avarghese-sqsp please comment if you would like it to be reopened in the future, or feel free to submit a new issue

best!
patrick

[2021-02-23 05:26] #4970 closed

[2021-02-23 05:27] patrickkettner commented on #4978
@marinatrajk I am going to close this given the time without update, but please comment if you would like it reopened or have any questions

[2021-02-23 05:27] #4978 closed

[2021-02-23 05:27] patrickkettner commented on #5267
ping @kristoferbaxter

[2021-02-23 05:45] #4270 closed

[2021-02-23 06:56] VishalSrivastav opened #5439 "Page experience issue"
Hi,

I am an SEO Professional, working with Homeonline.com. We are using AMP Site for the last 2 Years. Now I am trying to analyze our AMP Pages for Page Experience but the tool is showing an error that the URL is Invalid, however, the AMP Validator Tool is showing Valid and the same URLs are being crawled and indexed in Google SERPs. Could you please help us to get the exact reason why the page e

[2021-02-23 09:57] sebastianbenz commented on #4084
Yes!

[2021-02-23 09:57] #4084 closed

[2021-02-23 14:29] sebastianbenz commented on #3919
LGTM - thanks Weston!

[2021-02-23 14:29] #3919 closed

[2021-02-23 14:30] #4595 closed

[2021-02-23 15:11] patrickkettner commented on #1968
@sebastianbenz I beleive thumbor takes care of this for images, right? If so, is the task scoped to versioning  videos?

[2021-02-23 15:11] patrickkettner commented on #2051
@sebastianbenz what happened with this

[2021-02-23 15:12] patrickkettner commented on #2127
the bug mentioned has been fixed

[2021-02-23 15:12] #2127 closed

[2021-02-23 15:32] #2354 closed

[2021-02-23 15:34] patrickkettner commented on #2565
@sebastianbenz should this still be open?

[2021-02-23 15:35] patrickkettner commented on #2560
@sebastianbenz what does this mean

[2021-02-23 15:36] patrickkettner commented on #2572
@matthiasrohmer @sebastianbenz is this fixed with v1 grow being live now?

[2021-02-23 15:37] patrickkettner commented on #2577
fixed by #4239

[2021-02-23 15:37] #2577 closed

[2021-02-23 15:38] patrickkettner commented on #2582
this should have been closed by ampproject/amphtml#26064

[2021-02-23 15:38] #2582 closed

[2021-02-23 15:41] patrickkettner commented on #2632
@sebastianbenz @CrystalOnScript is this still true?

[2021-02-23 15:41] patrickkettner commented on #2646
this was added

[2021-02-23 15:41] #2646 closed

[2021-02-23 15:42] patrickkettner commented on #2744
closing due to time, please do reach out if you have anything to share!

[2021-02-23 15:42] #2744 closed

[2021-02-23 17:03] morsssss commented on #4215
Right now it's only metnioned on the amp-script documentation page. In fact, it can be used on any AMP page, whether that page contains an <amp-script> or not.

[2021-02-23 17:42] MrCsabaToth commented on #5336
The minimum what could be done is to have a CSS style for a Sans Serif substitute. I might have not discovered this if I don't see the Serif substitute font which sticks out like a sore thumb.

[code]

[2021-02-23 18:04] MrCsabaToth opened #5435 "Poppins and Noto Sans fonts don't download on my Linux box and substitute to some ugly Serif font"
## 🐛 Bug Report

### Current behavior
I'm visiting "Best practices for creating a successful Web Story" Guides & Tutorials and it shows up weird. Interestingly other pages are mostly OK, so maybe something differs with this guide for some reason? Or this was the only one I reloaded?

Please also provide:
- Page link: https://amp.dev/documentation/guides-and-tutorials/start/create_successful_storie

[2021-02-23 18:04] MrCsabaToth commented on #5435
Somewhat relates to https://github.com/ampproject/amp.dev/issues/5336

[2021-02-23 18:09] patrickkettner commented on #2456
@sebastianbenz @matthiasrohmer is this something that JVM folks should be doing

[2021-02-23 18:11] #2632 closed

[2021-02-23 18:26] #3255 closed

[2021-02-23 18:26] #3325 closed

[2021-02-23 18:31] patrickkettner commented on #5435
Thanks for the report! it is a dupe of #5336, like you said, so closing in favor of it

[2021-02-23 18:31] #5435 closed

[2021-02-23 18:32] patrickkettner commented on #3538
Closing due to time, please do reach out @fellyph if you would like to work on anything or have any questions :D

[2021-02-23 18:32] #3538 closed

[2021-02-23 18:40] MrCsabaToth commented on #5435
Well, I'm not sure. Because #5336 is only about substitution and I fear that #5336 may not make the Poppins and Mono Sans appear, just some Sans Serif substitute. I haven't dig enough to see if the particular tutorial page may have some bug in it vs the other pages.

[2021-02-23 18:45] morsssss commented on #3538
Good news is that this was done by someone else a few months ago - and @fellyph kindly reviewed the work.

[2021-02-23 18:46] patrickkettner commented on #5435
It effects all pages. it is because of a CSS change we merged recently on
font-display.

[2021-02-23 19:04] sebastianbenz commented on #2456
I think @CrystalOnScript already documented most of the things.

[2021-02-23 19:04] #2456 closed

[2021-02-23 19:05] sebastianbenz commented on #2565
No :-)

[2021-02-23 19:05] #2565 closed

[2021-02-23 19:58] newmuis commented on #3957
I don't know what "tagged deprecation" in this context means, but yes I think it should be just removed from this guide.

[2021-02-23 21:51] patrickkettner commented on #3957
Sorry, I just made up the term -  some things (like [amp-font](https://amp.dev/documentation/components/amp-font/) have a badge that says "deprecated"

![image](https://user-images.githubusercontent.com/465414/108912957-56e2ad00-75f7-11eb-889b-bb1a7a009050.png)

Thank you for the clarification

[2021-02-23 22:37] morsssss commented on #4085
Thanks, @westonruter . This is much better!

I just experimented with adding this rule as well:

[code]

which decreases the left indent of the list's second level. What do you think?

[2021-02-24 15:23] sebastianbenz commented on #5439
Is it possible that the site is geoblocking certain regions.

<img width="1489" alt="Screenshot 2021-02-24 at 16 21 37" src="https://user-images.githubusercontent.com/380472/109022746-6aa41700-76bc-11eb-88df-f6d609ca8590.png">

[2021-02-24 17:56] newmuis commented on #3957
Got it.  I think we can mark https://amp.dev/documentation/components/amp-story-bookend/ with that tag, but remove this step from the guide: https://amp.dev/documentation/guides-and-tutorials/start/visual_story/create_bookend/?format=stories

[2021-02-24 18:06] VishalSrivastav commented on #5439
Yes, We have blocked access from the European Region. Unblocking these regions will work?

[2021-02-24 18:56] joshcp commented on #3911
Could this issue be the reason [amp-bind Example 2](https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fcomponents%2Famp-bind.example.2.html%3Fformat%3Dwebsites&format=websites&_gl=1*1rgyfzm*_ga*YW1wLVJ2eWlzWVI5UEl4aTQ4RWNha1NRcVE) isn't working? Or should I create a separate ticket?

[2021-02-24 18:58] sebastianbenz commented on #5439
We run Pixi on servers in different regions. Depending on which instance
you get, your content might be blocked. I don't see a good way around this.

[2021-02-24 19:21] patrickkettner commented on #3911
that example already has the amp-bind included in its source, so the importer would not be applicable cause

[2021-02-24 19:47] joshcp opened #5440 "Error in amp-bind Example 2"
## 🐛 Bug Report

### Current behavior
The amp-bind example using a [class] binding displays the following error message:
`"%s: "%s" is not a valid result for [class]. amp-bind null"`

![image](https://user-images.githubusercontent.com/1458588/109056202-fefa8380-7694-11eb-99e9-96384df3d48e.png)

Error can be viewed on the [amp-bind Example 2](https://playground.amp.dev/?url=https%3A%2F%2Fpreview.am

[2021-02-24 19:54] joshcp commented on #3911
Thanks @patrickkettner. I opened ticket #5440 for the error message on amp-bind Example 2.

[2021-02-24 20:24] sebastianbenz commented on #5325
See https://github.com/ampproject/amp-toolbox/pull/1145/ for AMP Linter integration.

[2021-02-24 22:24] sebastianbenz commented on #2560
What it says. Summarise different approaches for using APIs in your AMP pages, e.g. using amp-list, amp-state, amp-script,...  What are the limitations of the different approaches etc.

[2021-02-24 22:26] sebastianbenz commented on #2051
Good question. @alanorozco might know more..

[2021-02-24 22:28] sebastianbenz commented on #1968
Yes, it's working for thumbor URLs, but we need to set the corresponding
cache headers to make them immutable. It's less critical for videos etc.

[2021-02-24 22:34] westonruter commented on #4085
@morsssss I think the indentation should be consistent for all `ul`, so what I've done is add a rule which reduces the left padding to `1.25em` for all `ol` and `ul` when the viewport is `640px` or less:

[code]

On larger viewports, the padding goes to `2.5em` in order to take advantage of the extra screen real estate.

How's that look now?

[2021-02-24 22:36] patrickkettner commented on #2560
Sorry, I didn't communicate my misunderstand better. It was not clear to me what an "API" meant in this context.

[2021-02-24 23:03] morsssss commented on #4085
I love that. I think it addresses the real problem - which is that mobile devices lack the width to handle the multiple layers of horizontal padding.

lgtm!

[2021-02-24 23:05] #4085 closed

[2021-02-24 23:53] honeybadgerdontcare opened #5442 "Add documentation on using script amp-onerror"
## 🚀 Feature Request

Add documentation for `<script amp-onerror>`.

### Problem
The validator will shortly allow `<script amp-onerror>document.querySelector("script[src*='/v0.js']").onerror=function(){document.querySelector('style[amp-boilerplate]').textContent=''}</script>` and we do not have any documentation for it.

See [ampproject/amphtml #22543](https://github.com/ampproject/amphtml/issues/

[2021-02-25 17:18] patrickkettner commented on #5346
@sebastianbenz what is the course of action on this issue?

[2021-02-25 17:18] #5385 closed

[2021-02-25 17:19] patrickkettner commented on #5315
Closing due to lack of replication, but @e-struct please do comment if you are able to elaborate on the issue!

[2021-02-25 17:19] #5315 closed

[2021-02-25 17:20] patrickkettner commented on #5214
@lannka is this something we have somewhere?

[2021-02-25 19:20] #2793 closed

[2021-02-26 04:33] patrickkettner commented on #5439
@VishalSrivastav assuming you want to continue blocking EU, would it be possible to allow access the [IP ranges Google Cloud](https://cloud.google.com/vpc/docs/configure-private-google-access) uses in that area?

[2021-02-26 17:12] sebastianbenz opened #5448 "Pixi: show warning if not using latest version of a component"
Some components had CLS issues which have been fixed in later versions. We can use the validator rules to get the latest version for each component.

[2021-02-26 19:46] sebastianbenz commented on #5439
Closing as not related to amp.dev.

[2021-02-26 19:46] #5439 closed

[2021-02-27 18:03] Tauhid112 opened #5452 "AMP story create"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

< Insert name here >

### Type

Use [x] to mark a selection:

- [ ] Story Creation Tool
- [ ] CMS
- [ ] Platform
- [ ] Other

### URL

< Insert URL to Tool/CMS/Platform here >

### Image

< Please provide a screenshot of your resource’s editor window (min. 800x400 pixels) to appear on the [Tools](

[2021-03-01 11:19] #5452 closed

[2021-03-01 18:34] avarghese-sqsp commented on #4970
Due to current project priorities, we won't be able to work the requested changes. When we circle back on this in future, we will submit a new issue.

[2021-03-02 11:51] JABERMQM opened #5456 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-03-02 11:51] JABERMQM opened #5457 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-03-02 11:52] JABERMQM opened #5458 "GJ"
## 🛠️ Request to Add Third-Party Tool/Service/Platform/Vendor

### 1. Resource name
Insert name here

### 2. Relevant format(s)

- [ ] websites
- [ ] stories
- [ ] ads
- [ ] email

### 3. Resource type

- [ ] editor
- [ ] service provider
- [ ] developer tool
- [ ] content platform
- [ ] CMS
- [ ] ads
- [ ] audio/video
- [ ] analytics vendor

### 4. Destination
1. [amp.dev/support/faq/platform-and

[2021-03-02 11:59] #5458 closed

[2021-03-02 11:59] #5457 closed

[2021-03-02 11:59] #5456 closed

[2021-03-02 12:01] #2144 closed

[2021-03-02 12:03] #3888 closed

[2021-03-02 13:54] sebastianbenz commented on #5346
Discovered more details in the logs:

[code]

[2021-03-02 13:57] matthiasrohmer commented on #5346
🤔  this is strange. Do our build artifacts already come close to the VMs disk space of 20GB by now?

There is no change I can recall that would write files to the disk at runtime. Can anyone else?

[2021-03-02 13:59] sebastianbenz commented on #5346
AMP Optimizer caches runtime data and validation rules on disk, but that
shouldn't be much.

[2021-03-02 17:55] #4855 closed

[2021-03-02 18:06] sdenaro commented on #5235
I will be starting this soon and will update before the end of the week.

[2021-03-02 18:06] sdenaro commented on #5317
I will be starting this soon and will update before the end of the week.

[2021-03-02 20:14] #4846 closed

[2021-03-03 10:33] sebastianbenz opened #5465 "Migrate build to Github Actions"
We should migrate asap to Github actions as ampproject now uses Github actions. @matthiasrohmer can you look into this?

[2021-03-03 10:34] matthiasrohmer commented on #5465
I'd love to!

[2021-03-03 12:30] #4390 closed

[2021-03-03 18:31] sebastianbenz opened #5468 "Pixi: for transformed doucments check that all amp-element layouts are ssr'd"
We should show an error for the following doc:

[code]

as the amp-ad is missing:

[code]

I think checking if each AMP element with a layout contains `layout="$LAYOUT" class="i-amphtml-layout-$LAYOUT`.

[2021-03-03 18:38] kristoferbaxter commented on #5468
Could we also add logic for the cases where inline styles should be present?

So for instance this element should also have `style="width:320px;height:100px"`.

[2021-03-03 18:41] sebastianbenz commented on #5468
We could, I'm not sure how useful it's going to be. My assumption is that optimisers are usually correct (the open source ones use the same test suite). So the most important part is to check whether the element has been transformed or not.

[2021-03-03 19:20] kristoferbaxter commented on #5468
Makes sense, checking for all three here would prevent the CLS issues found in the wild... but perhaps this isn't as widespread of an issue.

[2021-03-03 21:23] sebastianbenz commented on #5346
I think I've just encountered the same problem when deploying `gcr.io/amp-dev-230314/amp-dev:56b92a0-1614805311229`:

[code]

https://console.cloud.google.com/logs/query;query=%2528resource.type%3D%22gce_instance%22%20AND%20resource.labels.instance_id%3D%22125525640808120902%22%2529%20OR%20%2528resource.type%3D%22global%22%20AND%20jsonPayload.instance.id%3D%22125525640808120902%22%2529?project=amp

[2021-03-03 21:41] sebastianbenz opened #5470 "Pixi: check for amp-access and amp-subscription if CLS is >0"
See more details here: https://docs.google.com/spreadsheets/d/1pR5qBsqwhMtbbnlcgVu_xsFV77TLev5ckZsP8-PJlZ0/edit#gid=0&range=18:18

[2021-03-04 20:10] sebastianbenz opened #5476 "Avoid CLS for format switcher hint"
Would be great if we could come up with a better way. Maybe make the bar smaller and leave the space empty.

[2021-03-04 20:11] sebastianbenz commented on #5476
![cls (1)](https://user-images.githubusercontent.com/380472/110024101-3d93dc00-7d2e-11eb-9894-62080dae6af4.gif)

[2021-03-04 21:00] sebastianbenz commented on #5346
This was caused by the disk images being too small. Fixed by #5475

[2021-03-04 21:00] #5346 closed

[2021-03-05 08:34] lluerich commented on #5476
Maybe make it as small as the toggle in the sidebar? I see if I can think of anything. Maybe Ferdi has an idea as well.

[2021-03-05 17:09] jcmlmorav commented on #3988
Do you know if there is a way to load the amp-consent JSON content dinamycally? I am trying to use different configurations on the page but I need to change the amp-consent implementation every time I want to change something.

I'm looking for a way to load the JSON configuration from an external source or something like that.

[2021-03-05 19:58] MrCsabaToth commented on #3988
Mine is hard wired. I think this can very well be done and it's actually depends on what kind of SSG (Static Site Generator) you use. Your build pipeline together with your SSG may capable of picking up a JSON and interpolating parts of your consent.

[2021-03-06 12:33] gbhrdt opened #5480 "Story Creation Tool: CleverPush"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

CleverPush

### Type

Use [x] to mark a selection:

- [x] Story Creation Tool
- [ ] CMS
- [ ] Platform
- [ ] Other

### URL

https://cleverpush.com/

### Image

<img width="1455" alt="Bildschirmfoto 2021-03-06 um 13 32 29" src="https://user-images.githubusercontent.com/1145196/110206844-717f1680-7

[2021-03-07 13:29] Al-Foudai22 opened #5485 "Content proposal UA-190128325-1"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-03-07 13:29] Al-Foudai22 opened #5486 "UA-190128325-1"
## 🛠️ Request to Add Third-Party Tool/Service/Platform/Vendor

### 1. Resource name
Insert name here

### 2. Relevant format(s)

- [ ] websites
- [ ] stories
- [ ] ads
- [ ] email

### 3. Resource type

- [ ] editor
- [ ] service provider
- [ ] developer tool
- [ ] content platform
- [ ] CMS
- [ ] ads
- [ ] audio/video
- [ ] analytics vendor

### 4. Destination
1. [amp.dev/support/faq/platform-and

[2021-03-08 08:48] #5486 closed

[2021-03-08 08:48] #5485 closed

[2021-03-09 06:23] toytonto opened #5497 "amp"
## 🛠️  Request to Add Third-Party Story Creation Tool/CMS/Platform

### Story creation resource name

< Insert name here >

### Type

Use [x] to mark a selection:

- [x] Story Creation Tool
- [x] CMS
- [x] Platform
- [ ] Other

### URL

< Insert URL to Tool/CMS/Platform here >

### Image

< Please provide a screenshot of your resource’s editor window (min. 800x400 pixels) to appear on the [Tools](

[2021-03-09 16:02] #5497 closed

[2021-03-10 00:49] sdenaro commented on #5235
@Zmooz

None of the linked stories are valid Web Stories AMP. You can confirm this by adding "#development=1" to the end of the URL as in [this link](https://amp.zmooz.com/stories/La-rentree-en-5-expositions-mode-LaWq#development=1) and seeing the errors in the Debug tab.

For more information, please take a look at the amp linter which is part of the [AMP Toolbox project](https://github.com/amppr

[2021-03-10 18:51] nathanpuls opened #5506 "Overlapping words on amp.dev homepage on mobile"
Video of the issue.
3 seconds in it starts.

https://streamable.com/3c84up

[2021-03-10 22:19] Gregable opened #5504 "amp-font small issues"
## 🐛 Bug Report

### Current behavior
https://amp.dev/documentation/components/amp-font/

Two issues:

1) The text immediately above the Usage section reads:

[code]

I suspect the "Replace with a sentence" bit is a typo.

2) Under `Attributes`, there is no documentation for the `on-load-remove-class` attribute, even though this is mentioned in the example.

[2021-03-11 06:08] vaibhav-readwhere opened #5505 "AMP Native Libraries showing as Unused JS / Third Party JS in Lighthouse and Page Speed Index."
## 🐛 Bug Report

### Current behavior
AMP Native Libraries i.e v0.js, amp-analytics-0.1.js etc which are mandatory for error free AMP pages are showing as Unused JS / Third Party JS in Lightbox and Page Speed Index.

Please also provide:

<img width="768" alt="Screen Shot 2021-03-11 at 11 28 10 AM" src="https://user-images.githubusercontent.com/5145846/110742814-060cbe80-825d-11eb-9d42-3391f1c2b16

[2021-03-11 07:57] matthiasrohmer commented on #5505
Thanks a lot for taking your time to report this! This is the documentation repository for the AMPHTML framework. The code relevant for this issue is located at ampproject/amphtml.

This is also where this issue has been already discussed. See https://github.com/ampproject/amphtml/issues/28638#issuecomment-638277038 for a qualified response.

Closing since this is not an actual issue with the docu

[2021-03-11 07:57] #5505 closed

[2021-03-11 07:59] matthiasrohmer commented on #5480
Thanks for filing this! Someone of the AMP Stories team (@shishirm, tentatively) will take care of reviewing your submitted stories. This can take a while though we hence like to ask you for a little patience.

[2021-03-11 08:01] matthiasrohmer commented on #5476
@lluerich, result from Tuesday's call: we'll condense the design in height and reserve the place it might need to avoid CLS issues. Ferdi will take this on.

[2021-03-11 08:02] matthiasrohmer commented on #5331
Done in relation to #5465.

[2021-03-11 08:02] #5331 closed

[2021-03-11 22:09] kristoferbaxter commented on #5506
Transferred this to amp.dev since it appears unrelated to the AMP Framework.

[2021-03-12 01:45] morsssss opened #5507 "Non-experimental components listed in "Enable experimental features" guide"
## 🐛 Bug Report

On https://amp.dev/documentation/guides-and-tutorials/learn/experimental, lots of components are listed as being in experimental status. This is caused by the Bento developer preview.

Currently, it says this:

The following is a list of components that are currently in experimental status and are ready to be tested by developers for first user feedback:

- amp-accordion
- amp-act

[2021-03-12 10:44] sebastianbenz commented on #5507
My suggestion would be to add the component version to list (e.. amp-accordion-v0.1 is not experimental, but amp-accordion-v1.0 is). Also these components should link to the version specific docs.

[2021-03-13 08:49] Oshimarr36 opened #5512 "Oshimarr Myhan"
## 🛠️ Request to Add Third-Party Tool/Service/Platform/Vendor

### 1. Resource name
Insert name here

### 2. Relevant format(s)

- [ ] websites
- [ ] stories
- [ ] ads
- [ ] email

### 3. Resource type

- [ ] editor
- [ ] service provider
- [ ] developer tool
- [ ] content platform
- [ ] CMS
- [ ] ads
- [ ] audio/video
- [ ] analytics vendor

### 4. Destination
1. [amp.dev/support/faq/platform-and

[2021-03-13 18:50] jorgejaramillo opened #5513 "Spanish not included as an option in the boilerplate Language dropdown"

[2021-03-13 23:51] Al-Foudai22 opened #5515 "amp"
## 🛠️ Request to Add Third-Party Tool/Service/Platform/Vendor

### 1. Resource name
Insert name here

### 2. Relevant format(s)

- [x] websites
- [x] stories
- [x] ads
- [x] email

### 3. Resource type

- [x] editor
- [x] service provider
- [x] developer tool
- [x] content platform
- [x] CMS
- [x] ads
- [x] audio/video
- [x] analytics vendor

### 4. Destination
1. [amp.dev/support/faq/platform-and

[2021-03-14 12:58] #5515 closed

[2021-03-15 13:46] #5512 closed

[2021-03-15 13:49] matthiasrohmer commented on #5417
@kristoferbaxter, I think this is a worker-dom bug. I can build a test case if needed but it boils down to Pixi trying to set `<p>Set viewport width to match the device width to disable touch delay, which
can increase FID. To remove this 300-350ms tap delay, change the viewport
declaration in the <code>&lt;head&gt;</code> of your page to:</p>
<div class="ap-m-code-snippet"><pre><code><span class="

[2021-03-15 13:59] Zmooz commented on #5235
Hello @sdenaro We have fixed the issue...  Let us know if you see anything else
Thanks

[2021-03-15 18:52] westonruter opened #5519 "Playground: amp-script-src injection is broken"
## 🐛 Bug Report

I tried copying the [from a local element](https://amp.dev/documentation/components/amp-script/#from-a-local-element) sample into the playground and the result was an error showing up in the console:

[code]

In the `head`, an empty `amp-script-src` is added:

[code]

And the `amp-script` example in the preview does nothing when the button is clicked.

I'm testing in Chrome 89 on

[2021-03-15 21:26] #5504 closed

[2021-03-16 01:44] kristoferbaxter commented on #5417
Oh, interesting!

Let's create a simplified example case and file something on WorkerDOM.

I'm happy to take a look.

[2021-03-16 13:52] sdenaro commented on #5235
I am blocking off time on Wed the 17th to update my review. Thanks

[2021-03-16 14:47] matthiasrohmer opened #5522 "amp-date-display example can not be transformed for amp4email"
Samples Builder has errors with:

[code]

@lluerich, can you have a look at this sample? It might probably not be amp-date-display - not quite sure if SampleBuilder's  logs are sequential.

[2021-03-16 17:01] sebastianbenz opened #5524 "Document how to optimize CLS for amp-access and amp-subscription"
We need guidance on how to avoid content shifts on load when using amp-access / amp-subscriptions. Not sure whether this should go into the respective component docs or whether we should have a standalone guide on how to avoid CLS issues with AMP.

//cc @CrystalOnScript @patrickkettner @kristoferbaxter

[2021-03-16 18:01] Zmooz commented on #5235
thanks @sdenaro

[2021-03-16 18:45] sebastianbenz commented on #4871
Closing as we can't fix it.

[2021-03-16 18:45] #4871 closed

[2021-03-16 18:47] sebastianbenz opened #5525 "Pixi: recommend module runtime"

[2021-03-16 18:50] sebastianbenz opened #5526 "Pixi: warn if iframe in first viewport"

[2021-03-17 14:53] lucemia commented on #5317
@shishirm Any updates?

[2021-03-17 19:27] marinatrajk commented on #4978
Hey @patrickkettner we will start working on these issues now. Can we reopen this issue?

[2021-03-18 07:18] patrickkettner commented on #5513
que?

[2021-03-18 13:40] jorgejaramillo commented on #5513
Jjaja. Que si pueden agregar el español en el selector del Boilerplate.

En: Language

https://amp.dev/boilerplate/

Gracias!

[2021-03-18 19:38] #5513 closed

[2021-03-18 22:16] CrystalOnScript opened #5537 "Embed HTAMP videos and/or links in reference table"
## 🚀 Feature Request

### Problem
We have [16 How to AMP episodes](https://www.youtube.com/playlist?list=PLXTOW_XMsIDQ3nkny1ErmqlpSUhcLaItg) that feature various components and concepts. These videos should be highlighted in relevant documentation.

### Solution
Create a "relevant videos" section for reference/guides that features videos in a carousel that are specified in document frontmatter. Or

[2021-03-18 22:22] CrystalOnScript opened #5538 "amp-analytics example page broken"
The [amp-analytics example](https://amp.dev/documentation/examples/components/amp-analytics/?referrer=ampbyexample.com) has a lot of AMP errors
<img width="1395" alt="Screen Shot 2021-03-18 at 3 21 02 PM" src="https://user-images.githubusercontent.com/23297417/111705311-b8182d80-87fd-11eb-873d-24963e45a3af.png">
 is missing the TOC.

[2021-03-19 06:10] patrickkettner commented on #4818
Thanks for tracking this down, @samouri!

[2021-03-19 08:05] sebastianbenz opened #5543 "Build broken due to invalid AMP markup"
Not sure what's causing this. These should be fixed by optimizer normally.

https://travis-ci.com/github/ampproject/amp.dev/jobs/492218637

[2021-03-19 08:26] #4818 closed

[2021-03-19 08:27] #5325 closed

[2021-03-19 09:33] patrickkettner commented on #4879
@kristoferbaxter @samouri This is still happening today - you can replicate it on prod by searching for any url on https://amp.dev/page-experience, and then backgrounding the tab for a few minutes.

Would this still be considered a bug? Or is this just something that pixi needs to be accounting for some how?

[2021-03-19 09:40] #5522 closed

[2021-03-19 11:27] #5448 closed

[2021-03-19 14:41] patrickkettner commented on #5506
thanks @kristoferbaxter

@nathanpuls what device was this? I am not able to replicate it

[2021-03-19 15:19] samouri commented on #4879
Still a bug! Sorry this has taken a bit of a backseat for me.
Will retriage and see if I can fit it into the work I'm doing on amp-script next week.

[2021-03-19 18:32] nathanpuls commented on #5506
iphone 12

On Fri, Mar 19, 2021 at 9:41 AM patrick kettner ***@***.***>
wrote:

[2021-03-19 19:45] #3957 closed

[2021-03-22 09:25] sebastianbenz commented on #5526
Fixed by #5551

[2021-03-22 09:26] #5526 closed

[2021-03-22 09:39] sebastianbenz commented on #5417
@matthiasrohmer have you already filed a bug for worker-dom?

[2021-03-22 12:02] #5417 closed

[2021-03-22 13:40] #5470 closed

[2021-03-22 15:11] Zmooz commented on #5235
Hi @sdenaro  any news ? Thanks

[2021-03-22 16:46] patrickkettner commented on #5249
dupe of #5403, which was fixed by #5412

[2021-03-22 16:46] #5249 closed

[2021-03-22 19:30] micajuine-ho opened #5570 "Amp Analytics CLS w/ GA add precision tip"
When tracking CLS using GA, they state that they can only collect integer values and so it is recommended that you multiply the collected CLS value by 1000 to get greater precision.

https://github.com/GoogleChrome/web-vitals#using-analyticsjs

A tip [here](https://amp.dev/documentation/examples/advertising-analytics/tracking_core_web_vitals/?format=websites#tracking-core-web-vitals-in-amp-using-g

[2021-03-22 21:05] #5416 closed

[2021-03-22 23:39] sdenaro commented on #5235
Just re-checked everything and there are stiff some issues.

If you check

https://amp.zmooz.com/stories/The-seven-most-remarkable-fashion-shows-of-the-decade-4A3x#development=1

You'll see there is still an AMP issue

There are also issues that come up in the amp linter.  Please take a look at the amp linter which is part of the AMP Toolbox project

You can run it via npx amp-toolbox-linter

You'

[2021-03-23 00:06] sdenaro commented on #5317
Thanks for checking in. There are a lot of issues that need to be resolved

If you open the URLs with "#development=1" padded to the end you'll see that stories like this

https://player.gliacloud.com/@amp.distinct-education.com/#development=1

There are AMP issues with the stories that show up in the debug section

https://player.gliacloud.com/@amp.distinct-education.com/#development=1&tab=debug

[2021-03-23 08:55] gilbertococchi opened #5572 "Please don't translate "AMP Optimizer""
Hi all, I've noticed that on this page https://amp.dev/it/documentation/guides-and-tutorials/optimize-and-measure/amp-optimizer-guide/ "AMP Optimizer" in the title became "Ottimizzatori di AMP" in italian which makes really little sense to me.

Would it be possible to avoid keywords that are specific to AMP components such as "AMP Optimizer" not to be translated from the English version perhaps?

[2021-03-23 08:57] sebastianbenz commented on #5572
Can we also check the other languages?

[2021-03-23 09:57] ilyaspiridonov commented on #5572
@gilbertococchi @sebastianbenz Thanks Gilberto, good point, well add that to the glossary

[2021-03-23 13:06] Zmooz commented on #5235
Thank you for the reply,
We will check for the last issue on the story https://amp.zmooz.com/stories/The-seven-most-remarkable-fashion-shows-of-the-decade-4A3x

We've also been able to install and use the linter, we'll go through the logs and update the stories accordingly.
However, is it normal that some requirements are different on the AMP website (minimum size for poster-square-src = 640x640)

[2021-03-23 14:13] adsingh14 commented on #5401
I was checking the responsiveness of the website on mobile and saw the extra space on specific page.

https://amp.dev/documentation/guides-and-tutorials/learn/amp-caches-and-cors/amp-cors-requests/?format=websites

[2021-03-23 20:13] sdenaro commented on #5235
More information on poster image sizes and image rations can be found here:

https://amp.dev/documentation/guides-and-tutorials/learn/webstory_technical_details/?format=websites

https://amp.dev/documentation/guides-and-tutorials/start/create_successful_stories/

A general best practices guide in PDF format is here:

https://services.google.com/fh/files/misc/web_stories_best_practices.pdf

Thanks

[2021-03-23 23:27] matthiasrohmer opened #5576 "Cancel stale workflow runs to save on minutes quota"
Consecutive merges to `future` would currently trigger multiple racing deployments which should be avoided.

[2021-03-24 04:33] patrickkettner commented on #5572
@ilyaspiridonov it looks like most languages are having a similar issue - will y'all update the existing files, or would you like me to flag the problem spots?

[2021-03-24 07:04] sebastianbenz commented on #5572
While we're at it, there's another thing we need to check: `preload` and
 'preloading' which should not be translated, e.g. here
https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/optimize_amp/

[2021-03-24 11:14] matthiasrohmer opened #5578 "Debug and fix thumbor failover for /static/remote specially"
When proxying requests over to thumbor and thumbor doesn't respond we actually try to failover to the original files either in the container image or blog.amp.dev - this doesn't seem to work.

[2021-03-24 14:23] patrickkettner commented on #5572
I met with ilya this morning to discuss getting all the stuff updated, and
it should be happening in the near future. I will leave this issue open
until those changes are PRed

On Wed, Mar 24, 2021 at 3:04 AM Sebastian Benz ***@***.***>
wrote:

--
patrick

[2021-03-25 16:55] #5322 closed

[2021-03-25 17:07] powerivq commented on #5322
Amazing! Thanks @lluerich and @sebastianbenz

[2021-03-25 19:32] matthiasrohmer opened #5584 "Fix link integrity checking workflow for Grow"
https://github.com/ampproject/amp.dev/actions/workflows/check-grow-link-integrity.yaml - it currently doesn't do anything after samples have been build.

[2021-03-26 04:40] lucemia commented on #5317
@sdenaro
Thanks your comments, I have fixed the system and updated all story.

![截圖 2021-03-26 下午12 39 32（2）](https://user-images.githubusercontent.com/432851/112577952-588ad500-8e30-11eb-8b24-e1367f54396b.png)

[2021-03-26 12:41] micajuine-ho opened #5586 "[amp-carousel] Playground examples use 0.1 instead of 0.2"
On https://amp.dev/documentation/components/amp-carousel, the documentation is for 0.2 (based off of the drop down at the top).

However, opening the playground snippets on that page, in the code snippet I see that we have script tags for 0.1, which is a little confusing since the documentation I was just on was for 0.2.

![image](https://user-images.githubusercontent.com/30711678/112632679-a89876

[2021-03-26 14:07] lluerich commented on #5586
I stumbled over something similar the other day and I found out that the version gets overwritten at build time when the latest components are being fetched. ```amp-carousel``` has two separate entries, one for websites and one for amp4email.
https://github.com/ampproject/amp.dev/blob/a26709c1a0deaf268fe919acf0500749f93811a8/gulpfile.js/build.js#L184 is where it happens. I will create a PR for thi

[2021-03-27 11:45] Al-Foudai22 opened #5595 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-03-27 11:48] Al-Foudai22 opened #5596 "Content proposal UA-190128325-1"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-03-27 12:26] #5596 closed

[2021-03-27 12:26] #5595 closed

[2021-03-28 10:01] jaygray0919 opened #5598 "amp-image-lightbox menu duplication"
## 📖 Missing or Out-of-Date Documentation

### Problem
amp-image-lightbox label appears 2x in menu
![image](https://user-images.githubusercontent.com/11330577/112748619-84b66b00-8f82-11eb-980f-5ca53997e3a8.png)

### Location
https://amp.dev/documentation/examples/components/amp-image-lightbox.email/?format=websites

[2021-03-29 10:38] #4877 closed

[2021-03-29 14:02] #5578 closed

[2021-03-29 15:44] #2835 closed

[2021-03-29 15:52] lluerich commented on #5598
This is actually correct, since one sample is the default sample for websites and the other one is format specific (in this case it's the sample for amp4email).

[2021-03-29 17:02] sebastianbenz commented on #5598
Hm. But the email specific sample should not be listed for websites.

[2021-03-29 20:44] dotun-o opened #5603 "Ads not loading within amp-truncate-text"
In the amp-truncate-text tag, once the Read More is clicked, ads within the truncated region only show their placeholder and do not load.

Example markup:
<amp-truncate-text layout="fixed-height" height="80em">
  <section>...</section> // body content here
  <amp-embed width="100" height="100" type="taboola" layout="responsive" ... /> // ad - placeholder, no ads on expand
  <button id="read-more-t

[2021-03-29 20:47] jaygray0919 commented on #5598
@sebastianbenz that's what i "meant to say ..."

[2021-03-29 22:37] westonruter opened #5604 "Pixi analysis fails due undefined API key"
## 🐛 Bug Report

When attempting to run Pixi, the result is a failure:

In looking at the network log, the key is undefined in the requests to Google APIs:

Console:

May relate to https://github.com/ampproject/amphtml/issues/33405#issuecomment-805478248.

[2021-03-30 08:08] patrickkettner commented on #5604
Looks like the changes added [here](https://github.com/ampproject/amp.dev/pull/5553) would be where this came from - @sebastianbenz How is the API key being defined in a github action world?

[2021-03-30 08:37] sebastianbenz commented on #5604
I've triggered a rollback to the latest travis build.

[2021-03-30 08:42] patrickkettner commented on #5604
@sebastianbenz sorry, didn't mean that the CLI is the cause - rather it would have been an issue since that commit, as it appeared to be what introduced the key mapping in `AMP_DEV_PIXI_APIS_KEY`, where it hadn't been an issue previous to the actions build

[2021-03-30 09:06] sebastianbenz commented on #5604
Running `gulp buildPixi` locally results in the API keys correctly being added to the bundles.

[2021-03-30 09:07] matthiasrohmer commented on #5604
Will quickly setup a isolated workflow just building Pixi and storing it as an artifact for debugging.

[2021-03-30 09:14] matthiasrohmer commented on #5604
I'm terribly sorry! It struck me in the moment I was suggesting so setup a dedicated testing workflow... could had have a more thorough look last time. https://github.com/ampproject/amp.dev/pull/5605 should fix it.

[2021-03-30 09:52] #5604 closed

[2021-03-30 18:07] sebastianbenz commented on #4747
Done as part of migration to cloud functions.

[2021-03-30 18:07] #4747 closed

[2021-03-30 19:21] sebastianbenz opened #5606 "Implement Pixi End-to-End test"
We should implement a test whether Pixi works before starting a new deploy. The test should:

* check that the Pixi page returns a 200
* the amp-script js libraries are loaded correctly
* Pixi makes valid API calls

//cc @matthiasrohmer @lluerich

[2021-03-31 01:28] sdenaro commented on #5317
Thanks, I take a second look at the end of this week.

[2021-03-31 07:16] lluerich commented on #5586
Fixed by #5588.

[2021-03-31 07:16] #5586 closed

[2021-03-31 08:26] matthiasrohmer opened #5614 "Disable tests for PRs not changing tested files"
PRs that don't apply to any of the test suites have dangling yellow `test` check. Like this one: https://github.com/ampproject/amp.dev/pull/5612

[2021-03-31 13:24] patrickkettner commented on #5465
done!

[2021-03-31 13:24] #5465 closed

[2021-03-31 15:39] sdenaro commented on #5317
taggin @Dbrown910

[2021-03-31 17:06] sebastianbenz opened #5618 "Website example include email boilerplate"
[code]

https://amp.dev/documentation/examples/components/amp-carousel.email/?format=websites

This might be related to #4037

[2021-03-31 17:14] sebastianbenz commented on #5618
Just realised that this is the same issues as #4037. amp-carousel is also listed twice.

[2021-03-31 17:14] #5618 closed

[2021-03-31 17:15] sebastianbenz commented on #5618
Sorry, got the wrong issues id. This is the duplicate: #5598.

[2021-03-31 17:16] sebastianbenz commented on #5598
@lluerich can you please take a look. Looks like all components with format specific samples are listed multiple times.

[2021-03-31 21:32] CrystalOnScript opened #5624 "Inline code previews not working/flashing"
## 🐛 Bug Report

### Current behavior
A lot of the inline code examples are doing a weird flashing/refreshing something. It makes the samples impossible to view and interact with.

Examples include:

https://amp.dev/documentation/guides-and-tutorials/integrate/embed-stories/
https://amp.dev/documentation/guides-and-tutorials/integrate/embed-stories-nonamp/?format=websites
https://amp.dev/documenta

[2021-03-31 22:37] patrickkettner commented on #5624
Checked with the AMP release team as it was noticed shortly after a release, however after review it seems to be an issue with our code, rather than AMP's.
This constant reloading is isolated to examples with `playground="true"` and `preview="top-frame"`, digging into that presently

[2021-04-01 03:12] morsssss opened #5626 "Bento guide: amp-accordion example loads repeatedly"
## 🐛 Bug Report

### Current behavior
Go to [the Bento guide](https://amp.dev/documentation/guides-and-tutorials/start/bento_guide/?format=websites). Scroll down to the `amp-accordion` example.

This example keeps loading again and again and again, several times per second.

### Expected behavior/code
It would only load once 😎

https://user-images.githubusercontent.com/29419498/113238297-7fa13680-

[2021-04-01 03:57] patrickkettner commented on #5626
thanks! being tracked in #5624

[2021-04-01 03:57] #5626 closed

[2021-04-01 09:55] #5624 closed

[2021-04-01 16:03] sdenaro commented on #5317
@sebastianbenz  can you assign @dbrown910 ?

[2021-04-01 16:04] sdenaro commented on #5317
@lucemia We are having @DBrown910 complete this, he has a bit more bandwidth than I have right now.

[2021-04-01 16:09] sdenaro commented on #5235
tagging @Dbrown910

[2021-04-01 16:09] sdenaro commented on #5103
@Vint7r just checking in.

Is there anything you need from my end?

thanks.

[2021-04-01 17:32] patrickkettner commented on #5614
fixed in #5616

[2021-04-01 17:32] #5614 closed

[2021-04-01 18:45] sebastianbenz opened #5631 "Broken link in "Create your first AMP Page""
404 error occurs when clicking on "Getting Started With Your Development Workflow" on the documentation page found at this breadcrumb: Documentation > Guides & Tutorials > Create your first AMP Page.

The link goes to: https://developers.google.com/web/tools/setup/. No idea what's supposed to be there...

@CrystalOnScript can you take a look?

[2021-04-01 18:58] #5476 closed

[2021-04-01 19:29] Dbrown910 commented on #5317
Hey @lucemia. Only one issue popped up this time. Just a video that needs compression:

6. https://player.gliacloud.com/@www.gliacloud.com/demo/media-marieclaire.html
ampimgamppixelpreferred (PASS)

ampimgheightwidthisok (PASS)

ampvideoissmall (FAIL)

  videos over 4MB: [https://wordpress.gliaoffice.com/wordpress/wp-content/uploads/2021/02/marie-claire-2.mp4]

ampvideoisspecifiedbyattribute (PASS

[2021-04-01 19:49] lucemia commented on #5317
@Dbrown910
 I have compressed the video files. Please confirm.

Thanks!

[2021-04-01 20:08] patrickkettner opened #5632 "node-sass deprecated, should be replaced"
I've been having a lot of issues locally, a number of them seem to be stemming from node-sass not building correctly. It was actually [deprecated last year](https://sass-lang.com/blog/libsass-is-deprecated).
On a related note, `gulp-sass` has received few updates for some time, and [appears to be unresponsive](https://github.com/dlmanning/gulp-sass/pull/786) to requests to migrate to the project t

[2021-04-01 20:14] sebastianbenz commented on #5632
No. SGTM

[2021-04-02 12:01] fri-mue opened #5638 "AMP Optimizer"
Hi,
would it be possible for you to provide an AMP Optimizer on your website that can be used to optimize static AMP websites.
This is available, for example, at https://toolbox-optimizer.glitch.me/, but the optimizer no longer works.

With best regards

Tom

[2021-04-02 19:42] kristoferbaxter commented on #5638
Transferring to `amp.dev`, sounds like a good recommendation to live here.

[2021-04-02 23:18] pshihn opened #5640 "Add Slickstream"
## 🛠️ Request to Add Third-Party Tool/Service/Platform/Vendor

### 1. Resource name
Slickstream

### 2. Relevant format(s)

- [ ] websites
- [x] stories
- [ ] ads
- [ ] email

### 3. Resource type

- [ ] editor
- [x] service provider
- [ ] developer tool
- [ ] content platform
- [ ] CMS
- [ ] ads
- [ ] audio/video
- [ ] analytics vendor

### 4. Destination
Image:
![Asset 35](https://user-images.gi

[2021-04-04 05:31] patrickkettner commented on #3911
thanks @joshcp! The example is actually working, it just has a warning that looks scary. If you try the example as it's own document, rather than inside of the playground you won't see it. Regardless, I PRed a change to prevent that from happening

@matthiasrohmer were you still planning on looking into this?

[2021-04-04 08:13] patrickkettner commented on #5638
thank @kristoferbaxter!

Hi @fri-mue! - that site is actually ran by this team, I think the fact that it isn't currently working was an oversite.

@sebastianbenz, the underlying response sends back `{"body": <!doctype html><html amp .....`, as a json response, which ends up returning true on [`isAmp`](https://github.com/ampproject/amp-toolbox/blob/master/packages/core/lib/IsAmp.js). As a result, o

[2021-04-04 20:37] patrickkettner commented on #5640
@sdenaro would you be the correct person to check this out?

[2021-04-04 21:31] patrickkettner commented on #4828
closing as a dupe of #3911

[2021-04-04 21:31] #4828 closed

[2021-04-04 21:41] patrickkettner commented on #4810
@sebastianbenz would it make sense to have ferdi or some one design a shared image that could be generated to show off peoples scores?

[2021-04-04 23:22] patrickkettner commented on #5543
fixed. by #5545

[2021-04-04 23:22] #5543 closed

[2021-04-05 01:02] sdenaro commented on #5640
I'll take this one.

[2021-04-05 15:39] patrickkettner commented on #3587
Closing as we no longer have the documentation to be out of date 🙃

[2021-04-05 15:39] #3587 closed

[2021-04-05 16:01] schlessera commented on #5396
Related fix in `amp-wp`: https://github.com/ampproject/amp-wp/issues/5894

[2021-04-05 17:59] patrickkettner commented on #5519
@matthiasrohmer did you know what the issue here was?

[2021-04-05 18:11] #4223 closed

[2021-04-05 18:12] patrickkettner commented on #4250
@CrystalOnScript is it still broken? The images appear to be working to me

[2021-04-05 18:14] patrickkettner commented on #5295
closing for lack of response - please do let us know if you have an update!

[2021-04-05 18:14] #5295 closed

[2021-04-05 18:21] CrystalOnScript commented on #4250
The images are back for me too! But it's still missing the amp.dev sidebar
<img width="1389" alt="Screen Shot 2021-04-05 at 11 19 58 AM" src="https://user-images.githubusercontent.com/23297417/113609697-fafd4200-9600-11eb-9dc9-6a775c780f31.png">

[2021-04-05 18:21] #4166 closed

[2021-04-05 18:21] #4210 closed

[2021-04-05 18:21] #2572 closed

[2021-04-05 18:22] #4030 closed

[2021-04-05 18:24] #3242 closed

[2021-04-05 18:29] patrickkettner commented on #4715
fixed in ampproject/amphtml#31588

[2021-04-05 18:29] #4715 closed

[2021-04-05 18:36] #5440 closed

[2021-04-05 18:36] #3930 closed

[2021-04-05 20:21] sdenaro commented on #5640
@patrickkettner is this a story building tool? What exactly is this product?

[2021-04-05 22:41] patrickkettner commented on #5640
not sure! @pshihn, could you elaborate on what the product is?

[2021-04-05 22:42] patrickkettner commented on #5480
@sdenaro would this be something you can look at?

[2021-04-05 22:42] patrickkettner commented on #5405
@sdenaro would this be something you could look at?

[2021-04-06 03:32] patrickkettner commented on #3041
closing as this was solved long ago

[2021-04-06 03:32] #3041 closed

[2021-04-06 04:04] #2937 closed

[2021-04-06 04:05] patrickkettner commented on #2850
closing as the link was removed

[2021-04-06 04:05] #2850 closed

[2021-04-06 10:10] sebastianbenz commented on #3969
Thanks for resurfacing this Patrick! @matthiasrohmer @lluerich would be great if you could take a look if you have spare cycles.

[2021-04-06 10:11] sebastianbenz commented on #4250
@lluerich can you please take a look. All example pages are missing the sidebar.

[2021-04-06 10:14] lluerich commented on #4250
I will look into this.

[2021-04-06 10:19] patrickkettner commented on #5538
dupe of #4250

[2021-04-06 10:19] #5538 closed

[2021-04-06 13:00] sebastianbenz commented on #4810
That'd be cool. Although I think having two versions (OK, NOK) would be sufficient. The absolute scores are less interesting.

[2021-04-06 13:58] sdenaro commented on #5480
@patrickkettner let me see who has bandwidth and then lets assign it to them.

[2021-04-06 14:08] #5632 closed

[2021-04-06 16:43] #4211 closed

[2021-04-06 18:11] sdenaro commented on #5480
@patrickkettner  can you assign this to @Dbrown910

[2021-04-06 18:17] patrickkettner commented on #5480
@sdenaro I can't - I assume they aren't a part of the @ampproject group?

[2021-04-06 20:37] Dbrown910 commented on #5317
Double checked and everything looks good. Opening a pull request.

[2021-04-06 21:20] Dbrown910 commented on #5480
@patrickkettner Nope, I'm not in the group. Let me know what I need to do to join. I'll take care of this in the mean time

@gbhrdt
 I've done a review of the stories URLs you submitted. Here's the feedback, please let me know if there's any confusion.

1. AMP Validation - Almost all of the stories were facing some kind of validation issues. The AMP runtime is very strict about what is allowed. Yo

[2021-04-07 09:40] matthiasrohmer opened #5651 "Migrate to ESM"
Follow-up to https://github.com/ampproject/amp.dev/pull/5650.

p-queue is one of the first packages to deprecate usage via `require` but enforces using packages to migrate to Node.js-native module syntax as per https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c.

At a glance this seems like a daunting task for amp.dev but I fear there will soon be more packages to follow this de

[2021-04-07 10:16] #5598 closed

[2021-04-07 10:18] sebastianbenz commented on #5651
Hm. Let's wait a bit and see what happens. Once critical dependencies make
this step we should migrate as well. Otherwise, I'd prefer to not do this...

[2021-04-07 10:43] matthiasrohmer commented on #5576
Fixed by https://github.com/ampproject/amp.dev/pull/5582/files#diff-19e48d538a4582634506ffdd37f482701f2a9a6b9fdd9376b2d380583134349bR11-R23

[2021-04-07 10:43] #5576 closed

[2021-04-07 13:45] lluerich commented on #4250
@patrickkettner any reason why [this](https://github.com/ampproject/amp.dev/blob/b4b8d78366d0512883f31613ce1631ade37601ab/frontend/templates/views/examples/documentation.j2#L12) has to be outside the ```{% block main %}``` as it is in [this](https://github.com/ampproject/amp.dev/blob/b8db02d3f66f4db44cb5dfc4a1a6ef9d0e44949e/frontend/templates/views/detail/component-detail.j2#L20) file?

[2021-04-07 17:19] patrickkettner commented on #4250
[nope!](https://github.com/ampproject/amp.dev/pull/5653)

[2021-04-07 17:37] patrickkettner commented on #5651
A package like [esm](https://www.npmjs.com/package/esm) would make the transition much easier, if we choose that route

[2021-04-07 17:47] #4879 closed

[2021-04-07 18:47] jaygray0919 opened #5654 "search and autosuggest"
When searching for `position`,  autosuggest returns this term: `amp-position-observer`

but does not return the page link, i.e.

https://amp.dev/documentation/components/amp-position-observer/?format=websites

[2021-04-07 22:40] rsimha opened #5657 "Rename the default branch of this repo from `master` to `main`"
I recognize this is non-trivial given the accompanying infrastructure changes that are needed. For `amphtml`, we've been following [this migration plan](https://docs.google.com/document/d/1BN8CkM3b2nydENRI2X1tE6nCxcaeVliUIaC2e-mXZbg/edit#), which seems to have worked quite nicely so far. See https://github.com/ampproject/amphtml/issues/32195 for more details.

/cc @tobie @kristoferbaxter

[2021-04-07 23:52] westonruter commented on #5519
This may be the same issue or something else, but the inline `amp-script` examples are broken on https://amp.dev/documentation/examples/components/amp-script/?format=websites

This seems a P1 rather than a P2.

[2021-04-08 09:27] sebastianbenz commented on #5657
We've migrated away from master a long time ago. Our current default branch is `future`.

[2021-04-08 09:27] #5657 closed

[2021-04-08 09:30] matthiasrohmer commented on #5657
@sebastianbenz, there's still a `master` branch though that holds the old ampproject.org code. That is probably fine to delete though as there's no matching CI in place anymore and there's `legacy-production` in pair with it.

[2021-04-08 09:35] lluerich commented on #4250
Some background on this issue:
- components/amp-analytics
- components/amp-live-list
- interactivity-dynamic-content/SeatMap
- interactivity-dynamic-content/SeatMap_Multiple_Selection
- news-publishing/Live_Blog (this ticket)

use the ```SampleRenderer```-API and return the rendered template directly. Therefore they are not piped through the AMP-Optimizer via ```growPages```, that is why they have

[2021-04-08 10:36] sebastianbenz commented on #4250
Ah ok. Can we enable AMP Optimizer for them?

[2021-04-08 12:19] sebastianbenz commented on #5657
Good point. Deleted `master`.

[2021-04-08 12:54] lluerich commented on #4250
@matthiasrohmer suggested, that we modify the handler inside the ```SampleRenderer``` and optimise there. It would then also be handy to extract the AMP-Optimizer part from ```growPages``` as a utility to be used both inside the ```SampleRenderer``` and ```growPages```.

[2021-04-08 13:15] sebastianbenz commented on #5519
The whole document is broken. The survey amp-state is injected above the
<html> element. This is fixed in head, but hasn't been pushed to prod yet
(which I'm doing right now).

[2021-04-08 16:57] matthiasrohmer commented on #5654
Indeed... thanks for the report!
![image](https://user-images.githubusercontent.com/12857772/114066697-4aab6a00-989c-11eb-8bd7-f84ddc2e13bf.png)

[2021-04-08 19:45] sebastianbenz opened #5661 "Template zip link is broken"
https://amp.dev/static/files/templates/themes_1.zip => 404

[2021-04-08 21:29] #5661 closed

[2021-04-09 12:32] #4250 closed

[2021-04-09 16:20] jaygray0919 opened #5673 "spelling errors"
The response on this page

https://amp.dev/page-experience/

has spelling errors

As-Is
Unfortunately, this page has a poor page experience, at least in the lab. It is eiher too new, or has not recieved enough traffic to be included in field data. But don't fret, we have some recommendations to help you improve!

To-Be
Unfortunately, this page has a poor page experience, at least in the lab. It is

[2021-04-09 17:18] #5673 closed

[2021-04-09 17:19] patrickkettner commented on #5640
ping @pshihn

[2021-04-09 17:20] patrickkettner commented on #5638
@sebastianbenz I requested edit on the Glitch, assuming you are good with the fix I suggested?

[2021-04-09 17:33] sebastianbenz commented on #5638
I didn't receive a request Patrick. I went ahead it applied your fix.
Thanks for looking into this!

[2021-04-09 17:35] patrickkettner commented on #5638
no worries, I have no idea how glitch requests actually work, I just hit the "request" button.

@fri-mue thanks for the report! closing as this should be solved now

[2021-04-09 17:35] #5638 closed

[2021-04-09 18:15] pshihn commented on #5640
We provide tools for integrating stories into your website, We do hosting as well but that's in beta.
We've been in working with Ryan Warrender at Google who suggested we create this PR. Also been working with Jon Newmuis

[2021-04-09 18:17] pshihn commented on #5640
More: https://c04b.stories.slickstream.com/slickstream/d/webstory/stories-integration-announcement-01-12-2021

[2021-04-10 09:21] jaygray0919 commented on #5654
This issue is actually widespread. Try different patterns. Autosuggest part 1 properly returns a target string. But autosuggest part 2 does not return a link that matches part 1. Part 2 does return links, but most are not relevant to part 1.

[2021-04-10 11:16] acekingsx1 commented on #468
Hello I am having the same issue on https://pclicious.net/download-twitter-for-desktop/. Can you please help me

[2021-04-12 16:56] patrickkettner commented on #5606
added in #5672

[2021-04-12 16:56] #5606 closed

[2021-04-12 17:33] #4466 closed

[2021-04-12 21:15] patrickkettner commented on #5214
ping @lannka

[2021-04-12 21:17] patrickkettner commented on #4822
I fixed it!

[2021-04-12 21:17] #4822 closed

[2021-04-12 21:18] #4698 closed

[2021-04-12 21:19] sebastianbenz commented on #4822
Awesome!

[2021-04-12 21:38] patrickkettner commented on #3980
@CrystalOnScript  is this still valid?

[2021-04-12 21:39] patrickkettner commented on #2796
fixed in #4226

[2021-04-12 21:39] #2796 closed

[2021-04-12 21:40] patrickkettner commented on #3235
나는 그것이 얼마나 오래되었는지 때문에 이것을 닫고 있습니다. 귀하의 공헌에 감사드립니다!

[2021-04-12 21:40] #3235 closed

[2021-04-12 22:02] #4195 closed

[2021-04-13 02:26] patrickkettner commented on #3152
@westonruter how are the fragments imported? Via url? If it is of any value, you can toggle optimization for any URL with a `?optimize=false` flag appended to it. (e.g. https://amp.dev/shared/header/?optimize=false). If it is a processed version of the document itself, I can update the build to be in a non transformed format.

[2021-04-13 02:28] patrickkettner commented on #3023
@sebastianbenz is this still valid? Unless I am misunderstanding, the bento changes earlier this year sorted this?

[2021-04-13 04:02] westonruter commented on #3152
Excellent. That is very helpful. I've updated the logic to import the unoptimized file, discontinued removal of the search elements, and then I've updated the SCSS to import `organisms/search.scss` and `molecules/search-trigger.scss`. See the result here: https://test-amphtml-blog.pantheonsite.io/

If good, I'll deploy live.

[2021-04-13 05:31] manavpeerbits commented on #5480
Hello @Dbrown910
Thanks for your review.

We've followed above mentioned AMP validation guideline and fixed all the FAIL cases but having issue to resolve the WARN cases.

e.g.
runtimeispreloaded : Do we need to preload imported scripts in AMP HTML ?
like below
<link rel="preload" href="style.css" as="style">
<link rel="preload" href="main.js" as="script">

and also how can I check that this WARNI

[2021-04-13 07:09] sebastianbenz commented on #3023
Correct. Thanks for checking in.

[2021-04-13 14:00] #3023 closed

[2021-04-13 15:34] patrickkettner commented on #3244
fixed in #3978

[2021-04-13 15:34] #3244 closed

[2021-04-13 15:34] patrickkettner commented on #3152
looks good to me! @tobie @sebastianbenz y'all good with it?

[2021-04-13 15:38] sebastianbenz commented on #3152
LGTM

[2021-04-13 15:42] westonruter commented on #3152
Deployed. https://blog.amp.dev/?cache-busted

[2021-04-13 15:42] #3152 closed

[2021-04-13 16:15] patrickkettner commented on #4691
added in #5683

[2021-04-13 16:15] #4691 closed

[2021-04-13 16:18] patrickkettner commented on #4810
ferdi created some general sharing images

![image](https://user-images.githubusercontent.com/465414/114586039-3d9eca00-9c52-11eb-9439-b8e1bec5d0e1.png)
![image](https://user-images.githubusercontent.com/465414/114586055-41cae780-9c52-11eb-9d2b-a93834c94d0b.png)

I requested version that are "pass" or "fail" in addition to that, ideally with a score and/or url

[2021-04-13 21:58] patrickkettner commented on #5524
@sebastianbenz @kristoferbaxter  who would be the right person to provide this guidance?

[2021-04-14 01:35] kristoferbaxter commented on #5524
I should be able to help with this during the current week. Will schedule some time.

[2021-04-14 07:34] sebastianbenz commented on #5524
@patrickkettner can you look into this as well. Playing around with amp-access and the different options should give you an idea of the CLS challenges.

[2021-04-14 07:35] #5507 closed

[2021-04-14 14:13] nainar opened #5692 "[Pixi] Pixi should highlight that the CLS metric is evolving"
See https://web.dev/evolving-cls/ for reference

We should show a "Did you know?" section while the results are loading that point to the above link and call out that the way CLS is measured has change.

Copy: `The Chrome Speed Metrics Team has changed the way CLS is measured to be more fair to pages that are open for a long time. See https://web.dev/evolving-cls/ for more details`

[2021-04-14 14:21] sebastianbenz commented on #5692
What are other links we could show while waiting for the result? //cc @patrickkettner

[2021-04-14 14:57] patrickkettner commented on #5692
any idea what you want it to look like? Something like this?

![image](https://user-images.githubusercontent.com/465414/114732059-3938e680-9d10-11eb-83f2-ab218cac27a8.png)

[2021-04-14 15:00] nainar commented on #5692
<img width="1064" alt="Screen Shot 2021-04-14 at 10 59 53 AM" src="https://user-images.githubusercontent.com/7919520/114732515-93d24280-9d10-11eb-89c0-be1643f77a7f.png">
The suggestion was here ^

[2021-04-14 15:01] patrickkettner commented on #5692
ah! missed that part of your comment. Thank you

[2021-04-15 11:42] #3969 closed

[2021-04-15 17:07] #3203 closed

[2021-04-15 17:12] #4749 closed

[2021-04-16 17:59] westonruter opened #5698 "Pixi: Unexpected format for font-display recommendation"
## 🐛 Bug Report

Given this recommendation in Pixi:

1. The heading shows backticks when it should be a `code` tag.
2. In the suggestion for Open Sans, the `$display=swap` is unexpected, as is `&display: optional`. The font is getting loaded via `https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400i%2C700%2C700i%2C300%2C300i&display=swap` so shouldn't it say to just replace `display=swap`

[2021-04-16 18:06] sebastianbenz commented on #5698
Good points! We also should not recommend optional for icon fonts (cc @lluerich).

[2021-04-16 18:09] lluerich commented on #5698
Good catch! Could you attach the tested URL?

[2021-04-16 18:24] westonruter commented on #5698
The tested URL can be seen in a screenshot on https://github.com/ampproject/amp-wp/issues/6073.

[2021-04-16 19:08] nainar opened #5702 "Update AMP Optimizer documentation to include Cloudflare workers"
https://amp.dev/documentation/guides-and-tutorials/optimize-and-measure/amp-optimizer-guide/

^ Update to include Cloudflare workers as well

[2021-04-16 19:13] sebastianbenz commented on #5702
It's already listed under hosting provider integrations, would you like it to be more prominent?

[2021-04-19 07:52] sebastianbenz opened #5708 "Fix event for CVW analytics"
We currently recommend to track CWV on pageview, however, most values won't be available yet when the pageview event is fired. We need to update the sample with the correct approach:

https://amp.dev/documentation/examples/advertising-analytics/tracking_core_web_vitals/?format=websites&optimize=false

[2021-04-20 03:05] Muhammadariesta opened #5711 "1y3TRGwm1STpRizIcFqthquT_4hJ1V_v"
## 🛠️ Request to Add Third-Party Tool/Service/Platform/Vendor

### 1. Resource name
Insert name here

### 2. Relevant format(s)

- [ ] websites
- [ ] stories
- [ ] ads
- [ ] email

### 3. Resource type

- [ ] editor
- [ ] service provider
- [ ] developer tool
- [ ] content platform
- [ ] CMS
- [ ] ads
- [ ] audio/video
- [ ] analytics vendor

### 4. Destination
1. [amp.dev/support/faq/platform-and

[2021-04-20 03:06] Muhammadariesta commented on #5711
UTF-8

[2021-04-20 14:35] alanorozco opened #5717 "amp-next-page example is broken"
We might need to disable executing the snippet inline with the page, since it loads itself infinitely. Or format this document some other way.

https://user-images.githubusercontent.com/254946/115414391-d8475d80-a1aa-11eb-8303-f7602e8f715a.mp4

https://amp.dev/documentation/examples/components/amp-next-page/?format=websites

[2021-04-20 21:35] rocketmaileu opened #5719 "RocketMail AMP platform"
## 🛠️ Request to Add Third-Party Tool/Service/Platform/Vendor

### 1. Resource name
RocketMail

https://www.rocketmail.lu/

### 2. Relevant format(s)

- [ ] websites
- [ ] stories
- [ ] ads
- [ x] email

### 3. Resource type

- [ x] editor
- [ ] service provider
- [ ] developer tool
- [ ] content platform
- [ ] CMS
- [ ] ads
- [ ] audio/video
- [ ] analytics vendor

### 4. Destination
 [amp.dev/do

[2021-04-21 14:05] azmathr opened #5720 "AMP Based instagram like story platform - focused on News Contents"
Hi,
We are developing a story platform, which is solely focused on AMP stories. We are partnering with major news publishers to have their contents in our iOS and web platform, and each stories will be neatly categories into various sections.

Our expectation on developing such platform using AMP is to possibly attract SEO advantage in future. We have created over 2000 in-house news stories, and w

[2021-04-21 20:58] morsssss opened #5722 "404 page doesn't show up"
Type into your browser a bogus URL like `https://amp.dev/idonotexist`.

You'd expect to get a 404 page. Instead, the server response just hangs, then throws a 502.

![image](https://user-images.githubusercontent.com/29419498/115620077-b8a35880-a2c2-11eb-9ac4-3db004375f0d.png)

[2021-04-21 21:00] morsssss commented on #5722
Additional note: I don't have this problem from the command line.

[code]

[2021-04-22 03:18] patrickkettner commented on #5720
Hi @azmathr!

The AMP project is separate from Google, but we can review the service to be listed on the official amp.dev site if that is of use?

[2021-04-22 08:25] #5722 closed

[2021-04-22 12:07] matthiasq opened #5724 "Broken link to amp-pets-story.zip"
The link to https://github.com/ampproject/docs/raw/master/tutorial_source/amp-pets-story.zip on https://amp.dev/documentation/guides-and-tutorials/start/visual_story/setting_up/?format=stories seems broken.

[2021-04-22 13:23] processprocess commented on #5724
cc @ampproject/wg-stories

[2021-04-22 13:28] Enriqe commented on #5724
Hey @sebastianbenz @CrystalOnScript, we recently changed the branch name on the `amphtml` repo to `main`, and [rewrote all URLs](https://github.com/ampproject/amphtml/pull/33570) to reflect the change. For amp.dev, I think all the related docs pulled automatically from GH should be updated, but there might be some that still need to be updated on the amp.dev repo. Could you please take a look?

[2021-04-22 14:04] #5724 closed

[2021-04-22 16:03] lluerich commented on #5698
@sebastianbenz regarding the recommendation for the icon font: should we check for icon font usage at this point? I feel like those are two different pairs of shoes. Regarding the recommendation that the font should use ```display: optional``` is correct if only checking the ```font-display``` settings, isn't it?

[2021-04-22 16:09] processprocess commented on #5724
@matthiasq A fix for this has been merged and the changes will be reflected within the next week. Thanks again for filing this!

[2021-04-22 16:13] sebastianbenz commented on #5698
@leo We need to make sure to ignore icon fonts when recommending font-display optional.

[2021-04-22 16:26] sebastianbenz commented on #5724
Fix is already live :-)

[2021-04-22 17:23] sebastianbenz commented on #5724
Yup, amp.dev pulls in docs based on amp releases. The master / main change hasn't made it into the released version of the story docs yet. Added an exception here: https://github.com/ampproject/amp.dev/pull/5728

[2021-04-22 18:06] Dbrown910 commented on #5405
Hey @roeyharari1

I just reviewed the links. Content and quality wise they look great, but these don't comply with the AMP format. In order to proceed the first thing we need are AMP valid Web Stories. Here is [the documentation](https://amp.dev/documentation/guides-and-tutorials/start/visual_story/?format=stories) to help you get started.

[2021-04-22 19:14] estherkim opened #5730 "Redirect status.ampproject.org to status.amp.dev"
Hello, can `status.ampproject.org` be redirected to `status.amp.dev`? The plan is to archive https://github.com/ampproject/amp-status . Thanks!

[2021-04-23 00:46] patrickkettner opened #5731 "changes to dependencies should trigger a full project build/test"
currently they do nothing, which is a bummer

[2021-04-23 01:16] patrickkettner opened #5732 "legacy site not deployable"
The build for ampproject.org was fixed, but travis no longer has the ability to upload the resulting build files

It is failing with

It is trying to upload to `gs://ampproject-b5f4c.appspot.com`, which is not a storage bucket that exists on the current site's Cloud admin. `ampproject.org` is on firebase, so I am not sure if it is a bucket associated with that account?

[2021-04-23 01:16] patrickkettner commented on #5730
blocked on #5732

[2021-04-23 01:17] patrickkettner commented on #5702
ping @nainar

[2021-04-23 07:53] sebastianbenz commented on #5732
Have you tried manually building and uploading?

[2021-04-23 13:09] patrickkettner commented on #5732
Yes. Apologies for not being clear, but the issue is I do not understand
where to upload it to. It appears to be a Firebase data store that I don’t
seem to have access to.

On Fri, Apr 23, 2021 at 3:53 AM Sebastian Benz ***@***.***>
wrote:

--
patrick

[2021-04-23 13:12] sebastianbenz commented on #5732
Sorry, you should have access now!

[2021-04-23 13:13] patrickkettner commented on #5732
Thanks!

On Fri, Apr 23, 2021 at 9:13 AM Sebastian Benz ***@***.***>
wrote:

--
patrick

[2021-04-23 14:04] #5698 closed

[2021-04-23 14:51] jaygray0919 commented on #5654
looks like this has been fixed (i missed where the fix was applied, but it seems to have worked)

[2021-04-23 14:51] #5654 closed

[2021-04-23 14:59] #5398 closed

[2021-04-23 16:32] Francisco-AM opened #5736 "interactivity-dynamic-content/ComboBox.html , problem and solution"
In the amp example no data is sent

![image](https://user-images.githubusercontent.com/69035383/115901066-0229aa00-a461-11eb-837d-b0316da6d861.png)

In this second case it makes an empty request, because an on = "... sumit" is not made

In this third photo you can see how the data is sent through the form What is missing?

![image](https://user-images.githubusercontent.com/69035383/115901462-84b26

[2021-04-23 16:50] gilbertococchi commented on #5524
This page https://www.bbc.com/urdu.amp seems to be using amp-access in the viewport perhaps to handle consent or something and this cause a CLS over threshold alone.

[2021-04-23 18:15] kristoferbaxter commented on #5524
Pinging @ampproject/wg-performance on this thread too, we should take a look at `amp-access` and see if we can:
1. Improve the default behaviour
2. Provide better guidance around usage
3. Prohibit usage that would break CWV metrics
4. Make it more clear to document developers when usage will likely cause poor metrics results.

[2021-04-23 18:30] sebastianbenz commented on #5524
Looking at  https://www.bbc.com/urdu.amp it seems like ads are hidden by default, but will be shown for "normal users" causing the CLS. This is a typical example for where it is impossible to avoid CLS for all your users when using amp-access.

Publishers in this case have a few options:

- optimize the default for the majority of their users
- avoid showing/hiding content in the first viewport (a

[2021-04-23 19:29] Dbrown910 commented on #5480
Hi @manavpeerbits

These particular warnings are just for best practices. I'd recommend preloading the runtime, and optimizing the images as these can help the content load faster. In general though, what you see in the #development=1 console is sufficient enough to pass, so I won't include the warnings in the future reviews.

I am still seeing issues with the poster and logo images though. Have t

[2021-04-25 14:39] gbhrdt commented on #5480
Hi @Dbrown910 - all FAIL errors should be fixed now! Thanks for checking again 👍

[2021-04-26 12:44] gilbertococchi commented on #5524
Good point.

It would be great to at least warn about the potential issues while using these components in the first viewport potentially causing CLS issues.

I am not sure about the approach to avoid showing content using these components in the viewport because I've seen amp-access/amp-suscription being used to detect login state to be updated in the header without causing any Layout Shift or mi

[2021-04-27 13:28] matthiasrohmer opened #5742 "amp-bind-recaptcha example breaks after code snippet"
https://amp.dev/documentation/examples/components/amp-bind-recaptcha/?format=websites

![image](https://user-images.githubusercontent.com/12857772/116249441-1fb28880-a76d-11eb-8ffb-9de390ba7046.png)

[2021-04-27 15:25] #5720 closed

[2021-04-27 15:27] nainar commented on #5702
Ignore me - I didn't see it when I searched Cloudflare when I created that issue.

[2021-04-27 15:27] #5702 closed

[2021-04-27 16:06] #5742 closed

[2021-04-27 20:18] patrickkettner commented on #1789
this is fixed

[2021-04-27 20:18] #1789 closed

[2021-04-27 20:26] sebastianbenz commented on #1789
Thanks for fixing Patrick!

[2021-04-27 20:38] patrickkettner commented on #5730
@estherkim that is sorted, so proceeding...

status.ampproject.org is setup to point to status.ampproject.org.cdn.cloudflare.net via CNAME inside of g3. This is working, in the sense that it is pointing to the github page that the cloudflare instance is pointing to, but as im sure you know, it has to be hosted on the same domain. Since cloudflare is already being used, the redirect makes sense to

[2021-04-28 10:32] Vint7r commented on #5103
@sdenaro Hi! We have globally updated the constructor, now our stories must meet all the requirements. Sorry for the delay, we have done a lot of work.

Updated storie- https://apiwidget.webstoryz.com/2.0/widget-story/get-content?storyId=c6be3604-d4e1-46ad-be34-4f2f45f23cc8

[2021-04-28 15:57] #5732 closed

[2021-04-28 16:29] patrickkettner commented on #5640
@sdenaro did you need any other information from @pshihn?

[2021-04-29 15:09] sdenaro commented on #5235
@Zmooz

Thanks, I will check on availability and give you an ETA to revaluate

[2021-04-29 15:09] sdenaro commented on #5103
@Vint7r

Thanks, I will check on availability and have the stories reviewed again.

[2021-04-29 15:33] sdenaro commented on #5640
@patrickkettner thanks for pinging me. I will double check with the product and partnership teams to see who should take this.

[2021-04-29 16:44] sebastianbenz opened #5752 "Build fails because of pip exception"
[code]

Probably related to https://github.com/pypa/pip/issues/9880

[2021-04-30 09:52] matthiasrohmer opened #5761 "Inspect component imports issued by [example] tags"
Surfaced with https://github.com/ampproject/amphtml/pull/34110/. Interestingly almost all examples in the component docs explicitly define their imports, like for amp-twitter: `[example preview="inline" playground="true" imports="amp-twitter" imports="amp-twitter"]` amp-accordion didn't until #34110 but actually the required dependency should have get injected automatically.

A lot of the bento ex

[2021-04-30 15:50] estherkim commented on #5730
@danielrozenberg do you know how to turn down the GitHub Page?

[2021-05-03 13:46] patrickkettner commented on #5736
thanks @Francisco-AM! Would you want to create pull request to fix this?

[2021-05-03 13:46] patrickkettner commented on #5731
@matthiasrohmer any thoughts on this?

[2021-05-03 13:50] patrickkettner commented on #5730
@danielrozenberg If you are turning off the cloudflare hosting of those domains, where is the logic for the redirects going to live?

[2021-05-03 14:19] Francisco-AM commented on #5736
I already solved the problem, the correct code would be

<!doctype html>
<html ⚡ lang="en">
<head>
<title>ComboBox</title>
<meta charset="utf-8">
<link rel="canonical" href="https://amp.dev/documentation/examples/interactivity-dynamic-content/combobox/index.html">
<meta name="viewport" content="width=device-width">
<script async src="https://cdn.ampproject.org/v0.js"></script>

<script async custo

[2021-05-03 14:28] patrickkettner commented on #5736
Yes - I a asking if you want to submit a pull request with the code changes.

On Mon, May 3, 2021 at 10:19 AM Francisco-AM ***@***.***>
wrote:

--
patrick

[2021-05-03 14:36] Francisco-AM commented on #5736
Sure, but in my code there is no button and I think that in the example two buttons are configured, one for starting and the other for closing, which do not update the form

[2021-05-03 14:37] patrickkettner commented on #5736
The code is [available here](https://github.com/ampproject/amp.dev/blob/future/examples/source/interactivity-dynamic-content/ComboBox.html) if you want to give it a go

[2021-05-03 15:00] Francisco-AM commented on #5736
I already made the pull request, thanks for your patience, it is my first pul request, I hope to contribute much more to amp because it is a very large project.

[2021-05-03 15:09] patrickkettner commented on #5736
@Francisco-AM where is the PR? I do not see it - looking forward to your contributions!

[2021-05-03 15:18] Francisco-AM commented on #5736
Now the pull is ready, before it was not sent, thankfully there were few changes

[2021-05-03 18:08] #5717 closed

[2021-05-04 12:19] Zmooz commented on #5235
thanks @sdenaro
Looking forward your feed backs

[2021-05-04 17:31] #5761 closed

[2021-05-04 18:46] sebastianbenz opened #5774 "Image requests time our with a 502 if thumbor is unavailable"
Actual behavior: In the case of thumbor being unavailable, image requests take extremely long until they time out with a 502.
Expected behavior: the correct image is returned even if thumbor is not available.

[2021-05-04 19:16] CrystalOnScript opened #5775 "Playground suggesting invalid layout"
## 🐛 Bug Report

### Current behavior
Playground is suggesting `fixed_height` instead of `fixed-hight` which is an invalid layout attribute value - same with `flex_item/flex-item`

<img width="959" alt="Screen Shot 2021-05-04 at 12 13 37 PM" src="https://user-images.githubusercontent.com/23297417/117057666-96520780-acd2-11eb-989c-8c8a036b5aea.png">

[2021-05-04 20:38] #5774 closed

[2021-05-04 21:42] sebastianbenz opened #5777 "Thumbor requests fail"
Haven't had time yet to investigate. The instance id is correct though.

[code]

[2021-05-04 21:45] matthiasrohmer commented on #5777
Insert inappropriate language here... I'll have a look tomorrow.

[2021-05-05 13:37] sebastianbenz commented on #5777
As part of this we should also make `/static/remote/?url=...` fallback gracefully to the actual image.

[2021-05-05 20:17] danielrozenberg commented on #5730
In the DNS zone file, managed internally at Google. I made the change earlier today, but since it's non-urgent it would take a day or two to take effect

[2021-05-05 20:23] patrickkettner commented on #5730
how are you doing a redirect via DNS? A CNAME wouldn't work, since the
hosting provider is doing domain validation, no?

On Wed, May 5, 2021 at 4:17 PM Daniel Rozenberg ***@***.***>
wrote:

--
patrick

[2021-05-05 20:45] danielrozenberg commented on #5730
Oh that's a valid point! We might get lucky and statuspage.io would do the redirect for us to match with its domain-on-record, but if not we can CNAME it to something like status-redirect.amp.dev and have the amp.dev server perform a 301

[2021-05-05 21:07] patrickkettner commented on #5730
okey doke - the previous setup with cloudflare would also work, if that
ends up being a problem. The page rules
<https://support.cloudflare.com/hc/en-us/articles/200172286-Configuring-URL-forwarding-or-redirects-with-Cloudflare-Page-Rules>
bit
I mentioned allows for this usecase. Let me know if anything needs to
happen on amp.dev itself

[2021-05-05 22:00] matthiasrohmer opened #5782 "Renovate dependency update PRs fail since GitHub Action migration"
@matthiasrohmer any idea why we keep getting `EBADPLATFORM` errors from @renovate-bot since moving to actions?

_Originally posted by @patrickkettner in https://github.com/ampproject/amp.dev/issues/5781#issuecomment-833056389_

[2021-05-06 19:01] estherkim commented on #5730
So we're getting a `dns_probe_finished_nxdomain` error now - might have to do a redirect.

[2021-05-06 20:24] patrickkettner commented on #5730
We can make it work, yeah, but I don’t believe our cert is a wildcard, so
we will need to get that in place.

On Thu, May 6, 2021 at 4:17 PM Daniel Rozenberg ***@***.***>
wrote:

--
patrick

[2021-05-07 04:41] himanshu007-creator opened #5786 "PAGE NOT FOUND"
## 🐛 Bug Report

### Current behavior
when a user go through the <code>Create your first AMP page</code> module, there is a broken link in final step.

Please also provide:
- Page link: https://amp.dev/documentation/guides-and-tutorials/start/create/publish/?format=websites
- (Optional) Screenshots/videos:
![2021-05-07](https://user-images.githubusercontent.com/65963997/117398542-30f15700-af1c-11e

[2021-05-07 04:45] himanshu007-creator opened #5787 "Small description for TABLE OF CONTENTS"
## 🚀 Feature Request

### Problem
In tutorials, there is a side section named table of contents. It contains 2 options, <code>You'll learn to</code> and <code>You'll build</code>. Clicking on them opens a separate page with detailed description.

### Solution
There should be a short description about the options in section as well . For each tutorial, section itself should describe in 2 lines each

[2021-05-07 11:49] sebastianbenz commented on #5786
This should be fixed with #5756

[2021-05-07 11:49] #5786 closed

[2021-05-07 21:10] jaygray0919 opened #5801 "small error"
For:
https://amp.dev/documentation/examples/components/amp-accordion/#content-head-{

See `Table of contents` at end; remove `content-head {`

[2021-05-10 07:42] leonardobravi opened #5806 "Error: amp-carousel is already registered"
When I use amp-carousel-0.2 together with amp-lightbox-gallery, when opening the lightbox this message appears in the console:

`Uncaught (in promise) Error: amp-carousel is already registered. The script tag for amp-carousel is likely included twice in the page.​​​`

Using the amp-carousel-0.1 version instead everything works correctly.

Tested with Chrome 90.0.4430.93 (64 bit) on Windows.

[2021-05-10 07:45] leonardobravi commented on #5806
P.S.
it seems to me that last week it worked fine with the version `amp-carousel-0.2` too, but I'm not 100% sure.

[2021-05-10 11:48] #5775 closed

[2021-05-11 10:14] matthiasrohmer commented on #5782
I added `fs-events` to the `optionalDependencies` key inside the package.json. Let's see if this helps.

[2021-05-11 12:34] Zmooz commented on #5235
Hi @sdenaro @patrickkettner I hop you are doing well :)

We have reviewed everything and have made sure , everything is fixed.
Except the book end warning, but the bookend warning is present on all the stories from the other tools that were validated by Google.

We would be thankful to have your feedback.
Thanks

[2021-05-12 07:53] sebastianbenz opened #5821 "Migrate spec import to new location docs/spec"
Once https://github.com/ampproject/amphtml/pull/34160 has landed. We probably should import all docs from master to avoid syncing the change with the next amp release.

[2021-05-12 14:10] AndrewKGuan opened #5823 "CLS collected from AMP via Google Analytics (Universal Analytics) missing data"
When collecting CWVs on AMP following [this example](https://github.com/ampproject/amp.dev/blob/future/examples/source/advertising-analytics/Tracking_Core_Web_Vitals.html), some floating points seem to be incompatible with either/both Universal Analytics (GA) or/and BigQuery.  CLS seems to be the most affected metric due to the nature of the values reported by the underlying web_vitals.js.  The ma

[2021-05-12 14:11] patrickkettner commented on #5823
thanks for the fix, @micajuine-ho! I moved the issue over to the site so we can track the docs being updated

[2021-05-12 14:14] patrickkettner commented on #5821
@sebastianbenz just to be sure -  by `master` do you mean `main`?

[2021-05-12 15:15] AndrewKGuan commented on #5823
Thanks Micajuine!

[2021-05-12 17:16] sebastianbenz opened #5825 "Inline example refresh button results in 500"
Steps to reproduce:

1. Goto https://amp.dev/documentation/components/amp-accordion-v1.0/?format=websites
2. Scroll to the first inline example
3. Click on the refresh button
=> the iframe shows the amp.dev error page

[2021-05-12 17:18] sebastianbenz commented on #5825
The original URL works: https://preview.amp.dev/documentation/components/amp-accordion-v1.0.example.1.html#amp=1
...but the update URL doesn't: https://preview.amp.dev/documentation/components/amp-accordion-v1.0.example.1.html?0.26190264056223844

[2021-05-12 17:33] sebastianbenz opened #5826 "Errors during `gulp develop`"
Noticed the following error when running `gulp develop`:

[code]

[2021-05-12 17:49] sebastianbenz commented on #5821
Yes, but the parameter is still named master in our code. BTW, we're already defaulting to main for the spec import, so we should be fine: https://github.com/ampproject/amp.dev/blob/future/platform/lib/pipeline/specImporter.js#L51

[2021-05-12 18:02] #5825 closed

[2021-05-12 18:25] #5826 closed

[2021-05-12 18:30] sebastianbenz opened #5830 "Bento components are listed as latest component"
For example: https://amp.dev/documentation/components/amp-timeago/?format=websites

The problem is that validation rules now include the bento version as the latest version even though they're experimental. As a side effect, the link from the non-bento version to the bento version is also broken as it assumes a versioned doc URL.

[2021-05-12 21:33] sebastianbenz commented on #5777
This problem also affects amppackager. Both, amppackager and thumbor, instances currently cannot be reached even though instanceids are correct ([logs](https://console.cloud.google.com/logs/viewer?project=amp-dev-230314&rif_reserved&minLogLe[%E2%80%A6]%3A23.031073264Z%22%0AinsertId%3D%22pnecxhqub5322thip%22).

//cc FYI @patrickkettner

[2021-05-13 16:32] calebcordry opened #5842 "Clicking any link in the sidebar removes filter"
## 🐛 Bug Report

### Current behavior
If you have filtered amp.dev to e.g. `stories` clicking any links in the sidebar will take you back to `website` mode.

Please also provide:
- Page link: https://amp.dev/documentation/examples/advertising-analytics/publisher_served_amp_story_ads/
- (Optional) Screenshots/videos:
![image](https://user-images.githubusercontent.com/16087874/118156199-efeebc00-b3c

[2021-05-13 16:32] calebcordry commented on #5842
cc/ @raovs

[2021-05-13 17:14] patrickkettner commented on #5842
Thanks!

[2021-05-13 18:44] patrickkettner commented on #5777
I shelled into the docker containers for the site to watch for logs, and they were both getting an ENOTFOUND error for the both thumbor and packager. I jumped over to each of the containers, and got their hostname with

[code]

that was slightly different from what we had in the `production.json` file. Specifically, it included the `zone` information (i.e. `us-east1-b`). I [updated the information

[2021-05-13 18:49] patrickkettner commented on #5777
fixed by #5844

[2021-05-13 18:49] #5777 closed

[2021-05-14 15:22] Vint7r commented on #5103
@sdenaro
Hi, when approximately can you check the story?

[2021-05-14 20:04] joblog commented on #5806
Also seeing exactly this problem

[2021-05-17 08:59] bluesake opened #5850 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-05-17 09:04] bluesake opened #5851 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-05-17 09:04] #5850 closed

[2021-05-17 09:04] #5851 closed

[2021-05-17 11:01] sebastianbenz opened #5854 "New homepage / about page nits"
- [ ] News carousel shows no more content, but arrow doesn't hide. BTW, why can't we show more entries here?
- [ ] Same as above but for success stories carousel
- [x] Little margin between animation sample and next heading

<img width="1150" alt="Screenshot 2021-05-17 at 12 36 08" src="https://user-images.githubusercontent.com/380472/118478226-ea67dd80-b70f-11eb-8112-6d4f33c5827c.png">

- [x] Rem

[2021-05-17 12:00] sebastianbenz commented on #5854
Added another one

[2021-05-17 12:07] matthiasrohmer commented on #5842
This one is tricky. I tried to fix that specific case for the examples with #5855. But what happens is that you are visiting the page without a `format` query arg. The server doesn't know what format the pages default to and assumes `websites` which of course breaks for the `story` formats.

[2021-05-17 12:13] #5842 closed

[2021-05-17 14:17] lluerich commented on #5854
As for the carousel arrows, since they are custom, I don't think there is a way of disabling/hiding them once the end of the carousel is reached, is there?

[2021-05-17 14:24] patrickkettner opened #5858 "amp-form examples page missing in production?"
For me, `http://localhost:8080/documentation/examples/components/amp-form` is loading fine, but `https://amp.dev/documentation/examples/components/amp-form` is 404ing - I am not immediately sure why that would be

[2021-05-17 14:40] sebastianbenz opened #5859 ""Animate & Transition" section broken for stories"
Steps to reproduce:

1. Open https://amp.dev/documentation/guides-and-tutorials/develop/story_ads_best_practices/?format=stories
2. Click on "Animate & Transition"

Expected: list of animation guides
Actual: empty accordion content appears

[2021-05-17 14:41] sebastianbenz opened #5860 ""Actions & Events" Guide shown for stories"
...not sure if that applies to stories.

[2021-05-17 15:01] sebastianbenz commented on #5854
Is this possible via amp-bind? We know how many elements there are in the list and what the current index is.

[2021-05-17 15:17] lluerich commented on #5854
Oh yeah, that would be a way of doing it. I was trying to solve it with ```amp-base-carousel``` functions. I will look into that.

[2021-05-17 16:16] sdenaro commented on #5235
I will have time this week, thanks

[2021-05-17 16:16] sdenaro commented on #5103
I have time this week, thanks

[2021-05-17 16:45] patrickkettner commented on #5858
fixed after prod push!

[2021-05-17 16:45] #5858 closed

[2021-05-17 17:07] sdenaro commented on #5235
Looks good, not issue with the stories, I will branch and stage to have this added to amp.dev. Will update with the PR by EOD

[2021-05-17 19:37] kamblenavnath opened #5862 "Throws an AMP-error saying that: "The specified layout 'FIXED_HEIGHT' is not supported by tag 'amp-audio'.""
While using 'amp-audio' in 'amp-story' page with layout 'fixed-height', it throws an AMP-Error.

- Page link: [Sample Story](https://vs-subdomain-appsites.azurewebsites.net/100.visualstories.com/test-audio-card-2130)
- Screenshot:
![Amp_Error_For_AmpAudio](https://user-images.githubusercontent.com/24918880/118545510-53813c80-b774-11eb-845d-5e493e605d51.PNG)

The document [here](https://amp.dev/doc

[2021-05-17 19:48] sebastianbenz commented on #5862
Thanks for flagging! The problem is that available layouts depend on the format. We should make sure to read this correctly from the validation rules.

[2021-05-17 19:48] sdenaro commented on #5103
There is an issue with the publisher logo, but the canonical link is correct.

storymetadatathumbnailsareok (FAIL)

  [publisher-logo-src = {"url":"https://cdn.webstoryz.com/webstoryz/logo-small.svg","width":31,"height":33,"mime":"image/svg+xml"}] failed [isRaster, isSquare, isAtLeast96x96]

Unfortunately, none of the older stories got this fix after I changed the URL from /1.0/ to /2.0/

Can you

[2021-05-18 06:46] kamblenavnath commented on #5862
@sebastianbenz  As per [AMP Documentation](https://amp.dev/documentation/components/amp-audio/?format=stories) and [Validation Rule](https://github.com/ampproject/amphtml/blob/main/extensions/amp-audio/validator-amp-audio.protoascii)
'fixed-height' is supported layout for 'amp-audio' in 'amp-story' format.
Please suggest if changes needed from our side.

[2021-05-18 08:03] umud014 opened #5868 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-05-18 09:16] Zmooz commented on #5235
Hi Thanks @sdenaro

[2021-05-18 09:32] matthiasrohmer commented on #5859
I hid the empty category with https://github.com/ampproject/amp.dev/commit/cd08881ac91c752b763bbd4508a4833857d935d9. As soon as the guides have been validated and made available for stories we can show it again. They are currently only available for `ads` and `websites`.

[2021-05-18 09:39] #5868 closed

[2021-05-18 15:35] danielrozenberg commented on #5730
This is finally fixed! (in case status.ampproject.org doesn't perform the redirection for you, it's probably because the GFE rollout isn't 100% complete - it should be finished by the end of this week)

[2021-05-18 15:35] #5730 closed

[2021-05-18 16:08] Vint7r commented on #5103
@sdenaro Ok, we will fix the logo and update previous stories
Thanks!

[2021-05-19 09:32] sebastianbenz opened #5873 "Don"
## 🐛 Bug Report

### Current behavior
A clear and concise description of the bug you found in amp.dev.

Please also provide:
- Page link: <insert the URL link to the amp.dev page(s) that you found the issue on>
- (Optional) Screenshots/videos:

### Expected behavior/code
A clear and concise description of what you expected to happen.

### Reproduction procedure
Please provide the steps to reproduc

[2021-05-19 19:20] jaygray0919 opened #5878 "nice new home page!"
Menus are **much** better. The older images had little value. Carousel is nice. What happened to the four selectors?

[2021-05-19 22:01] #5878 closed

[2021-05-20 19:55] sebastianbenz opened #5887 "Script hash generation broken in playground"
`Uncaught ReferenceError: Buffer is not defined` in

[code]

See https://github.com/ampproject/amphtml/issues/34469

[2021-05-20 23:43] #5887 closed

[2021-05-21 14:35] sebastianbenz opened #5894 "Playground: snackbar style broken"
See screenshot

<img width="630" alt="Screenshot 2021-05-21 at 16 34 50" src="https://user-images.githubusercontent.com/380472/119154525-88caaa80-ba52-11eb-9c88-c1f69bc5a35b.png">

[2021-05-22 00:03] westonruter opened #5896 "amp-stream-gallery v0.1 appears on amp.dev but it is invalid"
## 🐛 Bug Report

### Current behavior

For `amp-stream-gallery`, two versions are offered: 0.1 and 1.0. However, only [1.0 appears](https://github.com/ampproject/amphtml/blob/e3abe630d3e0bcce78115e0b51d5da776e427904/extensions/amp-stream-gallery/validator-amp-stream-gallery.protoascii#L22-L23) in the validator spec.

See https://amp.dev/documentation/components/amp-stream-gallery-v0.1/?format=webs

[2021-05-24 13:41] Zmooz commented on #5235
@sdenaro @patrickkettner , I hope you are well !
 Quick question, are we also going to appear here :
https://stories.google/tools/

Best,

[2021-05-24 17:56] Dbrown910 commented on #5405
Hi @roeyharari1

Just wanted to touch base? Any update on this?

[2021-05-24 18:40] roeyharari1 commented on #5405
Hi Damani,
Sorry for the radio silence on my end.

I'm checking with my dev team what is the effort to comply with the AMP
format and get back to you.

I wondered if you had some time this week to meet with my VP R&D to chat
about the compliance and the work needs to be done on our end so we can
estimate it more accurately.

Best,

On Mon, May 24, 2021 at 1:56 PM Damani ***@***.***> wrote:

[2021-05-24 18:46] Dbrown910 commented on #5480
Hi @gbhrdt. Sorry for the delay. Everything looks good except on the last story, the poster square is still too small.
(928x928 min). I'm working on a PR for the tool listing so as soon as this gets cleared I can open it.

###################################################
https://www.rtl.de/cms/stories/das-grosse-interview-mit-harry-und-meghan/
###################################################

[2021-05-24 18:51] gbhrdt commented on #5480
Hi @Dbrown910 no problem - the poster square image for the mentioned story should be correct now.

[2021-05-25 08:06] lluerich commented on #5854
So far, I couldn't find a proper way to achieve this. Problem is that ```slideChange``` is a low trust action and thus it cannot update AMP state with the current index.

[2021-05-25 16:47] westonruter opened #5901 "Bento docs for `amp-date-display` links to missing stylesheet"
## 🐛 Bug Report

### Current behavior

On the [docs for `amp-date-display` v1.0](https://amp.dev/documentation/components/amp-date-display/?format=websites), the Bento option shows this HTML to copy:

[code]

Problem: https://cdn.ampproject.org/v0/amp-date-display-1.0.css is a 404.

This is not a problem for [`amp-base-carousel` v1.0](https://amp.dev/documentation/components/amp-base-carousel/) wh

[2021-05-25 17:36] Dbrown910 commented on #5480
@gbhrdt PR is up

[2021-05-25 18:04] #5480 closed

[2021-05-26 01:51] sdenaro commented on #5235
Let me double check the PR.

[2021-05-26 01:53] sdenaro commented on #5235
Looks like a merge conflict, let me fix this tomorrow and update you.

[2021-05-26 09:38] Vint7r commented on #5103
@sdenaro Hi! Here are updated stories:

1. https://apiwidget.webstoryz.com/2.0/widget-story/get-content?storyId=a4e0a7dc-8dd7-46c9-a6e1-bbbbcb8cbb3d
2. https://apiwidget.webstoryz.com/2.0/widget-story/get-content?storyId=b1af861d-b455-443e-9152-c69017f2b558
3. https://apiwidget.webstoryz.com/2.0/widget-story/get-content?storyId=eab15028-b3cb-4469-aa71-a89b58dfb54c
4. https://apiwidget.webstoryz.co

[2021-05-26 18:22] roeyharari1 commented on #5405
Hi Damani,
following up on my last email,
My tech team would like to start working on it but we need to better
understand what is the MVP needed here.

I'll appreciate your feedback and if we can set up a kick off meeting so
you can elaborate more about the complies requierments

Best,

On Mon, May 24, 2021 at 2:40 PM Roey Harari ***@***.***> wrote:

[2021-05-27 11:40] rocketmaileu commented on #5719
Do you think this open issue is going to be taken care of ??? i don't have any feedback

[2021-05-27 15:11] sdenaro commented on #5103
@Vint7r ,

If you can fix this issue in the CDN I can get this approved.  The image should be at least 96*96 and square.

Thanks

  [publisher-logo-src = {"url":"https://cdn.webstoryz.com/webstoryz/logo-small.png","width":31,"height":33,"mime":"image/png"}] failed [isSquare, isAtLeast96x96]

[2021-05-31 08:31] matthiasrohmer opened #5912 "Update highlight.js to 11.0.0"
See https://github.com/ampproject/amp.dev/pull/5910.

`highlight(languageName, code, ignoreIllegals, continuation)` signature deprecated. Use `highlight(code, {language, ignoreIllegals})`.

Used in:
- boilerplate/lib/templates.js
- platform/lib/samples/CodeSection.js

[2021-05-31 12:03] matthiasrohmer commented on #5235
Zmooz will be listed on amp.dev by at least tomorrow with https://github.com/ampproject/amp.dev/pull/5906.

[2021-05-31 12:03] #5235 closed

[2021-05-31 12:56] #5912 closed

[2021-05-31 14:04] #5830 closed

[2021-05-31 18:07] Vint7r commented on #5103
@sdenaro
Hi! We fixed it, thanks for feedback

[2021-05-31 20:34] matthiasrohmer opened #5925 "Delete setup.tar.gz after unpacking it in build stage"
Build pages actually only weigh 6.2MB, but the artifact also again packs the initial setup.tar.gz which make each language weigh ~43MB.

[2021-06-01 13:11] #5925 closed

[2021-06-03 02:22] lioncorpo opened #5937 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-06-03 02:23] lioncorpo opened #5938 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-06-03 02:23] lioncorpo opened #5939 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-06-03 10:30] #5937 closed

[2021-06-03 12:54] #5938 closed

[2021-06-03 14:52] Dbrown910 commented on #5405
Hi @roeyharari1 ,

What's your email? I'll set up some time for us to connect!

[2021-06-03 16:55] roeyharari1 commented on #5405
***@***.***

Tnx,
Roey

[2021-06-03 20:04] Dbrown910 commented on #5405
@roeyharari1
Oh whoops. Github actually masked your email address. Can you try again in a comment? Or you can just reach out to me, damanibrown @ google

[2021-06-03 23:22] roeyharari1 commented on #5405
just sent you an email, any case this is mine
roey.harari @ apester.  com

[2021-06-04 12:52] lluerich commented on #5854
Still no way to hide next/prev arrow. We are using controls that are outside of the ```amp-base-carousel``` component so that's why the regular mechanism does not seem to work. I don't think this is a bug in the ```amp-base-carousel```.
On the other hand I could not find a way to position the arrows outside of the carousel using the standard ones as the container has ```position: relative;``` and

[2021-06-05 03:05] sdenaro commented on #5235
@matthiasrohmer Does't look like zmooz was added. Was there an issue?

[2021-06-05 03:06] sdenaro commented on #5235
@Zmooz I will check on https://stories.google/tools/ next week

[2021-06-06 20:39] matthiasrohmer commented on #5235
Thanks for the ping, @sdenaro. We are actually facing deployment issues with amp.dev - as soon as they are resolved, Zmooz will appear on amp.dev. I'll work on this tomorrow (Monday).

[2021-06-07 08:05] Vint7r commented on #5103
@sdenaro Hello! Can you please check the image update?

[2021-06-07 12:57] #5939 closed

[2021-06-07 21:22] mszylkowski opened #5966 "Stories in Playground trigger the Story DevTools instead of showing the story"
## 🐛 Bug Report

### Current behavior
When opening a story in the Playground the preview shows the Web Stories Dev-Tools instead of the actual story.
The Web Stories Dev-Tools are triggered when `development=1` is added to a story, which I expect is what is used when the Playground is opened.

- Page link: Click "Open In Playground" on [examples/components/amp-story-interactive-poll](https://amp.d

[2021-06-10 01:54] lioncorpo commented on #5939
Go.

[2021-06-10 01:54] lioncorpo commented on #5939
Fyi

[2021-06-10 09:55] #5966 closed

[2021-06-10 11:27] Vint7r commented on #5103
@sdenaro Hi! Can you approve our service please?

[2021-06-10 17:05] Zmooz commented on #5235
Hello,
Did you manage to fix the deployment issues? We look forward to appearing in the list of tools :)

[2021-06-10 17:34] sdenaro commented on #5103
@Vint7r  I will getting a PR together today, it should be merged by early next week, thanks

[2021-06-10 21:43] sdenaro commented on #5103
@matthiasrohmer is the amp.dev build currently broken? I am unable to test.

[2021-06-11 16:01] Zmooz commented on #5235
@matthiasrohmer @sdenaro  ...

[2021-06-15 14:26] caroqliu opened #5991 "Built in components are not listed (amp-img, amp-layout)"
`amp-img` and `amp-layout` are not listed in the component library sidebar:
![image](https://user-images.githubusercontent.com/10456171/122071087-73803c00-cdc4-11eb-9e13-4e7508abe097.png)

In addition, the typical component pages appear to be 404ing, ex:
- https://amp.dev/documentation/components/amp-layout/ is 404
- should this link to https://amp.dev/documentation/components/amp-layout-v0.1/?for

[2021-06-15 14:30] sebastianbenz commented on #5901
@caroqliu do you know why amp-date-display hasn't got a CSS file?

[2021-06-15 14:30] sebastianbenz commented on #5860
@CrystalOnScript ping

[2021-06-15 15:00] caroqliu commented on #5901
No good reason, I'll add now. It also appears to be missing for `amp-date-countdown` and `amp-timeago`.

[2021-06-15 16:39] #5991 closed

[2021-06-15 16:55] sdenaro commented on #5103
@Vint7r there is a PR to update. thanks

[2021-06-15 16:58] Vint7r commented on #5103
@sdenaro thanks. Can we update description and image?

[2021-06-15 17:11] patrickkettner commented on #5103
@Vint7r feel free to PR any change you would like to see

[2021-06-15 17:37] sebastianbenz commented on #5991
Fix is live in prod

[2021-06-15 17:41] caroqliu commented on #5991
Thanks for the quick work here!

[2021-06-15 18:30] #5901 closed

[2021-06-16 16:05] nainar opened #5997 "Add AOL mail support to amp.dev"
AOL web mail now supports AMP for Email format.  This was launched this at the end of March.

Let's add this to the support matrix for Email clients
![yahoo-mail](https://user-images.githubusercontent.com/7919520/122254448-1f945680-ce9b-11eb-875b-071861ec16bc.png)
![aol-mail](https://user-images.githubusercontent.com/7919520/122254450-202ced00-ce9b-11eb-851c-a8f89353167b.png)

[2021-06-16 16:05] nainar commented on #5997
@kaewka as FYI

[2021-06-16 16:23] patrickkettner commented on #5997
@nainar do you have a landing page URL for them ([like this](https://developer.verizonmedia.com/mail/amp-for-email)? Also, do they have a privacy policy for [here](https://amp.dev/documentation/guides-and-tutorials/start/email_sender_distribution#follow-privacy-policies)?

[2021-06-16 16:30] kaewka commented on #5997
@patrickkettner That is correct.  Both Yahoo Mail and AOL Mail are using the same landing page and privacy policy page https://developer.verizonmedia.com/mail/amp/
and
https://www.verizonmedia.com/policies/us/en/verizonmedia/privacy/index.html

[2021-06-16 17:33] patrickkettner opened #5998 "subscribe link listed twice on homepage"
![image](https://user-images.githubusercontent.com/465414/122266039-5b351d80-cea7-11eb-99d2-cc3852a3d80e.png)

[its here](https://github.com/ampproject/amp.dev/pull/5928/files#diff-78abf0c057f3f1f6f5c13fecd0e938472ee3c130895011443a137744eff586d5R141-R155) - is there something missing from the `with` @lluerich @matthiasrohmer  ?

[2021-06-16 17:34] patrickkettner commented on #5998
cc @alexduran4

[2021-06-16 19:14] sdenaro commented on #4970
@avarghese-sqsp I will be working on the PR today.

[2021-06-16 20:25] sdenaro commented on #5103
@Vint7r @patrickkettner

if you can attach the image you would like to this ticket with the new description I can update it.

Thanks

[2021-06-17 17:42] Ichigo3d opened #6000 "The side bar button doesn't work on mobile version of amp.dev"
### Description

The side bar button doesn't work on mobile version of amp.dev.  This bug appears only on real devices. In mobile view on desktop OS it works as expected.

### Reproduction Steps

1) launch any browser on your mobile device
2) go to https://amp.dev/
3) tap on the hamburger button
4) observe result

Actual result: Side menu doesn't appear after tapping on hamburger button.
Expected

[2021-06-17 18:13] sebastianbenz commented on #6000
Looks like the new frontend does not include the template for the burger-menu.

[2021-06-17 18:37] patrickkettner commented on #6000
looks like it _is_ there, its just at the bottom of the page - scoping issue? checking it out

![image](https://user-images.githubusercontent.com/465414/122454504-77a18a80-cf79-11eb-8cac-b6c0291b5d55.png)

[2021-06-18 05:40] kamblenavnath opened #6002 "[amp-story-page-attachment]: Link text placed at extreme left or right does not behave as clickable inside of page"
I tried adding a link on page in page attachment. But found that when that specific link is right/ left aligned (approx within gap of 30px from right or left), it remains idle even though if you click on it. It does not redirect to given URL site. It works only when it's somewhere at center.

Here is an amp story, I am sharing. Please check and let us know how can we resolve? Or if it is a bug, th

[2021-06-18 13:33] #6000 closed

[2021-06-18 14:39] sebastianbenz commented on #6000
Fix is live

[2021-06-18 14:44] patrickkettner commented on #6000
WFM!

Side question, does tapping the section header not supposed to toggle the
section? It only opens presently and I don’t remember what the design doc
was
--
patrick

[2021-06-18 14:49] Ichigo3d commented on #6000
Confirm fix is applied. Thank you all.

[2021-06-18 16:13] sebastianbenz commented on #6000
@patrickkettner yeah, I think it should toggle

[2021-06-21 12:55] #5998 closed

[2021-06-21 13:59] kamblenavnath commented on #6002
Any updates on these issue?

[2021-06-22 08:44] lluerich commented on #5894
@sebastianbenz could you elaborate on this?

[2021-06-22 11:20] sebastianbenz commented on #5894
Open: https://playground.amp.dev/?mode=Pixel+2&url=notfound

You'll see an error message in the header which should be in a snackbar.

[2021-06-22 11:21] #5894 closed

[2021-06-22 13:30] Vint7r commented on #5103
@patrickkettner Hi! We want to update information.
Text: "Increase engagement and conversion rates on your website and mobile app using Webstoryz widget!"
Image: https://drive.google.com/file/d/1KH1zge2QjTHZbOCEzcFfN9AIIHTy0iZ-/view?usp=sharing

@sdenaro Thanks for support!

[2021-06-25 12:42] patrickkettner opened #6018 "header nav menu items should be toggleable"
re: https://github.com/ampproject/amp.dev/issues/6000#issuecomment-864144190

they are currently displayed based on `:focus`, so its hard to dismiss them on mobile

[2021-06-25 12:45] patrickkettner commented on #5997
Thanks @kaewka! For text, is there a prefrerred style for the two brands? (e.g. `AOL/Yahoo Mail`) or do you prefer they are wholly separate entries?

[2021-06-25 13:23] #5708 closed

[2021-06-25 14:02] #5103 closed

[2021-06-25 17:02] kaewka commented on #5997
@patrickkettner Two separate entries.  Thanks!

[2021-06-29 14:23] Vint7r commented on #5103
Hi @patrickhlauke ! Can you please update description to "Increase engagement and conversion rates on your website and mobile app using Webstoryz widget!" ?

[2021-06-29 15:06] patrickhlauke commented on #5103
assume the above is for my evil twin @patrickkettner :)

[2021-07-07 10:35] IzmaylovN28 commented on #5103
@Vint7r @patrickkettner

Hi! Can you please update our old link "https://webstoryz.com/" to new link: https://webstoryz.com/?utm_source=google_listing ?

I am writing here for the first time, if something is wrong, I apologize in advance :)

[2021-07-08 03:50] sdenaro commented on #5103
I think I will have time to do this.

[2021-07-08 09:34] arundhati1213 opened #6036 "How to fetch RequestParameter('PAGEURL') in localstorage?"
How to fetch RequestParameter('PAGEURL') in localstorage?

[2021-07-19 19:26] zhangsu opened #6050 "amp-autocomplete example page for email has confusing title"
## 🐛 Bug Report

### Current behavior
The page at https://amp.dev/documentation/examples/components/amp-autocomplete-email/?format=email has a title of `Example: <amp-autocomplete-email>`, which is confusing because the actual name of the component is just `<amp-autocomplete>`. `amp-autocomplete-email` is also referenced a few times later in the page.

Please also provide:
- Page link: https://amp

[2021-07-20 14:55] caroqliu commented on #6050
@CrystalOnScript @sebastianbenz Do either of you know how we can update the example name? I can't rename the target file `amp-autocomplete-email.html` because `amp-autocomplete.html` already exists, otherwise that would likely be the most straight forward solution. It looks like other examples in the email have a `.email` ending, i.e.: `https://amp.dev/documentation/examples/components/amp-bind-ma

[2021-07-20 15:00] sebastianbenz commented on #6050
Email samples are auto generated. I'll take a look.

[2021-07-22 19:11] alanorozco opened #6064 "Playground renders itself into preview frame when an `<amp-ligthbox-gallery>` is exited"
## 🐛 Bug Report

### Current behavior
Playground renders itself into preview frame when an `<amp-ligthbox-gallery>` is exited

https://playground.amp.dev/?url=https%3A%2F%2Fpreview.amp.dev%2Fdocumentation%2Fexamples%2Fcomponents%2Famp-lightbox-gallery&format=websites

https://user-images.githubusercontent.com/254946/126695724-27dc8d82-3bb4-4e83-91e1-d38a7903f9f7.mov

### Expected behavior/code
The

[2021-07-23 16:43] demoore opened #6066 "Missing trust information in the email actions reference"
## 📖 Missing or Out-of-Date Documentation

### Problem
The email actions are missing trust descriptions in the event/actions doc. When a low-trust event fires it's unclear what actions are available.

### Location
https://github.com/ampproject/amp.dev/blob/future/pages/content/amp-dev/documentation/guides-and-tutorials/learn/amp-email-actions-and-events.md

### Content type
Reference docs

### Inf

[2021-07-23 19:40] sebastianbenz opened #6067 "Docker development image build fails"
Running `gulp developImageBuild` fails with:

[code]

[2021-07-24 13:39] gskaushal92 opened #6069 "AMP-Selector : how to bind selected attribute dynamically on page load"
`<amp-selector class="tabs-with-selector" role="tablist" >
        <div id="sample3-tab1" role="tab" aria-controls="sample3-tabpanel1" option="0" >Tab one</div>
        <div id="sample3-tab2" role="tab" aria-controls="sample3-tabpanel2" option="1">Tab two</div>
        <div id="sample3-tab3" role="tab" aria-controls="sample3-tabpanel3" option="2">Tab three</div>
      </amp-selector>`
1. Let say I

[2021-07-26 17:27] sebastianbenz commented on #6069
If you want to evaluate binding on load (in an amp-list) you need to set the ` binding="always"` attribute.

[2021-07-26 17:27] #6069 closed

[2021-07-26 20:04] zhangsu commented on #6066
The action and events page for the email format, which is another page different from the one linked above, is also missing trust level of actions:

https://github.com/ampproject/amphtml/blob/main/docs/spec/amp-email-actions-and-events.md

FYI @caroqliu

[2021-07-26 21:29] zhangsu commented on #5338
Any update on this Patrick?

[2021-07-26 21:58] westonruter opened #6071 "Bento amp-lightbox (v1.0) example broken"
## 🐛 Bug Report

The Bento `amp-lightbox` example is broken at https://amp.dev/documentation/components/amp-lightbox-v1.0/?format=websites

Clicking the button to open the lightbox does nothing. There are errors in the console:

![image](https://user-images.githubusercontent.com/134745/127064416-0d17c046-f279-4e83-b74f-15f2e2fd2d78.png)

From https://preview.amp.dev/documentation/components/amp-li

[2021-07-29 14:00] #6067 closed

[2021-08-02 15:38] lluerich commented on #6071
```layout="nodisplay"``` on ```amp-lightbox``` is missing in the example.

[2021-08-03 16:28] #6071 closed

[2021-08-05 22:16] westonruter opened #6089 "amp-inline-gallery 1.0 (Bento) examples are broken"
## 🐛 Bug Report

### Current behavior

At:

* https://amp.dev/documentation/components/amp-inline-gallery-v1.0/#usage
* https://amp.dev/documentation/components/amp-inline-gallery-v1.0/#example

The example shows up mostly blank:

The console has some errors:

### Expected behavior/code

The example to work.

### Reproduction procedure

Look at the examples on the `amp-inline-gallery` 1.0 componen

[2021-08-19 22:20] tobie opened #6105 "🐛 Consent popup points to Google's privacy and cookie policies"
## 🐛 Bug Report

### Current behavior

The consent popup that's displayed on first visit on amp.dev points to Google's privacy and cookie policies.

Please also provide:
- Page link: all pages on first visit

### Expected behavior/code

The consent popup should point to the relevant OpenJSF policies (as is already done in the footer).

I believe [this](https://github.com/ampproject/amp.dev/blob/a6

[2021-08-24 18:20] Strenuouchima opened #6111 "Strenuous Blog"
## 📖 Missing or Out-of-Date Documentation

### Problem
A precised amp for google blogger missing

### Location
Amp should be added to Blogger users like strenuousblog.com.

### Content type
A comphrensive video tutorials, documents and more.

### Information architecture (optional)
You know better!

[2021-08-24 19:48] patrickkettner commented on #6111
hi @Strenuouchima - thanks for reaching out!
I do not understand the request, however. Can you explain it in more detail?

[2021-08-30 20:02] #6018 closed

[2021-09-06 04:06] digi-booster opened #6131 "85+ Broken Link"
## 🐛 Bug Report

### Current behavior
A clear and concise description of the bug you found in amp.dev.
a broken link
Please also provide:
- Page link: <insert the URL link to the amp.dev page(s) that you found the issue on>
- (Optional) Screenshots/videos:
Those are a lot, I'll submit them as a table if you're comfortable with that, or tell me how I can do it. I'll comment the issue here as you wa

[2021-09-06 07:17] digi-booster commented on #6131
||||||
|--- |--- |--- |--- |--- |
|#|Broken link  (you can scroll this field left-right)|Link Text|Page where found|Server response|
|1|https://cdn.ampproject.org/||url src|404|
|2|https://amp-concert.herokuapp.com/||url src|500|
|3|https://www.jumprope.com/||url src|bad host|
|4|https://github.com/ampproject/docs/blob/master/content/docs/contribute/contribute.md||url src|404|
|5|https://github.co

[2021-09-06 07:18] #6131 closed

[2021-09-06 09:33] renovate[bot] opened #6132 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-09-07 10:29] DerekNonGeneric opened #6133 "The latest news carousel's "previous" button is pointing forward"
## 🐛 Bug Report

### Current behavior

_A clear and concise description of the bug you found in amp.dev._

Please also provide:
- Page link: https://amp.dev/
- (Optional) Screenshots/videos:

![image](https://user-images.githubusercontent.com/17770407/132328441-d0e4d688-0123-46d1-9e2c-641fca9a054e.png)

### Expected behavior/code

_A clear and concise description of what you expected to happen._

[2021-09-07 14:21] kamblenavnath opened #6136 "[amp-story-interactive-binary-poll]: Dynamic behavior about a value of endpoint attribute"
We have used two endpoint urls shared by amp.dev examples.
1. Endpoint value = [https://webstoriesinteractivity-beta.web.app/api/v1/](https://webstoriesinteractivity-beta.web.app/api/v1/)
    Story URL = [Sample Example1](https://myampstories.visualstories.com/test-poll)
2. Endpoint value = [https://amp.dev/documentation/examples/components/amp-story-interactive-poll/results](https://amp.dev/docum

[2021-09-07 16:28] DerekNonGeneric commented on #5854
Looks like this is the explanation for the bug I just opened (https://github.com/ampproject/amp.dev/issues/6133) regarding the carousel buttons.

I was under the impression that this component was an ordinary `amp-carousel` when I volunteered to fix it.

Seems like we are going to have to put on wetsuite and [jump in](https://twitter.com/cramforce/status/769123123102908416). :)

[2021-09-08 06:16] kamblenavnath commented on #6136
Even while using these both endpoint URLs in stories hosted at our site, it throws an error of 'Allow CORS origin'. It seems you restricted it only for amp.dev sites.

[2021-09-08 07:20] lluerich commented on #6133
Hi @DerekNonGeneric, this should have been fixed in #6109, but it hasn't made its way to production yet. Can you check locally with the latest version if the bug still occurs?

[2021-09-08 13:23] kamblenavnath commented on #6136
@honeybadgerdontcare Can you please check these concern and help us out?

[2021-09-08 18:25] DerekNonGeneric commented on #6133
I just built the default branch of this repo and the result (as can be seen below) shows that you all ended up changing your minds and decided to simply use the `amp-carousel` component instead of the custom thing that is currently in production.

![image](https://user-images.githubusercontent.com/17770407/132562766-43176c8a-7edf-4989-8050-f0ab319830a9.png)

<br>

So, the arrows are going to have

[2021-09-09 07:28] lluerich commented on #6133
Please use http://localhost:8080/index-2021/. The screenshot you posted shows a different version of the homepage.

[2021-09-09 18:44] DerekNonGeneric commented on #6133
Thanks @lluerich, this new carousel seems to not be mobile friendly. Once you resize the viewport to a mobile device, the tap targets are no longer accessible via mobile devices. As you can see below, the user will only have 10px to tap (and there isn't enough spacing between these elements).

![image](https://user-images.githubusercontent.com/17770407/132743643-fd41d92d-85c1-472f-b7c1-a6ae370621d

[2021-09-16 15:09] Francisco-AM opened #6146 "Facebook blocking when using amp-facebook"
I am using amp-facebook implanting it in a web and it turns out that the posts stopped working for me. I ask a friend to visit the amp page and it turns out that they load the post.
Does this make sense?
If they are going to limit the functionality it will be better that you remove amp-facebook from amp I do not want to see black user pages.

![image](https://user-images.githubusercontent.com/6903

[2021-09-24 17:53] mszylkowski commented on #6136
Hi! Those are static JSON files hosted for demos and not fully working backends. I'm happy to help you understand how to set up the backend, there are mainly two endpoints that you'd need to work on (one GET and one POST), and the API is explained [here](https://amp.dev/documentation/components/amp-story-interactive/#store-and-display-user-selection). Google's backend has been delayed due to unfor

[2021-09-29 16:35] ivannggnnavi opened #6158 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-09-29 16:37] #6158 closed

[2021-09-29 18:46] Afzalbdshoping opened #6159 "Afzalbdshoping"
![91d666268fbfd012117da47c07a8fb8d](https://user-images.githubusercontent.com/91630344/135329865-8f22ae38-d136-4c9b-a576-994bb4b75546.jpg)
[Afzalbdshoping](https://afzalbdshoping.minewap.com)

[2021-09-29 18:59] #6159 closed

[2021-09-29 20:46] ivannggnnavi opened #6160 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-09-29 21:01] #6160 closed

[2021-10-05 22:51] honeybadgerdontcare opened #6168 "States `foreignObject` is valid when it is not"
## 🐛 Bug Report

### Current behavior

This lists `foreignObject` as being allowed when it currently is not valid AMPHTML.

Page link: https://amp.dev/documentation/guides-and-tutorials/learn/spec/amphtml/#svg

See ampproject/amphtml/issues/36251

[2021-10-06 18:32] sebastianbenz commented on #6064
Investigated this a bit. This seems to be related to how AMP initializes history in iframes without `src`. Rendering the preview iframe using `srcdoc` instead of `document.write` fixes this problem, but then I'm running into the following error:

[code]

This has already been reported for AMP here: https://github.com/ampproject/amphtml/issues/35469

[2021-10-11 14:27] spinmar opened #6175 "Core web vitals: CLS"
Hi,
we are experiecing a CLS problem on some AMP pages which is very strange.
Google search console is reporting us that this amp page:

https://sport.virgilio.it/prossime-partite-calendario-juventus/amp/

has 0,3 CLS value. We are following all amp optimizations so I need your help to undestande where is the problem in the amp page.

Thanks

![Cattura](https://user-images.githubusercontent.com/22

[2021-10-12 12:44] jaygray0919 commented on #6175
take a look at this:
https://amp.dev/page-experience/?url=https%3A%2F%2Fsport.virgilio.it%2Fprossime-partite-calendario-juventus%2Famp%2F

but CWV is good:
https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fsport.virgilio.it%2Fprossime-partite-calendario-juventus%2Famp%2F

CLS is 0.02 and meets the CWV threshold (is considered "0")

the only thing you can do (your only optio

[2021-10-12 21:45] alfodei22 opened #6178 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-10-12 21:45] alfodei22 opened #6179 "Very"
## 🐛 Bug Report

### Current behavior
A clear and concise description of the bug you found in amp.dev.

Please also provide:
- Page link: <insert the URL link to the amp.dev page(s) that you found the issue on>
- (Optional) Screenshots/videos:

### Expected behavior/code
A clear and concise description of what you expected to happen.

### Reproduction procedure
Please provide the steps to reproduc

[2021-10-12 21:45] alfodei22 opened #6180 "Amp"
## 📖 Missing or Out-of-Date Documentation

### Problem
A clear and concise description of what content is missing or needs updating. It could be a missing guide explaining a concept, a step-by-step tutorial, or something that is confusing or didn't work when you tried it.

### Location
Section of the site where the content lives (or should).

### Content type
Such as tutorial, an updated paragraph

[2021-10-12 21:45] alfodei22 opened #6181 "Amp"
## 🚀 Feature Request

### Problem
A clear and concise description of what the problem is. Ex. I have an issue when [...]

### Solution
A clear and concise description of what is desired, including any potential drawbacks.

### Alternatives
A clear and concise description of any alternative solutions or features you've found.

### Additional information (optional)
An explanation of how users will b

[2021-10-12 21:45] alfodei22 opened #6182 "Amp"
## 🛠️ Request to Add Third-Party Tool/Service/Platform/Vendor

### 1. Resource name
Insert name here

### 2. Relevant format(s)

- [ ] websites
- [ ] stories
- [ ] ads
- [ ] email

### 3. Resource type

- [ ] editor
- [ ] service provider
- [ ] developer tool
- [ ] content platform
- [ ] CMS
- [ ] ads
- [ ] audio/video
- [ ] analytics vendor

### 4. Destination
1. [amp.dev/support/faq/platform-and

[2021-10-13 15:57] #6179 closed, assigned to nobody

[2021-10-13 15:57] #6178 closed, assigned to nobody

[2021-10-13 15:57] #6180 closed, assigned to nobody

[2021-10-13 15:58] #6182 closed, assigned to nobody

[2021-10-19 21:48] #6132 closed

[2021-10-23 08:46] sarojnayak89 opened #6195 "AMP Page Experience is Not Working"
AMP Page experience is not working properly. Recommendations are not showing. It's showing blank. I have checked this both on Firefox and Chrome.

![image](https://user-images.githubusercontent.com/93031858/138549703-299359a7-51db-45ce-84b9-28d9efd65f44.png)

URL to check: https://odishatv.in/news/weather/heavy-rain-to-lash-odisha-districts-till-oct-19-check-imd-s-latest-weather-forecast-161876/am

[2021-11-03 21:35] patrickkettner opened #6204 "build failing with python 3.10"
see 6fa0b9ea98c69e40536352e33b390de05da9b9bb

the production build has been failing for a while. There was some other issues separately, but for some reason python 3.10 is failing, while 3.9 is functional.

[2021-11-07 12:43] alfodei22 opened #6207 "Content proposal amp"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [x] Guide
- [x] Tutorial
- [x] Example
- [x] Translation
- [x] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-11-07 13:38] alfodei22 opened #6208 "Content proposal الموقع"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-11-07 13:38] alfodei22 opened #6209 "Content proposal"
## 📝 Content Proposal

### Synopsis
A clear and concise description of the content you will be contributing.

### Content type

- [ ] Guide
- [ ] Tutorial
- [ ] Example
- [ ] Translation
- [ ] Other (please specify)

### Process
Read the [contributing guide](https://amp.dev/documentation/guides-and-tutorials/contribute/contribute-documentation/?format=websites), then create a copy of [this templat

[2021-11-07 13:38] alfodei22 opened #6210 "الموقع"
## 🐛 Bug Report

### Current behavior
A clear and concise description of the bug you found in amp.dev.

Please also provide:
- Page link: <insert the URL link to the amp.dev page(s) that you found the issue on>
- (Optional) Screenshots/videos:

### Expected behavior/code
A clear and concise description of what you expected to happen.

### Reproduction procedure
Please provide the steps to reproduc

[2021-11-07 13:38] alfodei22 opened #6211 "الموقع"
## 🛠️ Request to Add Third-Party Tool/Service/Platform/Vendor

### 1. Resource name
Insert name here

### 2. Relevant format(s)

- [ ] websites
- [ ] stories
- [ ] ads
- [ ] email

### 3. Resource type

- [ ] editor
- [ ] service provider
- [ ] developer tool
- [ ] content platform
- [ ] CMS
- [ ] ads
- [ ] audio/video
- [ ] analytics vendor

### 4. Destination
1. [amp.dev/support/faq/platform-and